<div id="kb-websitedetails">
  <div class="container-fluid kb_second_siteinfo">
    <div class="row loadEffect" *ngIf="kbwebsite[0]!=null" >

      <div class="col-md-6">
        <h3><b>Site Details</b> </h3>
      </div>

      <div class="col-md-6">
        <button mat-raised-button color="accent" class="float-right" [routerLink]="['/website']" ><i class="fas fa-arrow-left"></i> Back</button>
      </div>

      <div class="col-md-6 mt-4">

        <div class="insideshdw">

          <h5>Homepage</h5>
          <p>Rename the main Page of your site.</p>

          <div class="form-group">

            <mat-form-field appearance="fill" class="kb-full-width">
                <mat-label>Homepage</mat-label>
                <mat-select [(value)]="pathselected" >
                  <mat-option [value]="kbpages[i].page_path" *ngFor="let kbpage of kbpages; index as i;">
                    {{kbpages[i]['page_name']}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
          </div>

          <div class="form-group">
            <label for="">Domain</label>
            <div class="kbcustom-domain-edit-link"
              style="border: 1px solid #c7cfd8; border-radius: 4px; padding: 15px; margin-bottom: 20px">
              <div class="kb-card__row">
                <p class="kb-sage-body-semi">{{kbwebsite[0].domain}}</p>
                <a href="javascript:void(0)" routerLink="/domain" class="kb-btn">Manage Domain</a>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-6 mt-4">

        <div class="insideshdw">

          <h5>Navigation Menus</h5>

          <p>Main Menu</p>

        </div>

      </div>

      <div class="col-md-6 mt-4">

        <div class="insideshdw">
          <h5>Branding</h5>
          <p>Control whether or not “Powered by Kea links display in the footer of your site and products.</p>

          <div class="form-group">
            <label for="">Logo</label>

            <div class="kb-upload-card_dropzone">
              <div class="kb-upload-card_preview">
                <img alt="" class="kb-thumbnail img-fluid" style="border: none; padding: 0;"
                  [src]="kbwebsite[0].logo==null?'/assets/images/website/default-file-upload-image.png':kbwebsite[0].logo">
              </div>
              <div class="kb-upload-card_body">
                <div class="kb-btn-group">
                  <div class="kb-dropdown">

                    <div class="kb-dropdown_trigger">

                      <button type="button" class="kb-btn">
                        <span class="kb-btn_truncate-text">
                          Choose a social image
                        </span>
                      </button>

                    </div>

                  </div>

                </div>

                <p class="t-kb-body">Recommended dimensions of <strong>640x640</strong></p>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="col-md-6 mt-4">
        <div class="insideshdw">
          
          <label for="" class="mt-4">Favicon</label>

          <div class="kb-upload-card_dropzone">
            <div class="kb-upload-card_preview">
              <img alt="" class="kb-thumbnail img-fluid" style="border: none; padding: 0;"
                [src]="kbwebsite[0].favicon==null?'/assets/images/website/default-file-upload-image.png':kbwebsite[0].favicon">
            </div>
            <div class="kb-upload-card_body">
              <div class="kb-btn-group">
                <div class="kb-dropdown">
                  <div class="kb-dropdown_trigger">

                    <button type="button" class="kb-btn">
                      <span class="kb-btn_truncate-text">
                        Choose a social image
                      </span>
                    </button>

                  </div>
                </div>

              </div>

              <p class="t-kb-body">Recommended dimensions of <strong>32x32</strong></p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="insideshdw">

          <h5>Page Scripts</h5>
          <p>Add custom javascript to be placed on all site Pages. The code will be placed in the <b>head</b> and
            <b>Footer</b> section of every page.</p>

          <div class="form-group">
            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Page Script Header</mat-label>
                <textarea matInput [(ngModel)]="pagescriptheader" rows="6"></textarea>
            </mat-form-field>

            <small>This code will be placed in the head section of every page.</small>
          </div>

        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="insideshdw">
          <div class="form-group">
            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Page Script Footer</mat-label>
                <textarea matInput [(ngModel)]="pagescriptfooter" rows="11"></textarea>
              </mat-form-field>
            <small>This code will be placed in the footer section of every page.</small>
          </div>

        </div>
      </div>

      <div class="col-md-12 text-center mt-5">
        <button mat-raised-button color="accent" (click)="updatepage()" >Update <i class="fas fa-check"></i></button>
      </div>

    </div>
  </div>
</div>