<div class="kb-navbar-wrapper">
  <div class="kb-navbar">
      <!-- <div>
          <mat-icon>menu</mat-icon>
      </div> -->
      <!-- <div class="profileContainer " >
        <p >{{memberobj.firstname}}</p>
          <div class="position-relative d-flex gap-1 align-items-center py-1 profileImageContainer">
            <img [src]="_image.getImgPath(userimgpath)" alt="" class="profileImage" [MenuTriggerFor]="menu">
              <i class="fa fa-caret-down"></i>
              <mat-menu #menu="myMenu"  class="profileDropdown" >
                  <p class="dropdownItem">Signed in as</p>
                  <p class="emailText dropdownItem">{{memberobj.email}}</p>
                  <div class="dropItemContainer" (click)="Gotohref('/profile/settings')">
                      <i class="fas fa-user profileText"></i> 
                      <p class="profileText">My Profile</p>
                  </div>
                  <hr>
                  <div class="dropItemContainer" (click)="logout()">
                      <i class="fa fa-sign-out logoutText" aria-hidden="true"></i>
                      <p class="logoutText ">Log Out</p>
                  </div>
          </mat-menu>
          </div>
      </div> -->
      <div class="profileContainer">
        <p>{{ memberobj.firstname }}</p>
        <div class="position-relative d-flex gap-1 align-items-center py-1 profileImageContainer">
          <img [src]="_image.getImgPath(userimgpath)" alt="" class="profileImage" (click)="toggleMenu()">
          <i class="fa fa-caret-down" (click)="toggleMenu()"></i>
          
          <!-- Simple Dropdown Menu -->
          <div *ngIf="isMenuOpen" class="profileDropdown">
            <p class="dropdownItem">Signed in as</p>
            <p class="emailText dropdownItem">{{ memberobj.email }}</p>
            <div class="dropItemContainer" (click)="Gotohref('/profile/settings')">
              <i class="fas fa-user profileText"></i> 
              <p class="profileText">My Profile</p>
            </div>
            <hr>
            <div class="dropItemContainer" (click)="logout()">
              <i class="fa fa-sign-out logoutText" aria-hidden="true"></i>
              <p class="logoutText">Log Out</p>
            </div>
          </div>
        </div>
      </div>
      
  </div>
</div>
