<!-- workflow list -->
<ng-template #wfsheet>
    <h4 class="kb-workflow-selection-title border-bottom py-2">
        <span>Add {{isAction ? 'Action' : 'Trigger'}}</span>
        <button (click)="closeBottomSheet()" class="float-right" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </h4>
    <mat-form-field appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search {{isAction ? 'Action' : 'Trigger'}}</mat-label>
        <input matInput [placeholder]="'Search '+isAction ? 'Action' : 'Trigger'" [(ngModel)]="searchWf" (input)="filterWorkflow()">
        <button *ngIf="searchWf" matSuffix mat-icon-button aria-label="Clear" (click)="searchWf=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-accordion>
        <mat-expansion-panel [class.d-none]="wfgroup.hide" *ngFor="let wfgroup of workflowList, index as wfi" [expanded]="_automation._general.expPanelStep === wfi" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>{{wfgroup.name}}</mat-panel-title>
                <mat-panel-description><span [innerHTML]="wfgroup.icon | safeHtml"></span></mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="pt-0">
                <div (click)="selectedWf(wf, false)"
                    *ngFor="let wf of wfgroup.workflows | filter:searchWf:'name', index as ti" class="kb-workflow-option" mat-ripple
                    mat-list-item>
                    <span class="kb-workflow-option-icon" [innerHTML]="wf.icon | safeHtml"></span>
                    <span class="kb-workflow-option-name">
                        {{wf.name}}
                    </span>
                </div>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
</ng-template>
<!-- workflow list -->
<!-- workflow dialog -->
<ng-template #wfDialog>
    <h1 mat-dialog-title class="kb-primary">{{tempWf.name}}<span class="kb-tag kb-info-tag ml-2">{{isAction ? 'Action' : 'Trigger'}}</span></h1>
    <div mat-dialog-content [ngSwitch]="tempWf.type" class="py-2">
        <div *ngSwitchCase="'form'">
            <mat-error *ngIf="tempTrgtErr">{{tempTrgtErr}}</mat-error>
            <mat-form-field appearance="fill" (click)="filterTarget(_automation.forms)" [class.mat-form-field-invalid]="tempTrgtErr">
                <mat-label>Select a Form</mat-label>
                <input type="text" name="form" placeholder="Search form" class="kb-act-searchinp"
                [(ngModel)]="searchTrgtInp" (input)="filterTarget(_automation.forms)"
                [matAutocomplete]="matAuto" matInput>
                <button *ngIf="searchTrgtInp" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilterTarget(_automation.forms)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete autoActiveFirstOption #matAuto="matAutocomplete" (optionSelected)="selectedOption($event)">
                    <mat-option *ngFor="let option of filteredData" [value]="option" [disabled]="false">
                    {{option?.name}} <span *ngIf="option.id == 'all'" class="kb-tag kb-info-tag ml-2">Default</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div *ngSwitchCase="'list'">
            <mat-error *ngIf="tempTrgtErr">{{tempTrgtErr}}</mat-error>
            <mat-form-field appearance="fill" (click)="filterTarget(_automation.lists)" [class.mat-form-field-invalid]="tempTrgtErr">
                <mat-label>Select a List</mat-label>
                <input type="text" name="form" placeholder="Search list" class="kb-act-searchinp"
                [(ngModel)]="searchTrgtInp" (input)="filterTarget(_automation.lists)"
                [matAutocomplete]="matAuto" matInput>
                <button *ngIf="searchTrgtInp" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilterTarget(_automation.lists)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete autoActiveFirstOption #matAuto="matAutocomplete" (optionSelected)="selectedOption($event)">
                    <mat-option *ngFor="let option of filteredData" [value]="option" [disabled]="false">
                    {{option?.name}} <span *ngIf="option.id == 'all'" class="kb-tag kb-info-tag ml-2">Default</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div *ngSwitchCase="'tag'">
            <mat-error *ngIf="tempTrgtErr">{{tempTrgtErr}}</mat-error>
            <mat-form-field appearance="fill" (click)="filterTarget(_automation.tags)" [class.mat-form-field-invalid]="tempTrgtErr">
                <mat-label>Select a Tag</mat-label>
                <input type="text" name="form" placeholder="Search tag" class="kb-act-searchinp"
                [(ngModel)]="searchTrgtInp" (input)="filterTarget(_automation.tags)"
                [matAutocomplete]="matAuto" matInput>
                <button *ngIf="searchTrgtInp" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilterTarget(_automation.tags)">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete autoActiveFirstOption #matAuto="matAutocomplete" (optionSelected)="selectedOption($event)">
                    <mat-option *ngFor="let option of filteredData" [value]="option" [disabled]="false">
                    {{option?.name}} <span *ngIf="option.id == 'all'" class="kb-tag kb-info-tag ml-2">Default</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="justify-content-between">
        <div>
            <button *ngIf="updateTempTrgt" mat-raised-button mat-dialog-close (click)="deleteWorkflow(isAction)" class="bg-danger text-light">Delete</button>
        </div>
        <div>
            <button mat-button mat-dialog-close class="kb-danger">Cancel</button>
            <button mat-button mat-dialog-close cdkFocusInitial (click)="addWorkflow(isAction)"
                color="primary">{{updateTempTrgt ? 'Update' : 'Add'}}</button>
        </div>
    </div>
</ng-template>
<!-- workflow dialog -->
<!-- worflow starts -->
<div id="kb-workflow-main">
    <!-- worflow head -->
    <div id="kb-workflow-head" class="container-fluid">
        <div class="row kb-top-actions">
            <div class="col-8 p-0">
                <button mat-button (click)="_automation._general.redirectLink('/')"><img
                        [src]="_image.imgPath+'logo/kblogo-white.png'" width="18px"></button>
                <button mat-button (click)="_automation._general.backBtn()" class="kb-backBtn">
                    <i [innerHTML]="'left_circle_arrow' | svg | safeHtml" class="mr-1"></i>Back
                </button>
                <button mat-button [matMenuTriggerFor]="asm" #ast="matMenuTrigger"
                    [class.kb-btn-active]="ast.menuOpen">
                    Auto Save > {{autosave ? 'ON' : 'OFF'}}
                </button>
                <mat-menu #asm>
                    <button mat-menu-item (click)="autosave = true" [class.kb-btn-active]="autosave">ON</button>
                    <button mat-menu-item (click)="autosave = false" [class.kb-btn-active]="!autosave">OFF</button>
                </mat-menu>
                <button mat-button>
                    <i class="fa-solid fa-vial"></i> Test
                </button>
                <button mat-button>
                    <i [innerHTML]="'save' | svg | safeHtml"></i> Save
                </button>
                <button mat-button [disabled]="_automation._general.saveDisabled" [matMenuTriggerFor]="status"
                    #statust="matMenuTrigger" [class.kb-btn-active]="statust.menuOpen">
                    <i [innerHTML]="(_automation._general.main.publish_status ? 'publish' : 'draft') | svg | safeHtml"></i> Status >
                    {{_automation._general.main.publish_status ? 'Published' : 'Draft'}}
                </button>
                <mat-menu #status="matMenu" xPosition="after" yPosition="below">
                    <button mat-menu-item [class.kb-btn-active]="_automation._general.main.publish_status">
                        <i [innerHTML]="'publish' | svg | safeHtml"></i> Publish
                    </button>
                    <button mat-menu-item [class.kb-btn-active]="!_automation._general.main.publish_status">
                        <i [innerHTML]="'draft' | svg | safeHtml"></i> Draft
                    </button>
                </mat-menu>
            </div>
            <div class="col-4 p-0">
                <div class="kb-top-inp-cont">
                    <input [(ngModel)]="automation.name" type="text" class="kb-top-input" placeholder="Automation name">
                    <span class="kb-automation-name">{{automation.name ? automation.name : 'Automation Name'}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- worflow head -->
    <!-- worflow body -->
    <div id="kb-workflow-body">
        <!-- initial trigger section -->
        <div class="kb-workflow-section">
            <span class="kb-trigger-section">
                <span class="kb-active-triggers">
                    <button *ngFor="let trigger of _automation.activeTriggers, index as trgi" mat-raised-button class="m-1"
                        (click)="editWf(trigger, trgi)" [color]="trigger.color">
                        <span class="mr-1" [innerHTML]="trigger.icon | safeHtml"></span>
                        {{trigger.name}} : {{_automation.fetchWfTarget(trigger)}}
                    </button>
                </span>
                <button mat-raised-button (click)="openBottomSheet(wfsheet, false, 0)" class="kb-trigger-action m-1">Add New
                    Trigger</button>
            </span>
        </div>
        <!-- initial trigger section -->
        <!-- action sections starts -->
        <div class="kb-workflow-section" *ngFor="let action of _automation.activeActions, index as acti">
            <span class="kb-workflow-node">
                <i (click)="openBottomSheet(wfsheet, true, acti)" class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
            </span>
            <button mat-raised-button [color]="action.color" (click)="editWf(action, acti)">
                <span class="mr-1" [innerHTML]="action.icon | safeHtml"></span>
                {{action.name}}
            </button>
            <div *ngIf="action.id == 'act-if-else'" class="kb-workflow-inner-section">
                <div class="kb-workflow-split-section">
                    <div class="kb-workflow-split-section-first">
                        <div class="kb-workflow-split-node-cont kb-workflow-split-node-cont-first">
                            <span class="kb-workflow-split-node">Yes</span>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="primary"><i class="fa-solid fa-tag mr-1"></i>Add Tag</button>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="secondary"><i
                                    class="fa-solid fa-flag-checkered mr-1"></i>Finished</button>
                        </div>
                    </div>
                    <div class="kb-workflow-split-section-last">
                        <div class="kb-workflow-split-node-cont kb-workflow-split-node-cont-last">
                            <span class="kb-workflow-split-node">No</span>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="primary"><i class="fa-solid fa-tag mr-1"></i>Add Tag</button>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="secondary"><i
                                    class="fa-solid fa-flag-checkered mr-1"></i>Finished</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="kb-workflow-section">
            <span class="kb-workflow-node">
                <i (click)="openBottomSheet(actionList, 0)" class="kb-add-action" [innerHTML]="'add' | svg | safeHtml"
                    mat-ripple></i>
            </span>
            <button mat-raised-button><i class="fa-solid fa-arrows-split-up-and-left mr-1"></i>Condition</button>
            <div class="kb-workflow-inner-section">
                <div class="kb-workflow-split-section">
                    <div class="kb-workflow-split-section-first">
                        <div class="kb-workflow-split-node-cont kb-workflow-split-node-cont-first">
                            <span class="kb-workflow-split-node">Yes</span>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="primary"><i class="fa-solid fa-tag mr-1"></i>Add Tag</button>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="secondary"><i
                                    class="fa-solid fa-flag-checkered mr-1"></i>Finished</button>
                        </div>
                    </div>
                    <div class="kb-workflow-split-section-last">
                        <div class="kb-workflow-split-node-cont kb-workflow-split-node-cont-last">
                            <span class="kb-workflow-split-node">No</span>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="primary"><i class="fa-solid fa-tag mr-1"></i>Add Tag</button>
                        </div>
                        <div class="kb-workflow-section">
                            <span class="kb-workflow-node">
                                <i class="kb-add-action" [innerHTML]="'add' | svg | safeHtml" mat-ripple></i>
                            </span>
                            <button mat-raised-button color="secondary"><i
                                    class="fa-solid fa-flag-checkered mr-1"></i>Finished</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- action sections ends -->
    </div>
    <!-- worflow body -->
</div>
<!-- worflow ends -->