<div id="pagesinsidepage">

  <div id="kb-offcanvas-actions" *ngIf="poupsidebar">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar" [class.fulltemplate] = "selecttemplate" >
        
        <i class="fas fa-times" (click)="hidepopupsidebar()"></i>

        <div *ngIf="quickeditpopup">
            <h6><b>Quick Edit</b></h6>
            <hr>

            <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>Page Url</mat-label>
              <input matInput [(ngModel)]="pageurl" name="pageurl" (blur)="pathuniqueremove()">
              <small class="text-danger" *ngIf="pathcheck2">
                Path must be <strong>unique</strong>
              </small>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>SEO Title</mat-label>
              <input matInput [(ngModel)]="seotitle" name="seotitle">
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>SEO Description</mat-label>
              <textarea [(ngModel)]="seodescr" matInput name="seodescr">{{seodescr}}</textarea>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>Add Keywords</mat-label>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let keyword of keywords" (removed)="remove(keyword)">
                  {{keyword}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder="New Keywords..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>SEO Author</mat-label>
              <input matInput name="seoauthor" [(ngModel)]="seoauthor">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="savequickdetails()" >
                <i class="fas fa-save"></i> Save Details
            </button>
        </div>

        <div *ngIf="addnewpagepopup">

          <h6><b>Create A Page</b></h6>
          <hr>

          <div *ngIf="insidepagefirst">

            <button mat-raised-button color="accent" class="btn-block mb-2" (click)="createfromscratch()" ><i class="fas fa-plus"></i> Create From Scratch</button>
            <button mat-raised-button color="accent" class="btn-block mb-2" (click)="selectfromtemplate()" ><i class="fab fa-angellist"></i> Select From Template</button>
            
          </div>

          <div *ngIf="insidepagesecond">

            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="pl-2">

              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Page Name</mat-label>
                <input type="text" matInput [(ngModel)]="form.pagename" (blur)="changemyname($event)" name="pagename" [formControl]="userFormControl" placeholder="Ex. Home" required minlength="3">
                <mat-error *ngIf="userFormControl.hasError('required')">
                  Page Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="userFormControl.hasError('minlength')">
                  Page Name must be at least <strong>3</strong> characters
                </mat-error>
              </mat-form-field>

              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Page Path</mat-label>
                <input type="text" matInput (input)="form.pagepath = _general.joinWthDash(form.pagepath)" [(ngModel)]="form.pagepath" name="pagepath" [formControl]="userFormControl2" placeholder="Ex. home" required minlength="3" (blur)="pathuniqueremove()" >
                <mat-error *ngIf="userFormControl2.hasError('required')">
                  Path Name is <strong>required</strong>
                </mat-error>
                <small class="text-danger" *ngIf="pathcheck">
                  Path must be <strong>unique</strong>
                </small>
                <mat-error *ngIf="userFormControl2.hasError('minlength')">
                  Page Name must be at least <strong>3</strong> characters
                </mat-error>
              </mat-form-field>
    
              <button mat-raised-button color="primary" type="submit" class="mt-2" ><i class="fas fa-plus"></i> Create Page</button>
    
            </form>

          </div>

          <img src="/assets/images/website/website1.png" class="img-fluid" alt="">

        </div>

        <div *ngIf="showmytemplates">

          <div class="container-fluid">

            <div class="row">
              <div class="col-md-2">
                <button mat-raised-button color="accent" (click)="createfromscratch()">
                  <i class="fas fa-plus"></i> Create From Scratch
                </button>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group position-relative has-icon-left kea-barfieldset">
                  <input type="text" class="form-control" id="template-search" placeholder="Search Page Templates">
                  <div class="form-control-position">
                      <i class="fab fa-searchengin"></i>                        
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row mt-4 mb-5">
              <div class="col-md-4 cardpage mt-2 " *ngFor="let pagetemplate of pagetemplates; index as i;" >
                <div>
                  <img [src]="pagetemplate.thumbnail" alt="" class="img-fluid img-fit">
        
                  <div class="keabuilder-title line-ellipsis">
                    <span>{{pagetemplate.title}}</span>
                  </div>
        
                  <button mat-raised-button color="accent" class="mr-2"> Preview <i class="far fa-eye"></i></button>
                  <button mat-raised-button color="primary" (click)="usetemplate(pagetemplate.id)" >Use This Template <i class="fas fa-check"></i></button>
        
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
                </mat-paginator>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="showpageurl">
            <h6><b>Copy Page Builder URL</b></h6>
            <hr>
            <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>Step Url</mat-label>
              <textarea matInput readonly rows="3" name="funnelurlonly" #userinput >{{pagebuilderurl}}</textarea>
            </mat-form-field>
            
            <button mat-raised-button color="primary" (click)="copyInputMessage(userinput)" >
                <i class="fas fa-copy"></i> Copy Url
            </button>
              
            <hr>
              
            <h6><b>Copy Page URL</b></h6>
            <hr>
            <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>Page Url</mat-label>
              <textarea matInput readonly rows="3" name="funnelurlonly" #userinput2 >{{pageurl}}</textarea>
            </mat-form-field>
            
            <button mat-raised-button color="primary" (click)="copyInputMessage(userinput2)" >
                <i class="fas fa-copy"></i> Copy Url
            </button>
        </div>

    </div>
  </div>
  <div class="offcanvas-overlay " *ngIf="poupsidebar" (click)="hidepopupsidebar()"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <fieldset class="form-group position-relative has-icon-left kea-barfieldset">
          <input type="text" class="form-control" id="page-search" placeholder="Search Pages">
          <div class="form-control-position">
              <i class="fab fa-searchengin"></i>                        
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 pagemainlink float-right">
        <button mat-raised-button class="ml-2" (click)="addnewpage()" >Add New Page <i class="fas fa-plus"></i></button>
        <button mat-raised-button class="ml-2" [routerLink]="['/website-pages']" color="primary">Pages <i class="far fa-window-restore"></i></button>
        <button mat-raised-button [routerLink]="['/website-design']" >Website Design
        <i class="fas fa-palette"></i></button>
     </div>
    </div>
    <!-- Pages -->
    <div class="row mt-4">
      <div class="col-md-4 cardpage mt-5 " *ngFor="let kbpage of kbpages; index as i;" >
        <div>
          <div class="kb-fitimg" [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+kbpage.thumbnail + ')'}">
            <div id="loader" *ngIf="shortwaiting">
              <div id="shadow"></div>
              <div id="box"></div>
              <div *ngIf="_general.loading.error" class="loadErrMsg">Something went wrong!</div>
            </div>
          </div>

          <div class="keabuilder-title-board line-ellipsis">
            <span>{{kbpage.page_name}}</span>
            <input type="text" [(ngModel)]="kbpage.page_name" (blur)="changepagename(kbpage.id,kbpage.page_name,'namechange')" matTooltip="Edit Page Name" matTooltipPosition="above">
          </div>
          <div class="statbadg">

            <span mat-button [matMenuTriggerFor]="menu" class="statusbadge" [class]="kbpage.publish_status==1 ? 'active1':'active2'">
              <i class="fas" [class]="kbpages[i]['publish_status']==1 ? 'fa-check':'fa-file'"></i>
              {{kbpages[i]['publish_status']==1?'Publish':'Draft'}} <i class="fas fa-chevron-down drpdwnfa"></i>
            </span>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="changepagename(kbpage.id,'1','statusupdate')" ><i class="fa fa-check pr-2"></i> Publish</button>
              <button mat-menu-item (click)="changepagename(kbpage.id,'0','statusupdate')"><i class="fa fa-file pr-2"></i> Draft</button>
            </mat-menu>

          </div>

          <p class="kb-pagedate mb-2" matTooltip="Last Update" matTooltipPosition="above">
            <i class="fa fa-calendar" aria-hidden="true"></i> {{kbpage.updated_at}}
          </p>

          <div class="kb-page-settting" [matMenuTriggerFor]="menu2" matTooltip="Settings" matTooltipPosition="above"><i
            class="fas fa-cog"></i></div>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="changepagename(kbpage.id,kbpage.page_name,'quickedit')">
                <i class="fas fa-pen mr-2"></i> Quick Edit
            </button>
            <button mat-menu-item>
              <i class="fas fa-chart-pie mr-2"></i> View Analytics
            </button>
            <button mat-menu-item (click)="shortsettings(kbpage.id,'duplicate',kbpage.page_path)" >
              <i class="fas fa-copy mr-2"></i> Duplicate
            </button>
            <button mat-menu-item (click)="shortsettings(kbpage.id,'copyurl','')" >
              <i class="fas fa-link mr-2"></i> Copy URL
            </button>
            <button mat-menu-item (click)="shortsettings(kbpage.id,'delete','')">
              <i class="fas fa-trash mr-2"></i> Delete
            </button>
          </mat-menu>
          <button (click)="checkpagesettings('preview',kbpage.page_path)" mat-raised-button color="accent" class="mr-2"> Preview <i class="far fa-eye"></i></button>
          <button (click)="_general.redirectToBuilder(kbpage.uniqueid)" mat-raised-button color="primary">Edit <i class="fas fa-pencil-alt"></i></button>

        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 mt-4">
        <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
        </mat-paginator>
      </div>
    </div>

  </div>

</div>