<div id="pagesinsidepage">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <fieldset class="form-group position-relative has-icon-left kea-barfieldset">
          <input type="text" class="form-control" id="email-search" placeholder="Search Pages">
          <div class="form-control-position">
              <i class="fab fa-searchengin"></i>                        
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 pagemainlink float-right">
        <!-- <button mat-raised-button class="ml-2" [routerLink]="['/website-landingpages']">Landing Pages <i class="fas fa-file-alt"></i></button> -->
        <button mat-raised-button class="ml-2" [routerLink]="['/builder/website/new']">Add New Page <i class="fas fa-plus"></i></button>
        <button mat-raised-button class="ml-2" [routerLink]="['/website-pages']" color="primary">Pages <i class="far fa-window-restore"></i></button>
        <button mat-raised-button [routerLink]="['/website-design']" >Website Design
        <i class="fas fa-palette"></i></button>
     </div>

    </div>

    <!-- Pages -->
    <div class="row mt-4">
      <div class="col-md-4 cardpage mt-10 " *ngFor="let kbpage of kbpages; index as i;" >
        <div>
          <img [src]="kbpages[i]['thumbnail']" alt="" class="img-fluid img-fit">

          <div class="keabuilder-title-board line-ellipsis">
            <span>{{kbpages[i]['page_name']}}</span>
            <input type="text" [(ngModel)]="kbpages[i]['page_name']">
          </div>
          <div class="statbadg">

            <span mat-button [matMenuTriggerFor]="menu" class="statusbadge" [class]="kbpages[i]['publish_status']==1 ? 'active1':'active2'">
              <i class="fas" [class]="kbpages[i]['publish_status']==1 ? 'fa-check':'fa-file'"></i>
              {{kbpages[i]['publish_status']==1?'Publish':'Draft'}} <i class="fas fa-chevron-down drpdwnfa"></i>
            </span>

            <mat-menu #menu="matMenu">
              <button mat-menu-item><i class="fa fa-check pr-2"></i> Publish</button>
              <button mat-menu-item><i class="fa fa-file pr-2"></i> Draft</button>
            </mat-menu>

          </div>


          <p class="kb-pagedate"><i class="fa fa-calendar" aria-hidden="true"></i> {{kbpages[i]['updated_at']}}</p>

          <button class="btn btn-secondary" mat-raised-button color="accent" class="mr-2"> Preview <i class="far fa-eye"></i></button>
          <button class="btn btn-primary" (click)="redirectToBuilder(kbpage.uniqueid)" mat-raised-button color="primary">Edit <i class="fas fa-pencil-alt"></i></button>

          <div class="kb-page-settting" (click)="kbpages[i].itemshow = !kbpages[i].itemshow"><i
              class="fas fa-cog"></i></div>
          <div *ngIf="kbpages[i].itemshow" class="kb-dropdown__panel">
            <ul class="kb-dropdown__menu">
              <li class=""><a href="#" class=""><i class="fas fa-pen pr-2"></i>Edit details </a></li>
              <li class=""><a href="#" class=""><i class="fas fa-file-import pr-2"></i>Copy page to Landing </a></li>
              <li class=""><a href="#" class=""><i class="fas fa-chart-pie pr-2"></i>View Analytics</a></li>
              <li class=""><a href="#" class=""><i class="far fa-copy pr-2"></i>Duplicate</a></li>
              <li class=""><a href="#" class=""><i class="fas fa-link pr-2"></i>Copy URL</a></li>
              <li class="kb-border-before"><a href="#" class="text-danger"><i class="fas fa-trash pr-2"></i>Delete
                  page</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 mt-4">
        <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
        </mat-paginator>
      </div>
    </div>

  </div>

</div>