
<ng-template #createboard>
    <h1 mat-dialog-title>Add Board Details</h1>
    <div mat-dialog-content>
      <mat-error *ngIf="error">{{hasError}}</mat-error>
    <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput name="bname" placeholder="Enter Board Name" [(ngModel)]="boardname">
    </mat-form-field>

    <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input type="text" matInput name="bdescription" placeholder="description" [(ngModel)]="description">
    </mat-form-field>

</div>
    <div mat-dialog-actions class="justify-content-end">
        <button  mat-button mat-dialog-close class="text-danger" >Cancel</button>
        <button mat-button mat-dialog-close [color]="'primary'" [disabled]="!boardname || !description" 
        (click)="createBoard()">Add</button>
    </div>
</ng-template>
<ng-template #updateboard>
  <h1 mat-dialog-title>Update Board Details</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="error">{{hasError}}</mat-error>
  <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput name="bname" placeholder="Enter Board Name" [(ngModel)]="boarddata.boardName">
  </mat-form-field>

  <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput name="bdescription" placeholder="description" [(ngModel)]="boarddata.description">
  </mat-form-field>

</div>
  <div mat-dialog-actions class="justify-content-end">
      <button  mat-button mat-dialog-close class="text-danger" >Cancel</button>
      <button mat-button mat-dialog-close [color]="'primary'" [disabled]="!boarddata.boardName || !boarddata.description" 
      (click)="updateBoardDetails()"> Update</button>
  </div>
</ng-template>
<ng-template #deldialog>
    <h1 mat-dialog-title class="kb-danger">Delete Board</h1>
    <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{deldata.boardName}}</span> board?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'" (click)="resetobj()">No</button>
      <button mat-button mat-dialog-close (click)="deleteBoard(deldata)" class="text-danger">Yes</button>
    </div>
  </ng-template>
<div class="container-fluid">
    <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
<div class="wrapper d-flex align-items-center justify-content-center flex-column gap-4">
<h2 class=" fs-1 fw-bold">Scrumboard Boards</h2>
<div class="d-flex w-80 overflow-x-auto">
<div class="d-flex gap-2 mx-auto p-4">
  <div *ngFor="let board of boards" class="boardCard px-3 py-4 rounded-3 d-flex flex-column justify-content-between mr-4" [routerLink]="'/scrumboard/list/'+board.uniqueid">
    <div class="d-flex justify-content-between">
      <div>
        <h3 class="fw-bold">{{board?.boardName | titlecase}}</h3>
        <p class="mt-4 text-secondary ">{{board?.description}}</p>
      </div>
      <mat-icon class="fs-6 text-end moreVertIcon mt-1" [matMenuTriggerFor]="menu" (click)="handleIconClick($event)">more_vert</mat-icon>
      <mat-menu #menu="matMenu" class="menuContainer">
        <button mat-menu-item class="kb-table-action-icon" (click)="openDialog(updateboard,board)">
            <i class="fa fa-pencil px-2 kb-table-action-icon"></i> Edit
        </button>
        <button mat-menu-item class="kb-table-action-icon" (click)="openDialog(deldialog,board)">
           <i class="fa fa-trash-alt px-2 kb-table-action-icon kb-icon-del"></i> Delete
        </button>
      </mat-menu> 
    </div>
    <div>
      <hr class="w-75">
      <p class="text-secondary">Created On - {{board.created_at | date}}</p>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center boardCard accordion addBoardCard rounded-3" (click)="openDialog(createboard,'')">
    <mat-icon>add</mat-icon>
  </div>
</div>
</div>
</div>
</div>

