<app-view-navbar></app-view-navbar>
<div class="container-fluid">
    <mat-progress-bar *ngIf="searching" mode="indeterminate"></mat-progress-bar>
    <div class="row mt-4">
        <!-- SIDEBAR  -->
        <div class="col-3 p-4 pt-5 sidebarContainer shadow-sm">
            <app-course-sidebar [course]="course"></app-course-sidebar>
        </div>
        <div class="col-9 mainContentContainer">
    <div class="row">
      <mat-form-field appearance="fill" class="col-md-12">
        <mat-label>Search Lessons</mat-label>
        <input
          matInput
          #searchInp
          type="text"
          (input)="searchlessons(searchInp)"
          placeholder="Search Lesson Name"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </mat-form-field>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <!-- <i class="fa-solid fa-chevron-left mr-3"></i> -->
                <h3>{{lesson.title | titlecase}}</h3>
            </div>
            <!-- (click)="_general.prevRoute()" -->
            <div class="d-flex justify-content-between align-items-center">
                <button mat-raised-button color="accent"  (click)="Gotohref('/member/'+course?.uniqueid)" class="mr-3"><i class="fa fa-arrow-left mr-2"></i>Back</button>
                    <button mat-raised-button color="primary" class="">Lesson Complete</button>
                
                <!-- <div class=""><i class="fa-solid fa-chevron-right"></i></div> -->
            </div>
        </div>
        <div class="col-md-12 m-0 p-0">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="lesson else nodata">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
        <div class="col-md-12 align-items-center d-flex justify-content-center">
            <img class="kb-fitimg img-fluid"
              [src]="lesson?.thumbnail ?  _image.uploadImgPath+lesson.thumbnail :  _image.uploadImgPath +'webpage_thumbnail.jpg'">
        </div>
        <div class="col-md-12 align-items-center py-2" *ngIf="videos?.length > 0">
            <h4>Lesson Video's</h4>
            <!-- <div class="d-flex"> -->
            <div class="col-lg-12 col-md-12 m-0 p-0 mr-2" *ngFor="let video of videos">
                <video class="rounded-top" width="100%" controls>
                    <source [src]="video" type="video/mp4">
                </video>
        <!-- </div> -->
    </div>
        </div>
        <div class="col-md-12 align-items-center py-2" *ngIf="audios?.length > 0">
            <h4>Lesson Audio's</h4>
            <!-- <div class="d-flex"> -->
            <div class="col-lg-12 col-md-12 m-0 p-0 mr-2" *ngFor="let audio of audios">
                <video class="rounded-top" width="100%" controls>
                    <source [src]="audio" type="audio/mp3">
                </video>
        <!-- </div> -->
    </div>
        </div>
        
        <div class="col-md-12 align-items-center py-2">
            <h5>Lesson Content</h5>
            <span class="text-justify" [innerHTML]="lesson.content_html"></span>
        </div>
        <div class=" col-md-12 align-items-center py-2 mb-2" *ngIf="documents?.length > 0">
            <h4>Lesson Documents</h4>
            <!-- <div class="d-flex" > -->
            <div *ngFor="let item of documents">
            <span class="d-flex">
               <span class="align-items-center mr-2"> <i class="fa-regular fa-file"></i></span>
               <span>{{item.name+item.ext}}</span>
            <span (click)="downloadDocument(item)"><i class="fa fa-download text-black-50 ml-2 mr-3" matTooltip="Download" matTooltipPosition="above"></i></span>
        </span>
            <!-- </div> -->
        </div>
        </div>
        <hr>
        <div class=" col-md-12 align-items-center py-2 mb-2">
            <textarea type="text"  class="w-100" style="height: 100px;" placeholder="Write something..."></textarea>
            <button mat-raised-button class="mt-2" color="primary"> Post Comment</button>
        </div>
    </div>
    <div class="col-md-3"> 
     
    
   
</div>
        <!-- <div class="col-md-3"></div> -->
    </div>
    <ng-template #nodata>
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <img
            src="/assets/images/website/website-empty.png"
            class="img-fluid"
            alt="No Form Found"
          />
        </div>
      </div>
    </ng-template>
  </div>
  </div>
</div>
  