  .kb-fitimg {
    width:60%;
    /* height: 100%; */
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
  }
  
  .kb-fitimg:hover {
      background-position: center bottom;
  }
  .ftsize{
    font-weight: 500;
    font-size: 20px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .colr{
    color: var(--primary-color);
  }

  .kbl-active-media {
    width: 18px;
    height: 18px;
    top: 4px;
    z-index: 9;
    left: auto;
    position: absolute;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: var(--kb-success);
}
.sidebarContainer{
  height: 100vh;
  overflow-y: auto;
  background-color: #ecf0f1;
}




/* mainContent */
.mainContentContainer{
  height: 100vh;
  overflow-y: auto;
}
  