<div id="topBar" [class.loaderShadow]="_general.saveDisabled" (click)="!_general.showNavAnim.toggle ? _general.showfloatnavtoggle() : ''">
    <div class="innerLinks">
        <button mat-button (click)="_general.redirectToWebsite()"><img [src]="_image.imgPath+'logo/kblogo-white.svg'"></button>
        <button  mat-button *ngFor="let nav of topBarLinks" [routerLink]="nav.link" [matTooltip]="nav.name" matTooltipPosition="below"><i [class]="'fa '+nav.icon"></i></button>
    </div>
    <div class="innerLinks">
        <button mat-button [class.resp-active]="!_general.showResp.toggle" (click)="_general.showResp.toggle =  false" matTooltip="Desktop" matTooltipPosition="below"><i class="fa fa-desktop"></i></button>
        <button mat-button [class.resp-active]="_general.showResp.toggle && _general.respToggleDevice.name == 'tablet-h'" (click)="_general.selRespDevice(0)" matTooltip="Tablet Horizontal" matTooltipPosition="below"><i class="fas fa-tablet-alt rotate-90"></i></button>
        <button mat-button [class.resp-active]="_general.showResp.toggle && _general.respToggleDevice.name == 'tablet-v'" (click)="_general.selRespDevice(1)" matTooltip="Tablet Vertical" matTooltipPosition="below"><i class="fas fa-tablet-alt"></i></button>
        <button mat-button [class.resp-active]="_general.showResp.toggle && _general.respToggleDevice.name == 'mobile'" (click)="_general.selRespDevice(2)" matTooltip="Mobile" matTooltipPosition="below"><i class="fas fa-mobile-alt"></i></button>
        <button mat-button matTooltip="Redo" matTooltipPosition="below" (click)="_section.redo()"><i class="fas fa-redo"></i></button>
        <button mat-button matTooltip="Undo" matTooltipPosition="below" (click)="_section.undo()"><i class="fas fa-undo"></i></button>
        <button mat-button [routerLink]="'/profile'"><span>{{_general.username}}</span><img [src]="_image.imgPath+'profile/avatar.png'"></button>
    </div>
</div>