#kb-topBar {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0px 12px;
    background-color: var(--kb-dark);
    z-index: 99;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px; 
    transition: 0.2s ease-in-out;
    z-index: 9999;
    overflow: hidden;
}

#kb-topBar.loaderShadow {
    box-shadow: rgb(0 0 0 / 25%) 0px 16px 25px 10px;
}

#kb-topBar button.mat-button:hover, #kb-topBar button.mat-button.resp-active  {
    color: var(--primary-color);
}

.kb-rotate-90 {
    transform: rotate(-90deg);
}

::ng-deep #kb-topBar button.mat-button {
    padding: 0 10px;
    transition: 0.2s ease-in-out;
    min-width: auto;
}

::ng-deep #kb-topBar .mat-button i, ::ng-deep #kb-topBar .mat-button span{
    font-size: 12px;
}

::ng-deep #kb-topBar .innerLinks:last-child .mat-button span>span{
    padding-right: 8px;
}

::ng-deep #kb-topBar .mat-button img{
    width: 13px;
}