/* #buildfunnelcomp{
    background: #F2F4F4;
    margin-top: -20px;
    padding-top: 20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
} */
.clmwithshadow{
    padding: 20px;
}
.clmwithshadow >div{
    text-align: center;
    padding: 20px;
    box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%);
    -webkit-transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
    transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
    border-radius: .267rem;
    background:#fff;
    cursor: pointer;
}
.clmicon svg {
    width: 112px;
    margin-bottom: 13px;
    color: rgb(216 200 152 / 40%);
}
.adjustloopvfor >div{
    width: 33%;
    float: left;
}
.list-unstyled li .mat-card.active {
    color: #2c2c28!important;
    font-weight: bold;
    background: var(--primary-color);
}
.list-unstyled li .mat-card{
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}
.fixedcategory{
    position: fixed;
    top: 126px;
    z-index: 99;
    overflow-y: scroll;
    height: 600px;
}
.gobackward{
    font-size: 10px;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: .5s ease;
}
.gobackward:hover{
    opacity: 1;
}
.topfixadjust{
    position: fixed;
    top: 81px;
    width: 97%;
    z-index: 99;
}

@media screen and (max-width:500px){
    .adjustloopvfor >div{
      width: 100%;
    }

}


#kb-buildfunnel-actions>div {
    overflow-y: scroll;
}

/* width */
#kb-buildfunnel-actions>div::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#kb-buildfunnel-actions>div::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
#kb-buildfunnel-actions>div::-webkit-scrollbar-thumb {
    background: #ececec;
}

#kb-buildfunnel-actions .fa-times {
    position: absolute;
    right: 24px;
    z-index: 99999;
    cursor: pointer;
    top:20px;
}
/* Userprofile css start */
.offcanvas, .offcanvas-mobile {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}
.offcanvas {
    z-index: 1000;
    position: fixed;
    top: 5px;
    bottom: 5px;
    -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    left: -395px;
    width: 375px;
}
.offcanvas {
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
    box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
}
.offcanvas.offcanvas-right.offcanvas-on {
    -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    right: 7px;
    left: auto;
}
.offcanvas h3{
   font-size: 19px;
}

.symbol.symbol-100 .symbol-label {
    width: 100px;
    height: 100px;
}
.symbol.symbol-100 .symbol-badge {
    width: 12px;
    height: 12px;
    top: -6px;
    right: -6px;
    
    position: absolute;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

.font-size-h5 .offcanvas h5{
    font-size: 16px !important;
}
.offcanvas .text-muted{
    font-size: 13px;
    color: #B5B5C3 !important;
}
.svg-icon.svg-icon-primary svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: var(--primary-color) !important;
}
.offcanvas .btn.btn-light-primary {
    color: #000000;
    background-color: var(--primary-color);
    border-color: transparent;
    display: inline-block;
    font-size: 11px;
    padding: 7px 17px!important;
}
.scroll {
    position: relative;
    overflow-y: scroll;
}
.navi {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}
.navi .navi-item .navi-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
}
.navi .navi-item .navi-link {
    font-size: 13px;
}
.navi.navi-spacer-x-0 .navi-item .navi-link {
    padding-left: 0;
    padding-right: 0;
}

.navi .navi-item .navi-link {
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    color: #3F4254;
}
.navi .navi-item .navi-link:hover .navi-text {
    color: var(--primary-color);
}
.bg-light-warning {
    background-color: #FFF4DE !important;
}
.bg-light-success {
    background-color: #C9F7F5 !important;
}
.bg-light-danger {
    background-color: #FFE2E5 !important;
}
.bg-light-info {
    background-color: #EEE5FF !important;
}

/* width */
.offcanvas-content::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .offcanvas-content::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  .offcanvas-content::-webkit-scrollbar-thumb {
    background: #ececec; 
  }
  .offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    -webkit-animation: animation-offcanvas-fade-in 0.6s ease 1;
    animation: animation-offcanvas-fade-in 0.6s ease 1;    
    background: rgba(0, 0, 0, 0.1);
}

@keyframes animation-offcanvas-fade-in {
    0%{
        opacity:0;
    }100%{
        opacity: 1;
    }
}
.kb-full-width {
    width: 100%;
  }

