<div class="container-fluid insidecont pb-5" id="kea-dashboard">
    
    <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              
              <div class="row">
                <div class="col-md-6">
                  <h4>Good ! <span class="usernm"></span></h4>
                  <p class="card-category">Welcome To Keabuilder! Ask <u>Kea</u> For Your New plan!</p>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/assets/images/logo/kblogo.svg" alt="" class="img-fluid float-right" width="50">
                </div>
              </div>
    
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card ">
              <div class="card-header ">
                
                  <h4>New Users</h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card ">
              <div class="card-header ">
                
                  <h4>Revenue</h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card ">
              <div class="card-header ">
                
                  <h4>Recap</h4>
      
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">

                <h4>Sales Report Weekly </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">

                <h4>Sales Report Monthly </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">

                <h4>Star Product & Graph of all product </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">

                <h4>Lead Report Weekly </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">

                <h4>Lead Report Monthly </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">

                <h4>Heatmap </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">

                <h4>Number of Application Download </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">

                <h4>Number of Active members in Application </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">

                <h4>Graph report number of application downloads in a week </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
      
                <h4>Page Status </h4>
                <h4>Number of pages in used, Numbers of pages vacant. </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">

                <h4>Total ticket raises in numbers </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">

                <h4>Total solved ticket in numbers </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">

                <h4>Total unsolved ticket in numbers </h4>
      
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="card ">
              <div class="card-header ">

                <h4>Total in process ticket in numbers </h4>
      
            </div>
          </div>
        </div>

        


      </div>


</div>