.kb-template-container {
    width: 1200px;
}

::ng-deep .kb-template-container .mat-tab-body {
    max-height: 400px;
}

.kb-template-card {
    box-shadow: 0px 0px 2px 1px rgb(34 38 42 / 10%);
    border-radius: 4px;
}

.kb-template-card-outer {
    width: 400px;
}

.kb-template-thumbnail {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
}
.kb-template-thumbnail:hover{
  background-position:bottom center;
}

.kb-template-heading {
    font-size: 20px;
    font-weight: 600;
    color: #666666;
}
/* .kb-img-fluid{
    max-width: 00px;
    max-height: 800px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    
} */
.kb-img-fluid1{
    width: 300px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    
}
::ng-deep .kb-table-action-icon {
    cursor: pointer;
    line-height: inherit;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 2px;
    transition: 0.2s ease;
}

::ng-deep .kb-table-action-icon:hover {
    color: var(--primary-color);
    background-color: rgb(216 200 152 / 20%);
}

::ng-deep .kb-table-action-icon.kb-icon-del:hover {
    color: var(--kb-danger);
    background-color: rgb(220 53 69 / 10%);
}
.ftoverflow{
    max-height: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.bw-sidebar__item a:hover {
  color: #2c3e50;
}
.kb-active{
  color: var(--primary-color) !important;  
}
.bw-sidebar.hoveropen {
  border-radius: 0 12px 12px 0;
}

.bw-sidebar__item {
  width: 100%;
  padding: 15px 16px 14px;
  text-align: left;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  opacity: .7;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  color: rgba(44, 62, 80, 1);
  border: 0;
}

.bw-sidebar__item.hasIcon:hover {
  padding-left: 8px !important;
  color: var(--primary-color);
  opacity: 1;
 
}

.bw-sidebar-content.reduce .bw-sidebar__item.hasIcon {
  padding: 0;
 
}
.kb-template-card {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.kb-spinner{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: var(--kb-dim-black); */
  justify-content: center;
  align-items: center;
  z-index: 99;
}