<ng-template #deldialog>
    <h1 mat-dialog-title class="kb-danger">Delete Template</h1>
    <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{deltemplate.name}}</span> template?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">No</button>
      <button mat-button mat-dialog-close (click)="deleteTemplate()" class="text-danger">Yes</button>
    </div>
</ng-template>
<ng-template #editdialog>
  <h1 mat-dialog-title >Update Template</h1>
  <div mat-dialog-content>
      <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Template Name</mat-label>
          <input
            type="text"
            matInput
            required
            minlength="3"
            [formControl]="templatenameFormControl"
            [(ngModel)]="templatename"
            name="template name"
            placeholder="Ex. My First Optin"
          />
          <mat-error *ngIf="templatenameFormControl.hasError('required')">
          Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="templatenameFormControl.hasError('minlength')">
            Name must be at least <strong>3</strong> characters
          </mat-error>
        </mat-form-field>
    </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial class="text-danger">No</button>
    <button mat-button mat-dialog-close (click)="updateTemplate()" [color]="'primary'" [disabled]="templatenameFormControl.invalid">Update</button>
  </div>
</ng-template>
<div class="container-fluid p-0">
    <div class="row align-items-center border-bottom pb-3 m-0">
        <div class="col-md-7">
            <span class="kb-template-heading">Choose a Template to Start</span>
        </div>
        <div class="col-md-5 text-right">
            <button mat-raised-button color="accent" (click)="closeDialog.emit()" class="mr-3">
                <i class="fa fa-arrow-left mr-2"></i>Back</button>
            <button mat-raised-button color="primary" (click)="createDialog.emit()">
                <i class="fa-solid fa-file-circle-plus mr-2" ></i>Create from scratch</button>
        </div>
    </div>
    <mat-tab-group class="kb-template-container">
        <mat-tab label="Marketplace">
            <div class="row m-0">
              <div class="col-md-2 bw-sidebar kb-template-card">
              <div *ngFor="let menu of allmenu; index as i;">
                <button [class.kb-active] ='menu.name == category' (click)="fetchsystemTemplates(menu.name)" class="bw-sidebar__item hasIcon" ><span class="bw-sidebar__item__text">{{menu.title}}</span></button>
              </div>
              </div>
              <div class="col-md-10 d-flex flex-wrap" *ngIf="systemplates?.length > 0">
                <div *ngFor="let temp of systemplates" class="kb-template-card-outer col-md-4 p-3" >
                    <div class="kb-template-card">
                        <div class="kb-template-thumbnail"
                            [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+'webpage_thumbnail2.jpg' + ')'}">
                        </div>
                        <div class="d-flex justify-content-between align-items-center p-2">
                          <span class="ftoverflow">{{temp.name | titlecase}}</span>
                          <span class="d-flex justify-content-end">
                              <i mat-ripple matTooltip="Preview" matTooltipPosition="above" class="fas fa-eye px-3 kb-table-action-icon" aria-hidden="true" (click)="_general.redirectLink('/marketplace/template/preview/'+temp.uniqueid)"></i>
                              <i mat-ripple matTooltip="Use this template" matTooltipPosition="above" class="fa-solid fa-file-circle-plus px-3 kb-table-action-icon" aria-hidden="true" (click)="createDialog.emit(temp)"></i>
                          </span>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-10 d-flex align-items-center justify-content-center" *ngIf="systemplates?.length == 0">
                <div class="kb-img-fluid1">
                  <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No Marketplace found">
                </div>
                
              </div>
            </div>
                
            
        </mat-tab>
        <mat-tab label="Saved Templates">
          <div class="row m-0 mt-3">

            <mat-form-field  appearance="fill" class="col-md-6">
              <mat-label>Search Templates</mat-label>
              <input #searchInp matInput type="text"  (input)="searchsavedtemplates(searchInp,filterInp)" id="template-search" placeholder="Search by template name">
              <i class="fa-solid fa-magnifying-glass"></i>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-md-3 ">
              <mat-label>Showing Templates for</mat-label>
              <mat-select  #filterInp name="showingtemplates" value='created_at DESC' (valueChange)="searchsavedtemplates(searchInp, filterInp)">
                <mat-option [value]="'created_at ASC'">ASC By Create</mat-option>
            <mat-option [value]="'created_at DESC'">DESC By Create</mat-option>
            <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
            <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
            <div class="row m-0" *ngIf="templates?.length > 0">
                <div *ngFor="let temp of templates" class="kb-template-card-outer col-md-4 p-3">
                    <div class="kb-template-card">
                        <div class="kb-template-thumbnail"
                            [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+'webpage_thumbnail2.jpg' + ')'}">
                        </div>
                        <div class="d-flex justify-content-between align-items-center p-2">
                            <span class="ftoverflow">{{temp.name | titlecase}}</span>
                            <span class="d-flex justify-content-end">
                                <i mat-ripple matTooltip="Preview" matTooltipPosition="above" class="fas fa-eye px-3 kb-table-action-icon rounded-0" aria-hidden="true" (click)="_general.redirectLink('/template/preview/'+temp.user_id+'/'+temp.uniqueid)"></i>
                                <i mat-ripple matTooltip="Use this template" matTooltipPosition="above" class="fa-solid fa-file-circle-plus px-3 kb-table-action-icon" aria-hidden="true" (click)="createDialog.emit(temp)"></i>
                                <!-- <i mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(deldialog, temp)" class="fa fa-trash-alt px-3 kb-table-action-icon kb-icon-del" aria-hidden="true"></i> -->
                                <i mat-ripple [matMenuTriggerFor]="menu" matTooltip="More" matTooltipPosition="above"  class="fa-solid fa-gear px-3 kb-table-action-icon rounded-0" aria-hidden="true"></i>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="openDialog(editdialog, temp)"><i class="fas fa-pencil-alt mr-2" ></i> Edit</button>
                                    <!-- <button mat-menu-item (click)="_general.redirectLink('/template/preview/'+temp.user_id+'/'+temp.uniqueid)"><i class="fas fa-eye mr-2" ></i> Preview</button> -->
                                    <!-- <button mat-menu-item (click)="createDialog.emit(temp)"><i class="fa-solid fa-file-circle-plus mr-2" ></i> Copy</button> -->
                                    <button mat-menu-item class="text-danger" (click)="openDialog(deldialog, temp)"><i class="far fa-trash-alt mr-2"></i> Delete </button>
                                    </mat-menu>  
                            </span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-5" *ngIf="templates?.length == 0">
                    <div class="kb-img-fluid1">
                      <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No System templates found">
                    </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>