<div id="kb_strategies">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Welcome to Kea Strategies</h2>
                <p>In the kea strategies you can select your best strategies according to your conditions.</p>
            </div>
            <div class="col-sm-4 cardpage mb-3">
                <div>
                <img src="https://thumbs.dreamstime.com/b/navigation-roadmap-infographic-timeline-concept-place-data-vector-illustration-navigation-roadmap-infographic-timeline-128813659.jpg" alt="" class="img-fluid">
                <h5 class="mt-3">Funnel Roadmap</h5>
                <button class="btn btn-primary">View</button>
                </div>
            </div>
            <div class="col-sm-4 cardpage mb-3">
                <div>
                <img src="https://community.atlassian.com/t5/image/serverpage/image-id/92624i2157455DA3220DEA/image-size/large?v=v2&px=999" alt="" class="img-fluid">
                <h5 class="mt-3">Landing Funnel Strategies</h5>
                <button class="btn btn-primary">View</button>
                </div>
            </div>
            <div class="col-sm-4 cardpage mb-3">
                <div>
                <img src="https://thumbs.dreamstime.com/b/infographic-template-steps-modern-timeline-diagram-roadmap-business-presentation-vector-181761380.jpg" alt="" class="img-fluid">
                <h5 class="mt-3">Membership Funnel Strategies</h5>
                <button class="btn btn-primary">View</button>
                </div>
            </div>
            <div class="col-sm-4 cardpage mb-3">
                <div>
                <img src="https://thumbs.dreamstime.com/b/infographic-template-steps-modern-timeline-diagram-roadmap-business-presentation-vector-181761380.jpg" alt="" class="img-fluid">
                <h5 class="mt-3">Order Page Strategies</h5>
                <button class="btn btn-primary">View</button>
                </div>
            </div>
            <div class="col-sm-4 cardpage mb-3">
                <div>
                <img src="https://thumbs.dreamstime.com/b/infographic-template-steps-modern-timeline-diagram-roadmap-business-presentation-vector-181761380.jpg" alt="" class="img-fluid">
                <h5 class="mt-3">Creative Funnel Strategies</h5>
                <button class="btn btn-primary">View</button>
                </div>
            </div>
            <div class="col-sm-4 cardpage mb-3">
                <div>
                <img src="https://thumbs.dreamstime.com/b/infographic-template-steps-modern-timeline-diagram-roadmap-business-presentation-vector-181761380.jpg" alt="" class="img-fluid">
                <h5 class="mt-3">Ebook Funnel Strategies</h5>
                <button class="btn btn-primary">View</button>
                </div>
            </div>
            
        </div>
    </div>
</div>