<div id="kb-websitedesign">

  <div id="kb-offcanvas-actions" *ngIf="poupsidebar">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar" [class.fulltemplate] = "selecttemplate" >
        
        <i class="fas fa-times" (click)="hidepopupsidebar()"></i>

        <div *ngIf="addnewpagepopup">

          <h6><b>Create A Page</b></h6>
          <hr>

          <div *ngIf="insidepagefirst">

            <button mat-raised-button color="accent" class="btn-block mb-2" (click)="createfromscratch()" ><i class="fas fa-plus"></i> Create From Scratch</button>
            <button mat-raised-button color="accent" class="btn-block mb-2" (click)="selectfromtemplate()" ><i class="fab fa-angellist"></i> Select From Template</button>
            
          </div>

          <div *ngIf="insidepagesecond">

            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="pl-2">

              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Page Name</mat-label>
                <input type="text" matInput [(ngModel)]="form.pagename" (blur)="changemyname($event)" name="pagename" [formControl]="userFormControl" placeholder="Ex. Home" required minlength="3">
                <mat-error *ngIf="userFormControl.hasError('required')">
                  Page Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="userFormControl.hasError('minlength')">
                  Page Name must be at least <strong>3</strong> characters
                </mat-error>
              </mat-form-field>

              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Page Path</mat-label>
                <input type="text" matInput (input)="form.pagepath = _general.joinWthDash(form.pagepath)" [(ngModel)]="form.pagepath" name="pagepath" [formControl]="userFormControl2" placeholder="Ex. home" required minlength="3" (blur)="pathuniqueremove()" >
                <mat-error *ngIf="userFormControl2.hasError('required')">
                  Path Name is <strong>required</strong>
                </mat-error>
                <small class="text-danger" *ngIf="pathcheck">
                  Path must be <strong>unique</strong>
                </small>
                <mat-error *ngIf="userFormControl2.hasError('minlength')">
                  Page Name must be at least <strong>3</strong> characters
                </mat-error>
              </mat-form-field>
    
              <button mat-raised-button color="primary" type="submit" class="mt-2" ><i class="fas fa-plus"></i> Create Page</button>
    
            </form>

          </div>

          <img src="/assets/images/website/website1.png" class="img-fluid" alt="">

        </div>

        <div *ngIf="showmytemplates">

          <div class="container-fluid">

            <div class="row">
              <div class="col-md-2">
                <button mat-raised-button color="accent" (click)="createfromscratch()">
                  <i class="fas fa-plus"></i> Create From Scratch
                </button>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group position-relative has-icon-left kea-barfieldset">
                  <input type="text" class="form-control" id="template-search" placeholder="Search Page Templates">
                  <div class="form-control-position">
                      <i class="fab fa-searchengin"></i>                        
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row mt-4 mb-5">
              <div class="col-md-4 cardpage mt-2 " *ngFor="let pagetemplate of pagetemplates; index as i;" >
                <div>
                  <img [src]="pagetemplate.thumbnail" alt="" class="img-fluid img-fit">
        
                  <div class="keabuilder-title line-ellipsis">
                    <span>{{pagetemplate.title}}</span>
                  </div>
        
                  <button mat-raised-button color="accent" class="mr-2"> Preview <i class="far fa-eye"></i></button>
                  <button mat-raised-button color="primary" (click)="usetemplate(pagetemplate.id)" >Use This Template <i class="fas fa-check"></i></button>
        
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
                </mat-paginator>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
  <div class="offcanvas-overlay " *ngIf="poupsidebar" (click)="hidepopupsidebar()"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pagemainlink float-right">
        <button mat-raised-button class="ml-2" (click)="addnewpage()" >Add New Page <i class="fas fa-plus"></i></button>
        <button mat-raised-button class="ml-2" [routerLink]="['/website/pages']">Pages <i
            class="far fa-window-restore"></i></button>
        <button mat-raised-button [routerLink]="['/website']" color="primary">Website Design
          <i class="fas fa-palette"></i></button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-4" *ngIf="kbwebsite[0]!=null">
      <div class="col-md-12 mt-4">
        <div class="kb-webpreviewer">
          <div class="kb-dropdown_livestatus">
            <span class="kb-weblive" [matMenuTriggerFor]="menu" matTooltip="Status" matTooltipPosition="above">
              <i [class]="webicon"></i> {{webstatus}} <i class="fas fa-chevron-down drpdwnfa"></i></span>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="pubstatus('publish')">
                <i class="fas fa-check mr-2"></i> Publish
              </button>
              <button mat-menu-item (click)="pubstatus('draft')">
                <i class="fas fa-file mr-2"></i> Draft
              </button>
            </mat-menu>
          </div>
          <img [src]="kbwebsite[0].thumbnail" class="img-fluid" alt="">
          <div class="kb-webpreviewinside">
            <button mat-raised-button color="accent" class="mr-2" [routerLink]="['/website/details']">Site Details <i
                class="fas fa-pencil-alt"></i></button>
            <button mat-raised-button color="accent" class="mr-2">Preview <i class="far fa-eye"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>