<div class="container-fluid kbmncont p-4">
  <div class="row">
      <form novalidate method="post" action="javascript:void(0)" id="payment-form" class="w-100" [formGroup]="stripeForm">
          <div class="col-md-12">
              
              <div class="o2step_step1 mt-2" *ngIf="!switchstep">
                  <h5>PERSONAL DETAILS</h5>
                  <small class="allfldreq">All fields required</small>
                  <div class="form-group">
                      <label for="">Email Address*</label>
                      <input type="email" class="form-control" formControlName="email"
                      required [class.finderror]="stripeForm.get('email').hasError('required') && firststepsubmit">
                    </div>
                  <div class="form-group">
                    <label for="">Full Name*</label>
                    <input type="text" class="form-control" formControlName="name" 
                    required [class.finderror]="stripeForm.get('name').hasError('required') && firststepsubmit">
                  </div>
                  <div class="form-group">
                    <label for="">Phone Number*</label>
                    <input type="number" class="form-control" formControlName="phone"
                    required [class.finderror]="stripeForm.get('phone').hasError('required') && firststepsubmit">
                  </div>
                  <div class="form-group">
                    <label for="">Full Address*</label>
                    <input type="text" class="form-control" formControlName="fulladdress"
                    required [class.finderror]="stripeForm.get('fulladdress').hasError('required') && firststepsubmit">
                  </div>
                  <div class="form-group">
                    <label for="">City Name*</label>
                    <input type="text" class="form-control" formControlName="cityname" 
                    required [class.finderror]="stripeForm.get('cityname').hasError('required') && firststepsubmit">
                  </div>
                  <div class="form-group">
                    <label for="">Country*</label>
                    <input matInput type="text" [(ngModel)]="stripe.payeecountry" formControlName="shippingcountry" 
                    placeholder="Please enter country name" [matAutocomplete]="countryAuto" 
                    [class.finderror]="stripeForm.get('shippingcountry').hasError('required') && firststepsubmit"
                     class="kb-act-searchinp w-100" (input)="filtercountryData($event)" required >
                    <mat-autocomplete #countryAuto="matAutocomplete" >
                      <mat-option (click)="getcountrynm(option)" *ngFor="let option of filteredcountry" [value]="option.name">{{ option.name }}</mat-option>
                    </mat-autocomplete>
                    <small class="text-danger" *ngIf="cntryhelp"><i class="fa fa-arrow-up mr-1"></i>Please select the country</small>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-8">
                        <label for="">State / Province*</label>
                        <input type="text" class="form-control" formControlName="state" 
                        required [class.finderror]="stripeForm.get('state').hasError('required') && firststepsubmit">
                      </div>
                      <div class="col-md-4">
                        <label for="">Zip Code*</label>
                        <input type="number" class="form-control" formControlName="zip"
                        required [class.finderror]="stripeForm.get('zip').hasError('required') && firststepsubmit">
                      </div>
                    </div>
                  </div>
              </div>

              <div class="o2step_step2 mt-2" *ngIf="!switchstep">
                  <button type="button" class="btnkeacheckout" (click)="validatestep()">
                      <span class="elButtonMainStep1">{{checkoutstyle.step1btntext}}</span>
                    </button>
                  <div class="order2ButtonSubText">{{checkoutstyle.step1footertext}}</div>
              </div>

              <div class="kb-spinner" *ngIf="spinner">
                <mat-spinner></mat-spinner>
              </div>
              
              <div class="o2step_step3" *ngIf="switchstep">
                  <a class="kb-back" (click)="switchstep = !switchstep" href="javascript:void(0)">Back</a>
                  <h5 class="mb-4">PAYMENT METHOD <i class="fa-lock fas float-right iconsty"></i></h5>
                  <small class="allfldreq paywthcard">Pay with card <img class="st-paycard"
                      src='/assets/images/payment/payment-cards.png' alt="" srcset=""></small>

                  <h6 class="kb-danger mt-2" *ngIf="!isPaymentConnected"><i class="fa fa-exclamation-circle mr-2" aria-hidden="true"></i>
                        Payment Gateway Error</h6>
                  <div class="form-group mt-2" *ngIf="isPaymentConnected">
                      <ngx-stripe-card class="stripe-card" [options]="cardOptions" 
                      [elementsOptions]="elementsOptions"></ngx-stripe-card>
                  </div> 
      
                  <mat-error *ngIf="paymenterror">{{paymentMessage}}</mat-error>
              </div>

              <div class="o2step_step4 mt-4" *ngIf="switchstep">

                  <h5>REVIEW ORDER</h5>

                  <div class="Checkout_Summary">
                      <table cellpadding="0" cellspacing="0" class="Checkout_Summary_Table"> 
                          <tr class="Checkout_Summary_Table_Row Checkout_Summary_Table_Row-lineitem"
                          *ngFor="let product of myproductarr; index as i;">
                              <td class="Checkout_Summary_Table_Row_Cell kbprname">
                                  <label [for]="'kbchk'+i">
                                    <input type="checkbox" [attr.data-prid]="product.offerid" [value]="product.price" [checked]="i==0" 
                                    (change)="maketotalprice($event)" [name]="product.name" [id]="'kbchk'+i">
                                    <span>{{product.name}}</span>
                                  </label>
                              </td>
                              <td class="Checkout_Summary_Table_Row_Cell kbprprice">
                                  <span class="Checkout_Summary_Monetary">
                                      <span class="Checkout_Summary_Monetary_Units"  *ngIf="product.type!='recurring'">
                                        {{product.symbol}}{{product.price!=0?product.price:'FREE'}}</span>
                                        <span class="Checkout_Summary_Monetary_Units" *ngIf="product.type=='recurring'">
                                          {{product.symbol}}{{product.recurring}}</span>
                                        
                                  </span>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <div class="Checkout_Summary_OrderTotal">
                      <table cellpadding="0" cellspacing="0" class="Checkout_Summary_Table Checkout_Summary_Table-ordertotal">
                          <tr class="Checkout_Summary_Table_Row Checkout_Summary_Table_Row-ordertotal">
                              <td class="Checkout_Summary_Table_Row_Cell kbprname2">Order total</td>
                              <td class="Checkout_Summary_Table_Row_Cell kbprprice2">
                                  <span class="Checkout_Summary_Monetary">
                                      <span class="Checkout_Summary_Monetary_Currency">{{symbolcode | uppercase}}</span>
                                      <span class="Checkout_Summary_Monetary_Units">{{totalprice}}</span>
                                  </span>
                              </td>
                          </tr>
                      </table>
                  </div>

              </div>

              <div class="o2step_step5 mt-4" *ngIf="switchstep">
                  <button type="button" class="btnkeacheckout" (click)="buy()">
                      <span class="elButtonMainStep1">{{checkoutstyle.step2btntext}}</span>
                    </button>
                    <div class="order2ButtonSubText">{{checkoutstyle.step2footertext}}</div>
              </div>
              
              
          </div>
      </form>
  </div>
</div>