.kb-offer-card {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.o2step_step1 label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
}
.o2step_step1 input, .o2step_step1 select {
  -webkit-font-smoothing: antialiased;
  font-family: Lato,sans-serif;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  line-height: 32px;
  padding: 0 15px 0px 35px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #666;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  background: #fff;
  box-sizing: border-box;
}
.o2step_step1 i.fa {
  margin-top: -25px;
  display: block;
  margin-left: 11px;
  width: 22px;
}
.allfldreq{
  color: #9b9b9b;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}
.paywthcard{
  font-weight: 600;
  color: #333;
}
.stripe-card{
  width: 100%;
  position: relative;
  display: inline-block;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 10px;
  margin: 0;
  background: #fff;
}
.st-paycard{
  float: right;
  width: 235px;
  text-align: right;
}
.iconsty{
  margin-top: 6px;
  color: #444;
  font-size: 13px;
}
/* order summary */
.Checkout_Summary {
  background-color: transparent;
  color: #333;
  padding: 10px;
}
.Checkout_Summary_Table {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}
.Checkout_Summary_Table_Row_Cell {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  vertical-align: top;
}
/* .Checkout_Summary_Table_Row_Cell:last-child {
  text-align: right;
} */
.Checkout_Summary_Monetary {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
}
.Checkout_Summary_OrderTotal {
  background-color: transparent;
  padding: 0 10px;
  border-bottom: 2px solid #1A9275;
  border-top: 1px solid #1A9275;
}
.Checkout_Summary_Table-ordertotal .Checkout_Summary_Table_Row_Cell {
  font-weight: 600;
  font-size: 16px;
}
.Checkout_Summary_Table-ordertotal .Checkout_Summary_Table_Row_Cell .Checkout_Summary_Monetary {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.Checkout_Summary_Table-ordertotal .Checkout_Summary_Table_Row_Cell .Checkout_Summary_Monetary_Currency {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}
.Checkout_Summary_Table-ordertotal .Checkout_Summary_Table_Row_Cell .Checkout_Summary_Monetary_Units {
  font-size: 16px;
}
.Checkout_Summary_Table_Row_Cell label {
  margin: 0;
  display:flex;
}
/* order summary */

.kb-prev{
  background-color: #eee;
}
.kbmncont{
  background-color: #fff;
}
.btnkeacheckout {
  background-color: #1EBFC0;
  background-image: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 21px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* .btnkeacheckout:hover {
  background-color: #af8333;
  background-image: none;
  box-shadow: 0 20px 15px -17px rgba(0,0,0,.3), 0 1px 2px rgba(0,0,0,.3);
  text-decoration: none;
} */
.order2ButtonSubText {
  line-height: 1.5;
  padding: 20px 0 0;
  font-size: 12px;
  color: #8a8a8a;
}
.kb-back {
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  color: #444;
  text-decoration: underline;
  margin-top: -23px;
}
td.Checkout_Summary_Table_Row_Cell label span {
  margin-left: 4px;
  text-transform: capitalize;
  /* line-height: 15px; */
}
td.Checkout_Summary_Table_Row_Cell label{
  cursor: pointer;
  width: 100%;
}
/* .Checkout_Summary_Table_Row-lineitem {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
} */
/* .kbprname{
  width:80%;
  display: inline-block;
} */
/* .kbprprice{
  width:20%;
  display: inline-block;
} */
table{
  background-color: transparent;
}
.kbprname2{
  width:70%;
  display: inline-block;
}
.kbprprice2{
  width:30%;
  display: flex;
  justify-content: flex-end;
}
.Checkout_Summary_Table_Row.Checkout_Summary_Table_Row-ordertotal {
  margin: 10px 0px;
  display: flex;
  width: 100%;
  align-items: center;
}
.finderror {
  border: 1px dashed #eb340a!important;
}
.kb-spinner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--kb-dim-black);
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.cntbk{
  background: #EFF3FA;
  padding: 30px 15px;
  position:relative;
}
.countryerr{
  position: relative;
  top: 5px;
}
.countryerr i{
  display: inline;
}
.step1div.active, .step2div.active{
  background: #242341;
}
.step1div{
  background: #1DBCBD;
  color: #fff;
  border-radius: 25px 0px 0px 0px;
  padding: 20px 35px 10px;
}
.step2div{
  background: #1DBCBD;
  color: #fff;
  border-radius: 0px 25px 0px 0px;
  padding: 20px 35px 10px;
}

table.Checkout_Summary_Table thead th {
  font-weight: 500;
  border-bottom: 1px solid #1A9275;
  margin-bottom: 16px;
  color: #7A7A7A;
  font-size: 15px;
}
.Checkout_Summary tbody:before {
  line-height: 1em;
  content: "\200C";
  display: block;
}
table.Checkout_Summary_Table tbody tr select {
  font-size: 12px;
  border: none;
}

table.Checkout_Summary_Table tbody tr {
  line-height: 35px;
}
.thwidthadju{
  width: 50%;
}
.kbcheckin label{
  font-size: 12px;
  padding-left: 5px;
  line-height: 17px;
}
.kbcheckin label a {
  display: inline-block;
}
.onlyonestepdiv{
  text-align: center;
  border-radius: 25px 25px 0px 0px;
}
#mkspinner{
  position: absolute!important;
}
