<div id="mainmodule-kea">
  
   <div class="container-fluid section1"
    style="background-image: url('https://img.freepik.com/free-vector/blue-technology-digital-banner-design_1017-32257.jpg?w=2000');">
  </div>

  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-md-3">
        <app-course-user-modules-sidebar></app-course-user-modules-sidebar>
      </div>
      <div class="col-md-9">
        <app-course-user-modules-board></app-course-user-modules-board>
      </div>
    </div>
  </div>

</div>