.container {
    max-width: calc(1340px);
}
#mainmodule-kea{
    background: #f4f4f4;
}.section1{
    height: 19rem;
    background-size: cover;
    background-position: center;
}
.kbmodule-img {
    box-shadow: 0px 0px 2px 1px rgb(34 38 42 / 10%);
    border-radius: 8px;
}