.kb-export:hover{
    background-color: var(--primary-color);
    /* color: white; */
}
.global:hover{
    background-color: var(--primary-color);
    color: white;
}
.global1{
    color: var(--primary-color);
}
.kb-spinner{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--kb-dim-black);
    justify-content: center;
    align-items: center;
  }
  .kb-fnt{
    font-size:12px ;
    color: var(--primary-color);
    position: relative;
    top: -15px;
}
.kb-check{
    font-size:12px ;
    color: var(--primary-color);
}
.kb-fnt-fields{
    display: none;
}  