<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete {{selectedContacts.length ? ' Selected Contacts' : 'Contact'}}</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{selectedContacts.length ? selectedContacts.length : contact.email}}</span> {{selectedContacts.length ? 'contacts ?' : 'contact ?'}}
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'" (click)="resetselecteddata()">No</button>
    <button mat-button mat-dialog-close (click)="deleteContact()" class="text-danger">Yes</button>
  </div>
</ng-template>
<ng-template #delselecteddialog>
  <h1 mat-dialog-title class="kb-danger">Delete Selected Contacts</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{selectedContacts.length}}</span> contacts?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'" (click)="resetselecteddata()">No</button>
    <button mat-button mat-dialog-close (click)="deleteSelectedContacts(selectedContacts)" class="text-danger">Yes</button>
  </div>
</ng-template>
<ng-template #adddialog>
  <h1 mat-dialog-title>Add Contact</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="first name" [(ngModel)]="contact.firstname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="last name" [(ngModel)]="contact.lastname">
    </mat-form-field>
    <mat-error *ngIf="hasError">{{hasError}}</mat-error>
    <mat-form-field appearance="fill" [class.mat-form-field-invalid]="hasError">
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="email" [(ngModel)]="contact.email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput type="phone" placeholder="phone" [(ngModel)]="contact.phone">
    </mat-form-field>
    <mat-form-field appearance="fill" (click)="filterListData($event)">
      <mat-label>Subscribe to Lists</mat-label>
      <mat-chip-list #listChipList aria-label="List selection">
          <mat-chip
              *ngFor="let data of selectedLists, index as i"
              (removed)="removeSelectedList(i)">
              {{data.name}}
              <button matChipRemove>
              <mat-icon>cancel</mat-icon>
              </button>
          </mat-chip>
      </mat-chip-list>
      <input matInput type="text"
          #searchListInp
          placeholder="Select multiples..."
          (input)="filterListData($event)"
          [matAutocomplete]="listAuto"
          [matChipInputFor]="listChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          class="kb-act-searchinp pt-1">
      <mat-autocomplete autoActiveFirstOption #listAuto="matAutocomplete" (optionSelected)="addSelectedList($event, searchListInp)">
          <mat-option *ngFor="let option of filteredOptions.lists" [value]="option" [disabled]="filteredTempIds.lists.includes(option.uniqueid)">
            {{option.name}}
          </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill"  (click)="filterTagData($event)">
    <mat-label>Add Tags</mat-label>
    <mat-chip-list #tagChipList aria-label="Tag selection">
        <mat-chip
            *ngFor="let data of selectedTags, index as i"
            (removed)="removeSelectedTag(i)">
            {{data.name}}
            <button matChipRemove>
            <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-list>
    <input matInput type="text"
        #searchTagInp
        [formControl]="tagCtrl"
        placeholder="Select multiples..."
        (input)="filterTagData($event)"
        [matAutocomplete]="tagAuto"
        [matChipInputFor]="tagChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addtag($event)"
        class="kb-act-searchinp pt-1">
    <mat-autocomplete autoActiveFirstOption #tagAuto="matAutocomplete" (optionSelected)="addSelectedTag($event, searchTagInp)">
        <mat-option *ngFor="let option of filteredOptions.tags" [value]="option" [disabled]="filteredTempIds.tags.includes(option.uniqueid)">
          {{option.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">Cancel</button>
      <button mat-button mat-dialog-close (click)="addContact()" cdkFocusInitial color="primary">Add</button>
  </div>
</ng-template>
<ng-template #importdialog>
  <h1 mat-dialog-title>Import Contacts</h1>
  <div mat-dialog-content>
    <div class="mb-3">
      <div>
        <button mat-raised-button color="primary" (click)="downloadInp.click()" class="mr-3">Select File (.xlsx)</button>
        <button mat-raised-button color="accent" (click)="downloaduploadformat()"><i class="fa-solid fa-download mr-2"></i>Template</button>
      </div>
      <div class="mt-2">
        <span *ngIf="document" class="kb-info-tag small rounded px-2 py-1">{{document.name}}</span>
        <input #downloadInp name="download" type="file" accept=".xlsx" (change)="documentChangeEvent($event)" [formControl]="fileFormControl" class="d-none"> 
        <mat-error *ngIf="error">{{errormessage}}</mat-error>
        <ng-template *ngIf="fileFormControl.hasError('required')">
          Please Upload File.
        </ng-template> 
      </div>
    </div>
    <mat-form-field *ngIf="document" class="kb-full-width" appearance="fill" (click)="filterListData($event)">
      <mat-label>Select Lists</mat-label>
      <mat-chip-list #listChipList aria-label="List selection">
        <mat-chip
          *ngFor="let data of selectedLists; index as i"
          (removed)="removeSelectedList(i)">
          {{ data?.name }}
          <button matChipRemove>
          <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input matInput
        type="text"
        #searchListInp
        placeholder="Select multiples..."
        (input)="filterListData($event)"
        [matAutocomplete]="listAuto"
        [matChipInputFor]="listChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        class="kb-act-searchinp w-100 pt-1">
      <mat-autocomplete
        #listAuto="matAutocomplete"
        (optionSelected)="addSelectedList($event, searchListInp)">
        <mat-option
          *ngFor="let option of filteredOptions.lists"
          [value]="option"
          [disabled]="filteredTempIds.lists?.includes(option.uniqueid)">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>      
   <span *ngIf="document" class="kb-fnt">(Leave empty if you don't want to subscribe to any list)</span>

    <mat-form-field *ngIf="document" class="kb-full-width" appearance="fill" (click)="filterTagData($event)">
      <mat-label>Select Tags</mat-label>
      <mat-chip-list #tagChipList aria-label="Tag selection">
        <mat-chip
          *ngFor="let data of selectedTags; index as i"
          (removed)="removeSelectedTag(i)">
          {{ data?.name }}
          <button matChipRemove>
          <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input matInput
        type="text"
        #searchTagInp
        placeholder="Select multiples..."
        (input)="filterTagData($event)"
        [matAutocomplete]="tagAuto"
        [matChipInputFor]="tagChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        class="kb-act-searchinp w-100 pt-1">
      <mat-autocomplete
        #tagAuto="matAutocomplete"
        (optionSelected)="addSelectedTag($event, searchTagInp)">
        <mat-option
          *ngFor="let option of filteredOptions.tags"
          [value]="option"
          [disabled]="filteredTempIds.tags?.includes(option.uniqueid)">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>      
   <span *ngIf="document" class="kb-fnt">(Leave empty if you don't want to subscribe to any tag)</span>
    <div class="kb-spinner" *ngIf="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial class="text-danger">Cancel</button>
    <button mat-button [color]="'primary'" [disabled]="fileFormControl.invalid || document?.length == 0" (click)="uploadcontacts()">Import</button>
    <!-- <button mat-raised-button mat-dialog-close [color]="'primary'" [disabled]="filteredTempIds.lists?.length > 0" (click)="uploadcontacts('all')">Import All</button> -->
  </div>
</ng-template>
<ng-template #exportdialog>
  <h1 mat-dialog-title>Export Contacts</h1>
  <div mat-dialog-content>
    <mat-form-field class="kb-full-width" appearance="fill" (click)="filterListData($event)">
      <mat-label>Select Lists</mat-label>
      <mat-chip-list #listChipList aria-label="List selection">
        <mat-chip
          *ngFor="let data of selectedLists; index as i"
          (removed)="removeSelectedList(i)">
          {{ data?.name }}
          <button matChipRemove>
          <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input
        matInput
        type="text"
        #searchListInp
        placeholder="Select multiples..."
        (input)="filterListData($event)"
        [matAutocomplete]="listAuto"
        [matChipInputFor]="listChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        class="kb-act-searchinp w-100 pt-1">
      <mat-autocomplete
        #listAuto="matAutocomplete"
        (optionSelected)="addSelectedList($event, searchListInp)">
        <mat-option
          *ngFor="let option of filteredOptions.lists"
          [value]="option"
          [disabled]="filteredTempIds.lists?.includes(option.uniqueid)">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <span class="kb-fnt">(Leave empty if you don't want to subscribe to any list)</span>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Export name (Optional)</mat-label>
      <input matInput type="text" placeholder="Enter export name" [(ngModel)]="exportname">
    </mat-form-field>
    <span class="kb-fnt">(This is the name given to exported excel file)</span>
    <div class="kb-check py-1">
      <div >Select fields to export (Optional)</div>
  <div><mat-checkbox [formControl]="tagsFormControl">Tags</mat-checkbox></div>
  <div class="kb-fnt-fields"><mat-checkbox [formControl]="fieldsFormControl">Fields</mat-checkbox></div>
    </div>
    <div class="kb-spinner" *ngIf="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger">Cancel</button>
    <button mat-button  [color]="'primary'" (click)="exportcontact(true,'single')">Export</button>
    <!-- <button mat-raised-button mat-dialog-close [color]="'primary'" [disabled]="filteredTempIds.lists?.length > 0" (click)="exportcontact(false,'all')">Export All</button> -->
  </div>
</ng-template>
<div class="container-fluid">
    <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div class="row">
        <mat-form-field appearance="fill" class="col-md-5 pr-2">
            <mat-label>Search Contacts</mat-label>
            <input matInput  [(ngModel)]="searchInp" (input)="searchContacts(searchInp, sortInp, listInp, tagInp)" type="text" placeholder="Search Contacts">
            <i class="fa-solid fa-magnifying-glass"></i>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill" class="col-md-2 px-2">
            <mat-label>Sort By</mat-label>
            <mat-select #sortInp name="kbfilter" value='created_at DESC' (valueChange)="searchContacts(searchInp, sortInp, listInp, tagInp)">
                <mat-option [value]="'created_at ASC'">ASC By Create</mat-option>
                <mat-option [value]="'created_at DESC'">DESC By Create</mat-option>
                <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
                <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
                <mat-option [value]="'email ASC'">ASC By Email</mat-option>
                <mat-option [value]="'email DESC'">DESC By Email</mat-option>
                <mat-option [value]="'firstname ASC'">ASC By Name</mat-option>
                <mat-option [value]="'firstname DESC'">DESC By Name</mat-option>
            </mat-select>
        </mat-form-field> -->
        <mat-form-field appearance="fill" class="col-md-2 px-2">
            <mat-label>Filter By List</mat-label>
            <mat-select  [(ngModel)]="listInp" name="listfilter"  (ngModelChange)="searchContacts(searchInp, sortInp, listInp, tagInp)">
                <mat-option value="" selected>All</mat-option>
                <mat-option value="NULL" selected>None</mat-option>
                <mat-option *ngFor="let list of lists" [value]="list.uniqueid">
                    {{list.name | titlecase}}
                  </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-2 px-2">
          <mat-label>Filter By Tag</mat-label>
          <mat-select  [(ngModel)]="tagInp" name="tagfilter"  (ngModelChange)="searchContacts(searchInp, sortInp, listInp, tagInp)">
              <mat-option value="" selected>All</mat-option>
              <mat-option *ngFor="let tag of tags" [value]="tag.uniqueid">
                  {{tag.name | titlecase}}
                </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-md-3 pl-0 align-items-center text-right">
          <button mat-raised-button color="accent" class="" [matMenuTriggerFor]="menu">
            Import/Export <mat-icon>import_export</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openDialog(importdialog, '')">
              <span>Import</span>
              <i class="fa-solid fa-upload ml-2"></i>
            </button>
            <button mat-menu-item (click)="openDialog(exportdialog, '')">
              <span>Export</span>
              <i class="fa-solid fa-download ml-2"></i>
            </button>
          </mat-menu>
          <button mat-raised-button (click)="openDialog(adddialog, contactObj)" color="primary" class="ml-2">Add Contact <i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="selectedContacts.length > 0">
        <div class="float-right mb-3 kb-delbtn" (click)="openDialog(delselecteddialog, selectedContacts)">
          <span class="">Delete Selected Contacts <i class="fa fa-trash-alt"></i></span>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="pagecontacts?.length != 0; else nodata">
      <div class="col-12">
        <table class="table kb-table" dataSource="contacts">
          <thead>
            <tr>
              <th>
                <mat-checkbox [(ngModel)]="checked_selected" (ngModelChange)="selectAllContacts($event)" matTooltip="Select All Page Contacts" matTooltipPosition="above"></mat-checkbox>
              </th>
              <th class="kb-table-sort" (click)="toggleSort('firstname')">Name <i class="fa-solid fa-up-long" *ngIf="sortInp == 'firstname ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'firstname DESC'"></i></th>
              <th class="kb-table-sort" (click)="toggleSort('email')">Email <i class="fa-solid fa-up-long" *ngIf="sortInp == 'email ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'email DESC'"></i></th>
              <th class="kb-table-sort" (click)="toggleSort('phone')">Phone <i class="fa-solid fa-up-long" *ngIf="sortInp == 'phone ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'phone DESC'"></i></th>
              <th class="kb-table-sort" (click)="toggleSort('created_at')">Created On <i class="fa-solid fa-up-long" *ngIf="sortInp == 'created_at ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'created_at DESC'"></i></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of pagecontacts; index as i">
             <td><mat-checkbox class="align-items-center" [(ngModel)]="contact.selected" matTooltipPosition="above" matTooltip="Click to Select" (ngModelChange)="selectContact($event, contact)"></mat-checkbox></td>
              <td (click)="editlink.click()" class="kb-td-link">
                  <span class="kb-table-icon mr-1">{{contactIcon(contact) | uppercase}}</span>
                  {{(contact.firstname ? contact.firstname : '--') + ' ' + (contact.lastname ? contact.lastname : '') | titlecase}}
              </td>
              <td (click)="editlink.click()" class="kb-td-link"><span class="text-lowercase">{{ contact.email | lowercase }}</span></td>
              <td>{{ contact.phone ? contact.phone : '--' }}</td>
              <td>{{ contact.created_at | date:'medium' }}</td>
              <td>
                <span class="d-flex align-items-center py-1">
                  <img #editlink src="./assets/images/Icon for KEA/edit.png" alt="Edit Icon" matTooltip="Edit" matTooltipPosition="above" class="kb-custom-icon mr-2" [routerLink]="['/crm/contact/'+contact.uniqueid]">
                  <img  src="./assets/images/Icon for KEA/delete.png" alt="Delete Icon" matTooltip="Delete" matTooltipPosition="above" class="kb-custom-icon ml-2" (click)="openDialog(deldialog, contact)">
                  <!-- <i #editlink mat-ripple matTooltip="Edit" matTooltipPosition="above" [routerLink]="['/crm/contact/'+contact.uniqueid]" class="fa fa-pencil px-4 kb-table-action-icon"></i>
                  <i mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(deldialog, contact)" class="fa fa-trash-alt px-4 kb-table-action-icon kb-icon-del"></i> -->
                </span>
              </td>                        
            </tr>
            
          </tbody>
        </table>
        <mat-paginator  #paginator [length]="contactlength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]" aria-label="Select page" (page)="getpagecontacts($event)"></mat-paginator>
      </div>
      
    </div>
</div>
<ng-template #nodata>
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <img
        src="/assets/images/website/website-empty.png"
        class="img-fluid"
        alt="No Contacts Found"
      />
    </div>
  </div>
</ng-template>
