<div id="kb-createfunnelsettings">
  <mat-progress-bar *ngIf="searching" mode='indeterminate'></mat-progress-bar>
    <div id="kb-buildfunnel-actions" *ngIf="popupsidebar">
      <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar">
        
        <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
        <h6><strong>ARCHIVE</strong></h6>
        <hr>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="pl-2">

          <mat-form-field class="kb-full-width" appearance="fill">
            <mat-label>Archive Reason</mat-label>
            <textarea matInput [(ngModel)]="form.reason" rows="10" name="reasons"></textarea>
            <small>Optional</small>
          </mat-form-field>

          <p>It will help you remember why you deleted it!</p>

          <button mat-raised-button color="primary" type="submit" >
            <i class="fas fa-archive"></i> Archive Funnel
          </button>

        </form>

      </div>
    </div>
    <div class="offcanvas-overlay " *ngIf="popupsidebar" (click)="hidepopupsidebar()"></div>
    
    <!-- <app-funnel-wizard-nav></app-funnel-wizard-nav> -->

    <div class="container-fluid loadEffect">
        <div class="row whitefunnel pt-5 pb-5">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form action="#" class="wizard-vertical wizard clearfix vertical" id="steps-uid-2">
                    <div class="steps clearfix">
                      <ul>
                        <li class="first" [class]="tabOpen3 == 'basic' ? 'current' : ''">
                          <a (click)="kb_settingsteps('basic')">
                            <span class="fonticon-wrap mr-1">
                              <i class="fas fa-cog"></i>
                            </span>
                            <span class="icon-title">
                              <span class="d-block">Basic Details</span>
                              <small class="text-muted">Setup your details here.</small>
                            </span>
                          </a></li>
                        <li [class]="tabOpen3 == 'smtp' ? 'current' : ''" *ngIf="hidefornow"><a (click)="kb_settingsteps('smtp')">
                            <span class="fonticon-wrap mr-1">
                              <i class="fas fa-mail-bulk"></i>
                            </span>
                            <span class="icon-title">
                              <span class="d-block">SMTP Configuration</span>
                              <small class="text-muted">Your SMTP Details here.</small>
                            </span>
                          </a></li>
                        <li [class]="tabOpen3 == 'tracking' ? 'current' : ''"><a (click)="kb_settingsteps('tracking')">
                            <span class="fonticon-wrap mr-1">
                              <i class="fas fa-code"></i>
                            </span>
                            <span class="icon-title">
                              <span class="d-block">Tracking</span>
                              <small class="text-muted">Your tracking code details.</small>
                            </span>
                          </a></li>
                        <li [class]="tabOpen3 == 'payment' ? 'current' : ''"><a (click)="kb_settingsteps('payment')">
                            <span class="fonticon-wrap mr-1">
                              <i class="fas fa-money-check-alt"></i>
                            </span>
                            <span class="icon-title">
                              <span class="d-block">Payment</span>
                              <small class="text-muted">Payment integration.</small>
                            </span>
                          </a></li>
                      </ul>
                    </div>
                    <div class="content clearfix">
                      <!-- step 1 content -->
                      <fieldset class="pt-0 body  " *ngIf="tabOpen3 == 'basic'" id="steps-uid-2-p-0" role="tabpanel"
                        aria-labelledby="steps-uid-2-h-0" aria-hidden="false">

                        <div class="row mt-4">
                          <div class="col-sm-6">
                              <mat-form-field class="kb-full-width" appearance="fill">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput placeholder="Funnel Name" name="funnelname" [(ngModel)]="funnelname" >
                              </mat-form-field>
                              <small class="text-muted form-text mt-n3">Name of this funnel</small>
                          </div>
                          <div class="col-sm-6">

                            <mat-form-field appearance="fill" class="kb-full-width">
                              <mat-label>Select Domain</mat-label>
                              <mat-select [(value)]="domainselected" >
                                <span *ngFor="let kbdomain of kbdomains; index as i;" >
                                  <mat-option [value]="kbdomain.name">
                                    {{kbdomain.name}}
                                  </mat-option>
                                </span>
                              </mat-select>
                              <small class="text-danger" *ngIf="domainconnerror">Domain Already Connected Please remove it from the connected website first!</small>
                            </mat-form-field>
                            <small class="text-muted form-text makedm"><a target="_blank" href="javascript:void(0)" routerLink="/domain">Add/Edit Domains</a></small>

                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-sm-6">

                            <mat-form-field class="kb-full-width" appearance="fill">
                              <mat-label>Tags</mat-label>
                              <mat-chip-list #chipList aria-label="Fruit selection">
                                <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                                  {{tag}}
                                  <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                  </button>
                                </mat-chip>
                                <input placeholder="Group Tags..."
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="add($event)">
                              </mat-chip-list>
                            </mat-form-field>

                            <small class="text-muted form-text mt-n3">The group this funnel belongs too</small>
                          </div>

                          <div class="col-sm-6">

                              <mat-form-field appearance="fill" class="kb-full-width">
                                  <mat-label>Select Homepage</mat-label>
                                  <mat-select [(value)]="pathselected" >
                                    <span *ngFor="let kbpage of kbpages; index as i;" >
                                      <mat-option [value]="kbpages[i].uniqueid" *ngIf="kbpages[i]['publish_status']==1">
                                        {{kbpages[i]['page_name']}}
                                      </mat-option>
                                    </span>
                                  </mat-select>
                              </mat-form-field>
                            <small class="text-muted form-text mt-n3">Choose the main Page of your funnel.</small>
                            
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-sm-12">

                            <div class="form-group">
                              <input type="file" name="" (change)="changeme2($event)" id="fileElemfavicon" accept=".png, .jpg, .jpeg" class="drop-zone__input">
                  
                              <div class="kb-upload-card_dropzone">
                                <div class="kb-upload-card_preview">
                                  <img alt="" class="kb-thumbnail img-fluid" style="border: none; padding: 0;"
                                    [src]="faviconimg">
                                </div>
                                <div class="kb-upload-card_body">
                                  <div class="kb-btn-group">
                                    <div class="kb-dropdown">
                                      <div class="kb-dropdown_trigger">
                  
                                        <button type="button" class="kb-btn" (click)="OnOpen2()">
                                          <span class="kb-btn_truncate-text">
                                            Choose a social image
                                          </span>
                                        </button>
                  
                                      </div>
                                    </div>
                  
                                  </div>
                                  <p class="mt-2"><small class="text-danger">{{typeerror2}}</small></p>
                  
                                  <p class="t-kb-body">Recommended dimensions of <strong>32x32</strong></p>
                                </div>
                              </div>
                            </div>



                            <small class="text-muted form-text mt-n3">Add a URL to your .png or .jpg favicon image. For ALL your pages inside your funnel.</small>

                          </div>
                        </div>
                      </fieldset>
                      <!-- step 1 content end-->
                      <!-- step 2 content -->
                      <fieldset class="pt-0 body " *ngIf="tabOpen3 == 'smtp'" id="steps-uid-2-p-1" role="tabpanel"
                        aria-labelledby="steps-uid-2-h-1" aria-hidden="true">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label for="proposalTitle1"><a>SMTP Configuation</a></label><br>
                              <small>Provide your <a>Account SMTP Settings</a> to customize outgoing emails from Keabuilder.</small>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <!-- step 2 content end-->
                      <!-- step 3 content -->
                      <fieldset class="pt-0 body " *ngIf="tabOpen3 == 'tracking'" id="steps-uid-2-p-2"
                        role="tabpanel" aria-labelledby="steps-uid-2-h-2" aria-hidden="true">
                        <div class="row">

                          <div class="col-sm-6">
                            <h5>Header Tracking Code</h5>
                            <p>Add custom javascript or CSS</p>
                            <mat-form-field class="kb-full-width" appearance="fill">
                              <mat-label>Head Code</mat-label>
                              <textarea rows="10" matInput name="headtrack" [(ngModel)]="headertracking" ></textarea>
                            </mat-form-field>
                          </div>

                          <div class="col-sm-6">
                            <h5>Footer Tracking Code</h5>
                             <p>Add custom javascript or CSS</p>
                            <mat-form-field class="kb-full-width" appearance="fill">
                              <mat-label>Footer Code</mat-label>
                              <textarea rows="10" matInput  name="bodytrack" [(ngModel)]="footertracking" ></textarea>
                            </mat-form-field>
                          </div>
                          
                          <div class="col-sm-12 mt-2">
                            <small class="mt-n3 form-text">This code will be placed in the head section of every page. <br><strong>NOTE: </strong> {{tagstyle}}</small>
                          </div>

                        </div>
                      </fieldset>
                      <!-- step 3 content end-->
                      <!-- step 4 content -->
                      <fieldset class="pt-0 body " *ngIf="tabOpen3 == 'payment'" id="steps-uid-2-p-3"
                        role="tabpanel" aria-labelledby="steps-uid-2-h-3" aria-hidden="true">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="kb-payment-stripe-i">
                              <i class="fab fa-stripe"></i>
                              <div class="showstatdomain">{{accountconnect}}</div>
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="form-group">
                              <!-- <mat-form-field class="kb-full-width" appearance="fill">
                                <mat-label>Stripe Account</mat-label>
                                <mat-select>
                                  <mat-option>{{accountconnect}}</mat-option>
                                </mat-select>
                              </mat-form-field> -->
                              <br>
                              <label for="">Test Mode</label>
                              <p style="line-height: 16px;">
                                <small style="line-height:10px;">Enable Test Mode for Stripe. Use CC number: 4012888888881881
                                  with any future Exp date and CVV number. Note: To test subscriptions, you MUST have
                                  subscription plans with the same ID in Stripe in Test mode and Live mode. In test mode disc
                                  delivered will not operate.</small>
                              </p>
                              <small *ngIf="accountconnect=='Connected'">
                                <a target="_blank" href="javascript:void(0)" routerLink="/sales/payment">Edit Stripe Details</a>
                              </small>
                              <small *ngIf="accountconnect == 'Not connnected'">
                                <a target="_blank" href="javascript:void(0)" routerLink="/sales/payment">Add Stripe Details</a>
                              </small>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="hidefornow">
                            <hr>
                          </div>
      
                          <div class="col-md-2" *ngIf="hidefornow">
                            <div class="kb-payment-stripe-i">
                              <i class="fab fa-cc-paypal"></i>
                            </div>
                          </div>
                          <div class="col-md-10" *ngIf="hidefornow">
                            <div class="form-group">
                              <mat-form-field class="kb-full-width" appearance="fill">
                                <mat-label>Paypal Account</mat-label>
                                <mat-select>
                                  <mat-option>Account not connnected</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <br>
                              <label for="">Test Mode</label>
                              <p style="line-height: 16px;">
                                <small style="line-height:10px;">Enable Test Mode for Stripe. Use CC number: 4012888888881881
                                  with any future Exp date and CVV number. Note: To test subscriptions, you MUST have
                                  subscription plans with the same ID in Stripe in Test mode and Live mode. In test mode disc
                                  delivered will not operate.</small>
                              </p>
                              <small>
                                <a href="">Edit Stripe Details</a>
                              </small>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <!-- step 4 content end-->
                    </div>
                    <div class="actions clearfix " id="kb-settingsaction">
                      <ul>
                        <li class="ml-2">
                          <button mat-raised-button color="accent" (click)="showpopup()">
                            <i class="fas fa-archive"></i> Archive Funnel
                          </button>
                        </li>
      
                        <li class="ml-2">
                          <button mat-raised-button color="accent" (click)="viewarchivefunnel()">
                            <i class="fas fa-binoculars"></i> View Archive Funnel Steps
                          </button>
                        </li>
      
                        <li class="ml-2">
                          <button mat-raised-button color="primary" (click)="updatesetting()" >
                             Update <i class="far fa-check-circle"></i>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>

</div>
