.fntli li{
  font-size: 11px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 5px;
  margin: 2px;
  background-color: rgb(233, 231, 231);
}
.fntilitem{
  font-size: 11px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  border-radius: 8px;  
  align-items: center;
  background-color: rgb(233, 231, 231);
}
.fntli{
  justify-items: center;
  padding-left: 5px;
}
.fntlitag{
 margin: 1px;
 padding: 1px;

}
.fntli-box{
  display: inline-block;
  width: 100%;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
  
 
}
.funtag1{
  margin-left: 10px;
  padding-left: 10px;
  font-size: 12px;
}
.funtag{
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  padding-left: 10px;
}


