<div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button class="mr-2" [routerLink]="['/sales/products']" routerLinkActive="active" ><i class="fa fa-product-hunt" aria-hidden="true"></i> Products</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/sales/offers']" routerLinkActive="active" ><i class="fa fa-percentage" aria-hidden="true"></i> Checkout</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/sales/coupons']" routerLinkActive="active"><i class="fa fa-file-alt" aria-hidden="true"></i> Coupons</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/sales/payment']" routerLinkActive="active"><i class="fa fa-dollar-sign" aria-hidden="true"></i> Payments</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/sales/affiliates']" routerLinkActive="active"><i class="fas fa-search-dollar" aria-hidden="true"></i> Affiliates</button>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
