.kb-domainul {
    padding: 0;
    list-style: none;
    display: inline-flex;
    column-gap: 40px;
    justify-content: space-between;
    width: 100%;
}
.kb-domainul li:first-child {
    font-size: 13px;
    background: #f3eee0;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 3px;
}
.kb-domainul.verified li:first-child i {
    color: #06ae78;
}
.kb-domainul > li >span > i {
    margin-left: 5px;
}
#kb-offer-actions .fa-times {
    position: absolute;
    right: 24px;
    z-index: 99999;
    cursor: pointer;
    top: 20px;
}
.mynsdetails{
    list-style: none;
    margin:0;
    padding:0;
}
.mynsdetails li span {
    font-size: 13px;
    background: #f3eee0;
    font-weight: bold;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 3px;
    margin: 10px;
    width: 100%;
    text-align: center;
}
#kb-offer-actions>div {
    overflow-y: scroll;
}
.outerdivnm p{
    word-break: break-word;
}
.onhidefirst{
    display: none;
}
.onloadingon span:first-child{
    display: none;
}
.onloadingon span:last-child{
    display: block;
}

