<div id="kb-domain">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-6 mt-4">
                <h2>Add your own domain to strengthen your brand</h2>
                <p>Add a custom domain to help customers remember your website. It's like vanity license plates for your business!</p>
                 <button mat-raised-button color="primary" class="mr-2 outer-card-add" >Add New Domain <i class="fa fa-paper-plane" aria-hidden="true"></i></button>

                 <mat-card class="mt-4">
                     <ul class="kb-domainul">
                        <li>Connected <i class="fa fa-check-circle" aria-hidden="true"></i></li>
                         <li>www.clickfunnel.com</li>
                         <li><button mat-raised-button>Edit <i class="fa fa-pen" aria-hidden="true"></i></button></li>
                     </ul>
                 </mat-card>

                 <mat-card class="mt-4">
                    <ul class="kb-domainul">
                        <li>Setup Pending <i class="fa fa-clock" aria-hidden="true"></i></li>
                        <li>www.google.com</li>
                        <li><button mat-raised-button>Edit <i class="fa fa-pen" aria-hidden="true"></i></button></li>
                    </ul>
                </mat-card>

            </div>
            <div class="col-md-5">
                <img src="/assets/images/domain/domain-names.png" class="img-fluid" alt="" srcset="">
            </div>
        </div>
    </div>
</div>