  <!-- add new offer -->
  <ng-template #adddialog>
    <h1 mat-dialog-title>Add Offer</h1>
    <div mat-dialog-content>
      <mat-error *ngIf="hasError.name">{{hasError.name}}</mat-error>
      <mat-form-field class="kb-full-width" appearance="fill" [class.mat-form-field-invalid]="hasError.name">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Offer name" [(ngModel)]="offerObj.name" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right">
        <button mat-button mat-dialog-close class="text-danger">Cancel</button>
        <button mat-button mat-dialog-close (click)="addoffer()" color="primary" [disabled]="!offerObj.name">Add</button>
    </div>
  </ng-template>
  <!-- add new offer -->
   <!-- update offer -->
   <ng-template #updatedialog>
    <h1 mat-dialog-title>Update Order Form</h1>
    <div mat-dialog-content>
      <mat-error *ngIf="hasError.name">{{hasError.name}}</mat-error>
      <mat-form-field class="kb-full-width" appearance="fill" [class.mat-form-field-invalid]="hasError">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Order Form name" [(ngModel)]="offerObj.name" required [minlength]="3">
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right">
        <button mat-button mat-dialog-close class="text-danger">Cancel</button>
        <button mat-button mat-dialog-close (click)="updateoffer()" color="primary" [disabled]="!offerObj.name">Update</button>
    </div>
  </ng-template>
  <!-- update offer -->
  <!-- duplicate offer -->
  <ng-template #dupdialog>
    <h1 mat-dialog-title >Duplicate Product</h1>
    <div mat-dialog-content>
      Would you like to duplicate <span class="kb-temp-text-primary">{{offerObj.name}}</span> offer?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">No</button>
      <button mat-button mat-dialog-close (click)="duplicateoffer(offerObj)" [color]="'primary'">Yes</button>
    </div>
  </ng-template>
  <!-- duplicate offer -->
  <!-- delete offer -->
  <ng-template #deldialog>
    <h1 mat-dialog-title class="kb-danger">Delete Product</h1>
    <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{offerObj.name}}</span> offer?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close [color]="'primary'">No</button>
      <button mat-button mat-dialog-close (click)="deleteoffer()" class="text-danger">Yes</button>
    </div>
  </ng-template>
  <!-- delete offer -->
  <div class="container-fluid">
    <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div class="row">
      <div class="col-md-8 pr-0">
        <mat-form-field appearance="fill" class="col-md-6 p-0">
            <mat-label>Search offers by name</mat-label>
            <input matInput [(ngModel)]="searchInp" (input)="searchoffers(searchInp, sortInp)" name="searchvalue" type="text" placeholder="Search offers">
            <button *ngIf="searchInp" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
              <mat-icon>close</mat-icon>
            </button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </mat-form-field>
</div>
        <div class="col-md-4 text-right">
            <button mat-raised-button (click)="openDialog(adddialog, offerObj)" color="primary" class="mx-2">Add Offer <i
                class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table kb-table">
          <thead>
            <tr>
              <th class="kb-table-sort" (click)="toggleSort('name')">Name <i class="fa-solid fa-up-long" *ngIf="sortInp == 'name ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'name DESC'"></i></th>
              <th>Products</th>
              <th>Price</th>
              <th>Sold</th>
              <th>Revenue</th>
              <th class="kb-table-sort" (click)="toggleSort('created_at')">Created On <i class="fa-solid fa-up-long" *ngIf="sortInp == 'created_at ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'created_at DESC'"></i></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offer of offers; index as i">
              <td (click)="editlink.click()" class="kb-td-link">
                <span>{{offer.name | titlecase}}</span>
              </td>
              <td class="kb-td-link kb-text-overflow">
                <span>{{offer.product_id ? offer.product_id.split(',').length : 0}}</span>
              </td>
              <td>{{ offer.payment_type == 'onetime' ? (convertToJSON(offer.currency)?.symbol + offer.price) : (offer.payment_type == 'recurring' ? 'Subscribed' : 'free') }}</td>
              <td>{{offer.offerid_count}}</td>
              <td>{{convertToJSON(offer.currency)?.symbol}}{{offer.total_salesamount}} {{convertToJSON(offer.currency)?.code}}</td>
              <td>{{ offer.created_at | date:'medium' }}</td>
              <td>
                <span class="d-flex">
                  <i #editlink mat-ripple matTooltip="Edit" matTooltipPosition="above" [routerLink]="offerLink+offer.uniqueid" class="fa fa-pencil px-4 kb-table-action-icon"></i>
                  
                  <i #editdialog mat-ripple matTooltip="Quick Edit" matTooltipPosition="above" (click)="openDialog(updatedialog, offer)" class="fa fa-edit px-4 kb-table-action-icon"></i>

                  <i mat-ripple matTooltip="Duplicate" matTooltipPosition="above"  (click)="openDialog(dupdialog, offer)" class="fa fa-copy px-4 kb-table-action-icon"></i>
                  <i mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(deldialog, offer)" class="fa fa-trash-alt px-4 kb-table-action-icon kb-icon-del"></i>
                </span>
              </td>                        
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <mat-paginator  #paginator [length]="offerlength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]" aria-label="Select page" (page)="getpageoffers($event)"></mat-paginator>
      </div>
    </div>
  </div>