.cardpage >div{
    box-shadow: -10px 15px 30px 0 rgb(25 42 70 / 13%);
    padding: 20px;
    border-radius: 8px;
}
.img-fit{
    height: 265px;
    object-fit: cover;
}
.keabuilder-title-board, .keabuilder-title {
  padding: 15px 0px;
}
.keabuilder-title-board input {
    display:none;
    background-color: #475F7B;
    color: #FFFFFF;
    border-radius: 0.267rem;
    outline: none;
    text-overflow: clip;
    font-size: 14px;
    width:100%;
}
.keabuilder-title-board:hover span {
    display: none;
}
.keabuilder-title-board:hover input {
 display: block;
}
.statbadg{
    position: absolute;
    top: 0px;
    right: 13px;
}

.statusbadge {
    color: #ffffff;
    background-color: var(--secondary-color);
    font-size: 12px;
    padding: 2px 12px;
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.statusbadge.active2 {
    background-color: #e0e0e0;
    color: var(--secondary-color);
}

.kb-dropdown__status{
    top: 30px;
    min-width: 156px;
}
.kb-dropdown__panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.kb-dropdown__panel li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    list-style: none;
    padding: 5px 0px 5px 20px;
    color:#444;
    font-size: 14px;
}
.kb-dropdown__panel li a:hover {
    background-color: #f4f8fa;
}
.kb-pagedate {
    font-size: 13px;
    color: #988e71;
}
.kb-page-settting {
    float: right;
    color: #6c757d;
    font-size: 20px;
    padding: 3px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.kb-page-settting:hover {
    transform: rotate(
30deg);
}
.kb-dropdown__panel {
    position: absolute;
    right: 0px;
    top: calc(100% + 5px);
    min-width: 280px;
    width: auto;
    border-radius: 0.375rem;
    background-color: #fff;
    box-shadow: 0 8px 14px rgb(0 0 0 / 16%), 0 0 4px rgb(0 0 0 / 8%);
    padding: 10px;
    z-index: 9;
}
 .kb-dropdown__panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.kb-dropdown__panel li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    list-style: none;
    padding: 5px 0px 5px 20px;
    color:#444;
    font-size: 14px;
}
.kb-dropdown__panel li a:hover {
    background-color: #f4f8fa;
}
.pagemainlink button{
    float:right;
}

.kea-barfieldset{
    width: 100%;
}
.form-control-position {
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgba(0,0,0,.4);
    cursor: pointer;
}
.has-icon-left .form-control-position {
    right: auto;
}
.has-icon-left .form-control {
    border-color: #DFE3E7;
    font-size: 13px;
    padding: 20px 10px 20px 30px;
}

#kb-offcanvas-actions .offcanvas.fulltemplate{
    width:96%;
}


.kb-fitimg {
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }
  
  .kb-fitimg:hover {
      background-position: center bottom;
  }


  #loader {
    animation: loader 5s linear infinite;
    position: relative;
    top: calc(45% - 20px);
    left: calc(50% - 20px);
  }
  @keyframes loader {
        0% {left: 45%;}
        50% { left: 55%;}
        100% { left: 45%;}
    }
  #box {
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  @keyframes animate {
    17% { border-bottom-right-radius: 3px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
      transform: translateY(18px) scale(1,.9) rotate(45deg) ;
      border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
  } 
  #shadow { 
    width: 60px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 69px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
  @keyframes shadow {
    50% {
      transform: scale(1.2,1);
    }
  }

  .kb-imgviewchange{
    height: 90px;
  }
  
 table {
    width: 100%;
  }

  .statehome {
    position: absolute;
    top: 2px;
    left: 15px;
    color: #ffffff;
    background-color: var(--primary-color);
    font-size: 12px;
    padding: 2px 12px;
    border-radius: 0px 50px 50px 0px;
}

@media only screen and (max-width:500px){
    
    .pagemainlink button {
        width: 30%;
        margin: 10px 10px 0px 0px!important;
    }
    .mobkeaadjust button{
        width: 94%;
    }
    .mobkeaadjust mat-form-field{
        width: 94%;
        margin: 10px;
    }
    .mobadjust button{
        width: 31%;
    }
    .keamobhd{
        display: none;
    }
    .mobkeaadjust .mat-form-field {
        margin-bottom: -20px!important;
    }

}