  <!-- add strip-->
  <ng-template #addstripe>
    <h6 mat-dialog-title><strong><img [src]="stripecontentactive==true?'/assets/images/payment/stripe-logo.png':'/assets/images/payment/paypal-logo.png'" width="20" alt="" srcset=""> {{stripecontentactive==true?'Stripe':'Paypal'}}</strong></h6>
    <div mat-dialog-content>
        <mat-form-field class="kb-full-width" appearance="fill" *ngIf="stripecontentactive">
            <mat-label>Stripe Key</mat-label>
            <input type="text" matInput required [formControl]="stripekey" >
            <mat-error *ngIf="stripekey.hasError('required')">
                Stripe Key is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="kb-full-width mb-1" appearance="fill" *ngIf="stripecontentactive">
        <mat-label>Stripe Secret</mat-label>
        <input type="text" matInput required [formControl]="stripesecret" >
        <mat-error *ngIf="stripesecret.hasError('required')">
            Stripe secret is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill" *ngIf="paypalcontentactive" >
            <mat-label>Paypal Account Email</mat-label>
            <input type="email" matInput required minlength="3" maxlength="140" [formControl]="paypalemail" >
            <mat-error *ngIf="paypalemail.hasError('required')">
                Paypal Account Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill" *ngIf="paypalcontentactive">
            <mat-label>Client Id</mat-label>
            <input type="text" matInput required [formControl]="paypalclientid">  
            <mat-error *ngIf="paypalclientid.hasError('required')">
                Paypal Client Id is <strong>required</strong>
              </mat-error>              
        </mat-form-field>

        <mat-form-field class="kb-full-width mb-1" appearance="fill" *ngIf="paypalcontentactive">
            <mat-label>Secret</mat-label>
            <input type="text" matInput required [formControl]="paypalsecret">
            <mat-error *ngIf="paypalsecret.hasError('required')">
                Paypal Secret is <strong>required</strong>
              </mat-error> 
        </mat-form-field>
    </div>
    <hr>
    <p>Account details</p>
    <div *ngIf="stripecontentactive">
        <small>Integrate your Stripe account and allow your customers to use their credit cards during checkout.</small>
        <!-- <br>
        <small>Before detaching your payment integration, please review this article for the impact this action will have on your account. If you would like to proceed with the detachment, please contact Support. </small> -->
        <a href="https://stripe.com/docs/keys" target="_blank" matTooltip="Where can i find this?" matTooltipPosition="left" class="wherehelp d-inline-block"><i class="fas fa-question-circle"></i></a>
    </div>

    <div *ngIf="paypalcontentactive">
        <small>Connect your account to Keabuilder to let customers check out with PayPal. </small>
        <span matTooltip="Where can i find this?" matTooltipPosition="left" class="wherehelp"><i class="fas fa-question-circle"></i></span>
    </div>
    <div mat-dialog-actions class="justify-content-end">
        <button mat-button mat-dialog-close class="text-danger">No</button>
        <button mat-button  mat-dialog-close cdkFocusInitial [color]="'primary'" (click)="stripecontentactive==true ? connectstripe() : connectpaypal()">Yes</button>
    </div>
    </ng-template>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-7 mt-4">
               <span class="d-flex "><h2>Payment Integrations</h2><span><i matTooltip="Learn More" matTooltipPosition="above" style="font-size: 18px;" class="fa-regular fa-circle-question ml-2 mt-2 "></i></span></span>
                <p>Collect payments on the Offers you sell in Keabuilder. We offer a variety of ways your members will be able to pay for your products.</p>

                 <mat-card class="mt-4">
                     <ul class="kb-paymentul">
                         <li> <img src="/assets/images/payment/stripe-logo.png" width="20" alt="" srcset=""> Stripe</li>
                         <li>Keabuilder with Stripe to provide you with the easiest way to accept credit cards from your members.</li>
                         <li><button mat-raised-button  (click)="openDialog(addstripe,'stripe')"  [color]="'primary'">{{sripestatus}} <i class="fa fa-paper-plane" aria-hidden="true"></i></button></li>
                     </ul>
                 </mat-card>
<!-- 
                 <mat-card class="mt-4">
                    <ul class="kb-paymentul">
                        <li><img src="/assets/images/payment/paypal-logo.png" width="20" alt="" srcset=""> Paypal</li>
                        <li>Connect your account to Keabuilder to let customers check out with PayPal.</li>
                        <li><button mat-raised-button (click)="openDialog(addstripe,'paypal')" [color]="'primary'">{{paypalstatus}} <i class="fa fa-paper-plane" aria-hidden="true"></i></button></li>
                    </ul>
                </mat-card> -->

            </div>
            <div class="col-md-5">
                <img src="/assets/images/payment/payment-integration.png" class="img-fluid" alt="" srcset="">
            </div>
        </div>
    </div>



            
    