<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div class="px-5 py-2  d-flex justify-content-between align-items-center">
      <h2>{{boardName | titlecase}}</h2>
      <a mat-fab extended routerLink="/scrumboard" matTooltip="Go To Boards" matTooltipPosition="above" class="boardBtn text-light">
        <mat-icon>dns</mat-icon>
      </a>
    </div>
    <div class="wrapper p-5">
      <div cdkDropListGroup class="d-flex gap-4 mainContainer">
        <div *ngFor="let container of containers" class="draggable-container " cdkDropList
          [cdkDropListData]="container.list_item" (cdkDropListDropped)="drop($event, container)">
  
          <div class="d-flex align-items-center justify-content-between px-2 mb-1">
            <h2 class=" m-0 fs-6 listTitle" *ngIf="listTitleInput !== container.uniqueid">{{container.name}}</h2>
            <div *ngIf="listTitleInput === container.uniqueid">
              <input type="text" placeholder="Enter list title..." class="p-2 rounded-2 listInput w-100"
                [formControl]="titleInputFormControl" (keyup.enter)="updateListTitle()" (focusout)="updateListTitle()" #listTitleInputt>
            </div>
            <div class="d-flex align-items-center justify-content-center ">
              <div class="fabIcon rounded-circle text-light">{{container.list_item.length}}</div>
              <mat-icon class="fs-6 text-end moreVertIcon mt-2" [matMenuTriggerFor]="menu">more_vert</mat-icon>
              <mat-menu #menu="matMenu" class="menuContainer">
                <button mat-menu-item class="kb-table-action-icon" (click)="showListTitleInput(container.uniqueid, container.name)">
                  <!-- <mat-icon class="me-1 fs-5 text-dark">edit</mat-icon>Edit Title -->
                  <i class="fa fa-pencil px-2"></i> Edit
                </button>
                <button mat-menu-item class="kb-table-action-icon" (click)="deleteList(container.uniqueid)">
                  <!-- <mat-icon class="me-1 fs-5 text-dark">delete_outline</mat-icon>Delete List -->
                  <i class="fa fa-trash-alt px-2 kb-table-action-icon kb-icon-del"></i> Delete
                </button>
              </mat-menu>
            </div>
          </div>
  
  
          <!-- LIST ITEM CONTAINER -->
          <div class="rounded-2 listCard p-2">
  
  
  
            <!-- ALL LIST ITEM -->
            <div class="draggable rounded-2 bg-light-subtle d-flex justify-content-between align-items-center" (cdkDragStarted)="onDragStart(container)"
              *ngFor="let item of container.list_item; let i = index" cdkDrag>
              <div class="px-2 py-2" *ngIf="(listItemContainer?.uniqueid !== container.uniqueid) || (listItemId !== i)">
                {{ item }}
              </div>
              <div *ngIf="(listItemContainer?.uniqueid === container.uniqueid) && (listItemId === i)" class="h-100 p-1">
                <textarea placeholder="Enter list title..." class="p-2 rounded-2 listInput w-100"
                  [formControl]="listItemEditFormControl" (keyup.enter)="updateListItemText()" (focusout)="updateListItemText()" #listItemInputt></textarea>
              </div>
              <div class="">
                <mat-icon class="fs-6 text-end moreVertIcon mt-2 text-center" [matMenuTriggerFor]="listItem">
                  more_vert
                </mat-icon>
                <mat-menu  class="menuContainer" #listItem="matMenu">
                  <button mat-menu-item class="kb-table-action-icon" (click)="showListItemEditInput(container, i, item)">
                    <!-- <mat-icon class="me-1 fs-5 text-dark" >edit</mat-icon>Edit Text -->
                    <i class="fa fa-pencil px-2"></i> Edit
                  </button>
                  <button mat-menu-item class="kb-table-action-icon" (click)="deleteListItem(container, i)">
                    <!-- <mat-icon class="me-1 fs-5 text-dark">delete_outline</mat-icon>Delete Item -->
                    <i class="fa fa-trash-alt px-2 kb-table-action-icon kb-icon-del"></i> Delete
                  </button>
                </mat-menu>
              </div>
              
            </div>
  
            <!-- ADD LIST ITEM CONTINER -->
            <div class="d-flex justify-content-center align-items-center addListItem p-2 rounded-2">
  
  
              <!-- ADD NEW LIST ITEM BUTTON -->
              <div class="d-flex justify-content-center align-items-center" *ngIf="listId !== container.uniqueid"
                (click)="showAddListItemInput(container.uniqueid)">
                <mat-icon class="bg-light rounded-circle mr-2">add</mat-icon>
                <span>Add another card</span>
              </div>
  
  
              <!-- ADD NEW LIST ITEM INPUT -->
              <div *ngIf="listId === container.uniqueid" class="py-2 w-100">
                <input type="text" placeholder="Enter list title..." class="p-2 rounded-2 listInput w-100" [formControl]="listItemFormControl">
                <div class="d-flex justify-content-between align-items-center mt-2 gap-2">
                  <button mat-raised-button color="primary" (click)="addListItem(container)">Add Item</button>
                  <button mat-mini-fab class="fs-6" (click)="showAddListItemInput(container.uniqueid)">
                    <mat-icon class="text-light">close</mat-icon>
                  </button>
                </div>
              </div>
  
  
            </div>
  
  
          </div>
        </div>
  
  
        <!-- ADD NEW LIST CONTAINER -->
        <div class="rounded-2 listCard p-2 addNewListDiv">
          <div class="addListItem rounded-2">
            <div class="d-flex justify-content-center align-items-center p-2" *ngIf="!addListInputShow"
              (click)="showAddListInput()">
              <mat-icon class="bg-light rounded-circle mr-2">add</mat-icon>
              <span>Add another list</span>
            </div>
            <div *ngIf="addListInputShow" class="p-2">
              <input type="text" placeholder="Enter list title..." class="p-2 rounded-2 listInput w-100"
                [formControl]="listNameFormControl">
              <div class="d-flex align-items-center justify-content-between mt-2 gap-2">
                <button mat-raised-button color="primary" (click)="addList()">Add list</button>
                <button mat-mini-fab class="fs-6" (click)="showAddListInput()">
                  <mat-icon class="text-light">close</mat-icon>
                </button>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
