.cardpage>div{
    box-shadow: -10px 15px 30px 0 rgb(25 42 70 / 13%);
    padding: 20px;
    border-radius: 8px;
}

.kb-title-board input {
    display:none;
    background-color: #475F7B;
    color: #FFFFFF;
    border-radius: 0.267rem;
    outline: none;
    text-overflow: clip;
    font-size: 14px;
    width:100%;
}
.kb-title-board:hover span {
    display: none;
}
.kb-title-board:hover input {
 display: block;
}

.kb-page-settting {
    float: right;
    color: #6c757d;
    font-size: 20px;
    padding: 3px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.kb-page-settting:hover {
    transform: rotate(
30deg);
}

.kb-fitimg {
    height: 120px;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
  }
  
  .kb-fitimg:hover {
      background-position: center bottom;
  }