<div id="createfunnel">

  <div id="kb-automation-actions" *ngIf="poupsidebar">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on" *ngIf="automationaddnewaction">
      <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
      <h6><b>NEW FUNNEL STEPS</b></h6>
      <p><i class="fas fa-cogs"></i> Action Settings</p>
      <hr>
      <label for="">Name</label>
      <input type="text" placeholder="Give your action a name" class="form-control">
      <label for="" class="mt-3">Condition</label>
      <select name="" id="" class="form-control">
        <option value="">Everyone</option>
      </select>
      <label for="" class="mt-3">Integration</label>
      <select name="" id="" class="form-control">
        <option value="">Keabuilder Integration</option>
      </select>
      <label for="" class="mt-3">Action To Do</label>
      <select name="" id="" class="form-control">
        <option value="">Add To List</option>
        <option value="">Remove From List</option>
        <option value="">Email Notification</option>
        <option value="">Add Tag</option>
        <option value="">Remove Tag</option>
      </select>
      <br>
      <p><i class="far fa-clock"></i> Action Delay</p>
      <hr>
      <label for="">Delay Days</label>
      <input type="number" placeholder="# Of Days Before Action Happens..." class="form-control">
      <label for="" class="mt-3">Delay Hours</label>
      <input type="number" placeholder="# Of Hours Before Action Happens..." class="form-control">
      <br>
      <button class="btn btn-primary"><i class="fas fa-plus"></i> Create Funnel Action</button>

    </div>

    <div class="offcanvas offcanvas-right p-4 offcanvas-on" *ngIf="automationaddnewemail">
      <h6><b>CREATE NEW EMAIL</b></h6>
      <p>Provide your <a href="#">Account SMTP Settings</a> to customize outgoing emails from Keabuilder</p>
    </div>

    <div class="offcanvas offcanvas-right p-4 offcanvas-on" *ngIf="automationaddnewtext">
      <h6><b>CREATE NEW TEXT</b></h6>
      <p>Create a <a href="#">Twilio SMS Integration</a> first to customize outgoing text messages from
        Keabuilder</p>
    </div>

  </div>
  <div class="offcanvas-overlay " *ngIf="poupsidebar" (click)="hidepopupsidebar()"></div>


  <header class="wizard-nav">
    <div class="wizard-steps">
      <!--begin::Wizard Step 1 Nav-->
      <div class="wizard-step" data-wizard-type="step"
        [attr.data-wizard-state]="mainOpen == 'steps' ? 'current' : 'pending'" (click)="kb_mainsteps('steps')">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-filter"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">My Funnel Name</div>
            <div class="wizard-desc">Steps</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 1 Nav-->
      <!--begin::Wizard Step 2 Nav-->
      <div class="wizard-step" data-wizard-type="step"
        [attr.data-wizard-state]="mainOpen == 'stats' ? 'current' : 'pending'" (click)="kb_mainsteps('stats')">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="far fa-chart-bar"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">STATS</div>
            <div class="wizard-desc">View Your Stats</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 2 Nav-->
      <!--begin::Wizard Step 3 Nav-->
      <div class="wizard-step" data-wizard-type="step"
        [attr.:data-wizard-state]="mainOpen == 'contacts' ? 'current' : 'pending'" (click)="kb_mainsteps('contacts')">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-users"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">CONTACTS</div>
            <div class="wizard-desc">Check Your Contacts</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 3 Nav-->
      <!--begin::Wizard Step 4 Nav-->
      <div class="wizard-step" data-wizard-type="step"
        [attr.:data-wizard-state]="mainOpen == 'sales' ? 'current' : 'pending'" (click)="kb_mainsteps('sales')">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-money-check-alt"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">SALES</div>
            <div class="wizard-desc">See Your Sales</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 4 Nav-->
      <!--begin::Wizard Step 5 Nav-->
      <div class="wizard-step" data-wizard-type="step"
        [attr.:data-wizard-state]="mainOpen == 'settings' ? 'current' : 'pending'" (click)="kb_mainsteps('settings')">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-sliders-h"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">SETTINGS</div>
            <div class="wizard-desc">Review Your Settings</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 5 Nav-->

    </div>
  </header>
  <div class="container-fluid">
    <div class="row whitefunnel loadEffect" *ngIf="mainOpen == 'steps'">
      <div class="col-md-3 pb-3 pt-3 rightbrder">
        <button class="btn btn-primary mt-2 btn-block mb-3" (click)="addsteps"><i class="fas fa-plus"></i>
          Add A Step</button>
        <div class="Keabuilder-item" [class]="tabOpen2 == element.id ? 'success' : ''"
          (click)="kb_substeps2(element.id)" *ngFor="let element of steps; index as i;" [attr.key]="element.id"
          [attr.data-listid]="element.id">
          <div class="keabuilder-title-board">
            <span>{{ element.name }}</span>
            <input type="text" [ngModel]="element.name">
          </div>

          <i class="fas fa-grip-lines float-right mt-1"></i>
          <div class="btn-group float-right mr-1">
            <div class="cursor-pointer dropdownMenuButton" role="button">
              <i class="fas fa-ellipsis-v"></i>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="fas fa-link"></i> Copy Link
                </a>
                <a class="dropdown-item Keabuilder-delete" href="javascript:void(0);">
                  <i class="far fa-clone"></i> Duplicate
                </a>
                <a class="dropdown-item Keabuilder-changepath" href="javascript:void(0);">
                  <i class="fas fa-pen-fancy "></i> change path
                </a>
                <a class="dropdown-item Keabuilder-delete" href="javascript:void(0);">
                  <i class="far fa-trash-alt"></i> Archive
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- </draggable> -->

      </div>
      <!-- col -->
      <div class="col-md-9">
        <div class="wizard-nav">
          <div class="wizard-steps" id="secondwizard">
            <div class="showwhendrag"><i class="fas fa-caret-down"></i></div>
            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending"></div>
            <div class="wizard-step" data-wizard-type="step"
              [attr.:data-wizard-state]="tabOpen == 'overview' ? 'current' : 'pending'"
              (click)="kb_substeps('overview')">
              <div class="wizard-wrapper">
                <div class="wizard-number"><i class="fas fa-th"></i></div>
                <div class="wizard-label">
                  <div class="wizard-title">Overview</div>
                </div>
              </div>
            </div>
            <div class="wizard-step" data-wizard-type="step"
              [attr.:data-wizard-state]="tabOpen == 'automation' ? 'current' : 'pending'"
              (click)="kb_substeps('automation')">
              <div class="wizard-wrapper">
                <div class="wizard-number"><i class="fas fa-bolt"></i></div>
                <div class="wizard-label">
                  <div class="wizard-title">Automation</div>
                </div>
              </div>
            </div>
            <div class="wizard-step" data-wizard-type="step"
              [attr.:data-wizard-state]="tabOpen == 'publishing' ? 'current' : 'pending'"
              (click)="kb_substeps('publishing')">
              <div class="wizard-wrapper">
                <div class="wizard-number"><i class="fas fa-wrench"></i></div>
                <div class="wizard-label">
                  <div class="wizard-title">Publishing</div>
                </div>
              </div>
            </div>
          </div>

          <!-- templates -->
          <div class="kb-templates loadEffectFromLeft" *ngIf="tabOpen == 'overview'">
            <ul class="kb-temp-ul">
              <li>
                <a href="">
                  <i class="fas fa-envelope"></i> OPTIN
                  <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-envelope"></i> Email Optin</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-download"></i> Thank you</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""><i class="fas fa-shopping-cart"></i> SALES <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-search-dollar"></i> Sales Page</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-rocket"></i> Product Launch</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-shopping-cart"></i> Order Form</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-level-up-alt"></i> One Click Upsell (OTO)</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-level-down-alt"></i> One Click Downsell</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-check-circle"></i> Order Confirmation</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""><i class="fas fa-microphone-alt"></i> WEBINAR <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-mail-bulk"></i> Registration</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-download"></i> Thank you</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-microphone"></i> Boadcast Room</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""><i class="fas fa-graduation-cap"></i> MEMBERSHIP <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-sign-in-alt"></i> Membership Access</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-tachometer-alt"></i> Membership Area</a>
                  </li>
                </ul>
              </li>
              <li><a href=""><i class="fas fa-external-link-square-alt"></i> CLICKPOPUP</a></li>
              <li><a href=""><i class="fas fa-bars"></i> OTHER</a></li>
            </ul>

            <ul class="kb-showtemplates">
              <li>
                <a href=""><i class="fas fa-file-alt"></i> SHOW MY TEMPLATES</a>
              </li>
              <li>
                <a href="" class="active"><i class="fas fa-envelope"></i> EMAIL OPTIN TEMPLATES</a>
              </li>
              <li>
                <a [routerLink]="['/builder']">
                  <i class="fas fa-plus"></i> BUILD FROM SCRATCH
                </a>
              </li>
            </ul>

            <ul class="kb-alltemplates mb-5">
              <li>
                <div class="kb-showtemp-header">
                  <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="">
                </div>
                <div class="kb-showtemp-footer">
                  <p>Step 1</p>
                  <button class="btn btn-primary"><i class="fas fa-plus-square"></i> Select
                    Template</button>
                  <button class="btn btn-secondary"><i class="fas fa-eye"></i> Preview</button>
                </div>
              </li>
              <li>
                <div class="kb-showtemp-header">
                  <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="">
                </div>
                <div class="kb-showtemp-footer">
                  <p>Blog Render</p>
                  <button class="btn btn-primary"><i class="fas fa-plus-square"></i> Select
                    Template</button>
                  <button class="btn btn-secondary"><i class="fas fa-eye"></i> Preview</button>
                </div>
              </li>
              <li>
                <div class="kb-showtemp-header">
                  <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="">
                </div>
                <div class="kb-showtemp-footer">
                  <p>Blog Render</p>
                  <button class="btn btn-primary"><i class="fas fa-plus-square"></i> Select
                    Template</button>
                  <button class="btn btn-secondary"><i class="fas fa-eye"></i> Preview</button>
                </div>
              </li>
              <li>
                <div class="kb-showtemp-header">
                  <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="">
                </div>
                <div class="kb-showtemp-footer">
                  <p>Clean leanding</p>
                  <button class="btn btn-primary"><i class="fas fa-plus-square"></i> Select
                    Template</button>
                  <button class="btn btn-secondary"><i class="fas fa-eye"></i> Preview</button>
                </div>
              </li>
              <li>
                <div class="kb-showtemp-header">
                  <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="">
                </div>
                <div class="kb-showtemp-footer">
                  <p>Big Sale</p>
                  <button class="btn btn-primary"><i class="fas fa-plus-square"></i> Select
                    Template</button>
                  <button class="btn btn-secondary"><i class="fas fa-eye"></i> Preview</button>
                </div>
              </li>
            </ul>
          </div>
          <!-- templates -->

          <div class="kb-overview loadEffectFromLeft" *ngIf="tabOpen == 'overviewstep'">
            <div class="sage-input site_support_email mt-3">
              <input class="sage-input__field" type="url" value="/optin" id="site_support_email">
              <label class="sage-input__label" for="site_support_email">Your Link</label>
              <span class="kb-settings-i"><i class="fas fa-cog"></i></span>
              <span class="kb-sharelink"><i class="fas fa-external-link-alt"></i></span>
            </div>

            <div class="kb-insidebodycard row pb-5">
              <div class="kb-insidecard col-md-4">
                <div class=" kb-internalshadow ">
                  <div class="toast toast-light toast-translucent mr-auto ml-auto pt-2 pb-2" role="alert"
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <span class="mr-auto toast-title">Main</span>
                      <i class="fas fa-history pr-2"></i>
                      <small class="d-sm-block d-none">11 mins ago</small>
                    </div>
                    <div class="toast-body yesdeclarewinner">
                      <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="Kia Builder Logo">
                      <div class="declarewinner">
                        <i class="fas fa-trophy"></i>
                        <a href="#">
                          Declare As winner
                        </a>
                      </div>
                    </div>
                    <div class="toast-header">
                      <button class="btn btn-secondary btn-block mr-2"><i class="fas fa-pen"></i> Edit Page</button>
                      <button class="btn btn-secondary mr-2"><i class="fas fa-external-link-alt"></i></button>
                      <button class="btn btn-secondary "><i class="fas fa-cog"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="kb-insidecard col-md-4 kb-internalshadow">
                <div class=" kb-internalshadow">
                  <div class="toast toast-light toast-translucent mr-auto ml-auto pt-2 pb-2" role="alert"
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <span class="mr-auto toast-title">Split Test</span>
                      <i class="fas fa-bolt mr-2"></i>
                      <small class="d-sm-block d-none">Optmize your lead</small>
                    </div>
                    <div class="toast-body">
                      <div class="progress progress-bar-success progress-sm" style="display:flex;">
                        <div class="progress-bar" id="kb-changemyprogress" role="progressbar" aria-valuenow="79"
                          aria-valuemin="101" aria-valuemax="100" style="width: 50%;"></div>
                      </div>
                      <input type="range" min="0" max="100" value="50" id="kb-splittestmake" (change)="totalmy()">
                      <div class="splitTestText control">
                        <span class="number" id="kb-control">50%</span>
                        of traffic
                      </div>
                      <div class="splitTestText variation">
                        <span class="number" id="kb-variation">50%</span>
                        of traffic
                      </div>
                      <div class="savechangesvs">
                        <h6>Ready to go</h6>
                        <p>You've changed your split test, which will invalidate any
                          previous results. Please confirm that you'd like to apply these
                          changes and start the test over</p>
                        <button class="btn btn-primary">Apply Changes</button>
                      </div>

                    </div>
                    <div class="kb-split-text pl-2 pr-2" style="display:none;">
                      <div class="btn-block mb-3">
                        <div class="svgimg3">
                          <svg version="1.1" id="Layer_1" class="animation" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                            enable-background="new 0 0 100 100" xml:space="preserve">
                            <path fill="#333333" d="M48,67.6c0,0.8-0.6,1.4-1.4,1.4H31.4c-0.8,0-1.4-0.6-1.4-1.4v-0.1c0-0.8,0.6-1.4,1.4-1.4h15.1
                                                        c0.8,0,1.4,0.6,1.4,1.4V67.6z" />
                            <path fill="none" stroke="#333333" stroke-width="2" stroke-miterlimit="10"
                              d="M50.6,34h10c2.6,0,4.4,1.9,4.4,4.5v16.3
                                                        c0,3.2,1.1,6.4,2.7,9.1l1.2,1.8l13.3,23.1c2.5,4.4-0.6,10.2-5.6,10.2H50.6H24.3c-5,0-8.2-5.8-5.7-10.2l12.9-22.9l0.8-2.2
                                                        c1.3-2.5,1.7-5.4,1.7-8.2v-17c0-2.6,2.7-4.5,5.4-4.5h11.1H50.6z" />
                            <path fill="#333333" d="M44,78.6c0,0.8-0.6,1.4-1.4,1.4H25.4c-0.8,0-1.4-0.6-1.4-1.4v-0.1c0-0.8,0.6-1.4,1.4-1.4h17.1
                                                        c0.8,0,1.4,0.6,1.4,1.4V78.6z" />
                            <path fill="#333333" d="M39,88.6c0,0.8-0.6,1.4-1.4,1.4H20.4c-0.8,0-1.4-0.6-1.4-1.4v-0.1c0-0.8,0.6-1.4,1.4-1.4h17.1
                                                        c0.8,0,1.4,0.6,1.4,1.4V88.6z" />
                            <path fill="#333333" d="M69.7,35.5c0,1.5-1.3,2.5-2.9,2.5H32.3c-1.6,0-2.9-1-2.9-2.5l0,0c0-1.5,1.3-2.5,2.9-2.5h34.4
                                                        C68.4,33,69.7,34,69.7,35.5L69.7,35.5z" />
                            <circle id="Bubble-1" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="53.5" cy="51" r="2.4" />
                            <circle id="Bubble-2" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="42.8" cy="48.9" r="4.9" />
                            <circle id="Bubble-3" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="56" cy="45.4" r="6" />
                            <circle id="Bubble-4" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="42.1" cy="38.6" r="3.2" />
                            <circle id="Bubble-5" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="46.5" cy="47" r="2.4" />
                            <circle id="Bubble-6" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="52.8" cy="38.9" r="4.9" />
                          </svg>
                        </div>
                      </div>
                      <!-- <center> -->
                      <p class="text-center">Start Split Test</p>
                      <!-- </center> -->
                      <button class="btn btn-secondary m-auto btn-block" (click)="showvariation"><i
                          class="fas fa-plus"></i> Create
                        Variation</button>

                      <div *ngIf="createvariation">
                        <div class="kb-createvar">
                          <button class="btn btn-secondary m-auto btn-block"><i class="fas fa-plus"></i> Duplicate
                            Variation 1</button>
                          <br>
                          <button class="btn btn-secondary m-auto btn-block mt-2"><i class="fas fa-plus"></i> Create
                            from Templates</button>
                        </div>
                        <div class="kb-bxoverlay" (click)="hidevariation"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="kb-insidecard col-md-4 kb-internalshadow">
                <div class=" kb-internalshadow">
                  <div class="toast toast-light toast-translucent mr-auto ml-auto pt-2 pb-2" role="alert"
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <span class="mr-auto toast-title">Variation</span>
                      <i class="fas fa-history pr-2"></i>
                      <small class="d-sm-block d-none">1 mins ago</small>
                    </div>
                    <div class="toast-body yesdeclarewinner">
                      <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="Kia Builder Logo">
                      <div class="declarewinner kb-red">
                        <i class="fas fa-trophy"></i>
                        <a href="#">
                          Declare As winner
                        </a>
                      </div>
                    </div>
                    <div class="toast-header">
                      <button class="btn btn-secondary btn-block mr-2"><i class="fas fa-pen"></i> Edit Page</button>
                      <button class="btn btn-secondary mr-2"><i class="fas fa-external-link-alt"></i></button>
                      <button class="btn btn-secondary "><i class="fas fa-cog"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="footer-wizard-kb mb-5">
              <button class="btn btn-secondary"><i class="fas fa-times"></i> Remove From
                Funnel</button>
              <button class="btn btn-secondary"><i class="far fa-trash-alt"></i> Delete Funnel
                Step</button>
              <button class="btn btn-secondary"><i class="far fa-clone"></i> Clone Funnel
                Step</button>
            </div>
          </div>
          <!-- overview end -->

          <div class="kb-automation mt-4 pb-5 loadEffect" *ngIf="tabOpen == 'automation'">
            <div class="kb-automation-header">

            </div>
            <div class="kb-automation-footer text-center">
              <button class="btn btn-secondary" (click)="automation_show('action')"><i class="fas fa-plus"></i> Add New
                Action</button>
              <button class="btn btn-secondary" (click)="automation_show('email')"><i class="fas fa-plus"></i> Add New
                Email</button>
              <button class="btn btn-secondary" (click)="automation_show('sms')"><i class="fas fa-plus"></i> Add New Sms
                Text</button>
            </div>
          </div>
          <!-- automation end -->

          <div class="kb-publishing loadEffect" *ngIf="tabOpen == 'publishing'">
            <div class="row mt-4 pb-5">
              <div class="col-md-6">
                <p><b>FUNNEL STEP NAME</b></p>
                <input type="text" class="form-control" value="Optin">
              </div>
              <div class="col-md-6">
                <p><b>PATH</b></p>
                <input type="text" class="form-control" value="/optin">
              </div>
              <div class="col-md-12 pt-3">
                <button class="btn btn-primary float-right">Update Funnel Step</button>

              </div>
            </div>
          </div>
          <!-- publishing end -->

        </div>
        <!-- wizard nav -->
      </div>
      <!-- col -->
    </div>
    <!-- row 1 end / for steps -->

    <div class="row whitefunnel pt-5 pb-5 loadEffect" *ngIf="mainOpen == 'stats'">
      <div class="col-md-6">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [fill]="chartOptions.fill"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
      <div class="col-md-6">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [xaxis]="chartOptions2.xaxis"
          [dataLabels]="chartOptions2.dataLabels"
          [grid]="chartOptions2.grid"
          [stroke]="chartOptions2.stroke"
          [title]="chartOptions2.title"
        ></apx-chart>
      </div>
      <div class="col-md-6">
        <apx-chart
        [series]="chartOptions3.series"
        [chart]="chartOptions3.chart"
        [dataLabels]="chartOptions3.dataLabels"
        [plotOptions]="chartOptions3.plotOptions"
        [title]="chartOptions3.title"
      ></apx-chart>
      </div>
      <div class="col-md-6">
        <apx-chart
        [series]="chartOptions4.series"
        [chart]="chartOptions4.chart"
        [yaxis]="chartOptions4.yaxis"
        [xaxis]="chartOptions4.xaxis"
        [labels]="chartOptions4.labels"
        [stroke]="chartOptions4.stroke"
        [plotOptions]="chartOptions4.plotOptions"
        [markers]="chartOptions4.markers"
        [fill]="chartOptions4.fill"
        [tooltip]="chartOptions4.tooltip"
      ></apx-chart>
      </div>

    </div>
    <!-- row 2 end / for stats -->

    <div class="row whitefunnel pt-5 pb-5 loadEffect" *ngIf="mainOpen == 'contacts'">
      <div class="col-md-12">
        <section class="users-list-wrapper" id='table-userslist'>
          <div class="users-list-filter px-1">
            <form class="container-fluid">
              <div class="row border rounded py-2 mb-2">
                <div class="col-12 col-sm-6 col-lg-3">
                  <label for="users-list-verified">Showing Contacts for</label>
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-verified">
                      <option value="Yes">Last 7 Days</option>
                      <option value="" selected>Last 30 Days</option>
                      <option value="Yes">Last 2 Months</option>
                      <option value="No">This Year</option>
                      <option value="No">All Time</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                  <label for="users-list-role">Steps</label>
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-role">
                      <option value="">All Funnel Steps</option>
                      <optgroup label="Funnel Steps">
                        <option value="User">Optin</option>
                        <option value="Staff">Thank you</option>
                      </optgroup>
                    </select>
                  </fieldset>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                  <button type="reset" class="btn btn-primary btn-block glow users-list-clear mt-2"><i
                      class="far fa-check-circle"></i> Apply</button>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                  <button type="reset" class="btn btn-primary btn-block glow users-list-clear mt-2"><i
                      class="fas fa-download"></i> Download Contacts</button>
                </div>
              </div>
            </form>
          </div>
          <div class="users-list-table">
            <div class="card">
              <div class="card-body">
                <!-- datatable start -->
                <div class="table-responsive">
                  <div id="users-list-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="users-list-datatable_length">
                          <label>Show <select name="users-list-datatable_length" aria-controls="users-list-datatable"
                              class="custom-select custom-select-sm form-control form-control-sm">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select> entries</label></div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <div id="users-list-datatable_filter" class="dataTables_filter">
                          <label>Search:<input type="search" class="form-control form-control-sm"
                              placeholder="Search By Product" aria-controls="users-list-datatable"></label></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <table id="users-list-datatable" class="table dataTable no-footer" role="grid"
                          aria-describedby="users-list-datatable_info">
                          <thead>
                            <tr role="row">
                              <th class="sorting" tabindex="0" aria-controls="users-list-datatable" rowspan="1"
                                colspan="1" aria-label="username: activate to sort column ascending"
                                style="width: 110.325px;">Name</th>
                              <th class="sorting" tabindex="0" aria-controls="users-list-datatable" rowspan="1"
                                colspan="1" aria-label="name: activate to sort column ascending"
                                style="width: 158.062px;">Email</th>
                              <th class="sorting" tabindex="0" aria-controls="users-list-datatable" rowspan="1"
                                colspan="1" aria-label="last activity: activate to sort column ascending"
                                style="width: 112.725px;">Sign Up</th>
                              <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="edit"
                                style="width: 38.1px;">edit</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td><a href="">Dean Stanley</a>
                              </td>
                              <td>DeanStanley@gmail.com</td>
                              <td>30/04/2019</td>
                              <td><a href=""><i class="fas fa-user-edit"></i></a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 float-right">
                          <mat-paginator [length]="100"
                          [pageSize]="10"
                          [pageSizeOptions]="[5, 10, 25, 100]"
                          aria-label="Select page">
                        </mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- datatable ends -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- row 3 end / for contacts -->

    <div class="row whitefunnel pt-5 pb-5 loadEffect" *ngIf="mainOpen == 'sales'">
      <div class="col-md-12">
        <section class="users-list-wrapper" id='table-userslist'>
          <div class="users-list-filter px-1">
            <form class="container-fluid">
              <div class="row border rounded py-2 mb-2">
                <div class="col-12 col-sm-6 col-lg-3">
                  <label for="users-list-verified">Showing Contacts for</label>
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-verified">
                      <option value="Yes">Last 7 Days</option>
                      <option value="" selected>Last 30 Days</option>
                      <option value="Yes">Last 2 Months</option>
                      <option value="No">This Year</option>
                      <option value="No">All Time</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                  <label for="users-list-role">Steps</label>
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-role">
                      <option value="">All Funnel Steps</option>
                      <optgroup label="Funnel Steps">
                        <option value="User">Optin</option>
                        <option value="Staff">Thank you</option>
                      </optgroup>
                    </select>
                  </fieldset>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                  <button type="reset" class="btn btn-primary btn-block glow users-list-clear mt-2"><i
                      class="far fa-check-circle"></i> Apply</button>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                  <button type="reset" class="btn btn-primary btn-block glow users-list-clear mt-2">
                    <i class="far fa-file-excel"></i> Export to CSV</button>
                </div>
              </div>
            </form>
          </div>
          <div class="users-list-table">
            <div class="card">
              <div class="card-body">
                <!-- datatable start -->
                <div class="table-responsive">
                  <div id="users-list-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="users-list-datatable_length">
                          <label>Show <select name="users-list-datatable_length" aria-controls="users-list-datatable"
                              class="custom-select custom-select-sm form-control form-control-sm">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select> entries</label></div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <div id="users-list-datatable_filter" class="dataTables_filter">
                          <label>Search:<input type="search" class="form-control form-control-sm"
                              placeholder="Search By Product" aria-controls="users-list-datatable"></label></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <table id="users-list-datatable" class="table dataTable no-footer" role="grid"
                          aria-describedby="users-list-datatable_info">
                          <thead>
                            <tr role="row">
                              <th class="sorting" tabindex="0" aria-controls="users-list-datatable" rowspan="1"
                                colspan="1" aria-label="username: activate to sort column ascending"
                                style="width: 110.325px;">Product</th>
                              <th class="sorting" tabindex="0" aria-controls="users-list-datatable" rowspan="1"
                                colspan="1" aria-label="name: activate to sort column ascending"
                                style="width: 158.062px;">Amount</th>
                              <th class="sorting" tabindex="0" aria-controls="users-list-datatable" rowspan="1"
                                colspan="1" aria-label="last activity: activate to sort column ascending"
                                style="width: 112.725px;">Customer</th>
                              <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="edit"
                                style="width: 38.1px;">Status</th>
                              <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="edit"
                                style="width: 38.1px;">Transition</th>
                              <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="edit"
                                style="width: 38.1px;">View Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="row" class="odd">
                              <td>Optin</td>
                              <td>$12.00</td>
                              <td><a href="">DeanStanley@gmail.com</a></td>
                              <td><span class="badge badge-light-success">Active</span></td>
                              <td>2 Days Ago</td>
                              <td><a href=""><i class="fas fa-pencil-alt"></i> Details</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 float-right">
                          <mat-paginator [length]="100"
                          [pageSize]="10"
                          [pageSizeOptions]="[5, 10, 25, 100]"
                          aria-label="Select page">
                        </mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- datatable ends -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- row 4 end / for sales -->

    <div class="row whitefunnel pt-5 pb-5 loadEffect" *ngIf="mainOpen == 'settings'">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form action="#" class="wizard-vertical wizard clearfix vertical" id="steps-uid-2">
              <div class="steps clearfix">
                <ul>
                  <li class="first" [class]="tabOpen3 == 'basic' ? 'current' : ''">
                    <a (click)="kb_settingsteps('basic')">
                      <span class="fonticon-wrap mr-1">
                        <i class="fas fa-cog"></i>
                      </span>
                      <span class="icon-title">
                        <span class="d-block">Basic Details</span>
                        <small class="text-muted">Setup your details here.</small>
                      </span>
                    </a></li>
                  <li [class]="tabOpen3 == 'smtp' ? 'current' : ''"><a (click)="kb_settingsteps('smtp')">
                      <span class="fonticon-wrap mr-1">
                        <i class="fas fa-mail-bulk"></i>
                      </span>
                      <span class="icon-title">
                        <span class="d-block">SMTP Configuation</span>
                        <small class="text-muted">Your SMTP Details here.</small>
                      </span>
                    </a></li>
                  <li [class]="tabOpen3 == 'tracking' ? 'current' : ''"><a (click)="kb_settingsteps('tracking')">
                      <span class="fonticon-wrap mr-1">
                        <i class="fas fa-code"></i>
                      </span>
                      <span class="icon-title">
                        <span class="d-block">Tracking</span>
                        <small class="text-muted">Your tracking code details.</small>
                      </span>
                    </a></li>
                  <li [class]="tabOpen3 == 'payment' ? 'current' : ''"><a (click)="kb_settingsteps('payment')">
                      <span class="fonticon-wrap mr-1">
                        <i class="fas fa-money-check-alt"></i>
                      </span>
                      <span class="icon-title">
                        <span class="d-block">Payment</span>
                        <small class="text-muted">Payment integration.</small>
                      </span>
                    </a></li>
                </ul>
              </div>
              <div class="content clearfix">
                <!-- step 1 content -->
                <fieldset class="pt-0 body loadEffect " *ngIf="tabOpen3 == 'basic'" id="steps-uid-2-p-0" role="tabpanel"
                  aria-labelledby="steps-uid-2-h-0" aria-hidden="false">
                  <h6 class="pb-50">Edit Settings For This Funnel</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="firstName12">Name </label>
                        <input type="text" class="form-control" id="firstName12" placeholder="Funnel Name">
                        <small class="text-muted form-text">Name of this funnel</small>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="firstName12">Tags </label>
                        <input type="text" class="form-control" id="firstName12" placeholder="Group Tags">
                        <small class="text-muted form-text">The group this funnel belongs too</small>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="emailAddress12">Domain</label>
                        <select name="" id="" class="form-control">
                          <option value=""></option>
                        </select>
                        <small class="text-muted form-text">The domain for the funnel — <a href="#">Add/Edit
                            Domains</a></small>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Path</label>
                        <input type="text" class="form-control" placeholder="optin">
                        <small class="text-muted form-text">The path of this funnels starting page</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Favicon Url</label>
                        <input type="text" class="form-control" placeholder="https://this.com/this.png">
                        <small class="text-muted form-text">Add a URL to your .png or .ico favicon image. For ALL your
                          pages inside your funnel.</small>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <!-- step 1 content end-->
                <!-- step 2 content -->
                <fieldset class="pt-0 body loadEffect" *ngIf="tabOpen3 == 'smtp'" id="steps-uid-2-p-1" role="tabpanel"
                  aria-labelledby="steps-uid-2-h-1" aria-hidden="true">
                  <h6 class="py-50">Edit Settings For This Funnel</h6>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="proposalTitle1"><a>SMTP Configuation</a></label>
                        <small>Provide your <a>Account SMTP Settings</a> to customize outgoing emails from
                          Clickfunnels</small>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <!-- step 2 content end-->
                <!-- step 3 content -->
                <fieldset class="pt-0 body loadEffect" *ngIf="tabOpen3 == 'tracking'" id="steps-uid-2-p-2"
                  role="tabpanel" aria-labelledby="steps-uid-2-h-2" aria-hidden="true">
                  <h6 class="py-50">Edit Settings For This Funnel</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Head Tracking Code:</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                        <small>Funnel wide tracking code for the head tag.</small>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="eventLocation12">Body Tracking Code:</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                        <small>Funnel wide tracking codes for the body tag.</small>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <!-- step 3 content end-->
                <!-- step 4 content -->
                <fieldset class="pt-0 body loadEffect" *ngIf="tabOpen3 == 'payment'" id="steps-uid-2-p-3"
                  role="tabpanel" aria-labelledby="steps-uid-2-h-3" aria-hidden="true">
                  <h6 class="py-50">Edit Settings For This Funnel</h6>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="kb-payment-stripe-i">
                        <i class="fab fa-stripe"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group">
                        <label for="eventName13">Stripe Account</label>
                        <select name="" id="" class="form-control">
                          <option value="">Account not connnected</option>
                        </select>
                        <br>
                        <label for="">Test Mode</label>
                        <p style="line-height: 16px;">
                          <small style="line-height:10px;">Enable Test Mode for Stripe. Use CC number: 4012888888881881
                            with any future Exp date and CVV number. Note: To test subscriptions, you MUST have
                            subscription plans with the same ID in Stripe in Test mode and Live mode. In test mode disc
                            delivered will not operate.</small>
                        </p>
                        <small>
                          <a href="">Edit Stripe Details</a>
                        </small>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <hr>
                    </div>

                    <div class="col-md-2">
                      <div class="kb-payment-stripe-i">
                        <i class="fab fa-cc-paypal"></i>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group">
                        <label for="eventName13">Paypal Account</label>
                        <select name="" id="" class="form-control">
                          <option value="">Account not connnected</option>
                        </select>
                        <br>
                        <label for="">Test Mode</label>
                        <p style="line-height: 16px;">
                          <small style="line-height:10px;">Enable Test Mode for Stripe. Use CC number: 4012888888881881
                            with any future Exp date and CVV number. Note: To test subscriptions, you MUST have
                            subscription plans with the same ID in Stripe in Test mode and Live mode. In test mode disc
                            delivered will not operate.</small>
                        </p>
                        <small>
                          <a href="">Edit Stripe Details</a>
                        </small>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <!-- step 4 content end-->
              </div>
              <div class="actions clearfix" id="kb-settingsaction">
                <ul role="menu">
                  <li class="ml-2"><a mat-raised-button color="accent"><i class="fas fa-archive"></i> Archive Funnel</a></li>

                  <li class="ml-2"><a mat-raised-button color="accent"><i class="fas fa-binoculars"></i> View Archive Funnel Steps</a></li>

                  <li class="ml-2"><a mat-raised-button color="primary"><i class="far fa-check-circle"></i> Update Settings</a></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- row 5 end / for settings -->
  </div>
  <!-- container -->
</div>