<div id="createfunnel">

  <div id="kb-automation-actions" *ngIf="poupsidebar">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar" *ngIf="automationaddnewaction">
      <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
      <h6><b>NEW FUNNEL STEPS</b></h6>
      <p><i class="fas fa-cogs"></i> Action Settings</p>
      <hr>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Give your action a name" value="">
      </mat-form-field>

      <mat-form-field appearance="fill" class="kb-full-width">
        <mat-label>Condition</mat-label>
        <mat-select>
          <mat-option value="everyone">Everyone</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="kb-full-width">
        <mat-label>Integration</mat-label>
        <mat-select>
          <mat-option value="keabuilderintegration">Keabuilder Integration</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="kb-full-width">
        <mat-label>Action To Do</mat-label>
        <mat-select>
          <mat-option value="">Add To List</mat-option>
          <mat-option value="">Remove From List</mat-option>
          <mat-option value="">Email Notification</mat-option>
          <mat-option value="">Add Tag</mat-option>
          <mat-option value="">Remove Tag</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <p><i class="far fa-clock"></i> Action Delay</p>
      <hr>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Delay Days</mat-label>
        <input type="number" matInput placeholder="# Of Days Before Action Happens..." value="">
      </mat-form-field>

      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Delay Hours</mat-label>
        <input type="number" matInput placeholder="# Of Hours Before Action Happens..." value="">
      </mat-form-field>

      <br>
      <button mat-raised-button color="primary"><i class="fas fa-plus"></i> Create Funnel Action</button>

    </div>

    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar" *ngIf="automationaddnewemail">
      <h6><b>CREATE NEW EMAIL</b></h6>
      <p>Provide your <a href="#">Account SMTP Settings</a> to customize outgoing emails from Keabuilder</p>
    </div>

    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar" *ngIf="automationaddnewtext">
      <h6><b>CREATE NEW TEXT</b></h6>
      <p>Create a <a href="#">Twilio SMS Integration</a> first to customize outgoing text messages from
        Keabuilder</p>
    </div>

    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar" *ngIf="copylink">

      <div *ngIf="firstpart">

        <h6><b>Copy Step URL</b></h6>
        <hr>
        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Funnel Url</mat-label>
          <textarea matInput readonly rows="3" name="funnelurlonly" #userinput >{{funnelurl}}</textarea>
        </mat-form-field>
        
        <button mat-raised-button color="primary" (click)="copyInputMessage(userinput)" >
            <i class="fas fa-copy"></i> Copy Step Url
        </button>
          
        <hr>
          
        <h6><b>Copy Page URL</b></h6>
        <hr>
        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Page Url</mat-label>
          <textarea matInput readonly rows="3" name="funnelurlonly" #userinput2 >{{pageurl}}</textarea>
        </mat-form-field>
        
        <button mat-raised-button color="primary" (click)="copyInputMessage(userinput2)" >
            <i class="fas fa-copy"></i> Copy Url
        </button>

      </div>

      <div *ngIf="!firstpart">
          <h6><b>Archive</b></h6>
          <hr>
          
          <mat-form-field class="kb-full-width" appearance="fill">
              <mat-label>Archive Reason</mat-label>
              <textarea matInput [(ngModel)]="reason" rows="8" name="reasons"></textarea>
              <small>Optional</small>
          </mat-form-field>

          <p>It will help you remember why you archive it!</p>
          
          <button mat-raised-button color="primary" type="submit" (click)="makearchivestep()" >
              <i class="fas fa-archive"></i> Archive Funnel Step
          </button>
      </div>

      <img src="/assets/images/funnel/funnel1.png" class="img-fluid" alt="">


    </div>

  </div>
  <div class="offcanvas-overlay" *ngIf="poupsidebar" (click)="hidepopupsidebar()"></div>

  <header class="wizard-nav">
    <div class="wizard-steps">
      <!--begin::Wizard Step 1 Nav-->
      <div class="wizard-step" [routerLink]="['/create-funnel/'+uniqueid+'/'+uniqueidstep]" data-wizard-state="current">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-filter"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">{{funnelname}}</div>
            <div class="wizard-desc">Steps</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 1 Nav-->
      <!--begin::Wizard Step 2 Nav-->
      <div class="wizard-step" [routerLink]="['/create-funnel-stats',uniqueid]">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="far fa-chart-bar"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">STATS</div>
            <div class="wizard-desc">View Your Stats</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 2 Nav-->
      <!--begin::Wizard Step 3 Nav-->
      <div class="wizard-step" [routerLink]="['/create-funnel-contacts',uniqueid]">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-users"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">CONTACTS</div>
            <div class="wizard-desc">Check Your Contacts</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 3 Nav-->
      <!--begin::Wizard Step 4 Nav-->
      <div class="wizard-step" [routerLink]="['/create-funnel-sales',uniqueid]">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-money-check-alt"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">SALES</div>
            <div class="wizard-desc">See Your Sales</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 4 Nav-->
      <!--begin::Wizard Step 5 Nav-->
      <div class="wizard-step" [routerLink]="['/create-funnel-settings',uniqueid]">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-sliders-h"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">SETTINGS</div>
            <div class="wizard-desc">Review Your Settings</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 5 Nav-->

    </div>
  </header>

  <div class="container-fluid" *ngIf="steps.length>0">
    <div class="row whitefunnel loadEffect" >
      <div class="col-md-3 pb-3 pt-3 rightbrder">
        <button class="mt-2 btn-block mb-3" (click)="addsteps()" mat-raised-button color="primary" ><i class="fas fa-plus"></i> Add A Step</button>
        
          <div [sortablejs]="steps" [sortablejsOptions]="parentOptions" >
            <div class="Keabuilder-item infome" [class]="element.color" [class.selectedstep]="selectedstep==element.id"
               *ngFor="let element of steps; index as i;" >

              <div class="keabuilder-title-board">
                <span>{{ element.title }}</span>
                <input type="text" [(ngModel)]="element.title" (blur)="changestepnamesoutside(element.id,element.title)" >
              </div>

              <div class="kea-selectarea" (click)="kb_substeps2(element.id)" [attr.key]="element.id"
              [attr.data-listid]="element.id"></div>

              <i class="fas fa-grip-lines float-right mt-1"></i>

              <div class="btn-group float-right mr-1 mt-lg-n2">

                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Settings" matTooltipPosition="above">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="funnelstepedit(steps[i].steppath, steps[i].uniqueid, 'copy')">
                      <i class="fas fa-link" ></i> Copy Link
                    </button>
                    <button mat-menu-item (click)="funnelstepedit(steps[i].funnelid, steps[i].uniqueid, 'duplicate')">
                        <i class="far fa-clone mr-2" ></i> Duplicate
                    </button>
                    <button mat-menu-item (click)="funnelstepedit(steps[i].id, steps[i].uniqueid, 'archive')" >
                        <i class="far fa-trash-alt mr-2"></i> Archive
                    </button>
                </mat-menu>

              </div>

            </div>
          </div>

          <div>
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" (click)="archivepanel('archivefunnelstep','')">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Archive Steps
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="Keabuilder-item infome" [class]="element.color" [class.selectedstep]="selectedstep==element.id" *ngFor="let element of archivesteps; index as i;" >
  
                    <div class="keabuilder-title-board-archived">
                      <span>{{ element.title }}</span>
                    </div>
      
                    <div class="btn-group float-right mr-1 mt-lg-n2">
      
                      <div class="kb-archivebtn" matTooltip="UnArchive It" (click)="archivepanel('unarchiveit',element.id)" matTooltipPosition="above">
                        <i class="fa fa-trash-restore"></i>
                      </div>
                      <div class="kb-archivebtn" matTooltip="Permanent Delete It!" (click)="archivepanel('deleteit',element.id)" matTooltipPosition="above">
                        <i class="fa fa-trash"></i>
                      </div>
      
                    </div>
  
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
          </div>

        <!-- </draggable> -->

      </div>
      <!-- col -->
      <div class="col-md-9">
        <div class="wizard-nav">
          <div class="wizard-steps" id="secondwizard">
            <div class="showwhendrag"><i class="fas fa-caret-down"></i></div>
            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending"></div>
            <div class="wizard-step" data-wizard-type="step"
              [attr.:data-wizard-state]="tabOpen == 'overview' || tabOpen == 'overviewstep' ? 'current' : 'pending'"
              (click)="kb_substeps('overview')">
              <div class="wizard-wrapper">
                <div class="wizard-number"><i class="fas fa-th"></i></div>
                <div class="wizard-label">
                  <div class="wizard-title">Overview</div>
                </div>
              </div>
            </div>
            <div class="wizard-step" data-wizard-type="step"
              [attr.:data-wizard-state]="tabOpen == 'automation' ? 'current' : 'pending'"
              (click)="kb_substeps('automation')">
              <div class="wizard-wrapper">
                <div class="wizard-number"><i class="fas fa-bolt"></i></div>
                <div class="wizard-label">
                  <div class="wizard-title">Automation</div>
                </div>
              </div>
            </div>
            <div class="wizard-step" data-wizard-type="step"
              [attr.:data-wizard-state]="tabOpen == 'publishing' ? 'current' : 'pending'"
              (click)="kb_substeps('publishing')">
              <div class="wizard-wrapper">
                <div class="wizard-number"><i class="fas fa-wrench"></i></div>
                <div class="wizard-label">
                  <div class="wizard-title">Publishing</div>
                </div>
              </div>
            </div>
          </div>

          <!-- templates -->
          <div class="kb-templates loadEffectFromLeft" *ngIf="tabOpen == 'overview'">
            <ul class="kb-temp-ul">
              <li>
                <a href="">
                  <i class="fas fa-envelope"></i> OPTIN
                  <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-envelope"></i> Email Optin</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-download"></i> Thank you</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""><i class="fas fa-shopping-cart"></i> SALES <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-search-dollar"></i> Sales Page</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-rocket"></i> Product Launch</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-shopping-cart"></i> Order Form</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-level-up-alt"></i> One Click Upsell (OTO)</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-level-down-alt"></i> One Click Downsell</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-check-circle"></i> Order Confirmation</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""><i class="fas fa-microphone-alt"></i> WEBINAR <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-mail-bulk"></i> Registration</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-download"></i> Thank you</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-microphone"></i> Boadcast Room</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""><i class="fas fa-graduation-cap"></i> MEMBERSHIP <i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li>
                    <a href=""><i class="fas fa-sign-in-alt"></i> Membership Access</a>
                  </li>
                  <li>
                    <a href=""><i class="fas fa-tachometer-alt"></i> Membership Area</a>
                  </li>
                </ul>
              </li>
              <li><a href=""><i class="fas fa-external-link-square-alt"></i> CLICKPOPUP</a></li>
              <li><a href=""><i class="fas fa-bars"></i> OTHER</a></li>
            </ul>

            <ul class="kb-showtemplates">
              <li>
                <a href=""><i class="fas fa-file-alt"></i> SHOW MY TEMPLATES</a>
              </li>
              <li>
                <a href="" class="active"><i class="fas fa-envelope"></i> EMAIL OPTIN TEMPLATES</a>
              </li>
              <li>
                <a [routerLink]="['/builder']">
                  <i class="fas fa-plus"></i> BUILD FROM SCRATCH
                </a>
              </li>
            </ul>

            <ul class="kb-alltemplates mb-5">
              <li *ngFor="let item of emailoptintemps; index as i;">
                <div class="kb-showtemp-header">
                  <img [src]="emailoptintemps[i].imgthumb" class="img-fluid" alt="">
                </div>
                <div class="kb-showtemp-footer">
                  <p>{{emailoptintemps[i].name}}</p>
                  <button mat-raised-button (click)="usertemplateselected(emailoptintemps[i].name)" color="primary" class="mr-2"><i class="fas fa-plus-square"></i> Select Template</button>
                  <button mat-raised-button color="accent"><i class="fas fa-eye"></i> Preview</button>
                </div>
              </li>
             
            </ul>
          </div>
          <!-- templates -->

          <div class="kb-overview loadEffectFromLeft" *ngIf="tabOpen == 'overviewstep'">
            <div class="sage-input site_support_email mt-3">
              <input class="sage-input__field" type="url" [(value)]="'/'+funnelstepurl" disabled >
              <label class="sage-input__label" for="site_support_email">Your Link</label>
              <span class="kb-settings-i" matTooltip="Settings" matTooltipPosition="above" (click)="checkpagesettings('settings')" ><i class="fas fa-cog"></i></span>
              <span class="kb-sharelink" matTooltip="View Steps" matTooltipPosition="above" (click)="checkpagesettings('redirect')" ><i class="fas fa-external-link-alt"></i></span>
            </div>

            <div class="kb-insidebodycard row pb-5">
              <div class="kb-insidecard col-md-4" >
                <div class=" kb-internalshadow ">
                  <div class="toast toast-light toast-translucent mr-auto ml-auto pt-2 pb-2" role="alert"
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <span class="mr-auto toast-title">Main</span>
                      <i class="fas fa-history pr-2"></i>
                      <small class="d-sm-block d-none">{{maintime}}</small>
                    </div>
                    <div class="toast-body yesdeclarewinner">
                      <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="Kia Builder Logo">
                      <div class="declarewinner" *ngIf="funnelvariation==1" >
                        <i class="fas fa-trophy"></i>
                        <a href="javascript:void(0)" (click)="declarewinner()">
                          Declare As winner
                        </a>
                      </div>
                    </div>
                    <div class="toast-header">
                      <button mat-raised-button color="accent" class="btn-block mr-2" matTooltip="Edit with Keabuilder" matTooltipPosition="above" ><i class="fas fa-pen"></i> Edit Page</button>
                      <button mat-raised-button color="accent" matTooltip="View Step" matTooltipPosition="above" (click)="checkpagesettings('redirect')" class="mr-2"><i class="fas fa-external-link-alt"></i></button>
                      <button mat-raised-button color="accent" matTooltip="Settings" matTooltipPosition="above" (click)="checkpagesettings('settings')" ><i class="fas fa-cog"></i></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="kb-insidecard col-md-4 kb-internalshadow mymt-3">
                <div class=" kb-internalshadow ">
                  <div class="toast toast-light toast-translucent mr-auto ml-auto pt-2 pb-2" role="alert"
                    aria-live="assertive" aria-atomic="true">

                    <div class="toast-header" *ngIf="funnelvariation==1" >
                      <span class="mr-auto toast-title">Split Test</span>
                      <i class="fas fa-bolt mr-2"></i>
                      <small class="d-sm-block d-none">Optmize your lead</small>
                    </div>

                    <div class="toast-body" *ngIf="funnelvariation==1" >
                      <div class="progress progress-bar-success progress-sm" style="display:flex;">
                        <div class="progress-bar" id="kb-changemyprogress" role="progressbar" aria-valuenow="79"
                          aria-valuemin="101" aria-valuemax="100" style="width: 50%;"></div>
                      </div>
                      <input type="range" min="0" max="100" value="50" id="kb-splittestmake" (change)="totalmy()">
                      <div class="splitTestText control">
                        <span class="number" id="kb-control">50%</span>
                        of traffic
                      </div>
                      <div class="splitTestText variation">
                        <span class="number" id="kb-variation">50%</span>
                        of traffic
                      </div>
                      <div class="text-center">
                        <button mat-raised-button color="primary" (click)="splitapply()" >Apply Changes</button>
                      </div>

                    </div>

                    <div class="kb-split-text pl-2 pr-2" *ngIf="funnelvariation==0">
                      <div class="btn-block mb-3">
                        <div class="svgimg3">
                          <svg version="1.1" id="Layer_1" class="animation" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                            enable-background="new 0 0 100 100" xml:space="preserve">
                            <path fill="#333333" d="M48,67.6c0,0.8-0.6,1.4-1.4,1.4H31.4c-0.8,0-1.4-0.6-1.4-1.4v-0.1c0-0.8,0.6-1.4,1.4-1.4h15.1
                                                        c0.8,0,1.4,0.6,1.4,1.4V67.6z" />
                            <path fill="none" stroke="#333333" stroke-width="2" stroke-miterlimit="10"
                              d="M50.6,34h10c2.6,0,4.4,1.9,4.4,4.5v16.3
                                                        c0,3.2,1.1,6.4,2.7,9.1l1.2,1.8l13.3,23.1c2.5,4.4-0.6,10.2-5.6,10.2H50.6H24.3c-5,0-8.2-5.8-5.7-10.2l12.9-22.9l0.8-2.2
                                                        c1.3-2.5,1.7-5.4,1.7-8.2v-17c0-2.6,2.7-4.5,5.4-4.5h11.1H50.6z" />
                            <path fill="#333333" d="M44,78.6c0,0.8-0.6,1.4-1.4,1.4H25.4c-0.8,0-1.4-0.6-1.4-1.4v-0.1c0-0.8,0.6-1.4,1.4-1.4h17.1
                                                        c0.8,0,1.4,0.6,1.4,1.4V78.6z" />
                            <path fill="#333333" d="M39,88.6c0,0.8-0.6,1.4-1.4,1.4H20.4c-0.8,0-1.4-0.6-1.4-1.4v-0.1c0-0.8,0.6-1.4,1.4-1.4h17.1
                                                        c0.8,0,1.4,0.6,1.4,1.4V88.6z" />
                            <path fill="#333333" d="M69.7,35.5c0,1.5-1.3,2.5-2.9,2.5H32.3c-1.6,0-2.9-1-2.9-2.5l0,0c0-1.5,1.3-2.5,2.9-2.5h34.4
                                                        C68.4,33,69.7,34,69.7,35.5L69.7,35.5z" />
                            <circle id="Bubble-1" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="53.5" cy="51" r="2.4" />
                            <circle id="Bubble-2" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="42.8" cy="48.9" r="4.9" />
                            <circle id="Bubble-3" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="56" cy="45.4" r="6" />
                            <circle id="Bubble-4" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="42.1" cy="38.6" r="3.2" />
                            <circle id="Bubble-5" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="46.5" cy="47" r="2.4" />
                            <circle id="Bubble-6" fill="none" stroke="#333333" stroke-width="1.5268"
                              stroke-miterlimit="10" cx="52.8" cy="38.9" r="4.9" />
                          </svg>
                        </div>
                      </div>
                      <!-- <center> -->
                      <p class="text-center">Start Split Test</p>
                      <!-- </center> -->
                      <button mat-raised-button color="accent" class="m-auto btn-block" (click)="showvariation()">
                        <i class="fas fa-plus"></i> Create Variation
                      </button>

                      <div *ngIf="createvariation">
                        <div class="kb-createvar">
                          <button mat-raised-button color="accent" class="btn-block" (click)="duplicatemain()" ><i class="fas fa-plus"></i> Duplicate Variation 1</button>
                          <br>
                          <button mat-raised-button color="accent" class="btn-block mt-2"><i class="fas fa-plus"></i> Create from Templates</button>
                        </div>
                        <div class="kb-bxoverlay" (click)="hidevariation()"></div>
                      </div>
                    </div>
                    
                  </div>

                </div>
              </div>

              <div class="kb-insidecard col-md-4 kb-internalshadow" *ngIf="funnelvariation==1" >
                <div class=" kb-internalshadow">
                  <div class="toast toast-light toast-translucent mr-auto ml-auto pt-2 pb-2" role="alert"
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <span class="mr-auto toast-title">Variation</span>
                      <i class="fas fa-history pr-2"></i>
                      <small class="d-sm-block d-none">{{variationtime}}</small>
                    </div>
                    <div class="toast-body yesdeclarewinner">
                      <img src="/assets/images/funnelpreviewimg/preview1.jpg" class="img-fluid" alt="Kia Builder Logo">
                      <div class="declarewinner kb-red">
                        <i class="fas fa-trophy"></i>
                        <a href="javascript:void(0)" (click)="declarewinner()">
                          Declare As winner
                        </a>
                      </div>
                    </div>
                    <div class="toast-header">
                      <button mat-raised-button color="accent" matTooltip="Edit with Keabuilder" matTooltipPosition="above" class="btn-block mr-2"><i class="fas fa-pen"></i> Edit Page</button>
                      <button mat-raised-button color="accent" matTooltip="View Step" matTooltipPosition="above" (click)="checkpagesettings('variationnewtab')" class="mr-2"><i class="fas fa-external-link-alt"></i></button>
                      <button mat-raised-button color="accent" matTooltip="Settings" matTooltipPosition="above" (click)="checkpagesettings('variationsetting')" ><i class="fas fa-cog"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="footer-wizard-kb mb-5">
              <button mat-raised-button color="accent" (click)="kbfootersteps('archivefunnelstep')"><i class="fas fa-times"></i> Archive Funnel step</button>
              <button mat-raised-button color="accent" (click)="kbfootersteps('deletefunnelstep')"><i class="far fa-trash-alt"></i> Delete Funnel Step</button>
              <button mat-raised-button color="accent" (click)="kbfootersteps('clonefunnelstep')"><i class="far fa-clone"></i> Clone Funnel Step</button>
            </div>
          </div>
          <!-- overview end -->

          <div class="kb-automation mt-4 pb-5 loadEffect" *ngIf="tabOpen == 'automation'">
            <div class="kb-automation-header">

            </div>
            <div class="kb-automation-footer text-center">
              <button mat-raised-button color="accent" class="mr-2" (click)="automation_show('action')"><i class="fas fa-plus"></i> Add New
                Action</button>
              <button mat-raised-button color="accent" class="mr-2" (click)="automation_show('email')"><i class="fas fa-plus"></i> Add New
                Email</button>
              <button mat-raised-button color="accent" (click)="automation_show('sms')"><i class="fas fa-plus"></i> Add New Sms
                Text</button>
            </div>
          </div>
          <!-- automation end -->

          <div class="kb-publishing loadEffect" *ngIf="tabOpen == 'publishing'">
            <div class="row mt-4 pb-5">

              <div class="col-md-6 mt-4" *ngIf="isvariationinactive">

                <mat-form-field class="kb-full-width" appearance="fill">
                  <mat-label>FUNNEL STEP NAME</mat-label>
                  <input type="text" name="funnelname" (blur)="changestepnames('stepname')" [(ngModel)]="funnelstepname" matInput>
                </mat-form-field>

              </div>

              <div class="col-md-6 mt-4" *ngIf="isvariationinactive">
                
                <mat-form-field class="kb-full-width" appearance="fill">
                  <mat-label>PATH</mat-label>
                  <input type="text" matInput name="funnelpath" (blur)="changestepnames('steppath')" [(ngModel)]="funnelstepurl">
                </mat-form-field>
               
              </div>

              <div class="col-md-12 mt-4" *ngIf="!isvariationinactive">
                
                <mat-form-field class="kb-full-width" appearance="fill">
                  <mat-label>Variation Path</mat-label>
                  <input type="text" matInput name="funnelvariationpath" (blur)="changestepnames('variationsteppath')" [(ngModel)]="funnelstepvariationurl">
                </mat-form-field>
               
              </div>

              <div class="col-md-12" *ngIf="isvariationinactive">

                <mat-form-field class="kb-chip-list" appearance="fill">
                  <mat-label>Add Tags</mat-label>
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                      {{tag}}
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input placeholder="New Tags..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="add($event)">
                  </mat-chip-list>
                </mat-form-field>

              </div>


            </div>
          </div>
          <!-- publishing end -->

        </div>
        <!-- wizard nav -->
      </div>
      <!-- col -->
    </div>
  </div>

</div>