<div id="kb-affiliates-commission">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates']" ><i class="fa fa-tachometer-alt" aria-hidden="true"></i> Dashboard</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-users']"  ><i class="fa fa-users" aria-hidden="true"></i> Users</button>
                <button color="primary" mat-raised-button class="mr-2" [routerLink]="['/affiliates-commission']" ><i class="fas fa-hand-holding-usd"></i> Commission Setup</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-transactions']" ><i class="fas fa-credit-card"></i> Transactions</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-share']" ><i class="fas fa-share"></i> Share Links</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-announcements']" ><i class="fas fa-bullhorn"></i> Announcements</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-exports']"><i class="fas fa-file-download"></i> Exports</button>
                <button mat-raised-button [routerLink]="['/affiliates-settings']"><i class="fas fa-cogs"></i> Settings</button>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-4 cardpage mt-5 mb-5 loadEffect" *ngFor="let kb_aff of kb_aff_commission; index as i;">
                <div>
                    <div class="text-center">
                        <img [src]="kb_aff_commission[i]['thumbnail']" alt="" class="img-fluid">
                    </div>
        
                    <div class="keabuilder-title-board line-ellipsis" matTooltip="Edit Name" matTooltipPosition="above">
                      <span>{{kb_aff_commission[i]['kb_commission_name']}}</span>
                      <input type="text" [(ngModel)]="kb_aff_commission[i]['kb_commission_name']">
                    </div>
                    <div class="statbadg" matTooltip="Status" matTooltipPosition="above">

                      <span mat-button [matMenuTriggerFor]="menu" class="statusbadge" [class]="kb_aff_commission[i]['publish_status']==1 ? 'active1':'active2'">
                          <i class="fas" [class]="kb_aff_commission[i]['publish_status']==1 ? 'fa-check':'fa-file'"></i>
                          {{kb_aff_commission[i]['publish_status']==1?'Publish':'Draft'}} <i class="fas fa-chevron-down drpdwnfa"></i>
                      </span>
                      <mat-menu #menu="matMenu">
                            <button mat-menu-item><i class="fa fa-check pr-2"></i> Publish</button>
                            <button mat-menu-item><i class="fa fa-file pr-2"></i> Draft</button>
                      </mat-menu>

                    </div>
                    <p class="kb-pagedate" matTooltip="Offer" matTooltipPosition="above">
                        <span><i class="fa fa-file-invoice-dollar" aria-hidden="true"></i> {{kb_aff_commission[i]['offer']}}</span>
                    </p>
                    
                    <mat-form-field class="w-50 ml-4 mr-4" appearance="fill">
                        <mat-label>Commission %</mat-label>
                        <input matInput value="0" type="number" min="0">
                    </mat-form-field>

                    <button mat-raised-button color="primary" >Edit <i class="fas fa-pencil-alt"></i></button>
                </div>
            </div>

            <div class="col-md-12">
                <mat-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>