<div class="bw-login container-fluid">
  <div class="row">
    <div class="pt-3 bw-colside ml-4 mt-4">
      <div class="login-form">
        <img src="./assets/images/logo/kblogo.svg">
        <h5>Sign In To Admin</h5>
        <p>Enter your details to login to your account:</p>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="pl-2">
            <div class="bu-forlogin">

              <!-- <input type="text" class="form-control mb-3" name="username" placeholder="username" [(ngModel)]="form.username" required
                #username="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted" >
                <i class="fas fa-exclamation-triangle"></i> Username is required!
              </div> -->

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Ex. User" [formControl]="userFormControl" required minlength="3" maxlength="20" [(ngModel)]="form.username" >
                <mat-error *ngIf="userFormControl.hasError('required')">
                  Username is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="userFormControl.hasError('minlength')">
                  Username must be at least <strong>3</strong> characters
                </mat-error>
                <mat-error *ngIf="userFormControl.hasError('maxlength')">
                  Username must be at most <strong>20</strong> characters
                </mat-error>
              </mat-form-field>

              <!-- <input type="password" class="form-control" placeholder="******" name="password" [(ngModel)]="form.password" required minlength="6"
                #password="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']"><i class="fas fa-exclamation-triangle"></i> Password is required</div>
                <div *ngIf="password.errors['minlength']">
                  <i class="fas fa-exclamation-triangle"></i> Password must be at least 6 characters
                </div>
              </div> -->

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordFormControl" required minlength="6" [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="ar-eyeicon">
                  <i class="fa fa-eye" [class]="hide ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                  <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                </button>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                  Password must be at least <strong>6</strong> characters
                </mat-error>
              </mat-form-field>

              
              <button type="submit" mat-raised-button class="mt-3 loginbtn" >Login</button>
              <br>
              <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                  <i class="fas fa-exclamation-triangle"></i> Login failed: {{ errorMessage }}
                </div>
              </div>
              <br>
              <button mat-button [routerLink]="['/forget']">Forget password?</button>

              <div>
                <span class="txt-light">Don't have an account yet?</span>
                <button mat-button [routerLink]="['/register']">Sign Up</button>
              </div>
            </div>
          </form>

          <div class="alert alert-success" *ngIf="isLoggedIn">
            Logged in as {{ roles }}.
          </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="bw-container__bg" [style.backgroundImage]="bgImg"></div>
    </div>
  </div>
</div>