.bw-login {
    margin-top: -24px;
  }
  
  .alert{
    position: fixed;
    top: 20px;
    right: 40px;
    opacity: 1;
    z-index: 9;
    color: #fff;
    animation: showError 0.3s ease-in-out;
    list-style: none;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .alert.alert-danger{
    background-color: #F64E60;
    border-color: #F64E60;
  }
  .alert.alert-warning{
    background-color: #f99d41;
    border-color: #f99d41;
  }
  .alert.alert-success{
    background-color: #a6f941;
    border-color: #a6f941;
  }
  
  .alert:nth-of-type(2n) {
    margin-top:80px;
  }
  .alert:nth-of-type(3n) {
    margin-top:140px;
  }
  
  .mycustomalert.hideError ul {
    right: -240px;
    opacity: 0;
    z-index: -1;
  }
  
  @keyframes showError {
    0% {
      right: -240px;
      opacity: 0;
    }
  
    75% {
      right: 100px;
      opacity: 0.5;
    }
  
    100% {
      right: 40px;
      opacity: 1;
    }
  }
  
  
  
  .bw-login img {
    width: 100px;
  }
  
  .login-form {
    width: 100%;
    max-width: 450px;
    color: rgb(0, 0, 0);
    text-align: left;
  }
  
  .login-form h5 {
    font-size: 19px;
    margin-top: 15px;
  }
  
  .login-form p {
    font-size: 13px;
    opacity: 0.6;
  }
  
  .signup-btn {
    border: none;
    font-size: 13px;
  }
  
  .login-btn {
    padding: 10px 50px !important;
  }
  
  .txt-light {
    font-size: 13px;
    opacity: 0.7;
  }
  
  .signup-btn:hover {
    color:#000;
    background: transparent !important;
    opacity: 0.7;
  }
  
  .error {
    color: #F64E60;
    font-size: 12px;
    font-weight: 400;
  }
  
  
  .bu-forlogin input::placeholder,
  .bu-forlogin input:focus,
  .bu-forregister input::placeholder,
  .bu-forregister input:focus{
    color: rgb(0, 0, 0);
    font-size: 13px;
  }
  
  /* .bu-forlogin input,
  .bu-forregister input,
  .bw-forforget input {
    opacity: 0.7;
    padding: 13px 26px;
    height: 40px;
  } */
  
  .toastnew .fa-thumbs-up {
    display: none;
  }
  
  .toastnew.active .fa-thumbs-up {
    display: inline-block;
  }
  
  .toastnew.active .fa-exclamation-triangle {
    display: none;
  }
  
  .toastnew.active {
    background: green !important;
  }
  
  .apple-login__container {
    display: none;
  }
  
  .bw-anthoersignin a:focus,
  .bw-anthoersignin a:hover {
    background-color: #f8f7fa;
    border-color: #f8f7fa;
    color: #3d64ff;
  }
  
  .bw-anthoersignin a {
    font-size: 14px;
    padding: 10px 20px;
    display: inline-block;
    width: 50%;
  }
  
  .bw-container__divider {
    position: relative;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .bw-container__divider:before {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #a9a8b3;
    top: 14px;
  }
  
  .bw-container__divider-text {
    color: #6f7287;
    border: 1px solid #a9a8b3;
    border-radius: 100px;
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 0 12px 3px;
    min-width: 20px;
    text-align: center;
    left: 41%;
  }
  
  .bw-container__bg {
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .bw-colside {
    flex: 1;
    -ms-flex: 1 0 0px;
    height: 99.9vh;
    overflow: hidden;
  }
  
  
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.ar-eyeicon {
  border: none;
  background: transparent;
  top: -6px;
  position: relative;
}
.mat-raised-button{
    width: 50%;
    height: 50px;
}