<div class="bw-login container-fluid">
  <div class="row">
    <div class="pt-3 bw-colside ml-4 mt-4">
      <div class="login-form">
        <img src="./assets/images/logo/kblogo.svg">
        <h5>Sign In To Admin</h5>
        <p>Enter your details to login to your account:</p>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="bu-forlogin">

              <input type="text" class="form-control mb-3" name="username" placeholder="username" [(ngModel)]="form.username" required
                #username="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted" >
                <i class="fas fa-exclamation-triangle"></i> Username is required!
              </div>

              <input type="password" class="form-control" placeholder="******" name="password" [(ngModel)]="form.password" required minlength="6"
                #password="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']"><i class="fas fa-exclamation-triangle"></i> Password is required</div>
                <div *ngIf="password.errors['minlength']">
                  <i class="fas fa-exclamation-triangle"></i> Password must be at least 6 characters
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-outline-dark login-btn" >Login</button>
              <br>
              <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                  <i class="fas fa-exclamation-triangle"></i> Login failed: {{ errorMessage }}
                </div>
              </div>
              <br>
              <a class="btn btn-outline-dark signup-btn pl-0" [routerLink]="['/forget']">Forget password?</a>

              <div>
                <span class="txt-light">Don't have an account yet?</span>
                <a class="btn signup-btn" [routerLink]="['/register']">Sign Up</a>
              </div>
            </div>
          </form>

          <div class="alert alert-success" *ngIf="isLoggedIn">
            Logged in as {{ roles }}.
          </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="bw-container__bg" [style.backgroundImage]="bgImg"></div>
    </div>
  </div>
</div>