.kb-mt-tp-2{
    margin-top: -20px;;
}
.kb-heatmapnew{
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 33%;
}
.kb-heatmapnew span {
    font-size: 22px;
    color: var(--primary-color);
}
.kb-findsection > div{
    background: linear-gradient(to left,var(--primary-color) ,#2c2c28);
    color: #fff;
    padding: 50px;
    border-radius: 6px;
}
.kb-findsection input {
    width: 91%;
    height: 45px;
    border-radius: 64px 0px 0px 64px;
    border: 0;
    padding: 0px 20px;
}
.kb-findsection button {
    padding: 6px 20px;
    border-radius: 0px 64px 64px 0px;
}
.kb-mostvisitpage h3 {
    background: linear-gradient(to left,var(--primary-color) ,#2c2c28);
    color: #fff;
    padding: 10px 30px;
    margin: 0px 33px 0px;
    border-radius: 6px 6px 0px 0px;
}
.kb-mostvisitpage ol {
    margin: 0px 32px;
    background: #f2f4f4;
    padding: 43px;
}
.kb-mostvisitpage ol li {
    background: rgb(255 255 255 / 60%);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.kb-mostvisitpage ol li a {
    color: #6f6954;
}

.mkbrdr{
    border-left: 1px solid #fff;
  }
  .maindivhead span.active{
    opacity: 1;
  }
  .maindivhead span{
    cursor: pointer;
    opacity: 0.5;
  }