<div class="container-fluid kb-main-container pb-5" id="kea-dashboard">

  <div class="row">
    <div class="col-md-4 adjustflex">
      <h2 class="fntwght">Welcome back, {{userService.user.name | titlecase}}!</h2>
      <p class="card-category">{{randomwelcome}}</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <p class="card-category">Daily Visit</p>
          <p class="card-title colr adjustcard">{{dailyvisit}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <p class="card-category">Revenue</p>
          <p class="card-title colr adjustcard">${{totalrevenue}} </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <p class="card-category">Contacts</p>
          <p class="card-title colr adjustcard">{{totalmembers}} </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <p class="card-category">Daily Sales</p>
          <p class="card-title colr adjustcard">${{dailysales}} </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="hidefornow">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="hidefornow">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <img src="/assets/images/dashboard/last-working.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Last Working Platform</p>
                <p class="card-title">Funnels </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats"><i class="fa fa-refresh"></i> View Now </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="hidefornow">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-3">
              <div class="icon-big text-center icon-warning">
                  <img src="/assets/images/dashboard/star-product.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-7 col-md-9">
              <div class="numbers">
                <p class="card-title">Star Product </p>
                <p class="card-category">Will Appear Here</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats"><i class="fa fa-clock-o"></i> See How! </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" >
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-10 col-md-10">
              <div class="numbers text-left">
                <!-- <p class="card-title">Good {{greeting}}, {{userService.user.name | titlecase}}</p> -->
                <p class="card-category">{{randomwelcome}}</p>
              </div>
            </div>
            <div class="col-2 col-md-2">
              <div class="icon-big text-center icon-warning">
                  <img src="/assets/images/dashboard/keababy.png" width="75" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats"><i class="fa fa-clock-o"></i> See How! </div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                  <img src="/assets/images/dashboard/revenue.png" class="img-fluid" alt="">
               </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Revenue</p>
                <p class="card-title colr">${{totalrevenue}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats "><span class="text-success">
            <i class="fa-solid fa-circle-arrow-up text-success"></i>5.56%</span>
            <span class="float-right"> <mat-select value="month">
            <mat-option value="month" selected>Last Month</mat-option>
            <mat-option value="week">Last Week</mat-option>
          </mat-select></span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <img src="/assets/images/dashboard/members.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Contacts</p>
                <p class="card-title colr">{{totalmembers}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats"><span class="text-danger"><i class="fa-solid fa-circle-arrow-down text-danger"></i> 0%</span> <span class="float-right"> <mat-select value="month">
            <mat-option value="month">Last Month</mat-option>
            <mat-option value="week">Last Week</mat-option>
          </mat-select></span> </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <img src="/assets/images/dashboard/revenue.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Daily Sales</p>
                <p class="card-title colr">${{dailysales}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats"><span class="text-success"><i class="fa-solid fa-circle-arrow-up text-success"></i> 5.56%</span><span class="float-right">
            <mat-select value="month">
            <mat-option value="month">Last Month</mat-option>
            <mat-option value="week">Last Week</mat-option>
          </mat-select></span> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-8 col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-10">
              <div class="numbers pull-left"><h5>Total Earnings</h5>
                <!-- <span class="colr"> ${{totalrevenue7day}} </span> -->
              </div>
            </div>
            <div class="col-sm-2">
              <!-- <mat-select value="month">
                <mat-option value="month" selected>Last Month</mat-option>
                <mat-option value="week">Last Week</mat-option>
              </mat-select> -->
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-12 "><span class="text-success"><i class="fa-solid fa-circle-arrow-up text-success mr-1"></i>5.56%</span></div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <h6 class="big-title">Total earnings in last Week</h6>
          <div class="kbcustmwidthforbox4">
            <apx-chart *ngIf="data11"
              [series]="chartOptions11.series"
              [chart]="chartOptions11.chart"
              [yaxis]="chartOptions11.yaxis"
              [xaxis]="chartOptions11.xaxis"
              [labels]="chartOptions11.labels"
              [stroke]="chartOptions11.stroke"
              [title]="chartOptions11.title"
              [dataLabels]="chartOptions11.dataLabels"
              [fill]="chartOptions11.fill"
              [tooltip]="chartOptions11.tooltip"
            ></apx-chart>
          </div>
        </div>
        <div class="card-footer" *ngIf="hidefornow">
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-title">Sales Statistics</div>
            </div>
            <div class="col-sm-8">
              <div class="pull-right">
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Sales By Weekly" matTooltipPosition="above" >Weekly</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Sales By Monthly" matTooltipPosition="above" >Monthly</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Sales By Yearly" matTooltipPosition="above" >Yearly</button>

                <button mat-raised-button color="primary" class="btn-round btn-icon badge" matTooltip="Custom Sales" matTooltipPosition="above" >
                  <i class="fas fa-play"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6"  >
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-10">
              <div class="numbers pull-left"><h5>Recent Sales Activity</h5></div>
            </div>
          </div>
          
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <div class="kbcustmwidthforbox4-recent text-center" [class.text-center]="recentsales.length==0">
            <img *ngIf="recentsales.length==0" src="/assets/images/dashboard/salesactivity.png" class="img-fluid" width="370" alt="">
            <button color="primary" *ngIf="recentsales.length==0" mat-raised-button class="mt-2" [routerLink]="['/sales/orderform']"><i class="fa fa-dolly-flatbed" aria-hidden="true"></i> Create Order Form</button>

            <div class="row mb-3" *ngFor="let recent of recentsales">
              <div class="col-sm-9 ">
                <div class="row">
                <span  class="col-sm-12 kbcustmwidthforbox4-mail">{{recent.email}}</span>
                </div>
                <div class="row">
                <span class="col-sm-12 kbcustmwidthforbox4-time">{{recent.time_ago}}</span>
              </div>
              </div>
              <div class="col-sm-3">
                <span class="colr">+${{recent.salesamount}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card-footer" >
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-right">
                <button mat-raised-button  class="btn-round btn-icon badge mr-1 colr" 
                matTooltip="Recent Sales" matTooltipPosition="above" >Show More</button>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-10">
              <div class="numbers pull-left"><h5>Recent Contacts</h5><span class="colr ml-1" *ngIf="hidefornow">{{totalcontact7day}}</span></div>
            </div>
            <div *ngIf="hidefornow" class="col-sm-5">
              <div class="pull-right"><span class="badge badge-pill badge-danger"> -14% </span></div>
            </div>
          </div>
          <div *ngIf="hidefornow" class="row">
            <div class="col-sm-12 "><span class="text-success"><i class="fa-solid fa-circle-arrow-up text-success mr-1"></i>5.56%</span></div>
          </div>
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <!-- <h6 class="big-title">total Contact in last 7 days</h6> -->
          <div class="chart1 kbcustmwidthforbox3 text-center">

            <img *ngIf="!contact.fetched" src="/assets/images/dashboard/recentcontact.png" class="img-fluid" width="500" alt="">
       
            <button color="primary" *ngIf="!contact.fetched" mat-raised-button class="mt-2" [routerLink]="['/crm/contacts']"><i class="fa fa-users" aria-hidden="true"></i> Create Contacts</button>

            <apx-chart
            *ngIf="contact.fetched"
            [series]="chartOptions10.series"
            [chart]="chartOptions10.chart"
            [dataLabels]="chartOptions10.dataLabels"
            [plotOptions]="chartOptions10.plotOptions"
            [yaxis]="chartOptions10.yaxis"
            [legend]="chartOptions10.legend"
            [fill]="chartOptions10.fill"
            [stroke]="chartOptions10.stroke"
            [tooltip]="chartOptions10.tooltip"
            [xaxis]="chartOptions10.xaxis"
            ></apx-chart>
          </div>

        </div>
        <div class="card-footer" *ngIf="hidefornow">
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-title">Website Stats</div>
            </div>
            <div class="col-sm-8">
              <div class="pull-right">

                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1"  matTooltip="Page Views" matTooltipPosition="above" >Views</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Traffic By Source" matTooltipPosition="above" >Source</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Traffic By Devices" matTooltipPosition="above" >Devices</button>

                <button mat-raised-button color="primary" class="btn-round btn-icon badge" matTooltip="Custom Stats" matTooltipPosition="above" >
                  <i class="fas fa-play"></i>
                </button>

                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6" *ngIf="data2.length!=0">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <div class="numbers pull-left"><h5>Recent Campaigns</h5>
                <span class="colr ml-1" *ngIf="hidefornow">{{totalcontact7day}}</span></div>
            </div>
        </div>
        <div *ngIf="hidefornow" class="row">
          <div class="col-sm-12 "><span class="text-success"><i class="fa-solid fa-circle-arrow-up text-success mr-1"></i>5.56%</span></div>
        </div>
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          
          <div class="chart1 kbcustmwidthforbox3 text-center">
            <img *ngIf="!campaign.fetched" src="/assets/images/dashboard/campaign.png" class="img-fluid" width="400" alt="">
       
            <button color="primary" *ngIf="!campaign.fetched" mat-raised-button class="mt-2" [routerLink]="['/crm/campaigns']"><i class="fa fa-envelope" aria-hidden="true"></i> Create Campaign</button>

            <apx-chart *ngIf="campaign.fetched"
              [series]="chartOptions12.series"
              [chart]="chartOptions12.chart"
              [xaxis]="chartOptions12.xaxis"
              [stroke]="chartOptions12.stroke"
              [dataLabels]="chartOptions12.dataLabels"
              [yaxis]="chartOptions12.yaxis"
              [labels]="chartOptions12.labels"
              [legend]="chartOptions12.legend"
              [title]="chartOptions12.title"
              [subtitle]="chartOptions12.subtitle"
            ></apx-chart>
          </div>

        </div>
        <div class="card-footer" *ngIf="hidefornow">
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-title">Website Stats</div>
            </div>
            <div class="col-sm-8">
              <div class="pull-right">

                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1"  matTooltip="Page Views" matTooltipPosition="above" >Views</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Traffic By Source" matTooltipPosition="above" >Source</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Traffic By Devices" matTooltipPosition="above" >Devices</button>

                <button mat-raised-button color="primary" class="btn-round btn-icon badge" matTooltip="Custom Stats" matTooltipPosition="above" >
                  <i class="fas fa-play"></i>
                </button>

                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <div class="numbers pull-left"><h5>Page Views</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <h6 class="big-title">Total earnings in last Week</h6> -->
          <div>
            <apx-chart *ngIf="data_pageview.fetched"
              [series]="chartOptions7.series"
              [chart]="chartOptions7.chart"
              [xaxis]="chartOptions7.xaxis"
              [dataLabels]="chartOptions7.dataLabels"
              [grid]="chartOptions7.grid"
              [stroke]="chartOptions7.stroke"
              [title]="chartOptions7.title"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>  

  
  <div class="row" *ngIf="hidefornow">
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left"> ${{totalrevenue7day}} </div>
            </div>
            <div class="col-sm-5" *ngIf="hidefornow">
              <div class="pull-right"><span class="badge badge-pill badge-success"> +18% </span></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <h6 class="big-title">Total earnings in last Week</h6>
          <div class="chart1 kbcustmwidthforbox3">
            <apx-chart *ngIf="campaign.fetched"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [yaxis]="chartOptions.yaxis"
              [xaxis]="chartOptions.xaxis"
              [labels]="chartOptions.labels"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
              [dataLabels]="chartOptions.dataLabels"
              [fill]="chartOptions.fill"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
          </div>
        </div>
        <div class="card-footer" *ngIf="hidefornow">
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-title">Sales Statistics</div>
            </div>
            <div class="col-sm-8">
              <div class="pull-right">
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Sales By Weekly" matTooltipPosition="above" >Weekly</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Sales By Monthly" matTooltipPosition="above" >Monthly</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Sales By Yearly" matTooltipPosition="above" >Yearly</button>

                <button mat-raised-button color="primary" class="btn-round btn-icon badge" matTooltip="Custom Sales" matTooltipPosition="above" >
                  <i class="fas fa-play"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6" *ngIf="data2.length!=0">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left"> {{totalcontact7day}} </div>
            </div>
            <div class="col-sm-5" *ngIf="hidefornow">
              <div class="pull-right"><span class="badge badge-pill badge-danger"> -14% </span></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <h6 class="big-title">total Contact in last 7 days</h6>
          <div class="chart1 kbcustmwidthforbox3">
            <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [xaxis]="chartOptions2.xaxis"
              [stroke]="chartOptions2.stroke"
              [dataLabels]="chartOptions2.dataLabels"
              [yaxis]="chartOptions2.yaxis"
              [labels]="chartOptions2.labels"
              [legend]="chartOptions2.legend"
              [title]="chartOptions2.title"
              [subtitle]="chartOptions2.subtitle"
            ></apx-chart>
          </div>

        </div>
        <div class="card-footer" *ngIf="hidefornow">
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-title">Website Stats</div>
            </div>
            <div class="col-sm-8">
              <div class="pull-right">

                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1"  matTooltip="Page Views" matTooltipPosition="above" >Views</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Traffic By Source" matTooltipPosition="above" >Source</button>
                <button mat-raised-button color="accent" class="btn-round btn-icon badge mr-1" matTooltip="Traffic By Devices" matTooltipPosition="above" >Devices</button>

                <button mat-raised-button color="primary" class="btn-round btn-icon badge" matTooltip="Custom Stats" matTooltipPosition="above" >
                  <i class="fas fa-play"></i>
                </button>

                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6" *ngIf="hidefornow">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left"> 8,960 </div>
            </div>
            <div class="col-sm-5" >
              <div class="pull-right"><span class="badge badge-pill badge-warning"> ~51% </span></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <h6 class="big-title">Total Heatmaps report in last 3.5 Months</h6>
          <div class="chart1 kbcustmwidthforbox3">
            <apx-chart
              [series]="chartOptions3.series"
              [chart]="chartOptions3.chart"
              [dataLabels]="chartOptions3.dataLabels"
              [colors]="chartOptions3.colors"
              [grid]="chartOptions3.grid"
              [xaxis]="chartOptions3.xaxis"
              [title]="chartOptions3.title"
            ></apx-chart>
          </div>
        </div>
        <div class="card-footer" >
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <div class="footer-title">Heatmap Statistics</div>
            </div>
            <div class="col-sm-6">
              <div class="pull-right">
                <button mat-raised-button color="accent" class="btn-round btn-icon badge" >View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">New vs. Returning Visitors</h5>
        </div>
        <div class="card-body">
          <div class="kbcustmwidthforbox2">
            <apx-chart *ngIf="data_newvsret.fetched"
              [series]="chartOptions4.series"
              [chart]="chartOptions4.chart"
              [labels]="chartOptions4.labels"
              [responsive]="chartOptions4.responsive"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Device Breakdown</h5>
        </div>
        <div class="card-body">
          <div class="kbcustmwidthforbox2">
            <apx-chart *ngIf="data_devicebreak.fetched"
              [series]="chartOptions5.series"
              [chart]="chartOptions5.chart"
              [labels]="chartOptions5.labels"
              [responsive]="chartOptions5.responsive"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Top 10 Countries</h5>
        </div>
        <div class="card-body">

          <div class="kb-table-list-item" *ngFor="let item of data_topcountry; index as i">
            <span class="kb-reports-list-count">{{i+1}}.</span>
            <span class="kb-reports-list-text"> <span class="kb-flag kb-flag-us"></span> {{item.location}}</span>
              <span class="kb-reports-list-number">{{item.count}}</span>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Top 10 Referrals</h5>
        </div>
        <div class="card-body">
          
          <div class="kb-table-list-item" *ngFor="let item of data_topreferrals; index as i">
            <span class="kb-reports-list-count">{{i+1}}.</span>
            <span class="kb-reports-list-text">
              <img [src]="'https://www.google.com/s2/favicons?domain='+item.referrals">{{makemyurl(item.referrals)}}</span>
              <span class="kb-reports-list-number">{{item.count}}</span>
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Top Pages</h5>
        </div>
        <div class="card-body">
          
          <div class="kb-table-list-item" *ngFor="let item of data_toplandingpage; index as i">
            <span class="kb-reports-list-count">{{i+1}}.</span>
            <span class="kb-reports-list-text">
              <a [href]="item.landing_page" target="_blank" rel="noreferrer noopener">
                {{item.doc_title}}</a>
            </span>
              <span class="kb-reports-list-number">{{item.count}}</span>
          </div>
          
        </div>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="hidefornow" >
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Campaign</h5>
          <p class="card-category">Last Week</p>
        </div>
        <div class="card-body">
          <div class="chart1 kbcustmwidthforbox" >
            <apx-chart
            [series]="chartOptions6.series"
            [chart]="chartOptions6.chart"
            [dataLabels]="chartOptions6.dataLabels"
            [plotOptions]="chartOptions6.plotOptions"
            [yaxis]="chartOptions6.yaxis"
            [legend]="chartOptions6.legend"
            [fill]="chartOptions6.fill"
            [stroke]="chartOptions6.stroke"
            [tooltip]="chartOptions6.tooltip"
            [xaxis]="chartOptions6.xaxis"
          ></apx-chart>
          </div>
        </div>
        <div class="card-footer ">
          <hr class="mt-n4">
          <div class="stats"><i class="fa fa-check"></i> Last Update 8 minutes ago </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">New Visitors</h5>
          <p class="card-category">Last Week</p>
        </div>
        <div class="card-body ">
          <div class="chart1 kbcustmwidthforbox" >
            <apx-chart
              [series]="chartOptions7.series"
              [chart]="chartOptions7.chart"
              [xaxis]="chartOptions7.xaxis"
              [dataLabels]="chartOptions7.dataLabels"
              [grid]="chartOptions7.grid"
              [stroke]="chartOptions7.stroke"
              [title]="chartOptions7.title"
            ></apx-chart>
          </div>
        </div>
        <div class="card-footer ">
          <hr class="mt-n4">
          <div class="stats"><i class="fa fa-check"></i> Last Update 1 minutes ago </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Orders</h5>
          <p class="card-category">Statistics</p>
        </div>
        <div class="card-body ">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <div class="chart1 kbcustmwidthforbox">
            <apx-chart
              [series]="chartOptions8.series"
              [chart]="chartOptions8.chart"
              [dataLabels]="chartOptions8.dataLabels"
              [plotOptions]="chartOptions8.plotOptions"
              [yaxis]="chartOptions8.yaxis"
              [legend]="chartOptions8.legend"
              [fill]="chartOptions8.fill"
              [stroke]="chartOptions8.stroke"
              [tooltip]="chartOptions8.tooltip"
              [xaxis]="chartOptions8.xaxis"
            ></apx-chart>
          </div>
        </div>
        <div class="card-footer ">
          <hr class="mt-n4">
          <div class="stats"><i class="fa fa-check"></i> Updated 3 minutes ago </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Contacts</h5>
          <p class="card-category">Statistics</p>
        </div>
        <div class="card-body ">
          <div class="chart1 kbcustmwidthforbox">
            <apx-chart
              [series]="chartOptions9.series"
              [chart]="chartOptions9.chart"
              [dataLabels]="chartOptions9.dataLabels"
              [plotOptions]="chartOptions9.plotOptions"
              [yaxis]="chartOptions9.yaxis"
              [legend]="chartOptions9.legend"
              [fill]="chartOptions9.fill"
              [stroke]="chartOptions9.stroke"
              [tooltip]="chartOptions9.tooltip"
              [xaxis]="chartOptions9.xaxis"
            ></apx-chart>
          </div>
        </div>
        <div class="card-footer ">
          <hr class="mt-n4">
          <div class="stats">
            <span>
              <i class="fa fa-download"></i> Downloads: 10k 
            </span>
            <span class="float-right">
              <i class="fa fa-sign-in-alt"></i> Active Logins: 1k 
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>