.kb-main-container {
    background: var(--kb-text-gray-50-color);
    /* background: rgb(244 244 244 / 48%); */
    padding-top: 30px;
    margin-bottom: -20px;
    margin-top: -26px;
}
/* Dashboard css start */
.card {
    border-radius: 12px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    transition: box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
}
.card-stats .card-body {
    padding: 15px 15px;
}
.card-footer {
    display: none;
}
.card-stats .icon-big {
    font-size: 3em;
    min-height: 64px;
}
.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
}
.card-stats .card-body .numbers .card-category {
    color: #000000;
    font-size: 16px;
    line-height: 1.4em;
}
.card-stats .card-body .numbers .card-title {
    font-size: 28px;
}
.card-stats .card-body .numbers p {
    margin-bottom: 0;
}
.card-stats .card-footer {
    padding: 0 15px 15px;
}
.card .card-footer {
    background-color: transparent;
    border: 0;
    font-size: 14px;
}
.card-stats .card-footer hr {
    margin-top: 10px;
    margin-bottom: 15px;
}
.card-stats .card-footer .stats {
    color: #9a9a9a;
}
.card .card-footer .stats i {
    margin-right: 5px;
    position: relative;
    top: 0;
    color: #66615b;
}
.card .card-header:not([data-background-color]) {
    background-color: transparent;
}
.card .numbers {
    font-size: 28px;
}
.pull-right {
    float: right;
}
.badge{
    font-size: 10px;
    padding: 4px 8px;
    color: #fff;
    line-height: 12px;
}
.badge.badge-success {
    border-color: #6bd098;
    background-color: #6bd098;
}
.card .card-header {
    padding: 15px 15px 0;
    border: 0;
}
.badge.badge-danger {
    border-color: #ef8157;
    background-color: #ef8157;
}
.badge.badge-warning {
    border-color: #fbc658;
    background-color: #fbc658;
}
.card .big-title {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 15px;
    text-transform:uppercase;
}
.card-footer {
    padding: 0.75rem 1.25rem;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.btn-round {
    border-width: 1px;
    border-radius: 30px;
}
.card-category, .category {
    text-transform: capitalize;
    font-weight: 400;
    color: #000000;
    margin: 0;
    font-size: 14px;
}
.card-tasks .table tbody td {
    padding: 12px 8px;
}
.card-tasks .table tbody td:last-child {
    padding-right: 0;
    display: inline-flex;
}
.kbbtn-icon {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: .9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal;
}
.chart1{
    max-width: 650px;
}
.custmxht{
    height: 300px;
}
.txtovflw{
    display: -webkit-box;
    height: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vsblonhvr{
    overflow-y: hidden;
}
.vsblonhvr:hover{
    overflow-y: scroll;
}
.mkcstmhght{
    height: 400px;
}
.usernm {
    text-transform: capitalize;
}
.kbcustmwidthforbox{
    max-width:301px;
}
.kbcustmwidthforbox2{
    max-width:500px;
    float: left;
}
.kbcustmwidthforbox3{
    max-width:660px;
}
/* .kbcustmwidthforbox4{
    max-width:660px;
} */
.kbcustmwidthforbox4-recent{
    height: 405px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.kbcustmwidthforbox4-time{
    font-size: 12px;
}
.kbcustmwidthforbox4-mail{
    color:#dea641;
}

@media only screen and (max-width:500px) {
    .nomob{
        display: none;
    }
}
.colr{
    color: var(--primary-color);
}
.kb-colr-kea{
    color: var(--primary-color);
}
.kb-colr-blue{
    color: var(--kb-text-blue-500-color);
}
.kb-colr-green{
color: var(--kb-text-green-400-color)
}
.kb-colr-accent{
    color: var(--kb-text-accent-600-color)
}
.kb-elli-vertical{
    cursor: pointer;
    line-height: inherit;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 2px;
    transition: 0.2s ease;
}
.kb-elli-vertical:hover {
    color: var(--primary-color);
    background-color: rgb(216 200 152 / 20%);
}

.adjustcard{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fntwght{
font-weight: 600;
}
.adjustflex{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.kb-table-list-item {
    padding: 12px 20px;
    min-height: 43px;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kb-table-list-item .kb-reports-list-count {
    display: inline-block;
    min-width: 30px;
    color: #657086;
    font-weight: 400;
}
.kb-table-list-item .kb-reports-list-text {
    color: #393f4c;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 1px;
    margin: -1px;
}
.kb-table-list-item .kb-reports-list-text {
    color: #393f4c;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 1px;
    margin: -1px;
}
.kb-table-list-item .kb-reports-list-number {
    color: #393f4c;
    font-size: 15px;
    text-align: right;
    display: block;
    padding-left: 5px;
}
.kb-table-list-item .kb-reports-list-text img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}