.outer-card-add {
    padding: 0px 80px;
    border: 1px dashed #444;
  }
  
  .cardpage>div {
    box-shadow: -10px 15px 30px 0 rgb(25 42 70 / 13%);
    padding: 20px;
    border-radius: 8px;
  }
  
  .pagemainlink a {
    text-decoration: none;
    font-size: 14px;
    float: right;
    margin-left: 20px;
    padding-bottom: 10px;
    color: #7E8299;
    border-bottom: 1px solid #7E8299;
    transition: .5s ease-in-out;
  }
  
  .pagemainlink a.active {
    color: #d8c898;
    border-bottom: 1px solid #d8c898;
  }
  
  .kb-pagedate {
    font-size: 13px;
    color: #988e71;
  }
  
  .kb-border-before {
    border-top: 1px solid #e0e7f1;
  }
  
  .statusbadge {
    color: #225d53;
    background-color: #d8c898;
    font-size: 12px;
    padding: 2px 12px;
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  .statusbadge.active2 {
    background-color: #e0e0e0;
  }
  
  .statusbadge:hover {
    background-color: #d8c898;
  }
  
  .img-fit {
    height: 265px;
    object-fit: cover;
  }
  
  .drpdwnfa {
    font-size: 10px;
    opacity: 0.6;
  }
  
  .kb-dropdown__status {
    top: 30px;
    min-width: 156px;
  }
  
  .pagemainlink a:hover {
    color: #d8c898;
    border-bottom: 1px solid #d8c898;
  }
  
  .kb-webpreviewer {
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 0 2px rgb(0 0 0 / 8%);
    margin: 20px;
    text-align: center;
    width: 80%;
  }
  
  .kb-webpreviewer {
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 0 2px rgb(0 0 0 / 8%);
    text-align: center;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  
  .kb-webpreviewinside {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(55, 63, 71, 0.5);
    left: 0px;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  
  .kb-webpreviewer:hover .kb-webpreviewinside {
    opacity: 1;
  }
  
  .kb-weblive {
    color: #054fb8;
    background-color: #e6f4fe;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 4px 15px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    z-index: 1;
    cursor: pointer;
  }
  
  .kb-dropdown_livestatus {
    top: 54px;
    min-width: 156px;
  }
  
  .kea-barfieldset {
    width: 50%;
    display: inline-block;
  }
  
  
  .form-control-position {
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
  }
  
  .has-icon-left .form-control-position {
    right: auto;
  }
  
  .has-icon-left .form-control {
    border-color: #DFE3E7;
    font-size: 13px;
    padding: 20px 10px 20px 30px;
  }
  
  .kb-fitimg {
    height: 300px;
    overflow-y: hidden;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    
    -webkit-transition: all 5s linear;
    -moz-transition: all 5s linear;
    -ms-transition: all 5s linear;
    -o-transition: all 5s linear;
    transition: all 5s linear;
  
  }
  
  .kb-fitimg:hover {
      background-position: left bottom;
  }