.contact-header-left{
    margin: 10px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
   
}
.contact-header{
    border :1px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    /* border-bottom: none; */
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    
}

.contact-header h3{
    padding-left: 10px;
    margin: 10px;
    padding-bottom: 15px;
}
.mat-tab-header{
    display:flex;
    padding: 20px;
    margin:10px;
}
.fa-user {
   display: flex;
    font-size: 60px;
    /* border-radius: 50%; */
    /* background-color: whitesmoke; */
    font-weight: 100;
    width: 100px;
    height:100px;
    align-items: center;
    border :1px solid white;
   margin-right: 30px;
    margin-top: 0;
}
.fa-user:before {
    content: "\f007";
    padding: 20px;
    align-items: center;
}
.mat-user h6,p{
    padding-left: 10px;
    margin-bottom: 0px;
}
.mat-user h6{
    font-weight: 800;
}
.mat-user h6{
   font-size: 20px;
   

}
mat-panel-title{
   /* font-weight: 500; */
}
.mat-user-header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-weight:500;
    margin-bottom: 10px;
    /* padding: 10px; */
    /* padding: 0;*/
    
    

}
.cancel{
    border: none;
    background-color: white;
}
.mat-header{
    display:flex;
     text-align: left;
    padding-left: 15px;
    
}
.contact{
    width:100%;
    display: flex;
    border: 1px solid whitesmoke;
}
.contact-label{
    width: 30%;
    padding:5px; 
    font-weight: 300;
}
.contact-input{
    padding: 5px;
    font-weight: 500;
}

.mat-button-edit{
   
    display: flex;  
    text-align: end;
     direction: rtl;
} 

.mat-raised-button{
padding: 5px;
margin: 5px;
}
.trlist-value{
    font-weight: 500;
}
.trlist-head{
    font-weight: 300;
}
.trtag-value{
    font-weight: 500;
    /* background-color: lightcyan; */
   
}
.trtag-head{
    font-weight: 300;
}
