<div class="contact-info">
  <div class="contact-header-left">
    <div class="contact-header ">
      <h3>Personal Info</h3>
      <div class="mat-tab-header">
        <i class="fa fa-user"></i>
        <div class="mat-user">
          <h6>{{ contact.firstname + " " + contact.lastname |titlecase }}</h6>
          <p>{{ contact.email }}</p>
          <p>{{ contact.phone }}</p>
        </div>
      </div>
    </div>
    <mat-accordion class="container-fluid mt-4" multi  >
      <!-- <div class="mat-user-header">
        <div class="mat-header">
          About {{ contact.firstname + " " + contact.lastname | titlecase}}
        </div>
        <div class="mat-button-edit "> 
        <div class="mat-button-edit-update" *ngIf="buttontext; else update_contact">
          <button
          mat-stroked-button color="primary"
          matTooltip='Edit button'
            (click)="accordion.openAll()"
            (click)="editcrmContact(contact)"
          >
          <i class="fa fa-pen" aria-hidden="true"></i>   Edit
          </button> 
        </div> 
        <ng-template #update_contact>
          <div class="mat-header">
          <button
          mat-stroked-button color="primary"
          matTooltip='Update button'
            (click)="accordion.closeAll()"
            (click)="updatecrmcontact()"
            [routerLink]="['/crm-contacts']"
          >
            Update
          </button> 
        </div> 
        </ng-template>
            <button class="cancel"
            matTooltip="Reset button"
            (click)="accordion.closeAll()"
              (click)="editcancel()"
            >
            <i class="fas fa-redo" aria-hidden="true"></i>
            </button>
        </div>
      </div> -->
      <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)" hideToggle >
        <mat-expansion-panel-header>
          <mat-panel-title>Details {{ contact.firstname + " " + contact.lastname | titlecase}}
          </mat-panel-title>
          <!-- <div class="mat-user-header"> -->
            <!-- <div class="mat-button-edit ">  -->
            <div class="mat-button-edit-update" *ngIf="buttontext; else update_contact">
              <button
              mat-stroked-button color="primary"
              matTooltip='Edit button'
                (click)="accordion.openAll()"
                (click)="editcrmContact(contact)"
              >
              <i class="fa fa-pen" aria-hidden="true"></i>   Edit
              </button> 
            </div> 
            <ng-template #update_contact>
              <div class="mat-header">
              <button
              mat-stroked-button color="primary"
              matTooltip='Update button'
                (click)="accordion.closeAll()"
                (click)="updatecrmcontact()"
                [routerLink]="['/crmmain/crm-contacts']"
              >
                Update
              </button> 
            </div> 
            </ng-template>
                <button class="cancel"
                matTooltip="Reset button"
                (click)="accordion.closeAll()"
                  (click)="editcancel()"
                >
                <i class="fas fa-redo" aria-hidden="true"></i>
                </button>
            <!-- </div> -->
          <!-- </div> -->
        </mat-expansion-panel-header>
        <div class="contact-gen-detail" *ngIf="hideany; else contact_edit">
          <div class="contact-detail">
            <div class="contact">
              <span class="contact-label">First Name</span
              ><span class="contact-input">{{ contact.firstname }}</span>
            </div>
            <div class="contact">
              <span class="contact-label">Last Name</span
              ><span class="contact-input">{{ contact.lastname }}</span>
            </div>
            <div class="contact">
              <span class="contact-label">Email Id</span
              ><span class="contact-input">{{ contact.email }}</span>
            </div>
            <div class="contact">
              <span class="contact-label">Phone</span
              ><span class="contact-input">{{ contact.phone }}</span>
            </div>
            <div class="contact">
              <span class="contact-label">Created At</span
              ><span class="contact-input">{{ contact.created_at| date: "fullDate" }}</span>
            </div>
            <div class="contact">
              <span class="contact-label">Updated At</span
              ><span class="contact-input">{{ contact.updated_at| date: "fullDate" }}</span>
            </div>
          </div>
        </div>

        <ng-template #contact_edit>
          <div class="edit-contact">
            <!-- <form [formGroup]="crmcontactForm" (ngSubmit)="updatecrmcontact()"> -->
            <form [formGroup]="crmcontactForm">
              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>First Name</mat-label>
                <input
                  type="text"
                  matInput
                  required
                  minlength="3"
                  maxlength="140"
                  formControlName="firstname"
                />
                <mat-error
                  *ngIf="crmcontactForm.controls.firstname.hasError('required')"
                  >Please enter Firstname</mat-error
                >
                <mat-error
                  *ngIf="
                    crmcontactForm.controls.firstname.hasError('minlength')
                  "
                  >Please enter more than 3 characters</mat-error
                >
                <mat-error
                  *ngIf="
                    crmcontactForm.controls.firstname.hasError('maxlength')
                  "
                  >Please enter less than 140 characters</mat-error
                >
              </mat-form-field>

              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input
                  type="text"
                  matInput
                  minlength="3"
                  maxlength="140"
                  formControlName="lastname"
                />
                <mat-error
                  *ngIf="crmcontactForm.controls.lastname.hasError('minlength')"
                  >Please enter more than 3 characters</mat-error
                >
                <mat-error
                  *ngIf="crmcontactForm.controls.lastname.hasError('maxlength')"
                  >Please enter less than 50 characters</mat-error
                >
              </mat-form-field>

              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  required
                  minlength="3"
                  maxlength="140"
                  formControlName="email"
                  (blur)="validateEmail($event)"
                />

                <mat-error
                  *ngIf="crmcontactForm.controls.email.hasError('required')"
                  >Please enter email</mat-error
                >
                <mat-error
                  *ngIf="crmcontactForm.controls.email.hasError('minlength')"
                  >Please enter more than 8 characters</mat-error
                >
                <mat-error
                  *ngIf="crmcontactForm.controls.email.hasError('maxlength')"
                  >Please enter less than 50 characters</mat-error
                >
                <mat-error
                  *ngIf="crmcontactForm.controls.email.hasError('email')"
                  >Please enter valid email</mat-error
                >
                <mat-error *ngIf="uniqueEmail == 1"
                  >Email is already exist.</mat-error
                >
              </mat-form-field>

              <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input
                  type="text"
                  matInput
                  minlength="10"
                  maxlength="50"
                  formControlName="phone"
                />

                <mat-error
                  *ngIf="crmcontactForm.controls.phone.hasError('minlength')"
                  >Please enter more than 10 digits</mat-error
                >
                <mat-error
                  *ngIf="crmcontactForm.controls.phone.hasError('maxlength')"
                  >Please enter less than 50 digits</mat-error
                >
              </mat-form-field>
            </form>
          </div>
        </ng-template>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> List </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="List-detail" *ngIf="hideany; else List_edit">
          <table class="table table-striped">
            <thead>
              <tr class="trlist-head">
                <td>S.No</td>
                <td>List Name</td>
              </tr>
            </thead>
            <tbody>
              <tr class="trlist-value text-primary" *ngFor="let list of contact.list_name; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ list}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <ng-template #List_edit>
        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Add on lists</mat-label>
          <mat-chip-list #chipGrid aria-label="List selection">
            <mat-chip *ngFor="let list of listarr" (removed)="removelist(list)">
              {{ list.list_name }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <input
            placeholder="Search list..."
            #listInput
            [formControl]="listCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          
          />
          <!-- (matChipInputTokenEnd)="addlist($event)" -->
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selectedList($event)"
          >
            <mat-option
              *ngFor="let list of filteredList | async"
              [value]="list.uniqueid"
            >
              {{ list.list_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </ng-template>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Tags </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="Tag-detail" *ngIf="hideany; else Tag_edit">
          <table class="table table-striped">
            <thead>
              <tr class="trtag-head">
                <td>S.No</td>
                <td>Tag Name</td>
              </tr>
            </thead>
            <tbody>
              <tr class="trtag-value text-primary" *ngFor="let tag of contact.tag_name index as i">
                <td>{{ i+1 }}</td>
                <td>{{ tag}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #Tag_edit>
        <mat-form-field class="kb-full-width" appearance="fill" >
          <mat-label>Add Tags</mat-label>
          <mat-chip-list #chipGrid2 aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tagarr" (removed)="removetag(tag)">
              {{ tag.tag_name }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <input
            placeholder="Search/add tag..."
            #tagInput
            [formControl]="tagCtrl"
            [matChipInputFor]="chipGrid2"
            [matAutocomplete]="auto2"
            
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addtag($event)"
          
          />
          <!-- [matChipInputAddOnBlur]="addOnBlur" -->
          <mat-autocomplete
            #auto2="matAutocomplete"
            (optionSelected)="selectedTag($event)"
          >
            <mat-option *ngFor="let tag of filteredTag | async" [value]="tag.uniqueid">
              {{ tag.tag_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </ng-template>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
