<div *ngIf="_form.form else notfound">
    <form *ngIf="!thankyou else thankumsg" (ngSubmit)="!submitting ? formSubmit() : ''" class="kb-form"
        [style.width]="_form.currentScrWdth < 800 ? '100%' : ''" [id]="'kb-form-'+_form.form.uniqueid"
        [name]="'kb-form-'+_form.form.uniqueid">
        <div *ngFor="let fe of _form.formField, index as fei" [id]="fe.id"
            [style.justifyContent]="!fe.input ? _form.justifyContent(fe.name) : ''" [id]="'kb-'+fe.type+'-'+fe.id"
            class="kb-form-element" [ngSwitch]="fe.name">
            <div *ngSwitchCase="'heading'" class="kb-form-heading" [innerHTML]="fe.html | safeHtml"></div>
            <div *ngSwitchCase="'text'" class="kb-form-text" [innerHTML]="fe.html | safeHtml"></div>
            <div *ngSwitchCase="'image'">
                <img [src]="fe.src ? fe.src : _image.imgPath+'builder/no-image.png'" class="kb-form-image">
            </div>
            <div *ngSwitchCase="'divider'" class="kb-w-100">
                <hr class="kb-form-divider">
            </div>
            <div *ngSwitchCase="'dropdown'" class="kb-form-inp kb-w-100">
                <label [for]="'kb-'+fe.type+'-'+fe.id" class="kb-form-label"
                    [style.justifyContent]="_form.justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                        class="kb-form-inp-reqired">* <mat-error *ngIf="fe.error">This field is
                            required</mat-error></span></label>
                <select [name]="'kb-'+fe.type+'-'+fe.id" [(ngModel)]="fe.value" [required]="fe.required" 
                    [class.kb-form-field-error]="fe.error && !fe.value" class="kb-form-input">
                    <option value="" selected disabled hidden>{{fe.placeholder}}</option>
                    <option *ngFor="let opt of fe.options" [value]="opt.value" [selected]="opt.selected">{{opt.value}}
                    </option>
                </select>
            </div>
            <div *ngSwitchDefault class="kb-w-100" [class]="fe.options ? 'kb-form-rc' : 'kb-form-inp'">
                <label [for]="'kb-'+fe.type+'-'+fe.id" class="kb-form-label"
                    [style.justifyContent]="_form.justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                        class="kb-form-inp-reqired">*
                        <mat-error *ngIf="fe.error">This field is required</mat-error>
                        <mat-error *ngIf="fe.invalid">Email is invalid</mat-error>
                    </span></label>
                <textarea *ngIf="fe.type == 'textarea' else input" [name]="'kb-'+fe.type+'-'+fe.id"
                    [(ngModel)]="fe.value" [required]="fe.required"
                    [placeholder]="fe.placeholder" [class.kb-form-field-error]="fe.error && !fe.value"
                    class="kb-form-input"></textarea>
                <ng-template #input>
                    <input *ngIf="!fe.options else options" [type]="fe.type" [name]="'kb-'+fe.type+'-'+fe.id"
                        [(ngModel)]="fe.value" [required]="fe.required" [placeholder]="fe.placeholder"
                        [class.kb-form-field-error]="(fe.error && !fe.value) || fe.invalid" class="kb-form-input">
                    <ng-template #options>
                        <label *ngFor="let option of fe.options, index as i" class="kb-form-option"
                            [for]="'kb-'+option.type+'-'+fe.id+'-'+i"
                            [style.justifyContent]="_form.justifyContent('option')">
                            <input [type]="fe.type" [id]="'kb-'+option.type+'-'+fe.id+'-'+i"
                                [name]="fe.type == 'radio' ? 'kb-'+fe.type+'-'+fe.id : 'kb-'+option.type+'-'+fe.id+'-'+i"
                                [value]="option.value" (change)="valChng(fe, i)" [required]="fe.required"
                                [checked]="option.selected">
                            <span>{{option.value}}</span>
                        </label>
                    </ng-template>
                </ng-template>
            </div>
        </div>
        <div *ngIf="_form.formField.length != 0" class="kb-form-btn">
            <button class="kb-form-button" [id]="'kb-form-btn-'+_form.form.uniqueid" [disabled]="submitting"
                [ngStyle]="getBlockStyle('button')" type="submit">{{_form.form.btntxt}}</button>
        </div>
    </form>
    <ng-template #thankumsg>
        <div id="thankumsg" [style.margin]="getBlockStyle('form')['margin']"
            [style.padding]="getBlockStyle('form')['padding']">
            <div><img src="./assets/default/images/kbtick.png" width="100px" height="auto"></div>
            <h4>Thankyou</h4>
            <div>
                <p>The form has been submitted successfully!</p>
            </div>
        </div>
    </ng-template>
</div>
<ng-template #notfound>
    <div id="form-not-found" [style.margin]="getBlockStyle('form')['margin']"
        [style.padding]="getBlockStyle('form')['padding']">Form not found!</div>
</ng-template>