<div *ngIf="_form.form else notfound">
    <form *ngIf="!thankyou else thankumsg" (ngSubmit)="!submitting ? formSubmit() : ''" [style.width]="_form.currentScrWdth < 800 ? '100%' : ''" [id]="'kb-form-'+_form.form.uniqueid" name="kb-form">
        <div *ngFor="let fe of _form.formField, index as fei" [id]="fe.id"
            [style.justifyContent]="!fe.input ? _form.justifyContent(fe.name) : ''" class="kb-form-element" [ngSwitch]="fe.name">
            <div *ngSwitchCase="'heading'" class="kb-form-heading"
                [innerHTML]="fe.html | safeHtml"></div>
            <div *ngSwitchCase="'text'" class="kb-form-text"
                [innerHTML]="fe.html | safeHtml"></div>
            <div *ngSwitchCase="'image'">
                <img [src]="fe.src ? fe.src : _image.imgPath+'builder/no-image.png'" class="kb-form-image">
            </div>
            <div *ngSwitchCase="'divider'" class="kb-w-100">
                <hr class="kb-form-divider">
            </div>
            <div *ngSwitchCase="'address'" class="kb-form-inp kb-w-100">
                <label [for]="fe.id" class="kb-form-label" [style.justifyContent]="_form.justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                        class="kb-form-inp-reqired">*<mat-error *ngIf="fe.error">This field is required</mat-error></span></label>
                <div *ngFor="let split of fe.split">
                    <div *ngIf="split.subsplit" class="kb-form-inp-split">
                        <span *ngFor="let subsplit of split.subsplit" [class.kb-d-none]="subsplit.hide">
                            <select *ngIf="subsplit.type == 'select'" [class.kb-form-field-error]="fe.error && subsplit.value == 'none'" class="kb-form-input"
                                [name]="subsplit.id" (input)="_form.inpAns(subsplit)" [(ngModel)]="subsplit.value" [required]="fe.required">
                                <option value="none">{{subsplit.placeholder}}</option>
                                <option *ngFor="let opt of _form.countries" [value]="opt.name" [selected]="opt.name == subsplit.placeholder">{{opt.name}}
                                </option>
                            </select>
                            <textarea *ngIf="subsplit.type == 'textarea'" [name]="subsplit.id" (input)="_form.inpAns(subsplit)" [(ngModel)]="subsplit.value"
                                [required]="fe.required" [placeholder]="subsplit.placeholder" [class.kb-form-field-error]="fe.error && subsplit.value == ''" class="kb-form-input"></textarea>
                            <input *ngIf="subsplit.type == 'text'" [type]="subsplit.type" [name]="subsplit.id" (input)="_form.inpAns(subsplit)" [(ngModel)]="subsplit.value"
                                [required]="fe.required" [placeholder]="subsplit.placeholder" [class.kb-form-field-error]="fe.error && subsplit.value == ''" class="kb-form-input">
                        </span>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'select'" class="kb-form-inp kb-w-100">
                <label [for]="fe.id" class="kb-form-label" [style.justifyContent]="_form.justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                        class="kb-form-inp-reqired">*<mat-error *ngIf="fe.error">This field is required</mat-error></span></label>
                <select [name]="fe.id" (input)="_form.inpAns(fe)" [(ngModel)]="fe.value" [required]="fe.required" 
                [class.kb-form-field-error]="fe.error && fe.value == 'none'" class="kb-form-input">
                    <option value="none" selected disabled hidden>{{fe.placeholder}}</option>
                    <option *ngFor="let opt of fe.split" [value]="opt.value" [selected]="opt.selected">{{opt.value}}
                    </option>
                </select>
            </div>
            <div *ngSwitchCase="'checkbox'" class="kb-form-rc kb-w-100">
                <label [for]="fe.id" class="kb-form-label" [style.justifyContent]="_form.justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                        class="kb-form-inp-reqired">*<mat-error *ngIf="fe.error">This field is required</mat-error></span></label>
                <div *ngFor="let split of fe.split, index as i">
                    <label [for]="split.id" class="kb-form-option" [style.justifyContent]="_form.justifyContent('option')">
                        <input [type]="split.type" [id]="split.id" [name]="split.id" [value]="split.value" (change)="_form.valchng(fe, i)" [checked]="split.selected">
                        <span>{{split.value}}</span>
                    </label>
                </div>
            </div>
            <div *ngSwitchCase="'radio'" class="kb-form-rc kb-w-100">
                <label [for]="fe.id" class="kb-form-label" [style.justifyContent]="_form.justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                        class="kb-form-inp-reqired">*<mat-error *ngIf="fe.error">This field is required</mat-error></span></label>
                <div *ngFor="let split of fe.split, index as i">
                    <label [for]="split.id" class="kb-form-option" [style.justifyContent]="_form.justifyContent('option')">
                        <input [type]="split.type" [id]="split.id" [name]="fe.id" [value]="split.value" (change)="_form.valchng(fe, i)" [checked]="split.selected">
                        <span>{{split.value}}</span>
                    </label>
                </div>
            </div>
            <div *ngSwitchCase="'button'" class="kb-form-btn">
                <button [name]="fe.id" [disabled]="submitting" type="submit" 
                class="kb-form-button">{{fe.text}}</button>
            </div>
            <div *ngSwitchDefault class="kb-form-inp kb-w-100">
                <label [for]="fe.id" class="kb-form-label" [style.justifyContent]="_form.justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                        class="kb-form-inp-reqired">*
                        <mat-error *ngIf="fe.error">This field is required</mat-error>
                        <mat-error *ngIf="fe.invalid">Email is invalid</mat-error>
                    </span></label>
                <div *ngIf="fe.split else inp" class="kb-form-inp-split">
                    <input *ngFor="let split of fe.split" [type]="split.type" [name]="split.id" (input)="_form.inpAns(split)" [(ngModel)]="split.value"
                        [required]="fe.required" [placeholder]="split.placeholder" [class.kb-form-field-error]="fe.error && split.value == ''" class="kb-form-input">
                </div>   
                <ng-template #inp>  
                    <textarea *ngIf="fe.type == 'textarea' else input" [name]="fe.id" (input)="_form.inpAns(fe)" [(ngModel)]="fe.value"
                        [required]="fe.required" [placeholder]="fe.placeholder" [class.kb-form-field-error]="fe.error && fe.value == ''" class="kb-form-input"></textarea>
                    <ng-template #input>
                        <input [type]="fe.type" [name]="fe.id" (input)="_form.inpAns(fe)" [(ngModel)]="fe.value"
                            [required]="fe.required" [placeholder]="fe.placeholder" [class.kb-form-field-error]="(fe.error && fe.value == '') || fe.invalid" class="kb-form-input">
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </form>
    <ng-template #thankumsg>
        <div id="thankumsg"  [style.margin]="getBlockStyle('form')['margin']" [style.padding]="getBlockStyle('form')['padding']">
            <div><img src="./assets/default/images/kbtick.png" width="100px" height="auto"></div>
            <h4>Thankyou</h4>
            <div><p>The form has been submitted successfully!</p></div>
        </div>
    </ng-template>
</div>
<ng-template #notfound>
    <div id="form-not-found" [style.margin]="getBlockStyle('form')['margin']" [style.padding]="getBlockStyle('form')['padding']">Form not found!</div>
</ng-template>