#thankumsg {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#thankumsg h4 {
    font-size: xx-large;
    font-weight: 700;
}

#thankumsg p {
    font-size: large;
}

#form-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    min-width: 100%;
}

.kb-form {
    margin: 0px auto;
    padding: 20px 0px;
    border-width: 0px;
    border-radius: 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    height: auto;
}