#thankumsg {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#thankumsg h4 {
    font-size: xx-large;
    font-weight: 700;
}

#thankumsg p {
    font-size: large;
}

#form-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
}