.card, .funnel-step-list {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  border: 0px;
}

.funnel-step-list {
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  overflow: hidden;
}

.funnel-step-list:not(:last-child) {
  margin-bottom: 10px;
}

.funnel-step-list:not(.selectedstep):hover {
  background: rgba(0,0,0,.04);
}

.funnel-step-list:before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.5rem;
}

.funnel-step-list.selectedstep {
  background: rgba(0,0,0,.1);
  font-weight: 500;
}

/* progressbar */

.progress.progress-sm {
  height: .4rem;
}

.progress {
  height: .6rem;
  overflow: visible;
  background-color: #F2F4F4;
}

.progress-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  background-color: #F2F4F4;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.progress .progress-bar {
  position: relative;
  border-radius: 1.28rem;
  box-shadow: 0 2px 6px 0 rgb(90 141 238 / 60%);
}

.progress-bar-success .progress-bar {
  background-color: #39DA8A;
  box-shadow: 0 2px 6px 0 rgb(57 218 138 / 60%);
}

.funnel-step-list.success:before {
  background-color: #39DA8A;
}
.funnel-step-list.warning:before {
  background-color: #FDAC41;
}
.funnel-step-list.info:before {
  background-color: #00CFDD;
}
.funnel-step-list.primary:before {
  background-color: #5A8DEE;
}
.funnel-step-list.secondary::before {
  background-color: #475F7B!important;
}
.funnel-step-list.danger:before {
  background-color: #FF5B5C;
}

.mymt-3{
  margin-top: 30px;
}

.kea-selectarea {
  position: absolute;
  left: 43%;
  width: 30%;
  background: transparent;
  height: 100%;
  top: 0px;
}

.kb-archivebtn {
  width: 37px;
  height: 40px;
  background: #6c757d;
  color: #fff;
  margin-top: 2px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 8px;
  margin-right: 5px;
}

.productbox{
  box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
  font-weight: bold;
  background: #f2f4f4;
  padding: 15px;
  margin: 10px;
}

.mklnheight{
  line-height: 36px;
}
.funneltypesty {
  position: relative;
  top: 11px;
  right: -61px;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.9;
}

.kb-webpreviewer {
  margin: auto;
  box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 0 2px rgb(0 0 0 / 8%);
  background-position: center top;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  height: 220px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  transition: all 1s linear;
}

.kb-webpreviewer:hover {
  background-position: center bottom;
}


.keafooterdropmenu {
  height: 0px;
  transition: all .3s cubic-bezier(.23,1,.32,1);
  background: #fff;
  overflow: hidden;
  margin: 0px;
}
.keafooterdropmenu button {
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

.keatitlebox {
  padding: 10px 0px 10px 20px;
}
.adjustarc{
  right: 56px!important;
  top: 1px!important;
}
@media only screen and (max-width:500px){
 .keamkmob{
  display: none;
 } 
}
.colr{
  color: #dea641;
}
.fnt{
  font-weight: 500;
  font-size: 18px;
}
.verti{
  color: #000;
}
.kb-fnt{
  font-size:12px ;
  color: var(--primary-color);
  position: relative;
  top: -15px;
}
