<ng-template #dialog>
  <h1 mat-dialog-title class="kb-danger">Delete Form</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{delform.name}}</span> form?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close [color]="'primary'">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deleteform(delform)">Yes</button>
  </div>
</ng-template>
<div id="kbformcomponent">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
  <div id="kb-offcanvas-actions" *ngIf="sidebar.open">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on" [class.loadEffectFromLeftsidebar]="sidebar.anim.open"
      [class.loadEffectFromLeftsidebarClose]="sidebar.anim.close">
      <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
      <div>
        <h6><strong>{{updatemode ? 'Quick Edit' : 'Create New Form'}}</strong></h6>
        <hr>
        <mat-error *ngIf="isNotValid(validate.name)">
          Form name should not be empty
        </mat-error>
        <mat-error *ngIf="validate.name.hasError('minlength')">
          Form name must be at least <strong>3</strong> characters
        </mat-error>
        <mat-form-field appearance="fill" class="kb-full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="form name" [formControl]="validate.name" [(ngModel)]="form.name"
            minlength="3">
        </mat-form-field>
        <mat-label class="kb-mat-label kb-text-gap">Redirection
          <mat-slide-toggle [(ngModel)]="form.redirenbled" [matTooltip]="form.redirenbled ? 'Enabled' : 'Disabled'"
            matTooltipPosition="above"></mat-slide-toggle>
        </mat-label>
        <mat-error *ngIf="validate.relink.touched && validate.relink.invalid && validate.relink.dirty">
          Redirection link is invalid
        </mat-error>
        <mat-form-field appearance="fill" class="kb-full-width">
          <mat-label>Redirection Link</mat-label>
          <input matInput type="text" placeholder="form redirection" [formControl]="validate.relink"
            [(ngModel)]="form.redirection">
        </mat-form-field>
        <mat-form-field appearance="fill" class="kb-full-width" *ngIf="_general.existwebpages">
          <mat-label>Website Pages</mat-label>
          <mat-select [(ngModel)]="form.redirection">
            <mat-option *ngFor="let page of _general.existwebpages" [value]="_general.subdomain+page.page_path"
              [disabled]="page.publish_status == 0">
              {{page.page_name | titlecase}}<small [attr.data]="'Draft'" class="infoTxt"
                *ngIf="page.publish_status == 0"></small>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="kb-full-width" *ngIf="_general.funnels">
          <mat-label>Funnel Steps</mat-label>
          <mat-select [(ngModel)]="form.redirection">
            <mat-optgroup *ngFor="let funnel of _general.funnels" [label]="funnel.name | titlecase">
              <mat-option *ngFor="let step of funnel.steps" [value]="_general.subdomain+step.page_path"
                [disabled]="step.archived == 1">
                {{step.title | titlecase}}<small [attr.data]="step.funneltype" class="infoTxt"></small>
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <button *ngIf="updatemode else submit" mat-raised-button color="primary" class="mt-2" (click)="onformUpdate()">
          Update <i class="far fa-save"></i></button>
        <ng-template #submit>
          <button mat-raised-button color="primary" class="mt-2" (click)="onformSubmit()"> Create <i
              class="fas fa-plus"></i></button>
        </ng-template>
        <!-- <img src="/assets/images/website/website1.png" class="img-fluid" alt=""> -->
      </div>
    </div>
  </div>
  <div class="offcanvas-overlay" *ngIf="sidebar.open" (click)="hidepopupsidebar()"
    [class.slowVisible]="sidebar.anim.open" [class.slowHide]="sidebar.anim.close">
  </div>
  <div class="container-fluid mb-4">
    <div class="row ">
      <div class="col-md-8 ">
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/reports']"  ><i class="fa fa-chart-bar" aria-hidden="true"></i> Reports</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/contacts']" ><i class="fa fa-users" aria-hidden="true"></i> Contacts</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/lists']" ><i class="fa fa-list" aria-hidden="true"></i> Lists</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/forms']" color="primary"><i class="fa-solid fa-address-card" aria-hidden="true"></i> Forms</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/automations']" ><i class="fa fa-random" aria-hidden="true"></i> Automations</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/campaigns']" ><i class="fa fa-envelope" aria-hidden="true"></i> Campaigns</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/tags']" ><i class="fa fa-tags" aria-hidden="true"></i> Tags</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/settings']" ><i class="fa-solid fa-gear" aria-hidden="true"></i> Settings</button>
        
      </div>
      <div class="col-md-4 text-right">
        <button mat-raised-button [color]="'accent'" (click)="toggleView()" *ngIf="forms.length != 0">
          <span *ngIf="toggleview else gridview">List View <i class="fas fa-th-list"></i></span>
          <ng-template #gridview><span>Grid View <i class="fas fa-th"></i></span></ng-template>
        </button>
        <button mat-raised-button color="primary" (click)="newform('create','')" class="mx-3">Create New <i
            class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row align-items-center">
        <mat-form-field appearance="fill" class="col-6 pr-2">
          <mat-label>Search Forms</mat-label>
          <input matInput #searchInp type="text" (input)="searchForms(searchInp, filterInp)" placeholder="Search Form Name">
          <i class="fa-solid fa-magnifying-glass"></i>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-2">
          <mat-label>Sort By</mat-label>
          <mat-select #filterInp name="kbfilter" (valueChange)="searchForms(searchInp, filterInp)">
            <mat-option [value]="'name ASC'">ASC By Name</mat-option>
            <mat-option [value]="'name DESC'">DESC By Name</mat-option>
            <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
            <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div [class.px-3]="!toggleview" class="row" *ngIf="forms.length != 0 else nodata">
      <div [class]="toggleview ? 'col-md-4' : 'col-md-12'" class="cardpage mt-4" *ngFor="let form of forms">
        <div [class.row]="!toggleview">
          <div [style.height]="toggleview ? '300px' : '150px'" [class]="toggleview ? 'col-md-12' : 'col-md-6'"
            class="p-0">
            <!-- <div *ngIf="toggleview" class="kb-title-board line-ellipsis ftsize">
              <span>{{form.name ? form.name : 'form' | titlecase}}</span>
              <input type="text" #formname [value]="form.name" (blur)="rename(form, formname)"
                matTooltip="Edit form Name" matTooltipPosition="above">
            </div> -->
            <div [class.kb-disabled]="form.deleting" class="kb-fitimg"
              [ngStyle]="{'background-image': 'url('+_image.uploadImgPath+_general.getSSPath('form-'+form.uniqueid)+'), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}">
              <div class="kb-loader" *ngIf="shortwaiting || form.deleting">
                <div class="kb-loader-shadow"></div>
                <div class="kb-loader-box"></div>
              </div>
            </div>
          </div>
          <div *ngIf="toggleview" [class]="'col-md-12 pt-3'">
              <div [class.p-0]="toggleview" class="row mt-1 d-flex justify-content-between">
                <button mat-raised-button class="btn-black" [routerLink]="'/crm/form/submissions/'+form.uniqueid" [disabled]="form.deleting">Submissions <i
                    class="fa fa-paper-plane"></i></button>
                <!-- <button mat-raised-button color="primary" [disabled]="form.deleting"
                  (click)="_general.redirectToBuilder(form.uniqueid, 'form')" class="mx-2">Edit <i
                    class="fas fa-pencil-alt"></i></button> -->
                    <button mat-raised-button color="primary" matTooltip="Settings" matTooltipPosition="above"  [matMenuTriggerFor]="menu">More<i class="fas fa-cog ml-1"></i></button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item  [disabled]="form.deleting"
                          (click)="_general.redirectToBuilder(form.uniqueid, 'form')"> <i class="fas fa-pencil-alt  pr-2"></i>Edit</button>
                      <button mat-menu-item (click)="_general.redirectLink('/crm/fetch-form/'+form.user_id+'/'+form.uniqueid)">
                        <i class="far fa-eye pr-2"></i>View</button>
                      <button mat-menu-item (click)="newform('update',form)">
                        <i class="fas fa-pencil-alt pr-2"></i>Quick Edit
                      </button>
                      <button mat-menu-item (click)="duplicateform(form)">
                        <i class="far fa-copy pr-2"></i>Duplicate
                      </button>
                      <button mat-menu-item class="text-danger" (click)="openDialog(dialog, form)">
                        <i class="far fa-trash-alt pr-2"></i>Delete
                      </button>
                    </mat-menu>
              </div>
              <div class="row align-items-center p-0 h-100">
                <div [class.p-0]="toggleview" class="col-md-12">
                  <p class="kb-pagedate mt-2 mb-3" matTooltip="Last Updated" matTooltipPosition="above">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i><span class="ml-1">Last Updated On :</span><span class="colr"> {{_general.dateformat(form.updated_at)}}</span>
                  </p>
                </div>
            </div>
          </div>
          <div *ngIf="!toggleview" [class]="'col-md-6'">
            <div class="row align-items-center p-0 h-100">
              <div [class.p-0]="toggleview" class="col-md-12">
                <div  class="kb-title-board line-ellipsis ftsize">
                  <span>{{form.name ? form.name : 'form' | titlecase}}</span>
                  <input type="text" #formname [value]="form.name" (blur)="rename(form, formname)"
                    matTooltip="Edit form Name" matTooltipPosition="above">
                </div>
                <p class="kb-pagedate mt-2 mb-3" matTooltip="Last Updated" matTooltipPosition="above">
                  <i class="far fa-calendar-alt" aria-hidden="true"></i><span class="ml-1">Last Updated On :</span><span class="colr"> {{_general.dateformat(form.updated_at)}}</span>
                </p>
              </div>
            <div  class=" col-md-12 d-flex justify-content-between">
              <button mat-raised-button class="btn-black" [routerLink]="'/crm/form/submissions/'+form.uniqueid" [disabled]="form.deleting">Submissions <i
                  class="fa fa-paper-plane"></i></button>
              <!-- <button mat-raised-button color="primary" [disabled]="form.deleting"
                (click)="_general.redirectToBuilder(form.uniqueid, 'form')" class="mx-2">Edit <i
                  class="fas fa-pencil-alt"></i></button> -->
                  <button mat-raised-button color="primary" matTooltip="Settings" matTooltipPosition="above"  [matMenuTriggerFor]="menu">More<i class="fas fa-cog ml-1"></i></button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item  [disabled]="form.deleting"
                          (click)="_general.redirectToBuilder(form.uniqueid, 'form')"> <i class="fas fa-pencil-alt  pr-2"></i>Edit</button>
                      <button mat-menu-item (click)="_general.redirectLink('/crm/fetch-form/'+form.user_id+'/'+form.uniqueid)">
                        <i class="far fa-eye pr-2"></i>View</button>
                      <button mat-menu-item (click)="newform('update',form)">
                        <i class="fas fa-pencil-alt pr-2"></i>Quick Edit
                      </button>
                      <button mat-menu-item (click)="duplicateform(form)">
                        <i class="far fa-copy pr-2"></i>Duplicate
                      </button>
                      <button mat-menu-item class="text-danger" (click)="openDialog(dialog, form)">
                        <i class="far fa-trash-alt pr-2"></i>Delete
                      </button>
                    </mat-menu>
            </div>
          </div>
        </div>
          
          <!-- <div class="statbadg">
            <button mat-raised-button class="statusbadge1" matTooltip="Settings" matTooltipPosition="above" [matMenuTriggerFor]="menu">More<i class="fas fa-cog ml-1"></i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  [disabled]="form.deleting"
                  (click)="_general.redirectToBuilder(form.uniqueid, 'form')" class="mx-2">Edit <i
                    class="fas fa-pencil-alt"></i></button>
              <button mat-menu-item (click)="_general.redirectLink('/crm/fetch-form/'+form.user_id+'/'+form.uniqueid)">
                <i class="far fa-eye pr-2"></i>View</button>
              <button mat-menu-item (click)="newform('update',form)">
                <i class="fas fa-pencil-alt pr-2"></i>Quick Edit
              </button>
              <button mat-menu-item (click)="duplicateform(form)">
                <i class="far fa-copy pr-2"></i>Duplicate
              </button>
              <button mat-menu-item class="text-danger" (click)="openDialog(dialog, form)">
                <i class="far fa-trash-alt pr-2"></i>Delete
              </button>
            </mat-menu>
          </div> -->
        </div>
      </div>
    </div>
    <ng-template #nodata>
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No Form Found">
        </div>
      </div>
    </ng-template>
  </div>
</div>