<ng-template #dialog>
  <h1 mat-dialog-title class="kb-danger">Delete Form</h1>
  <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{delform.name}}</span> form?
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-info">No</button>
      <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deleteme(delform)">Yes</button>
  </div>
</ng-template>
<div id="kbformcomponent">
  <mat-progress-bar *ngIf="searching" mode='indeterminate'></mat-progress-bar>
  <div id="kb-offcanvas-actions" *ngIf="sidebar.open">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on" [class.loadEffectFromLeftsidebar]="sidebar.anim.open"
      [class.loadEffectFromLeftsidebarClose]="sidebar.anim.close">

      <i class="fas fa-times" (click)="hidepopupsidebar()"></i>

      <div>

        <h6 *ngIf="!updatemode"><b>Create A Form</b></h6>
        <h6 *ngIf="updatemode"><b>Quick Edit</b></h6>
        <hr>

          <mat-form-field class="kb-full-width" appearance="fill">
            <mat-label>Form Name</mat-label>
            <input type="text" matInput [(ngModel)]="form.formname" (blur)="changemyname($event)" name="formname"
              [formControl]="userFormControl" placeholder="Ex. Home" required minlength="3">
            <mat-error *ngIf="userFormControl.hasError('required')">
              Form Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userFormControl.hasError('minlength')">
              Form Name must be at least <strong>3</strong> characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="kb-full-width" appearance="fill">
            <mat-label>Form Path</mat-label>
            <input type="text" matInput (input)="form.formpath = _general.joinWthDash(form.formpath)"
              [(ngModel)]="form.formpath" name="formpath" [formControl]="userFormControl2" placeholder="Ex. home"
              required minlength="3" (blur)="pathuniqueremove()">
            <mat-error *ngIf="userFormControl2.hasError('required')">
              Form Name is <strong>required</strong>
            </mat-error>
            <small class="text-danger" *ngIf="pathcheck">
              Form must be <strong>unique</strong>
            </small>
            <mat-error *ngIf="userFormControl2.hasError('minlength')">
              Form Name must be at least <strong>3</strong> characters
            </mat-error>
          </mat-form-field>

          <button *ngIf="updatemode else submit" mat-raised-button color="primary" class="mt-2" (click)="onformUpdate()"> Save <i class="far fa-save"></i></button>
          <ng-template #submit>
            <button mat-raised-button color="primary" class="mt-2" (click)="onformSubmit()"> Create <i class="fas fa-plus"></i></button>
          </ng-template>
        <img src="/assets/images/website/website1.png" class="img-fluid" alt="">

      </div>


    </div>
  </div>
  <div class="offcanvas-overlay" *ngIf="sidebar.open" (click)="hidepopupsidebar()"
      [class.slowVisible]="sidebar.anim.open" [class.slowHide]="sidebar.anim.close">
  </div>
  <div class="container-fluid">
    <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div class="row align-items-center">
      <div class="col-md-8">
        <mat-form-field  appearance="fill" class="col-8 pr-2">
          <mat-label>Search Form</mat-label>
          <input matInput type="text" name="searchweb" (keyup)="searchform($event)" placeholder="Search Form">
          <i class="fa fa-search"></i>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-4">
          <mat-label>Sort By</mat-label>
          <mat-select name="kbfilter" [(ngModel)]="selstatusshow" (ngModelChange)="applykbfilter()">
            <mat-option value="nameasc" >ASC By Name</mat-option>
            <mat-option value="namedesc">DESC By Name</mat-option>
            <mat-option value="dateasc" >ASC By Date</mat-option>
            <mat-option value="datedesc">DESC By Date</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 text-right">
        <button mat-raised-button [color]="'accent'" (click)="toggleView()" *ngIf="forms.length != 0">
          <span *ngIf="toggleview else gridview">List View <i class="fas fa-th-list"></i></span>
          <ng-template #gridview><span>Grid View <i class="fas fa-th-large"></i></span></ng-template>
        </button>
        <button mat-raised-button color="primary" class="mx-3" (click)="newform('create','')">Create New <i
              class="fas fa-plus"></i></button>
      </div>
    </div>
    <div [class.px-3]="!toggleview" class="row" *ngIf="forms.length != 0 else nodata">
      <div [class]="toggleview ? 'col-md-4' : 'col-md-12'" class="cardpage mt-4" *ngFor="let form of forms">
          <div [class.row]="!toggleview">
            <div [style.height]="toggleview ? '300px' : '150px'" [class]="toggleview ? 'col-md-12' : 'col-md-6'" class="p-0">
              <div class="kb-fitimg" [ngStyle]="{'background-image': 'url('+_image.uploadImgPath+_general.getSSPath('form-'+form.uniqueid)+'), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}">
                <div id="loader" *ngIf="shortwaiting">
                  <div id="shadow"></div>
                  <div id="box"></div>
                  <div *ngIf="_general.loading.error" class="loadErrMsg">Something went wrong!</div>
                </div>
              </div>
            </div>
            <div [class]="toggleview ? 'col-md-12 pt-3' : 'col-md-6'">
              <div class="row align-items-center p-0 h-100">
                <div [class.p-0]="toggleview" class="col-md-12">
                  <div class="kb-title-board line-ellipsis">
                    <span>{{form.name ? form.name : 'form' | titlecase}}</span>
                    <input type="text" #headname [value]="form.name" (blur)="rename(form, headname)" matTooltip="Edit form Name" matTooltipPosition="above">
                  </div>
                  <p class="kb-pagedate mt-2 mb-3" matTooltip="Last Updated" matTooltipPosition="above">
                    <i class="far fa-calendar-alt" aria-hidden="true"></i> {{_general.dateformat(form.updated_at)}}
                  </p>
                </div>
                <div [class.p-0]="toggleview" class="col-md-12 text-right">
                  <button mat-raised-button color="accent" (click)="openform(form.path)">View <i class="far fa-eye"></i></button>
                  <button mat-raised-button color="primary" (click)="_general.redirectToBuilder(form.uniqueid, 'form')" class="mx-2">Edit <i class="fas fa-pencil-alt"></i></button>
                  <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">More <i class="fas fa-cog"></i></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="newform('update',form)">
                        <i class="fas fa-pencil-alt pr-2"></i>Quick Edit
                      </button>
                      <button mat-menu-item (click)="duplicateform(form)">
                        <i class="far fa-copy pr-2"></i>Duplicate
                      </button>
                      <button mat-menu-item class="text-danger" (click)="openDialog(dialog, form)">
                        <i class="far fa-trash-alt pr-2"></i>Delete
                      </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <ng-template #nodata>
      <div class="row justify-content-center mt-5" >
        <div class="col-md-4">
            <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No Form Found">
        </div>
      </div>
    </ng-template>
  </div>    
</div>