<ng-template #dialog>
  <h1 mat-dialog-title class="kb-danger">Delete Form</h1>
  <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{delform.name}}</span> form?
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-info">No</button>
      <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deleteme(delform)">Yes</button>
  </div>
</ng-template>
<div id="kbformcomponent">

  <mat-progress-bar *ngIf="searching" mode='indeterminate'></mat-progress-bar>
  <div id="kb-offcanvas-actions" *ngIf="sidebar.open">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on" [class.loadEffectFromLeftsidebar]="sidebar.anim.open"
      [class.loadEffectFromLeftsidebarClose]="sidebar.anim.close">

      <i class="fas fa-times" (click)="hidepopupsidebar()"></i>

      <div>

        <h6 *ngIf="!updatemode"><b>Create A Form</b></h6>
        <h6 *ngIf="updatemode"><b>Quick Edit</b></h6>
        <hr>

          <mat-form-field class="kb-full-width" appearance="fill">
            <mat-label>Form Name</mat-label>
            <input type="text" matInput [(ngModel)]="form.formname" (blur)="changemyname($event)" name="formname"
              [formControl]="userFormControl" placeholder="Ex. Home" required minlength="3">
            <mat-error *ngIf="userFormControl.hasError('required')">
              Form Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userFormControl.hasError('minlength')">
              Form Name must be at least <strong>3</strong> characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="kb-full-width" appearance="fill">
            <mat-label>Form Path</mat-label>
            <input type="text" matInput (input)="form.formpath = _general.joinWthDash(form.formpath)"
              [(ngModel)]="form.formpath" name="formpath" [formControl]="userFormControl2" placeholder="Ex. home"
              required minlength="3" (blur)="pathuniqueremove()">
            <mat-error *ngIf="userFormControl2.hasError('required')">
              Form Name is <strong>required</strong>
            </mat-error>
            <small class="text-danger" *ngIf="pathcheck">
              Form must be <strong>unique</strong>
            </small>
            <mat-error *ngIf="userFormControl2.hasError('minlength')">
              Form Name must be at least <strong>3</strong> characters
            </mat-error>
          </mat-form-field>

          <button *ngIf="!updatemode" mat-raised-button color="primary" class="mt-2" (click)="onformSubmit()"> Create Form <i class="fas fa-plus"></i></button>
          
          <button *ngIf="updatemode" mat-raised-button color="primary" class="mt-2" (click)="onformUpdate()"> Save Details <i class="fas fa-save"></i></button>

        <img src="/assets/images/website/website1.png" class="img-fluid" alt="">

      </div>


    </div>
  </div>
  <div class="offcanvas-overlay " *ngIf="sidebar.open" (click)="hidepopupsidebar()"
    [class.slowVisible]="sidebar.anim.open" [class.slowHide]="sidebar.anim.close"></div>
 

    <div class="container-fluid mb-4">

      <div class="row">
        <div class="col-md-8 adjustmatfrm">
          <mat-form-field  appearance="fill" class="w-100">
            <mat-label>Search Form</mat-label>
            <input matInput type="text" name="searchweb" (keyup)="searchform($event)" placeholder="Search Form">
            <i class="fa fa-search"></i>
          </mat-form-field>
          <mat-form-field appearance="fill" class="mr-4">
            <mat-label>Sort By</mat-label>
            <mat-select name="kbfilter" [(ngModel)]="selstatusshow" (ngModelChange)="applykbfilter()">
              <mat-option value="nameasc" >ASC By Name</mat-option>
              <mat-option value="namedesc">DESC By Name</mat-option>
              <mat-option value="dateasc" >ASC By Date</mat-option>
              <mat-option value="datedesc">DESC By Date</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 text-right">
            <button mat-raised-button color="primary" class="mr-3" (click)="newform('create','')">Create Form <i
                class="fas fa-plus"></i></button>
        </div>
      </div>

        
    </div>
    <div class="container-fluid">

        <div class="row" *ngIf="nodata else showpages">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No webpages found">
          </div>
        </div>
        <ng-template #showpages>
          <div class="row">
              <div class="col-md-4 cardpage mb-4" *ngFor="let kbform of kbforms; index as i;">
                  <div>

                    <div class="kb-height">
                      <div class="kb-fitimg"
                        [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+kbform.thumbnail + '), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}">
                        <div id="loader" *ngIf="shortwaiting">
                          <div id="shadow"></div>
                          <div id="box"></div>
                          <div *ngIf="_general.loading.error" class="loadErrMsg">Something went wrong!</div>
                        </div>
                      </div>
                    </div>
          
                      <div class="keabuilder-title-board line-ellipsis" matTooltip="Edit Form Name" matTooltipPosition="above">
                        <span>{{kbform.name}}</span>
                        <input type="text" [(ngModel)]="kbform.name" (blur)="changeformname(kbform,kbform.name)">
                      </div>
                      <!-- <div class="statbadg" matTooltip="Status" matTooltipPosition="above">
                        
                        <span mat-button [matMenuTriggerFor]="menu" class="statusbadge" [class]="kbcourses[i]['publish_status']==1 ? 'active1':'active2'">
                            <i class="fas" [class]="kbcourses[i]['publish_status']==1 ? 'fa-check':'fa-file'"></i>
                            {{kbcourses[i]['publish_status']==1?'Publish':'Draft'}} <i class="fas fa-chevron-down drpdwnfa"></i>
                        </span>

                        <mat-menu #menu="matMenu">
                          <button mat-menu-item><i class="fa fa-check pr-2"></i> Publish</button>
                          <button mat-menu-item><i class="fa fa-file pr-2"></i> Draft</button>
                      </mat-menu>

                      </div> -->
                      <!-- <p class="kb-pagedate"><span [matTooltip]="kbcourses[i]['entries']+' Entries'" matTooltipPosition="above"><i class="fa fa-tasks" aria-hidden="true"></i> {{kbcourses[i]['entries']}}</span> &nbsp; <span><i class="far fa-calendar-alt" aria-hidden="true"></i> {{kbcourses[i]['updated_at']}}</span>  &nbsp; <span matTooltip="Actions" matTooltipPosition="above"><i class="fa fa-bolt" aria-hidden="true"></i> {{kbcourses[i]['actions']}}</span></p> -->

                      <p class="kb-pagedate mb-2" matTooltip="Last Update" matTooltipPosition="above">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i> {{datecusfilter(kbform.updated_at)}}
                      </p>
                      <div class="text-right">
                        <button mat-raised-button color="accent" class="mr-2" (click)="openform(kbform.path)" > View <i class="far fa-eye"></i></button>
                        <button mat-raised-button color="primary" [routerLink]="'/builder/form/'+kbform.uniqueid">Edit <i class="fas fa-pencil-alt"></i></button>
                        <button mat-raised-button color="accent" class="ml-2" [matMenuTriggerFor]="menu"> More <i class="fas fa-cog"></i></button>
                        <mat-menu #menu="matMenu">
                            <!-- <button mat-menu-item>
                              <i class="fas fa-code pr-2"></i>Integrate
                            </button>
                            <button mat-menu-item>
                              <i class="fas fa-chart-pie pr-2"></i>Statistics
                            </button> -->
                            <button mat-menu-item (click)="newform('update',kbform)">
                              <i class="fas fa-pencil-alt pr-2"></i>Quick Edit
                            </button>
                            <button mat-menu-item (click)="duplicateform(kbform)">
                              <i class="far fa-copy pr-2"></i>Duplicate
                            </button>
                            <button mat-menu-item class="text-danger" (click)="openDialog(dialog, kbform)">
                              <i class="far fa-trash-alt pr-2"></i>Delete
                            </button>
                        </mat-menu>
                      </div>

                  </div>
                </div>
          </div>
        </ng-template>

        <div class="row mt-4">
          <div class="col-md-12 mt-4">
            <!-- <mat-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page">
            </mat-paginator> -->
          </div>
        </div>

    </div>    
</div>