  <!-- add new Order Form -->
  <ng-template #adddialog>
    <h1 mat-dialog-title>Add Order Form</h1>
    <div mat-dialog-content>
      <mat-error *ngIf="hasError">{{hasError}}</mat-error>
      <mat-form-field class="kb-full-width" appearance="fill" [class.mat-form-field-invalid]="hasError">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Order Form name" [(ngModel)]="productObj.name" required [minlength]="3">
      </mat-form-field>
      <!-- <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Product description" [(ngModel)]="productObj.description" [style.minHeight]="'100px'"></textarea>
      </mat-form-field> -->
    </div>
    <div mat-dialog-actions class="float-right">
        <button mat-button mat-dialog-close class="text-danger">Cancel</button>
        <button mat-button (click)="validateorderform('add')" color="primary" [disabled]="!productObj.name">Add</button>
    </div>
  </ng-template>
  <!-- add new product -->
  <!-- update product -->
  <ng-template #updatedialog>
    <h1 mat-dialog-title>Update Product</h1>
    <div mat-dialog-content>
      <mat-error *ngIf="hasError">{{hasError}}</mat-error>
      <mat-form-field class="kb-full-width" appearance="fill" [class.mat-form-field-invalid]="hasError">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Product name" [(ngModel)]="productObj.name" required [minlength]="3">
      </mat-form-field>
      <!-- <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Product description" [(ngModel)]="productObj.description" [style.minHeight]="'100px'"></textarea>
      </mat-form-field> -->
    </div>
    <div mat-dialog-actions class="float-right">
        <button mat-button mat-dialog-close class="text-danger">Cancel</button>
        <button mat-button (click)="validateorderform('update')" color="primary" [disabled]="!productObj.name">Update</button>
    </div>
  </ng-template>
  <!-- update product -->
  <!-- duplicate product -->
  <ng-template #dupdialog>
    <h1 mat-dialog-title >Duplicate Product</h1>
    <div mat-dialog-content>
      Would you like to duplicate <span class="kb-temp-text-primary">{{productObj.name}}</span> product?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">No</button>
      <button mat-button mat-dialog-close (click)="duplicateproduct(productObj)" [color]="'primary'">Yes</button>
    </div>
  </ng-template>
  <!-- duplicate product -->
  <!-- delete product -->
  <ng-template #deldialog>
    <h1 mat-dialog-title class="kb-danger">Delete Product</h1>
    <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{productObj.name}}</span> product?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close [color]="'primary'">No</button>
      <button mat-button mat-dialog-close (click)="deleteproduct()" class="text-danger">Yes</button>
    </div>
  </ng-template>
  <!-- delete product -->
  <div class="container-fluid">
      <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
      <div class="row">
          <mat-form-field appearance="fill" class="col-md-4">
              <mat-label>Search order form by name</mat-label>
              <input matInput [(ngModel)]="search.value" (input)="searchorderforms()" name="searchvalue" type="text" placeholder="Search order forms">
              <button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
                <mat-icon>close</mat-icon>
              </button>
              <i class="fa-solid fa-magnifying-glass"></i>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-md-3">
              <mat-label>Sort By</mat-label>
              <mat-select [(ngModel)]="search.sortby" name="sortby" (valueChange)="searchorderforms()">
                  <mat-option [value]="'created_at ASC'">ASC By Create</mat-option>
                  <mat-option [value]="'created_at DESC'">DESC By Create</mat-option>
                  <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
                  <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
                  <mat-option [value]="'name ASC'">ASC By Name</mat-option>
                <mat-option [value]="'name DESC'">DESC By Name</mat-option>
              </mat-select>
          </mat-form-field>
          <div class="col-md-5 text-right">
              <button mat-raised-button (click)="openDialog(adddialog, productObj)" color="primary" class="mx-3">Add Order Form <i
                  class="fas fa-plus"></i></button>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table kb-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; index as i">
                <td (click)="editdialog.click()" class="kb-td-link">
                  <span>{{product.name | titlecase}}</span>
                </td>
                <td>{{ product.updated_at | date:'medium' }}</td>
                <td>
                  <span class="d-flex">
                      <i mat-ripple matTooltip="Customize" matTooltipPosition="above" [routerLink]="['/sales/orderform/'+product.uniqueid]" class="fa fa-pencil px-4 kb-table-action-icon"></i>

                    <i #editdialog mat-ripple matTooltip="Quick Edit" matTooltipPosition="above" (click)="openDialog(updatedialog, product)" class="fa fa-edit px-4 kb-table-action-icon"></i>
                    <i mat-ripple matTooltip="Duplicate" matTooltipPosition="above"  (click)="openDialog(dupdialog, product)" class="fa fa-copy px-4 kb-table-action-icon"></i>
                    <i mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(deldialog, product)" class="fa fa-trash-alt px-4 kb-table-action-icon kb-icon-del"></i>
                  </span>
                </td>                        
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
    
  