<div class="bw-login container-fluid">

  <div class="row">
      <div class="bw-sidebar-logo py-4 px-5">
        <img src="/assets/images/logo/kblogo.png" alt="">
        <div class="bw-logo__item__text ml-2">Keabuilder</div>
      </div>
      </div>
        <div class="row py-2 px-5">
        <div class="col-md-5 login-form p-4">
              <div class="bu-forregister">
                <div *ngIf="changestep==0">
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label> First Name</mat-label>
                        <input type="text" matInput [formControl]="firstnameFormControl" placeholder="Ex. Rock" required [(ngModel)]="form.firstname">
                        <mat-error *ngIf="firstnameFormControl.hasError('required')">
                          First Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label> Last Name</mat-label>
                        <input type="text" matInput [formControl]="lastnameFormControl" placeholder="Ex. Rock" [(ngModel)]="form.lastname">
                      </mat-form-field>
                    </div>
                  </div>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" required [(ngModel)]="form.email">
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error> -->
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('pattern')">
                      Please enter <strong>Valid Email</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> Company Name</mat-label>
                    <input type="text" matInput [formControl]="companynameFormControl" placeholder="Ex. Keabuilder" [(ngModel)]="form.company">
                    <mat-error *ngIf="companynameFormControl.hasError('required')">
                      Company Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> Phone Number</mat-label>
                    <input type="tel" matInput [formControl]="phoneFormControl" placeholder="Ex. +19999999999" [(ngModel)]="form.phone"> 
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput placeholder="Ex. User" [formControl]="userFormControl" required minlength="3" maxlength="20" [(ngModel)]="form.username" (input)="removespecialchar(form)" >
                    <mat-error *ngIf="userFormControl.hasError('required')">
                      Username is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="userFormControl.hasError('minlength')">
                      Username must be at least <strong>3</strong> characters
                    </mat-error>
                    <mat-error *ngIf="userFormControl.hasError('maxlength')">
                      Username must be at most <strong>20</strong> characters
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" required minlength="6" [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="ar-eyeicon">
                      <i class="far " [class]="hide ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                    </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                      Password must be at least <strong>6</strong> characters
                    </mat-error>
                  </mat-form-field>

                  <div class="d-flex justify-content-end">
                  <button mat-raised-button type="button" class="registerbtn" (click)="specialuser ? onSubmit() : fillnext()" [disabled]="firstnameFormControl.invalid || emailFormControl.invalid || companynameFormControl.invalid || phoneFormControl.invalid  || userFormControl.invalid ||  passwordFormControl.invalid"><span *ngIf="specialuser">Submit</span><span *ngIf="!specialuser">Next</span></button>
              </div>
            </div>

              <div *ngIf="changestep==1 && !specialuser">          
                <!-- <mat-tab-group class="w-100" (selectedIndexChange)="getactivetab($event)">
                  <mat-tab>
                  <ng-template mat-tab-label>
                    <i class="fa-brands fa-cc-stripe mr-1"></i>Strip
                  </ng-template> -->
                  <div class="row">
                    <mat-form-field class="example-full-width col-md-6" appearance="fill">
                      <mat-label>Current Subsciption Plan</mat-label>
                      <mat-select [(ngModel)]="product" (selectionChange)="productdetails($event)">
                        <mat-option *ngFor="let item of products" [value]="item">{{item.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width col-md-6" appearance="fill">
                      <mat-label>Current Payment Plan</mat-label>
                      <mat-select [(ngModel)]="productid" (selectionChange)="subscriptiontype($event)">
                          <mat-option *ngFor="let type of product?.type" [value]="type.value">{{type.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


              <div ngxStripeCardGroup [formGroup]="stripeForm" [elementsOptions]="elementsOptions">

             <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Card Holder Name</mat-label>
                <input type="text" matInput formControlName="name" [(ngModel)]="stripe.payeename">
              </mat-form-field> -->

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <input type="text" matInput formControlName="address" [(ngModel)]="stripe.payeeaddress">
              </mat-form-field>
             
              <div class="row">
              <mat-form-field class="example-full-width col-md-6" appearance="fill">
                <mat-label>City</mat-label>
                <input type="text" matInput formControlName="cityname" [(ngModel)]="stripe.payeecity">
              </mat-form-field>

              <mat-form-field class="example-full-width col-md-6" appearance="fill">
                <mat-label>State</mat-label>
                <input type="text" matInput formControlName="state" [(ngModel)]="stripe.payeestate">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="kb-full-width col-md-6" appearance="fill" (click)="filtercountryData($event)">
                <mat-label>Country</mat-label>
                <input matInput type="text" [(ngModel)]="stripe.payeecountry" formControlName="shippingcountry" placeholder="Please enter country name" [matAutocomplete]="countryAuto"  class="kb-act-searchinp w-100" (input)="filtercountryData($event)" >
                <mat-autocomplete #countryAuto="matAutocomplete" >
                  <mat-option (click)="getcountrynm(option)" *ngFor="let option of filteredcountry" [value]="option.name">{{ option.name }}</mat-option>
                </mat-autocomplete>
            </mat-form-field> 

              <mat-form-field class="example-full-width col-md-6" appearance="fill">
                <mat-label>ZIP</mat-label>
                <input type="text" matInput formControlName="zip" [(ngModel)]="stripe.payeezip">
              </mat-form-field>
            </div>
           
            <mat-error *ngIf="paymenterror">{{paymentMessage}}</mat-error>
            <span *ngIf="paymentstatus" class="colr">{{successMessage}}</span>
            <div class="w-100 kb-strip py-2">
              <mat-label>Enter Card Details</mat-label>
              <div class="kb-strip-cardbox">
              <ngx-stripe-card  [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
            </div>
             
              <!-- <div class="kb-strip-mesg">Why? We ask for a payment method so that your subscription and business can continue without interruption after your trial ends</div>
              <img src="./assets/images/registration/cards.png" width="130">
            </div> -->
          </div>
          
        </div>
         
        <!-- </mat-tab>
        <mat-tab>
                    <ng-template mat-tab-label>
                      <i class="fa-brands fa-cc-paypal mr-1"></i>Paypal
                    </ng-template>
                    </mat-tab>
      </mat-tab-group> -->
      <div class="py-3">
      <!-- <div class="kb-check"><mat-checkbox [(ngModel)]="emailsubscription"><span>Sign up to receive the latests product updates</span></mat-checkbox></div> -->
     <!-- <div class="kb-check"><mat-checkbox  [(ngModel)]="serviceterms"><span>You agree to Keabuilder’s <span class="kb-check-wrap-text" routerLink="'/serviceterms'">Terms of Service & Privacy Policy.</span></span></mat-checkbox></div>  -->
    </div>   
     <div class="d-flex justify-content-end py-3">
            <button mat-raised-button type="button" class="mr-3" (click)="fillback()">Back</button>
            <button mat-raised-button class="registerbtn" [disabled]="stripeForm.invalid" (click)="payment()" *ngIf="!spinner" >Start Free Trial</button>
            </div>
           
                <div class="alert alert-warning" *ngIf="isSignUpFailed">
                  <i class="fas fa-exclamation-triangle"></i> Signup failed!<br />{{ errorMessage }}
                </div>

            </div>

                  <div class="py-3">
                      <span class="txt-light">Have an account?</span>
                      <button mat-button (click)="navigateToLoginWithRefresh()">Log In</button>
                  </div>
              </div>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
          <div class="kb-spinner" *ngIf="spinner">
            <mat-spinner></mat-spinner>
          </div>
    </div>
      <div class="col-md-7 px-5">
        <div *ngIf="!specialuser">
       <div class="py-2">
        <span *ngIf="productname =='Startup'">
       <h1>Startup <span class="colr" *ngIf="productid=='price_1NTevbBFKaDgAHCwEwUIyyJw'">$79/monthly</span><span class="colr" *ngIf="productid=='price_1NTeyPBFKaDgAHCwLv5twvpv'">${{79*12}}/Annual</span></h1>
       <span>Get your business up and running</span>
       <div class="row py-3">
        <div class="col-md-6">
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>0% transaction fee</p>
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>3 website</p>
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>50 funnels</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>50,000 contacts</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10 courses</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited Products</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>499 pages</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10 domains</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>50 automation</p> 
        </div>
        <div class="col-md-6">
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>499 campaign</p>
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>5 users</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Survey quiz (with logic)</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Heat Map (Snapshot)</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Advance Analytics</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Zapier</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Ticket support</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>2 hours/month business Strategy</p> 
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>2 hours/month business Strategist</p> 
       
        </div>
       </div>
       <p>*+ applicable taxes</p>
      </span>
      <span *ngIf="productname =='Entrepreneur'">     
        <h1>Entrepreneur <span class="colr" *ngIf="productid=='price_1Ndr32BFKaDgAHCw5xKyngcc'">$149/monthly</span><span class="colr" *ngIf="productid=='price_1Ndr4lBFKaDgAHCw8WCP0i1G'">${{149*12}}/Annual</span></h1>
        <span>Expand your offering and grow your audience</span>
        <div class="row py-3">
         <div class="col-md-6">
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>0% transaction fee</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10 website</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>200 funnels</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>100,000 contacts</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>25 courses</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited Products</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited pages</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>20 domains</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited automation</p> 
         </div>
         <div class="col-md-6">
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited campaign</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10 users</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Survey quiz (with logic)</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Heat Map (Snapshot)</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Advance Analytics</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Zapier</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Ticket + 24*7 chat support</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>5 hours/month business Strategy</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>5 hours/month business Strategist</p> 
        
         </div>
        </div>
        <p>*+ applicable taxes</p>
       </span>
       <span *ngIf="productname =='Agency'" >
        <h1>Agency <span class="colr" *ngIf="productid=='price_1Ndr7RBFKaDgAHCwdcMETILM'">$1997/monthly</span><span class="colr" *ngIf="productid=='price_1Ndr8LBFKaDgAHCw7jph534I'">${{1997*12}}/Annual</span></h1>
        <span>Scale your business and your team with advanced features</span>
        <div class="row py-3">
         <div class="col-md-6">
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>0% transaction fee</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited website</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited funnels</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited contacts</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited courses</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited Products</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited pages</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>100 domains</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited automation</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited campaign</p>
         </div>
         <div class="col-md-6">
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>25 users</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Survey quiz (with logic)</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Heat Map (Snapshot + Recording)</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Advance Analytics</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Zapier</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Ticket support + 24*7 (Chat Support + Assitance (Zoom call))</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10 hours/month business Strategy</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10 hours/month business Strategist</p> 
         </div>
        </div>
        <p>*+ applicable taxes</p>
       </span>
       <span *ngIf="productname =='Beta'">
        <h1 class="mb-3">Beta <span class="colr">$29/monthly</span></h1>
        <span >Get your business up and running</span>
        <div class="row py-3">
         <div class="col-md-6">
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>0% transaction fee</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>1 Website</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>1 Funnel</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10 Pages</p> 
           <!-- <p><i class="fa-regular fa-circle-check mr-2 colr"></i>1 courses</p>  -->
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited Products</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited Offers (Product Bundle)</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>1 Domain</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Ticket Support</p>  
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>One Free Call (30 min) Funnel Strategist</p>
           <!-- <p><i class="fa-regular fa-circle-check mr-2 colr"></i>0 automation</p>  -->
          
           
         </div>
         <div class="col-md-6">
          <p><i class="fa-regular fa-circle-check mr-2 colr"></i>10,000 Contacts</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>100 Campaign</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited Email Templates</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Unlimited Forms</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Marketplace</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Free SSL</p>
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Reporting</p> 
           <!-- <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Survey quiz (with logic)</p>  -->
           <!-- <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Heat Map (Snapshot)</p>  -->
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Analytics</p> 
           <p><i class="fa-regular fa-circle-check mr-2 colr"></i>One Free Call (30 min) Business Strategy</p>
           <!-- <p><i class="fa-regular fa-circle-check mr-2 colr"></i>Zapier</p>  -->
           
        
         </div>
        </div>
        <p>*+ applicable taxes</p>
       </span>
      </div>
    </div>
    <div *ngIf="specialuser">
      <div  class="bw-container__bg" [style.backgroundImage]="bgImg"></div>
    </div>
      </div>
     
    </div> 
</div>
