.alert {
  position: fixed;
  top: 20px;
  right: 40px;
  opacity: 1;
  z-index: 9;
  color: #fff;
  animation: showError 0.3s ease-in-out;
  list-style: none;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 4px;
}

.alert.alert-danger {
  background-color: #F64E60;
  border-color: #F64E60;
}

.alert.alert-warning {
  background-color: #f99d41;
  border-color: #f99d41;
}

.alert.alert-success {
  background-color: #a6f941;
  border-color: #a6f941;
}

.alert:nth-of-type(2n) {
  margin-top: 80px;
}

.alert:nth-of-type(3n) {
  margin-top: 140px;
}

.mycustomalert.hideError ul {
  right: -240px;
  opacity: 0;
  z-index: -1;
}

@keyframes showError {
  0% {
    right: -240px;
    opacity: 0;
  }

  75% {
    right: 100px;
    opacity: 0.5;
  }

  100% {
    right: 40px;
    opacity: 1;
  }
}

.login-form {
  width: 100%;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.signup-btn:hover {
  color: #000;
  background: transparent !important;
  opacity: 0.7;
}

.error {
  color: #F64E60;
  font-size: 12px;
  font-weight: 400;
}

.bu-forlogin input::placeholder,
.bu-forlogin input:focus,
.bu-forregister input::placeholder,
.bu-forregister input:focus {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.toastnew .fa-thumbs-up {
  display: none;
}

.toastnew.active .fa-thumbs-up {
  display: inline-block;
}

.toastnew.active .fa-exclamation-triangle {
  display: none;
}

.toastnew.active {
  background: green !important;
}

.apple-login__container {
  display: none;
}

.bw-anthoersignin a:focus,
.bw-anthoersignin a:hover {
  background-color: #f8f7fa;
  border-color: #f8f7fa;
  color: #3d64ff;
}

.bw-anthoersignin a {
  font-size: 14px;
  padding: 10px 20px;
  display: inline-block;
  width: 50%;
}

.example-full-width {
  width: 100%;
}

.ar-eyeicon {
  border: none;
  color: transparent;
  /* background: transparent; */
  /* top: -6px;
  position: relative; */
}

.registerbtn {
  background-color: #2c2c28;
  color: #fff;
  font-weight: bold;
}
.paybtn {
  background-color: #f84b07;
  color: #fff;
  font-weight: bold;
  align-items: center;
}
.kb-strip{
  border:1px solid hsl(0deg 0% 0% / 13%);
  padding:10px 10px 30px 10px;
  border-radius: 5px;
}
.kb-strip:hover{
  border : 1px solid black;
  cursor: pointer;
}
.colr{
  color: var(--primary-color);
}
.kb-strip-cardbox{
  box-sizing: border-box;
  height: 36px;
}
.kb-strip-cardbox:focus{
  border : 1px solid var(--primary-color);
  
}
.kb-strip-mesg{
  margin-top: 8PX;
  font-size: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 140%;
  font-size: 0.75rem;
  text-align: left;
  color: rgb(77, 82, 86);
}
.kb-spinner{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--kb-dim-black);
  justify-content: center;
  align-items: center;
}
.kb-review-text{
  font-weight: 700;
  font-size: 28px;
}
.kb-review-img{
border-radius: 10px;
width: 100%;
max-height: 300px;
}
.kb-review-mesge{
  font-style: italic;
  font-weight: 500;
}
.kb-check{
  font-size:10px ;
  align-items: center;
  position: relative;
  top: -2px;
  text-wrap: wrap;
  
}
.kb-check-wrap-text{
  text-decoration: underline;
  color: var(--primary-color);
}
.kb-check-wrap-text:hover{
  cursor: pointer;
  z-index: 1;
  zoom: 120%;
}

.bw-sidebar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  width: 100%;
  padding: 25px 5px;
  min-height: 60px;
  transition: 0.3s ease-in;
}

.bw-sidebar-logo img {
  height: 46px;
}

.bw-logo__item__text {
  position: relative;
  line-height: 2em;
  overflow: hidden;
  font-size: 24px;
  font-family: cursive;
  /* font-style: italic; */
  font-weight: 500;
}
.bw-container__bg {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

