<div class="container-fluid pb-5 px-5">
    <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div class="row align-items-center pb-4">
      <div class="col-md-6 d-flex">
        <h4 class="d-inline mb-0">
          {{orderform.name | titlecase}}
        </h4>
      </div>
      <div class="col-md-6 text-right">
        <button mat-raised-button color="accent" (click)="_general.prevRoute()"><i
            class="fa fa-arrow-left mr-2"></i>Back</button>
        <button mat-raised-button color="primary" (click)="saveorder()" class="mx-3">Save
          <i class="far fa-save ml-1"></i>
        </button>
        <button mat-raised-button color="danger">Delete
          <i class="far fa-trash-alt ml-1"></i>
        </button>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="kb-offer-card rounded px-3 pt-3 mb-4 pb-2 kb-prev">
                <h6>Preview</h6>
                <hr>

                <div class="container-fluid kbmncont p-4">
                    <div class="row">
                        <form novalidate method="post" action="javascript:void(0)" id="payment-form" class="w-100" [formGroup]="stripeForm">
                            <div class="col-md-12">
                                
                                <div class="o2step_step1 mt-2" *ngIf="!switchstep">
                                    <h5>PERSONAL DETAILS</h5>
                                    <small class="allfldreq">All fields required</small>
                                    <div class="form-group">
                                        <label for="">Email Address*</label>
                                        <input type="email" class="form-control" formControlName="email"
                                        required [class.finderror]="stripeForm.get('email').hasError('required') && submitted">
                                      </div>
                                    <div class="form-group">
                                      <label for="">Full Name*</label>
                                      <input type="text" class="form-control" formControlName="name" 
                                      required [class.finderror]="stripeForm.get('name').hasError('required') && submitted">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Phone Number*</label>
                                      <input type="number" class="form-control" formControlName="phone"
                                      required [class.finderror]="stripeForm.get('phone').hasError('required') && submitted">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Full Address*</label>
                                      <input type="text" class="form-control" formControlName="fulladdress"
                                      required [class.finderror]="stripeForm.get('fulladdress').hasError('required') && submitted">
                                    </div>
                                    <div class="form-group">
                                      <label for="">City Name*</label>
                                      <input type="text" class="form-control" formControlName="cityname" 
                                      required [class.finderror]="stripeForm.get('cityname').hasError('required') && submitted">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Country*</label>
                                      <input matInput type="text" [(ngModel)]="stripe.payeecountry" formControlName="shippingcountry" 
                                      placeholder="Please enter country name" [matAutocomplete]="countryAuto"  class="kb-act-searchinp w-100" 
                                      (input)="filtercountryData($event)" >
                                      <mat-autocomplete #countryAuto="matAutocomplete" >
                                        <mat-option (click)="getcountrynm(option)" *ngFor="let option of filteredcountry" [value]="option.name">{{ option.name }}</mat-option>
                                      </mat-autocomplete>
                                    </div>
                                    <div class="form-group">
                                      <div class="row">
                                        <div class="col-md-8">
                                          <label for="">State / Province*</label>
                                          <input type="text" class="form-control" formControlName="state" 
                                          required [class.finderror]="stripeForm.get('state').hasError('required') && submitted">
                                        </div>
                                        <div class="col-md-4">
                                          <label for="">Zip Code*</label>
                                          <input type="number" class="form-control" formControlName="zip"
                                          required [class.finderror]="stripeForm.get('zip').hasError('required') && submitted">
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="o2step_step2 mt-2" *ngIf="!switchstep">
                                    <button type="button" class="btnkeacheckout" (click)="switchstep = !switchstep">
                                        <span class="elButtonMainStep1">{{checkoutstyle.step1btntext}}</span>
                                      </button>
                                    <div class="order2ButtonSubText">{{checkoutstyle.step1footertext}}</div>
                                </div>

                                <div class="o2step_step3" *ngIf="switchstep">
                                    <a class="kb-back" (click)="switchstep = !switchstep" href="javascript:void(0)">Back</a>
                                    <h5 class="mb-4">PAYMENT METHOD <i class="fa-lock fas float-right iconsty"></i></h5>
                                    <small class="allfldreq paywthcard">Pay with card <img class="st-paycard"
                                        src='/assets/images/payment/payment-cards.png' alt="" srcset=""></small>

                                    <h6 class="kb-danger mt-2" *ngIf="!isPaymentConnected"><i class="fa fa-exclamation-circle mr-2" aria-hidden="true"></i>
                                          Payment Gateway Error</h6>
                                    <div class="form-group mt-2" *ngIf="isPaymentConnected">
                                        <ngx-stripe-card class="stripe-card" [options]="cardOptions" 
                                        [elementsOptions]="elementsOptions"></ngx-stripe-card>
                                    </div> 
                                </div>

                                <div class="o2step_step4 mt-4" *ngIf="switchstep">

                                    <h5>REVIEW ORDER</h5>

                                    <div class="Checkout_Summary">
                                        <table cellpadding="0" cellspacing="0" class="Checkout_Summary_Table"> 
                                            <tr class="Checkout_Summary_Table_Row Checkout_Summary_Table_Row-lineitem"
                                            *ngFor="let product of myproductarr; index as i;">
                                                <td class="Checkout_Summary_Table_Row_Cell kbprname">
                                                    <label [for]="'kbchk'+i">
                                                      <input type="checkbox" [value]="product.price" [checked]="i==0" 
                                                      (change)="maketotalprice($event)" [name]="product.name" [id]="'kbchk'+i">
                                                      <span>{{product.name}}</span>
                                                    </label>
                                                </td>
                                                <td class="Checkout_Summary_Table_Row_Cell kbprprice">
                                                    <span class="Checkout_Summary_Monetary">
                                                        <span class="Checkout_Summary_Monetary_Units">
                                                          {{product.symbol}}{{product.price!=0?product.price:'FREE'}}</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="Checkout_Summary_OrderTotal">
                                        <table cellpadding="0" cellspacing="0" class="Checkout_Summary_Table Checkout_Summary_Table-ordertotal">
                                            <tr class="Checkout_Summary_Table_Row Checkout_Summary_Table_Row-ordertotal">
                                                <td class="Checkout_Summary_Table_Row_Cell kbprname2">Order total</td>
                                                <td class="Checkout_Summary_Table_Row_Cell kbprprice2">
                                                    <span class="Checkout_Summary_Monetary">
                                                        <span class="Checkout_Summary_Monetary_Currency">{{symbolcode | uppercase}}</span>
                                                        <span class="Checkout_Summary_Monetary_Units">{{totalprice}}</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>

                                <div class="o2step_step5 mt-4" *ngIf="switchstep">
                                    <button type="button" class="btnkeacheckout">
                                        <span class="elButtonMainStep1">{{checkoutstyle.step2btntext}}</span>
                                      </button>
                                      <div class="order2ButtonSubText">{{checkoutstyle.step2footertext}}</div>
                                </div>
                                
                                
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="kb-offer-card rounded px-3 pt-3 mb-4 pb-2">
                <h6>Customize</h6>
                <hr>
                <br>

              <div class="kb-offer-card rounded px-3 pt-3 mb-4">
                <h6>Offers</h6>
                <mat-form-field class="kb-full-width" appearance="fill" (click)="filterProductData($event)">
                  <mat-label>Select offers</mat-label>
                  <mat-chip-list #chipList aria-label="Product selection">
                    <mat-chip *ngFor="let data of selectedProducts; index as i" (removed)="removeSelectedProduct(i)">
                      {{ data?.name }}
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                  </mat-chip-list>
                  <input matInput type="text" #searchChipInp placeholder="Select multiple offers"
                    (input)="filterProductData($event)" [matAutocomplete]="listAuto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" class="w-100">
                  <mat-autocomplete #listAuto="matAutocomplete" (optionSelected)="addSelectedProduct($event, searchChipInp)">
                    <mat-option *ngFor="let option of filteredProducts" [value]="option"
                      [disabled]="isOptionDisabled(selectedProducts, option.uniqueid)">
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="kb-offer-card rounded px-3 pt-3 mb-4">
                <h6>Redirection</h6>
                <mat-form-field class="kb-full-width">
                  <mat-label>Redirection Url here...</mat-label>
                  <input [(ngModel)]="redirection" matInput placeholder="Ex. https://abc.com/newpage/" value="">
                </mat-form-field>

              </div>

            </div>

        </div>
    </div>
</div>