<div id="kb-createfunnelcontacts">
  <!-- <app-funnel-wizard-nav></app-funnel-wizard-nav> -->

    <div class="container-fluid loadEffect">
        <div class="row whitefunnel pt-5 pb-5 ">
            <div class="col-md-12">
              <section class="users-list-wrapper" id='table-userslist'>

                <div class="users-list-filter px-1">
                  <form class="container-fluid">
                    <div class="row border rounded py-2 mb-2">
                      <div class="col-12 col-sm-6 col-lg-3">
      
                        <mat-form-field appearance="fill" class="kb-form-field">
                          <mat-label>Showing Contacts for</mat-label>
                          <mat-select name="showingcontacts" [(ngModel)]="showingcontacts">
                            <mat-option value="7 DAY">Last 7 Days</mat-option>
                            <mat-option value="30 DAY">Last 30 Days</mat-option>
                            <mat-option value="2 MONTH">Last 2 Months</mat-option>
                            <mat-option value="1 YEAR">This Year</mat-option>
                            <mat-option value="all">All Time</mat-option>
                          </mat-select>
                        </mat-form-field>
      
                      </div>
                      <div class="col-12 col-sm-6 col-lg-3">
      
                        <mat-form-field appearance="fill" class="kb-form-field">
                          <mat-label>Steps</mat-label>
                          <mat-select name="steps" [(ngModel)]="selectedfunnelsteps">
                            <mat-option value="all">All Funnel Steps</mat-option>
                            <mat-optgroup label="Funnel Steps">
                              <mat-option *ngFor="let funnelstep of funnelsteps" [value]="funnelstep.id">
                                {{funnelstep.value}}
                              </mat-option>
                            </mat-optgroup>
                          </mat-select>
                        </mat-form-field>
      
                      </div>
                      <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                        <button mat-raised-button color="primary" class="btn-block" (click)="applykbfilter()" ><i
                            class="far fa-check-circle"></i> Apply</button>
                      </div>
                      <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                        <button type="reset" class="btn-block" mat-raised-button color="primary" (click)="exportexcel()" ><i
                            class="fas fa-download"></i> Download All Contacts</button>
                      </div>
                    </div>
                  </form>
                </div>

              </section>
            </div>            
        </div>   
        
        <div class="row whitefunnel">
            <div class="col-md-12">
                <fieldset class="form-group position-relative has-icon-left kea-barfieldset mr-2">
                    <input type="text" (keyup)="applyFilter($event)" class="form-control" id="offer-search" #searchinput  placeholder="Search By Name, Email, Sign up date...">
                    <div class="form-control-position">
                        <i class="fab fa-searchengin"></i>                        
                    </div>
                </fieldset>
                <button mat-raised-button class="mb-4" *ngIf="selecteddelete">Delete Selected <i class="fa fa-trash" aria-hidden="true"></i></button>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" id="excel-table" matSort>

                  <ng-container matColumnDef="fullname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fullname </th>
                    <td mat-cell *matCellDef="let row"> {{row.fullname}} <span class="kb-status" [ngClass]="{'success': row.status == 'Successful', 'failed' : row.status == 'Failed' }">{{row.status}}</span></td>
                  </ng-container>
              
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                    <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
                    <td mat-cell *matCellDef="let row"> {{datecusfilter(row.created_at)}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="updated_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-raised-button class="mr-2">View <i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button mat-raised-button (click)="deletecontact(row.id)" >Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{searchinput.value}}"</td>
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>
            </div>
        </div>

    </div>

</div>