.keabuilder-board {
    position: relative;
    float: left;
    background: #e2e4e6;
    transition: all .3s cubic-bezier(.23,1,.32,1);
}
.keabuilder-container .keabuilder-board {
    border-radius: 0.267rem;
    background-color: #e7edf3;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
/* width */
.keabuilder-container .keabuilder-board::-webkit-scrollbar{
    width: 5px;
  }
  .keabuilder-board main{
      min-height:100%;
  }
  
  /* Track */
  .keabuilder-container .keabuilder-board::-webkit-scrollbar-track{
    background: transparent; 
  }
   
  /* Handle */
  .keabuilder-container .keabuilder-board::-webkit-scrollbar-thumb {
    background: #ececec; 
  }

.keabuilder-container .keabuilder-board .keabuilder-board-header {
    font-size: 1.2rem;
    color: #475F7B;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    cursor: move;
}
.line-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.keabuilder-board main {
    padding: 0px 15px;
}
.keabuilder-board header .keabuilder-title-board {
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: inline;
}
.keabuilder-container .keabuilder-board .keabuilder-board-header .keabuilder-title-board {
    font-weight: normal;
    cursor: text;
    padding: 0 0.5rem;
    width: 200px;
}
.keabuilder-container .keabuilder-board .keabuilder-board-header .dropdown {
    float: right;
}
.dropdown-menu {
    box-shadow: -7px 8px 16px 0 rgb(55 70 95 / 20%);
}
.dropdown-menu .dropdown-item {
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .8rem 1.6rem;
    clear: both;
    color: #475F7B;
    text-align: inherit;
    background-color: transparent;
    border: 0;
}
.dropdown-menu i {
    color: #475F7B;
}
.keabuilder-container .keabuilder-board .keabuilder-drag {
    padding: 13px;
    min-height: auto;
}
.keabuilder-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    transition: all .3s cubic-bezier(.23,1,.32,1);
    cursor: pointer;
}
.keabuilder-container .keabuilder-board .keabuilder-item {
    padding: 0.53rem 0.8rem;
    border-radius: 0.267rem;
    margin-bottom: 1rem;
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    position: relative;
    font-size:14px;
}
.keabuilder-container .keabuilder-board .keabuilder-item[data-border=success]:before {
    background-color: #39DA8A;
}
.keabuilder-container .keabuilder-board .keabuilder-item[data-border=warning]:before {
background-color: #FDAC41;
}
.keabuilder-container .keabuilder-board .keabuilder-item[data-border=info]:before {
background-color: #00CFDD;
}
.keabuilder-container .keabuilder-board .keabuilder-item[data-border=primary]:before {
background-color: #5A8DEE;
}
.keabuilder-container .keabuilder-board .keabuilder-item[data-border=secondary]:before {
background-color: #475F7B;
}
.keabuilder-container .keabuilder-board .keabuilder-item[data-border=danger]:before {
background-color: #FF5B5C;
}
.keabuilder-item:hover {
    opacity: 0.7;
}   
.keabuilder-container .keabuilder-board .keabuilder-item:before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.5rem;
}
.font-size-small, .dropdownMenuButton i {
    font-size: 12px;
}
.keabuilder-footer i {
    font-size: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.keabuilder-footer-left >div {
    padding-left: 10px;
    margin-left: -7px;
    border-right: 2px solid #ececec;
    padding-right: 10px;
}
.keabuilder-footer-left >div:last-child {
    border: none;
}
.keabuilder-board-header .dropdown-menu {
    min-width: 120px;
    padding: 0px;
}
.keabuilder-board-header a {
    font-size: 12px;
    padding: 10px!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #475F7B;
    text-decoration: none;
    background-color: #F2F4F4;
}
.dropdownMenuButton:hover .dropdown-menu {
    display: block;
}
.dropdownMenuButton .dropdown-menu {
    top:20px;
    left: -115px;
}
.keabuilder-title-board:hover span {
    display: none;
}
.keabuilder-title-board:hover input {
 display: block;
}

.keabuilder-title-board input {
    display:none;
    background-color: #475F7B;
    color: #FFFFFF;
    border-radius: 0.267rem;
    outline: none;
    text-overflow: clip;
    font-size: 14px;
}
.kea-barfunnelsearch {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
.kea-barfunnelsearch li a:hover {
    color: #000;
}
.kea-barfunnelsearch li a{
    color: #727E8C;
}
.kea-barfunnelsearch li{
    display: inline-block;
}
.kea-barfunnelsearch li a{
    text-decoration: none;
    border: 1px solid #DFE3E7;
    cursor: pointer;
    display: inline-block;
    color: #727E8C;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    padding: .467rem 1rem;
    font-size: 14px;
    line-height: 1.6rem;
    border-radius: .267rem;
}
.kea-barfieldset{
    width: 50%;
    float: right;
}
.form-control-position {
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgba(0,0,0,.4);
    cursor: pointer;
}
.has-icon-left .form-control-position {
    right: auto;
}
.has-icon-left .form-control {
    border-color: #DFE3E7;
    font-size: 13px;
    padding: 20px 10px 20px 30px;
}
ul.kea-barfunnelsearch li.active {
    box-shadow: 0 1px 6px 1px rgb(216 200 152 / 71%);
}
ul.kea-barfunnelsearch li.active a {
    color: #000;
}
.keabuilder-board >main >div{
    background-size: 0px;
}
.sortable-ghost{
    height: 300px;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 15px;
}
.sortable-ghost >div{
opacity: 0;
}
.keabuilder-footer-right{
    position: relative;
}
.keabuilder-footer-right a {
    font-size: 12px;
}
.keabuilder-attachment {
    max-width: 125px;
    word-break: break-all;
}

