<div class="kb-p-2 kb-mb-4">
  <div class="kb-w-100 kb-d-flex">
    <button mat-raised-button color="accent" (click)="Gotohref('/member/library','')" class="kb-ms-2"><i
        class="fa fa-arrow-left kb-ms-2"></i>Back</button>
    <button mat-raised-button class="kb-ms-2" [class]="active" (click)="Gotohref('/profile/settings','active')"><i
        class="fa-regular fa-user" aria-hidden="true"></i> Profile Details</button>
    <button mat-raised-button class="kb-ms-2" [class]="active1"
      (click)="Gotohref('/profile/sign-in-security','active1')"><i class="fa-solid fa-shield-halved"
        aria-hidden="true"></i> Sign In & Security</button>
    <button mat-raised-button class="kb-ms-2" [class]="active2" (click)="Gotohref('/profile/billing','active2')"><i
        class="fa-regular fa-credit-card" aria-hidden="true"></i> Billing</button>
  </div>
  <div class="kb-d-flex kb-gap-4 kb-mt-5">
    <div class="kb-w-50 kb-mt-3">
      <div class="kb-profile-card kb-rounded kb-px-4 kb-py-4">
        <div class="kb-d-flex ">
          <div class=" symbol kb-pb-4 kb-pr-0 kb-pl-4">
            <!-- <div class="symbol-label" [style.backgroundImage]="'url('+logoimg+')'"></div> -->
            <div class="symbol-label" [style.backgroundImage]="'url(../../assets/images/download.png)'"></div>
          </div>
          <div class="kb-ml-5 kb-mt-3">
            <button mat-raised-button color="primary" (click)="downloadInp.click()" class="kb-mr-3 btnPrimary">Select
              File</button>
            <div class="kb-mt-2">
              <span *ngIf="selectfilenm" class=" kb-px-2 kb-py-1">{{selectfilenm}}</span>
              <input #downloadInp name="download" type="file" accept=".png, .jpg, .jpeg" (change)="changeme($event)"
                class="d-none" [formControl]="imageFormControl" [hidden]="true">
            </div>
          </div>
        </div>
        <div class="kb-p-2 kb-d-flex kb-gap-4">
          <mat-form-field class="kb-w-50" appearance="fill">
            <mat-label>First Name</mat-label>
            <input type="text" matInput [formControl]="firstnameFormControl" placeholder="Ex. firstname" required
              [(ngModel)]="profileobj.firstname">
            <mat-error *ngIf="firstnameFormControl.hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="kb-w-50" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput [formControl]="lastnameFormControl" placeholder="Ex. lastname"
              [(ngModel)]="profileobj.lastname">
          </mat-form-field>
        </div>
        <div class="kb-p-2">
          <mat-form-field class="kb-w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" required
              [(ngModel)]="profileobj.email" readonly>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('pattern')">
              Please enter <strong>Valid Email</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="kb-p-2">
          <mat-form-field class="kb-w-100" appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input type="tel" matInput [formControl]="phoneFormControl" placeholder="Ex. Phone Number" required
              [(ngModel)]="profileobj.phone">
            <mat-error *ngIf="phoneFormControl.hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="kb-d-flex kb-justify-content-center">
          <button mat-raised-button (click)="updateprofile()"
            
            class="btnPrimary">Update</button>
        </div>
      </div>
    </div>
    <div class="kb-w-50 kb-text-center">
      <img src="../../assets/images/profiledetail.png" width="500" class="img-fluid" alt="">
    </div>
  </div>
</div>