.kb-contact-card {
    height: 100px;
    border-radius: 12px;
    align-items: center;
    background-color: var(--kb-dark);
}

.kb-contact-info {
    color: var(--kb-white);
}

.kb-contact-info i {
    color: var(--primary-color);
}

.kb-contact-icon {
    font-size: 24px;
    width: 56px;
    height: 56px;
    color: var(--primary-color);
    background: rgb(216 200 152 / 20%);
    border: 1px solid var(--kb-dim-black);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

  }

.kb-contact-details {
    color: var(--secondary-color);
}

.kb-contact-details-card {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.kb-contact-details-card .table tr {
    font-size: 14px;
    color: var(--secondary-color);
}

.kb-contact-details-card .table td {
    vertical-align: middle;
}

.kb-contact-details-card .table label { 
    font-weight: 500;
    margin: 0;
}

.kb-contact-details-card .table tr:hover .kb-contact-field-action .hideaction {
    opacity: 1;
}

.kb-contact-field-action .hideaction {
    opacity: 0;
}

.kb-contact-field-action i {
    cursor: pointer;
    transition: 0.2s ease;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kb-contact-field-action i:hover {
    background-color: rgb(216 200 152 / 20%);
    color: var(--primary-color);
}

.kb-contact-field-inp {
    border-radius: 4px;
    width: 100%;
    height: 36px;
    border: 1px solid var(--kb-dim-black);
}

.kb-contact-search-inp {
    height: 36px;
    margin: auto 0;
    font-size: 14px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--kb-dim-black);
    border-radius: 4px;
}

.kb-contact-search-inp input {
    border: 0px;
    color: inherit;
}

.kb-contact-search-inp i {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.kb-contact-search-inp .icon-remove {
    cursor: pointer;
    font-size: 16px;
    color: var(--kb-danger);
}

::ng-deep .kb-contact-content .mat-tab-labels .mat-tab-label {
    font-size: 16px;
    height: 42px;
}

::ng-deep .kb-contact-content .mat-tab-labels {
    border: 0px;
}

::ng-deep .kb-contact-content  .mat-tab-body-wrapper .mat-tab-body {
    height: 100%;
}