<div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button class="mr-2" [routerLink]="['/membership/reports']" routerLinkActive="active" ><i class="fa fa-chart-bar" aria-hidden="true"></i> Reports</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/membership/memberships']" routerLinkActive="active" ><i class="fa-regular fa-folder" aria-hidden="true"></i> Courses</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/membership/members']" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i> Members</button>
        <!-- <button mat-raised-button class="mr-2" [routerLink]="['/membership/marketplace']" routerLinkActive="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Marketplace</button> -->
        <button mat-raised-button class="mr-2" [routerLink]="['/membership/customization']" routerLinkActive="active"><i class="fa-solid fa-gear" aria-hidden="true"></i> Customization</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/membership/settings']" routerLinkActive="active"><i class="fa-solid fa-gears" aria-hidden="true"></i> Settings</button>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>