
.mat-tab-header{
    display:flex;
    padding: 30px;
    margin:20px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
   
}
.contact-icon{
    background-color: black;
    color: white;
    margin-right: 20px;
    /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; */
    
}
.fa-user {
   display: flex;
    font-size: 30px;
    border-radius: 15px;  
    font-weight: 100;
    width: 70px;
    height:80px;
    align-items: center;
    border :1px solid white;
    /* margin-right: 30px; */
   
}
.fa-user:before {
    content: "\f007";
    padding: 20px;
    align-items: center;
}
.mat-user h5,p{
    margin-left: 20px;
    padding-left: 10px;
    margin-bottom: 0px;
    color: white;
}
.address{
    margin-left: 20px;
    padding-left: 10px;
    margin-bottom: 0px;
    color: white; 
}
.mat-user h5{
    font-weight: 800;
   
}
.details-tab{
    padding: 30px;
    margin:20px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
}
.mat-user-header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-weight:500;
    margin-bottom: 10px;

}
/* .cancel{
    border: none;
    background-color: white;
} */
.mat-header{
    display:flex;
     text-align: left;
    /* padding-left: 15px; */
    
}
.contact{
    width:100%;
    display: flex;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid whitesmoke; */
}
.contact-label{
    width: 30%;
    font-weight: 300;
    font-size: 14px;
}
.contact-input{
    /* padding: 5px; */
    font-size: 14px;
    font-weight: 500;
}
.list-header{
    width:30%;
    padding: 30px;
    margin:20px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
}
.tag-header{
    width:30%;
    padding: 30px;
    margin:20px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
}
.automation-header{
    width:40%;
    padding: 30px;
    margin:20px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
}
.list-details{
    display: flex;
}

.fntli li{
    font-size: 14px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    background-color: rgb(233, 231, 231);
  }
  
  .fntli-box{
    width: 100%;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 12px;
    /* margin: 10px; */
  }
.mat-button-edit{ 
    display: flex;  
    text-align: end;
     direction: rtl;
} 

.mat-raised-button{
padding: 5px;
margin: 5px;
}

.notes{
    padding: 30px;
    margin:20px;
    max-height: 260px;
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;  
}
.template-notes{
    display: flex;
    direction: ltr;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
}
.template{
    /* display: flex; */
    
    width:280px;
    height: 180px;
    border-radius: 20px;
    /* border: 1px solid orange; */
    overflow:auto;
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,.175)!important; 
    margin: 15px;
}
.notes-desgn{
   position: relative;
    margin:20px;
    min-height: 550px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;  
}
.template-head{
    display:flex;
   margin: 10px;
   margin-left: 20px;

}
.tempalte-icon{
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    border-radius: 50px;
    text-align: center;
    background-color: var(--primary-color);
}
.fa-file{
    font-size: 25px;
    margin-top: 7px;
   color: white;
}
.tempalte-name{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.template-body{
    margin: 10px;
    padding: 15px;
    text-align: justify;
    font-size: 12px;
    font-weight: 200px;
}
.notes-header{
    background-color: black;
    padding: 5px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
   
}
.header-left{
    display: flex;
    margin: 25px;
    /* justify-content: center; */
}
.header-icon{
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    border-radius: 50px;
    text-align: center;
    background-color: var(--primary-color);
}
.header-title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    
}
.header-right{
    display: flex;
    text-align: center;
    margin: 25px;
}
.right-btn{
   
    color: white;
    margin: 10px;
    font-size: 20px;
}
.notes-footer{
    position:absolute;
    bottom: 0;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    /* border-top: 1px solid black; */
    

}
.footericon{
    margin: 15px;
    font-size: 20px;
    /* color: whitesmoke; */
}
.btn_save_note{
    border-radius: 10px;
}
.emails{
    display:flex;
    width: 100%;
    height: 100vh;
   
   
}
.inbox{
    width: 30%;
    margin: 20px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.email-desgn{
    width: 68%;
    /* display:flex; */
    /* padding: 30px; */
    margin:20px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.inbox-head{
    background-color: var(--primary-color);
    color: white;
    position: relative;
    width: 100%;
    height: 10%;
    padding: 10px;
    padding-left: 20px;
    padding-top:10px;
    border-radius: 20px 20px 0 0;
}
.inbox-emails{
    padding: 20px;
    /* padding-bottom: 0px; */
    margin:10px;
    width: 95%;
    max-height: 130px;
    border-radius: 10px;
    overflow-y:scroll;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;  
    /* border-bottom: 1px solid black; */
   
}
.recieve-email{
    display:flex;
    /* padding: 10px; */
    /* margin: 10px; */
    /* margin-left: 20px;   */
    
}
.recieve-email-icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    background-color: var(--primary-color);
}
.emailicon{
    font-size: 25px;
    margin-top: 7px;
    color: white;
}
.recieve-email-name{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}
.recieve-email-content{
    display: flex;
    margin-top: 10px;
}
.clipbtn{
    font-size: 20px;
    padding-left: 10px;
    /* padd */
}
.recieve-email-body{
    /* margin: 10px; */
    padding-left: 15px;
    margin-left: 15px;
    text-align: justify;
    font-size: 12px;
    font-weight: 200px;
    margin-left: 10px;
    /* overflow: scroll; */
}
.activity-head{
    margin-left: 10px;
}
.activities{
    /* display:flex; */
    /* padding: 30px;
    margin:20px; */
    /* background-color: black; */
    margin: 10px;
    border-radius: 20px;
    border:0.5px solid rgb(238, 236, 236);
    overflow-y:scroll;
    /* box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;    */
    /* width: 100%; */
    height: 100vh; 
}
.activity-1{
     padding: 30px;
    margin:20px;
    padding-top: 40px;
    /* background-color: black; */
   display: flex;
    border-radius: 20px;
    /* border:1px solid black; */
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;   
    width: 97.2%;
    height: 150px;
}
.activity-heading{
    display: flex;
}
.heading-icon{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.fa-list-ul{
    /* display: flex; */
    font-size: 28px;
   
    color: white;
    margin: 10px;
}
.heading-name{
    margin-left: 20px;
    font-size: 18px;
}
.listtype{
    font-size: 12px;
    font-weight: 400;
}
.listtime{
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-color);

}
.fntilform{
    margin-top: 20px;
    
}