.kbc-block {
    padding: 0px;
}

.kbc-block-inner {
    line-height: 26px;
    padding: 4px 0;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0px;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s ease;
    border: 1px solid var(--kb-dim-black);
}

.kbc-block-inner:hover {
    box-shadow: -1px 0px 10px 2px rgb(0 0 0 / 20%);
}

.kbc-module {
    background-color: var(--kb-gray);
    color: var(--kb-text-color);
}

.kbc-lesson {
    background-color: var(--kb-light);
    color: var(--kb-text-color);
}

.kb-drag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    transition: 0.2s ease;
}

span.kbc-qs .kb-handle-block {
    cursor: n-resize;
}

span.kbc-qs i  {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 90%;
}

.mat-slide-toggle {
    padding: 0px 6px;
}

.kbc-block-inner span.kbc-qs-icons, span.kbc-qs:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

span.kbc-qs:last-child {
    text-align: right;
}

.kbc-block-inner span.kbc-qs-icons, .kbc-block-inner:hover span.kbc-qs-summary, .kbc-block-inner:hover span.kbc-qs-status {
    display: none;
}

.kbc-block-inner:hover span.kbc-qs-icons, span.kbc-qs-status {
    display: flex;
}

input.kb-chngname-inp {
    background: transparent;
    border: none;
    width: 100%;
    color: var(--kb-light);
    background-color: var(--kb-dim-black);
    padding: 0px 8px;
    border-radius: 5px;
    font-size: inherit;
}

input.kb-chngname-inp::placeholder {
    color: var(--kb-light);
    opacity: 1; /* Firefox */
  }
  
  input.kb-chngname-inp:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--kb-light);
  }
  
  input.kb-chngname-inp::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--kb-light);
  }

span.kbc-qs-status span {
    padding: 2px 10px;
    display: inline-block;
    border-radius: 20px;
    line-height: 20px;
    width: auto;
    font-size: 75%;
    color: var(--kb-light);
    font-weight: 500;
}

span.kbc-qs-status span.active {
    background-color: var(--primary-color);
}

span.kbc-qs-status span.inactive {
    background-color: var(--kb-dim-black);
}

span.kb-ispan-add {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: 0.2s ease;
    margin: auto;
    z-index: 9;
    color: var(--clr-light);
    font-size: 14px;
    font-weight: 400;
}

span.kb-ispan-add:hover {
    transform: scale(1.1);
}

#kbc-topbar .kb-edit-pencil {
    cursor: pointer;
    font-size: 65%;
    color: var(--secondary-color);
}

#kbc-topbar .mat-slide-toggle, #kbc-topbar .kb-edit-pencil  {
    opacity: 0;
    transform: scale(0);
    transition: 0.2s ease;
}

#kbc-topbar:hover .kb-edit-pencil, #kbc-topbar:hover .mat-slide-toggle  {
    opacity: 1;
    transform: scale(1);
}