<!-- dialog for delete list button -->
<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete List</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{list.name}}</span> List?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close [color]="'primary'">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deleteList(list.id)">
      Yes
    </button>
  </div>
</ng-template>
<ng-template #delselecteddialog>
  <h1 mat-dialog-title class="kb-danger">Delete Selected Lists</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{selectedLists.length}}</span> lists?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'" (click)="resetselecteddata()">No</button>
    <button mat-button mat-dialog-close (click)="deleteSelectedLists(selectedLists)" class="text-danger">Yes</button>
  </div>
</ng-template>
<!-- dialog for duplicate list with contacts list button -->
<ng-template #duplicatedialog>
  <h1 mat-dialog-title class="kb-primary">Duplicate List</h1>
  <div mat-dialog-content>
    <div>Would you like to duplicate<span class="kb-dup pl-1 pr-1">{{list.name}}</span>List ?</div>
    <mat-error *ngIf="hasError">{{hasError}}</mat-error>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>List Name</mat-label>
      <input
        type="text"
        matInput
       [(ngModel)]="duplist"
        placeholder="Eg: Monthly Newsletter, Sales Leads, etc."
        required
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger">No</button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      [color]="'primary'"
      (click)="DuplicateList(this.list)"
    >
      Yes
    </button>
  </div>
</ng-template>
<!-- dialog for new  entry on add  Or update list button -->
<ng-template #adddialog>
  <span mat-dialog-title  *ngIf="!list.uniqueid">Add List</span> 
  <span mat-dialog-title *ngIf="list.uniqueid">Update List</span>
  <div mat-dialog-content>
    <mat-error *ngIf="hasError">{{hasError}}</mat-error>
    <mat-form-field appearance="fill" [class.mat-form-field-invalid]="hasError">
      <mat-label>List Name</mat-label>
      <input type="text" matInput [(ngModel)]="list.name" placeholder="Eg: Monthly Newsletter, Sales Leads, etc."
        required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="text-danger">Cancel</button>
    <button mat-button mat-dialog-close (click)="setList(list)" cdkFocusInitial color="primary">
      {{list.id ? 'Update' : 'Add'}}
    </button>
  </div>
</ng-template>
<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode="indeterminate"></mat-progress-bar>
  <div class="row">
    <mat-form-field class="col-md-6" appearance="fill">
      <mat-label>Search Lists</mat-label>
      <input matInput type="text" #searchInp (input)="searchLists(searchInp, filterInp)" class="form-control-search"
        id="offer-search" placeholder="Search Lists" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </mat-form-field>
    <mat-form-field class="col-md-2" appearance="fill">
      <mat-label>Filter by:</mat-label>
      <mat-select #filterInp name="kbfilter" value="created_at DESC" (valueChange)="searchLists(searchInp, filterInp)">
        <mat-option [value]="'name ASC'">ASC By Name</mat-option>
        <mat-option [value]="'name DESC'">DESC By Name</mat-option>
        <mat-option [value]="'created_at ASC'">ASC By Create</mat-option>
        <mat-option [value]="'created_at DESC'">DESC By Create</mat-option>
        <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
        <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-md-4 text-right mt-2">
      <button mat-raised-button (click)="openDialog(adddialog, listObj)" color="primary" class="mr-2">Add List <i
          class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="selectedLists.length > 0">
      <div class="float-right mb-3 kb-delbtn" (click)="openDialog(delselecteddialog, selectedLists)">
        <span class="">Delete Selected Lists <i class="fa fa-trash-alt"></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table kb-table">
        <thead>
          <tr>
            <th>
              <mat-checkbox [(ngModel)]="checked_selected" (ngModelChange)="selectAllLists($event)" matTooltip="Select All Page Lists" matTooltipPosition="above"></mat-checkbox>
            </th>
            <th>Name</th>
            <th>Contacts</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of pagelists; index as i">
            <td><mat-checkbox class="align-items-center" [(ngModel)]="list.selected" (ngModelChange)="selectList($event, list)"></mat-checkbox></td>
            <td>
              <span class="kb-table mr-1">{{ list.name | titlecase }}
              </span>
            </td>
            <td>{{ list.activecontacts }}</td>
            <td>{{ list.created_at | date : "medium" }}</td>
            <td>
              <span class="d-flex">
                <i mat-ripple matTooltip="Edit" matTooltipPosition="above"
                  class="fa fa-pencil kb-table-action-icon" (click)="openDialog(adddialog, list)"></i>
                <i mat-ripple matTooltip="Duplicate" matTooltipPosition="above"
                  class="fa fa-copy kb-table-action-icon" (click)="openDialog(duplicatedialog,list)"></i>
                <i mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(deldialog, list)"
                  class="fa fa-trash-alt kb-table-action-icon kb-icon-del"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator  #paginator [length]="listslength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]" aria-label="Select page" (page)="getpagelists($event)"></mat-paginator>
    </div>
  </div>
</div>