#kb-createfunnelsettings {
  margin-top: -20px;
  background: #F2F4F4;
}

/* nav */
.rightbrder {
  border-right: 4px solid #f2f4f4;
}

.wizard-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
  box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
  border-radius: 0.42rem;
}

.wizard-step {
  cursor: pointer;
}

.wizard-nav .wizard-steps .wizard-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(20% - 0.25rem);
  flex: 0 0 calc(20% - 0.25rem);
  width: calc(20% - 0.25rem);
  background-color: #F3F6F9;
}

.wizard-step[data-wizard-state="current"] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.wizard-nav .wizard-steps .wizard-step .wizard-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #3F4254;
  padding: 15px 20px;
}

.wizard-nav .wizard-steps .wizard-step .wizard-wrapper .wizard-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wizard-nav .wizard-steps .wizard-step .wizard-wrapper .wizard-label .wizard-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.wizard-nav .wizard-steps .wizard-step[data-wizard-state=current] .wizard-wrapper .wizard-label .wizard-title {
  color: #d8c898;
}

.wizard-nav .wizard-steps .wizard-step[data-wizard-state=current] {
  background-color: #ffffff;
}

.wizard-nav .wizard-steps .wizard-step .wizard-wrapper .wizard-number {
  font-size: 1.3rem;
  font-weight: 600;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.75rem;
  flex: 0 0 2.75rem;
  height: 2.75rem;
  width: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgb(216 200 152 / 10%);
  color: #d8c898;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.wizard-nav .wizard-steps .wizard-step .wizard-wrapper .wizard-label .wizard-title {
  font-size: 14px;
  font-weight: 600;
}

.wizard-nav .wizard-steps .wizard-step .wizard-wrapper .wizard-label .wizard-desc {
  font-size: 13px;
}

#secondwizard .wizard-step {
  flex: 0 0 calc(25% - 0.25rem);
  width: calc(25% - 0.25rem);
}

/* nav */
.whitefunnel {
  background: #fff;
}

.wizard.vertical .steps ul li a i {
  font-size: 40px;
  color: #d8c898;
}

#steps-uid-2 .d-block {
  color: #d8c898;
}

#steps-uid-2 ul li a {
  cursor: pointer;
}

#kb-settingsaction ul li {
  float: inherit;
  display: inline;
}

.kb-payment-stripe-i i {
  font-size: 95px;
}


.card {
  margin-bottom: 2.2rem;
  box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%);
  -webkit-transition: all .3s ease-in-out, background 0s, color 0s, border-color 0s;
  transition: all .3s ease-in-out, background 0s, color 0s, border-color 0s;
}


.wizard.vertical .steps {
  float: left;
  width: 30%;
}

.wizard .steps ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.wizard .steps ul li {
  display: table-cell;
  text-align: center;
  position: relative;
}

.wizard.vertical .steps ul li.current {
  background: #F2F4F4;
  border-radius: .267rem;
}

.wizard.vertical .steps ul li {
  margin: 0 .5rem;
  display: block;
}

.wizard .steps ul li a {
  text-transform: uppercase;
  position: relative;
  padding-top: 3.46rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  display: block;
}

.wizard .steps ul li.current a {
  color: #5A8DEE;
  cursor: default;
}

.wizard.vertical .steps ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 0 .5rem;
  padding: 1rem;
  border-radius: .267rem;
}

.wizard .steps .current-info {
  display: none;
}

.wizard.vertical .steps ul li a .number {
  display: none;
}

.text-muted {
  color: #828D99 !important;
}

.wizard.vertical .content {
  float: left;
  width: 70%;
  border-left: 1px solid #DFE3E7;
}

.wizard .content {
  padding: 0;
  margin: 0;
}

.wizard .actions ul li.disabled,
.wizard .content .title {
  display: none;
}

.wizard.vertical .content .body {
  padding: 2.5%;
}

.wizard.vertical .actions {
  text-align: right;
}

.wizard.vertical .actions ul {
  display: inline-block;
}

.wizard .actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wizard .actions ul li {
  float: left;
}

.fonticon-wrap.mr-1 {
  width: 60px;
  float: left;
}

label {
  color: #475F7B;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.kb-full-width{
  width:100%;
}




#kb-buildfunnel-actions>div {
  overflow-y: scroll;
}

/* width */
#kb-buildfunnel-actions>div::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#kb-buildfunnel-actions>div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#kb-buildfunnel-actions>div::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

#kb-buildfunnel-actions .fa-times {
  position: absolute;
  right: 24px;
  z-index: 99999;
  cursor: pointer;
  top:20px;

}

/* Userprofile css start */
.offcanvas, .offcanvas-mobile {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
.offcanvas {
  z-index: 1000;
  position: fixed;
  top: 5px;
  bottom: 5px;
  -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
  transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
  left: -395px;
  width: 375px;
}
.offcanvas {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
  box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
}
.offcanvas.offcanvas-right.offcanvas-on {
  -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
  transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
  right: 7px;
  left: auto;
}
.offcanvas h3{
 font-size: 19px;
}

.symbol.symbol-100 .symbol-label {
  width: 100px;
  height: 100px;
}
.symbol.symbol-100 .symbol-badge {
  width: 12px;
  height: 12px;
  top: -6px;
  right: -6px;
  
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 100%;
}

.font-size-h5 .offcanvas h5{
  font-size: 16px !important;
}
.offcanvas .text-muted{
  font-size: 13px;
  color: #B5B5C3 !important;
}
.svg-icon.svg-icon-primary svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #d8c898 !important;
}
.offcanvas .btn.btn-light-primary {
  color: #000000;
  background-color: #d8c898;
  border-color: transparent;
  display: inline-block;
  font-size: 11px;
  padding: 7px 17px!important;
}
.scroll {
  position: relative;
  overflow-y: scroll;
}
.navi {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
}
.navi .navi-item .navi-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
}
.navi .navi-item .navi-link {
  font-size: 13px;
}
.navi.navi-spacer-x-0 .navi-item .navi-link {
  padding-left: 0;
  padding-right: 0;
}

.navi .navi-item .navi-link {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  color: #3F4254;
}
.navi .navi-item .navi-link:hover .navi-text {
  color: #d8c898;
}
.bg-light-warning {
  background-color: #FFF4DE !important;
}
.bg-light-success {
  background-color: #C9F7F5 !important;
}
.bg-light-danger {
  background-color: #FFE2E5 !important;
}
.bg-light-info {
  background-color: #EEE5FF !important;
}

/* width */
.offcanvas-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.offcanvas-content::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.offcanvas-content::-webkit-scrollbar-thumb {
  background: #e2e2e2; 
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 999;
  -webkit-animation: animation-offcanvas-fade-in 0.6s ease 1;
  animation: animation-offcanvas-fade-in 0.6s ease 1;    
  background: rgba(0, 0, 0, 0.1);
}

@keyframes animation-offcanvas-fade-in {
  0%{
      opacity:0;
  }100%{
      opacity: 1;
  }
}