
.kb-insidecard {
    width: 23%;
    position: relative;
    text-align: center;
    z-index: 1;
    border-radius: 4px;
    margin: 12px 8px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 0 2px #f4f4f4;
    padding: 20px;
    float: left;
    cursor: pointer;
    transition: .5s all ease;
  }
  
  .kb-insidecard p {
    margin-bottom: 0px;
  }
  
  .kb-insidecard i {
    font-size: 30px;
    color: #d8c898;
  }
  
  .kb-insidecard:hover {
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
  }
  
  .kb-full-width{
    width:100%;
  }
  .kb-afflink i{
    font-size: 14px;
    cursor: pointer;
  }
  .kb-afflink input {
    color: #444!important;
  }


  