.mainvideoheatmap video {
  width: 100%;
  height: 100%;
}

.mainvideoheatmap {
  background: #e2e2e2;
  box-shadow: 0 0 30px rgb(139 139 139);
  -webkit-box-shadow: 0 0 30px rgb(139 139 139);
}
#styleloadheat a{
  color: #fff;
}
/*video navbar styling */

#playback_nav_controls {
  margin-top: -20px;
  position: relative;
  padding: 12px 0px;
  margin-bottom: 40px;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  background-color: #222;
  border-color: #080808;
}

.btn-dark-inset,
#playback_nav_controls .btn-dark {
  border-color: #222 #292929 #111;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 18%), 0 1px 0 rgb(255 255 255 / 12%);
}

#playback_nav_controls .btn-dark {
  background-color: #333;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#555), to(#333));
  background-image: -webkit-linear-gradient(#555 0, #333 100%);
  background-image: -moz-linear-gradient(#555 0, #333 100%);
  background-image: -o-linear-gradient(#555 0, #333 100%);
  background-image: linear-gradient(#555 0, #333 100%);
  background-repeat: repeat-x;
  color: #eee;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 75%);
}

#play-controls {
  width: 100%;
  display: inline-block;
}

#toggle_playback.paused {
  background-color: #333;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#555), to(#333));
  background-image: -webkit-linear-gradient(#555 0, #333 100%);
  background-image: -moz-linear-gradient(#555 0, #333 100%);
  background-image: -o-linear-gradient(#555 0, #333 100%);
  background-image: linear-gradient(#555 0, #333 100%);
  background-repeat: repeat-x;
  border-color: #222 #292929 #111;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 18%), 0 1px 0 rgb(255 255 255 / 12%);
}

#playback_nav_controls .progress {
  background-color: #222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#292929));
  background-image: -webkit-linear-gradient(#222, #292929);
  background-image: -moz-linear-gradient(#222, #292929);
  background-image: -o-linear-gradient(#222, #292929);
  background-image: linear-gradient(#222, #292929);
  border: 1px solid;
  border-color: #222 #1a1a1a #111;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 10px rgb(0 0 0 / 50%), 0 1px 0 rgb(255 255 255 / 12%);
  cursor: pointer;
  height: 30px;
  margin-bottom: 0;
  margin-top: 10px;
  min-width: 50px;
  position: relative;
  width: 85%;
  float: right;
  margin: 0px;
}

#playback_activity.dark {
  color: #fff;
  text-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

#playback_activity {
  color: #333;
  font-size: 11px;
  font-weight: 700;
  left: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff;
  top: 0;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
}

#playback_nav_controls .progress:not(.active) .progress-bar {
  background-color: #777;
}

.progress-bar-striped,
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
  position: relative;
  float: left;
}

#toggle_playback.btn-toggle.paused .fa-play {
  color: var(--primary-color);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 90%);
}

#toggle_playback.btn-toggle .fa-pause {
  display: none;
}

.pull-right {
  float: right;
}

#playback_nav_controls .progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  background-color: rgb(216 200 152 / 63%);
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0;
  }

  100% {
    background-position: 0 0;
  }
}

.wood_back_dark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: none;
  background-image: linear-gradient(black, rgba(0, 0, 0, .3));
  transition: opacity 1s linear;
}

#close_spy_btn a {
  color: #eee;
}

/*video navbar styling */


.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
  text-align: left;
}

.data-menu {
  max-width: 400px;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-menu {
  min-width: 170px;
}

.open>.dropdown-menu {
  display: block;
}

.pull-right>.dropdown-menu {
  right: 0;
  left: auto;
}

.data-menu__item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.data-menu--padded .data-menu__item,
.data-menu__item--padded {
  padding: 10px 25px;
}

.data-menu__item--separator {
  border-top: 1px solid #eee;
  margin: 0;
}

.data-menu--padded .data-menu__item--separator {
  margin: 0 25px;
}

.data-menu__label {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
}

#mainindex .btn-primary a {
  color: #fff;
}
