<div id="kb-integrations">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <mat-card class="text-center intgrconnect">
                    <img src="/assets/images/sidebaricons/activecampaign.svg" width="100" class="img-fluid">
                    Active Campaign
                    <button mat-raised-button color="primary" >Connect <i class="fa fa-paper-plane"></i></button>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="text-center intgrconnect">
                    <img src="/assets/images/sidebaricons/mailchimp.svg" width="100" class="img-fluid">
                    Mailchimp
                    <button mat-raised-button color="primary" >Connect <i class="fa fa-paper-plane"></i></button>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="text-center intgrconnect">
                    <img src="/assets/images/sidebaricons/caltweet.svg" width="100" class="img-fluid">
                    Caltweet
                    <button mat-raised-button color="primary" >Connect <i class="fa fa-paper-plane"></i></button>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="text-center intgrconnect">
                    <img src="/assets/images/sidebaricons/calendly.svg" width="100" class="img-fluid">
                    Calendly
                    <button mat-raised-button color="primary" >Connect <i class="fa fa-paper-plane"></i></button>
                </mat-card>
            </div>
            <div class="col-md-3 mt-4">
                <mat-card class="text-center intgrconnect">
                    <img src="/assets/images/sidebaricons/zoho.svg" width="100" class="img-fluid">
                    Zoho
                    <button mat-raised-button color="primary" >Connect <i class="fa fa-paper-plane"></i></button>
                </mat-card>
            </div>
            <div class="col-md-3 mt-4">
                <mat-card class="text-center intgrconnect">
                    <img src="/assets/images/sidebaricons/hubspot.svg" width="100" class="img-fluid">
                    Hubspot
                    <button mat-raised-button color="primary" >Connect <i class="fa fa-paper-plane"></i></button>
                </mat-card>
            </div>
            
        </div>
    </div>
</div>