.wrapper{
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
}
.moduleText h3{
    font-size: 20px;
}
.lessonText mat-icon{
    font-size: 20px;
}
.lessonText span{
    font-size: 16px;
    color: var(--kb-black);
    opacity: 0.75;
}
.lessonText span:hover{
    opacity: 1;
    color: var(--primary-color);
}
.moduleText h3:hover{
    opacity: 1;
    cursor: pointer;
    color: var(--primary-color);
}
.kb-lib-bck:hover{
    opacity: 1;
    cursor: pointer;
    color: var(--primary-color);
}
.ftsize{
    font-weight: 600;
    font-size: 25px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ftsize1{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    color: black;
  }

  .libraryBtnContainer{
    margin-bottom: 25px;
  }
  .courseDetailSidebar{
    padding-top: 16px;
  }
  .moduleText{
    padding-top: 16px;
  }
  .moduleText h3{
    font-weight: bolder;
    margin: 0;
  }
  .courseHeading{
    font-weight: bolder ;
    color: black;
  }
  .lessonText{
    text-decoration: none;
    color: black;
  }
  .EachlessonText{
    display: flex;
    align-items: start;
    padding: 8px 0;
    padding-left: 12px;
  }
.EachlessonText span{
    padding-left: 4px;
}
  .lessonContainer{
    padding-top: 8px;
  }
  .moduleContainer{
    padding-left: 15px;
  }
  