
.moduleText h3{
    font-size: 20px;
}
.lessonText mat-icon{
    font-size: 20px;
}
.lessonText span{
    font-size: 16px;
    color: var(--kb-black);
    opacity: .75;
}
.lessonText span:hover{
    opacity: 1;
    color: var(--primary-color);
}
.moduleText h3:hover{
    opacity: 1;
    cursor: pointer;
    color: var(--primary-color);
}
.kb-lib-bck:hover{
    opacity: 1;
    cursor: pointer;
    color: var(--primary-color);
}
.ftsize{
    font-weight: 600;
    font-size: 25px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ftsize1{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }