<div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button class="mr-2" [routerLink]="['/funnels/all']" routerLinkActive="active" ><i class="fa fa-filter" aria-hidden="true"></i> Funnels</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/funnels/archive']" routerLinkActive="active" ><i class="fas fa-archive" aria-hidden="true"></i> Archived</button>
        <!-- <button mat-raised-button class="mr-2" [routerLink]="['/funnels/marketplace']" routerLinkActive="active"><i class="fas fa-store" aria-hidden="true"></i> Marketplace</button> -->
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
