<div id="bw-sidebar" class="bw-sidebar-content sidebar-left reduce open bgimg-url" [style.backgroundImage]="isLeft ? bkImg_left : bkImg_right" [ngClass]="{'sidebar-left': isLeft, 'sidebar-right': !isLeft}">
  <div class="bw-sidebar-logo">
    <img src="/assets/images/logo/kblogo.png" alt="Kea logo" [routerLink]="'/'">
  </div>
  <div class="bw-sidebar-change" (click)="toggleSidebarPosition()" [class]="isLeft ? 'bw-sidebar-change-left' : 'bw-sidebar-change-right'">
    <img   [src]="'./assets/images/sidebar/change_sidebar_left.svg'" *ngIf="isLeft">
    <img   [src]="'./assets/images/sidebar/change_sidebar_right.svg'" *ngIf="!isLeft">
  </div>
  <div class="bw-sidebar mt-3">
      <button class="bw-sidebar__item hasIcon" (click)="backFn($event)" *ngIf="backme">
        <div class="bw-sidebar__item__icon">
          <i class="fas fa-arrow-alt-circle-left"></i>
        </div>
        <div class="bw-sidebar__item__text">
          Back
        </div>
      </button>
    <span *ngFor="let menu of allmenu; index as i;" class="w-100 d-inline-block">
      <button class="bw-sidebar__item hasIcon" *ngIf="allmenu[i][0]" 
        [routerLink]="allmenu[i].routerlink" [routerLinkActive]="['a-active']" (click)="changeFn(allmenu[i].routerlink)">
        <div class="bw-sidebar__item__icon pb-0 mb-0">
          <!-- <i [class]="allmenu[i].icon" aria-hidden="true"></i> -->
          <img [src]="allmenu[i].icon_img">
        </div>
        <div class="bw-sidebar__item__text pt-0 mt-0">
          {{allmenu[i].title}}
        </div>
      </button>

      <span *ngIf="allmenu[i]['submenu']!=null">
        <span *ngFor="let submenu of allmenu[i]['submenu']; index as j;" [routerLink]="allmenu[i]['submenu'][j].routerlink"
          [routerLinkActive]="['a-active']">
          <button class="bw-sidebar__item hasIcon" *ngIf="!allmenu[i]['submenu'][j][0]">
            <div class="bw-sidebar__item__icon">
              <i [class]="allmenu[i]['submenu'][j].icon" aria-hidden="true"></i>
            </div>
            <div class="bw-sidebar__item__text">
              {{allmenu[i]['submenu'][j].title}}
            </div>
          </button>
        </span>
      </span>

    </span>
    
    <!-- Dropdown2 -->
   <div class="bw-sidebar__group"> 
      <div class="bw-sidebar__group__header">
        <button class="bw-sidebar__item hasIcon"  (click)="gotoHelpDocs()">
          <div class="bw-sidebar__item__icon">
            <!-- <i class="fas fa-life-ring"></i> -->
            <img [src]="'./assets/images/sidebar/help.svg'">
          </div>
          <div class="bw-sidebar__item__text">
            Help
          </div>
          <!-- <div class="bw-sidebar__item__arrow"><i class="fas fa-chevron-up"></i></div> -->
        </button>
      </div>
      <!-- <div class="bw-sidebar__group__content v-enter-to kb-padinglft" [style]="{height: isOpen2 ? '100%' : '0px'}">
        <button class="bw-sidebar__item active hasIcon" [routerLinkActive]="['a-active']">
          <div class="bw-sidebar__item__icon"><i class="fas fa-comments"></i></div>
          <div class="bw-sidebar__item__text">
            Get Help
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" [routerLinkActive]="['a-active']">
          <div class="bw-sidebar__item__icon"> <i class="fas fa-comments"></i></div>
          <div class="bw-sidebar__item__text">
            My Support Request
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" [routerLinkActive]="['a-active']">
          <div class="bw-sidebar__item__icon"><i class="fas fa-gifts"></i></div>
          <div class="bw-sidebar__item__text">
            What's New
          </div>
        </button>
      </div> -->
    </div>
    <!-- <div class="bw-sidebar__group"> 
      <div class="bw-sidebar__group__header">
        <button class="bw-sidebar__item hasIcon">
          <div class="bw-sidebar__item__icon">
            <img [src]="'./assets/images/sidebar/change_sidebar.svg'">
          </div>
        </button>
      </div>
      
    </div> -->
  </div>
</div>