<div id="app">
  <mat-progress-bar *ngIf="currentDomain === appHost && loading" mode="indeterminate"></mat-progress-bar>
  <app-sidebar [openSidebar]="toggleSidebar" *ngIf="currentDomain === appHost && isLoggedIn && _user.navVisible"></app-sidebar>
  <main id="angularApp" [class.kb-main-container]="currentDomain === appHost && isLoggedIn && _user.navVisible" [class.kb-fixed-template]="toggleSidebar">
    <app-navbar (openSidebar)="triggerSidebar($event)" *ngIf="currentDomain === appHost && isLoggedIn && _user.navVisible"></app-navbar>
    <router-outlet (activate)="changeOfRoutes()"></router-outlet>
  </main>
</div>
