main {
    position: relative;
}

.componentLoad{
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    margin: 0 auto 0 auto;
    transform-origin: center;
    opacity: 1;
    animation-name: componentLoad;
    animation-timing-function: ease-in;
    position: relative;
    margin-bottom: 20%;
}

@keyframes componentLoad {   
    0% { transform: scale(1,1)  translateY(40px); opacity: 0;}
    70% { transform: scale(1,1)  translateY(-10px); opacity: 0.7;}
    100% { transform: scale(1,1)    translateY(0px); opacity: 1;}
}
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;   
}
.btn-primary{
    background-color: #d8c898;  
    border-color: #d8c898; 
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    font-size: 14px;
    color: #fff;
}
.btn-primary:hover{
    opacity: 0.8;
}
.btn-secondary {
    font-size: 14px;
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    color: #fff;
}
.insidecont{
    padding: 20px 0px;
    width: 96.5%;
    margin-left: auto;
    top: 70px;
    position: relative;
}
