main {
    position: relative;
}

.kb-main-container{
    padding: 20px 0px;
    width: calc(100% - 50px);
    margin-left: auto;
    top: 60px;
    position: relative;
    transition: all .25s ease;
}

.kb-main-container.kb-fixed-template {
    width: calc(100% - 260px)!important;
}

::ng-deep .mat-calendar-body-selected {
    background-color: var(--primary-color);
}

::ng-deep .mat-calendar-body-in-range::before, ::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgb(216 200 152 / 40%);
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: var(--opacity-primary);
}

::ng-deep .mat-datepicker-toggle-active {
    color: var(--primary-color);
}

::ng-deep .apexcharts-canvas .apexcharts-selected svg {
    fill: var(--primary-color)!important;
}

::ng-deep .apexcharts-canvas .apexcharts-selected.apexcharts-pan-icon svg {
    stroke: var(--primary-color)!important;
}

::ng-deep .mat-dialog-title {
    margin-bottom: 16px!important;
    color: var(--primary-color);
    text-transform: capitalize;
}

::ng-deep .mat-form-field {
    font-size: 14px;
}

::ng-deep .mat-form-field textarea {
    line-height: 18px;
}

::ng-deep .mat-chip {
    font-size: 13px;
}

::ng-deep mat-form-field.kb-matinp-text .mat-form-field-infix {
    display: flex;
}

::ng-deep .mat-option {
    font-size: 14px!important;
    line-height: 38px!important;
    height: 38px!important;
    transition: 0.2s ease;
}

::ng-deep .mat-option-text small.infoTxt, ::ng-deep small.infoTxt {
    background-color: rgb(217 201 153 / 30%);
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 10px;
    color: var(--primary-color);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

::ng-deep .mat-option-text small.infoTxt:after {
    content: attr(data);
}

::ng-deep div#ngx-colors-overlay.ngx-colors-overlay, .ngx-colors-overlay {
    z-index: 999999999!important;
}

::ng-deep .mat-tab-label {
    opacity: 1!important;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    color: var(--secondary-color);
}

::ng-deep .mat-tab-header-pagination {
    z-index: 1!important;
}

::ng-deep .tox-shadowhost.tox-fullscreen, ::ng-deep .tox.tox-tinymce.tox-fullscreen {
    top: 50%!important;
    max-width: 90%;
    left: 50%!important;
    transform: translate(-50%, -50%);
}

::ng-deep .tox.tox-tinymce {
    border-radius: 4px;
}

::ng-deep .tox-tinymce-aux {
    z-index: 100000!important;
}

::ng-deep button.mat-menu-item {
    height: 36px;
    line-height: 36px;
}

::ng-deep .mat-simple-snackbar-action button {
    color: #ffffff;
    font-weight: 600;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar{
    background-color: var(--kb-gray);
} 

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element,
::ng-deep .mat-tab-group.mat-primary mat-ink-bar.mat-ink-bar,
::ng-deep .mat-progress-bar-fill::after {
    background-color: var(--primary-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
::ng-deep .mat-progress-bar, ::ng-deep .mat-progress-bar-buffer {
    background-color: var(--opacity-primary);
    color: var(--primary-color);
}

::ng-deep .mat-dialog-container {
    overflow: visible!important;
    min-width: 460px;
}

::ng-deep .mat-tab-labels .mat-tab-label, ::ng-deep .mat-button-toggle {
    color: var(--secondary-color);
    transition: background .2s ease, transform .2s ease, opacity .2s;
    min-width: auto;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 500;
    opacity: 1;
}

::ng-deep .mat-tab-labels .mat-tab-label {
    font-size: 14px;
    line-height: 38px;
    height: 38px;
}

::ng-deep .mat-button-toggle, ::ng-deep .mat-button-toggle .mat-button-toggle-label-content {
    font-size: 13px;
    line-height: 34px!important;
    height: 34px;
}

::ng-deep .mat-tab-body-wrapper .mat-tab-body {
    height: 100%;
}

::ng-deep .mat-dialog-actions .mat-button.mat-primary, ::ng-deep .mat-dialog-title,
::ng-deep .mat-tab-labels .mat-tab-label-active .mat-tab-label-content, 
::ng-deep .mat-tab-labels .mat-tab-label:hover .mat-tab-label-content,
::ng-deep .mat-button-toggle-checked button {
    color: var(--primary-color);
}

::ng-deep .mat-tab-labels .mat-tab-label:hover, ::ng-deep .mat-button-toggle:hover, ::ng-deep .mat-button-toggle-checked {
    color: var(--primary-color);
    background-color: rgb(217 201 153 / 30%)!important;
}

::ng-deep .mat-menu-panel {
    min-height: 40px!important;
}

::ng-deep .mat-button-toggle-appearance-standard {
    background: var(--kb-gray);
    border: 1px solid #e2e2e2;
}

::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border: none;
}

::ng-deep .mat-option:hover:not(.mat-option-disabled), 
::ng-deep .mat-option:focus:not(.mat-option-disabled),
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: var(--kb-gray);
    color: var(--primary-color);
}

@media only screen and (max-width:625px){
    .kb-main-container{
        padding: 20px 0px;
        width: 100%;
    }
}

