main {
    position: relative;
}

.insidecont{
    padding: 20px 0px;
    width: 96.7%;
    margin-left: auto;
    top: 70px;
    position: relative;
}

::ng-deep .mat-option-text small.infoTxt {
    background-color: rgb(24 103 192 / 20%);
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 10px;
    color: var(--section-color);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

::ng-deep div#ngx-colors-overlay.ngx-colors-overlay, .ngx-colors-overlay {
    z-index: 999999999!important;
}

::ng-deep .mat-tab-label {
    opacity: 1!important;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    color: var(--kb-text-color);
}

::ng-deep .mat-tab-header-pagination {
    z-index: 1!important;
}

::ng-deep .tox-shadowhost.tox-fullscreen, ::ng-deep .tox.tox-tinymce.tox-fullscreen {
    top: 50%!important;
    max-width: 90%;
    left: 50%!important;
    transform: translate(-50%, -50%);
}

::ng-deep .tox.tox-tinymce {
    border-radius: 5px;
}

::ng-deep .tox-tinymce-aux {
    z-index: 100000!important;
}

::ng-deep button.mat-menu-item {
    height: 36px;
    line-height: 36px;
}

::ng-deep .mat-simple-snackbar-action button {
    color: #ffffff;
    font-weight: 600;
  }

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar{
    background-color: var(--kb-dim-black);
} 

::ng-deep .mat-slide-toggle.mat-success.mat-checked .mat-slide-toggle-thumb,
::ng-deep .mat-slide-toggle.mat-success.mat-checked .mat-ripple-element {
    background-color: var(--primary-color);
}

::ng-deep .mat-slide-toggle.mat-success.mat-checked .mat-slide-toggle-bar {
    background-color: var(--opacity-primary);
}