.bw-logo__item__text {
  position: relative;
  line-height: 2em;
  overflow: hidden;
  margin-left: 5px;
  font-size: 24px;
  font-family: cursive;
  font-style: italic;
  font-weight: 500;
}

.fadingEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0%;
  background: transparent;
  background-image: linear-gradient(to right, transparent 0%, #fff 50%);
  -moz-animation: showHide 0.3s ease-in;
  /* Firefox */
  -webkit-animation: showHide 0.3s ease-in;
  /* Safari and Chrome */
  -ms-animation: showHide 0.3s ease-in;
  /* IE10 */
  -o-animation: showHide 0.3s ease-in;
  /* Opera */
  animation: showHide 0.3s ease-in;
}

@-webkit-keyframes showHide {

  /* Chrome, Safari */
  0% {
    width: 100%
  }

  40% {
    width: 0%
  }

  60% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes showHide {

  /* FF */
  0% {
    width: 100%
  }

  40% {
    width: 0%
  }

  60% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-ms-keyframes showHide {

  /* IE10 */
  0% {
    width: 100%
  }

  40% {
    width: 0%
  }

  60% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-o-keyframes showHide {

  /* Opera */
  0% {
    width: 100%
  }

  40% {
    width: 0%
  }

  60% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes showHide {
  0% {
    width: 100%
  }

  /* 40% {width:0%}
    60% {width:0%;} */
  100% {
    width: 0%;
  }
}



/* Sidebar css */
.bw-sidebar__item__icon img {
  width: 27px;
  left: 0px;
  position: relative;
}

.hoveropen .kb-padinglft {
  padding-left: 20px;
}

/* user notification */

.dropdown-menu1 {
  position: fixed;
  top: 10%;
  left: 41%;
  z-index: 96;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #3F4254;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.42rem;
  -webkit-box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
  box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
}

.dropdown-menu1.show {
  display: block;
  width: 388px;
}

@media (min-width: 380px) {
  .dropdown-menu1.dropdown-menu1-lg {
    width: 350px;
  }
}

.bgi-no-repeat {
  background-repeat: no-repeat;
}

.bgi-size-cover {
  background-size: cover;
}

.pt-12,
.py-12 {
  padding-top: 3rem !important;
}

.btn.btn-success {
  color: #ffffff;
  background-color: #1BC5BD;
  border-color: #1BC5BD;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-menu1 h4 {
  font-size: 17px;
}

.nav.nav-tabs.nav-tabs-line.nav-tabs-line-transparent-white {
  border-bottom-color: rgba(255, 255, 255, 0.7);
}

.p-8 {
  padding: 2rem !important;
}

.symbol.symbol-40 .symbol-label {
  width: 40px;
  height: 40px;
}

.symbol.symbol-light-primary .symbol-label {
  background-color: #E1F0FF;
  color: #d8c898;
}

.font-size-lg {
  font-size: 14px;
}

.text-muted {
  color: #B5B5C3 !important;
  font-size: 13px;
  font-weight: 500;
}

.mb-6,
.my-6 {
  margin-bottom: 1.5rem !important;
}


/* width */
#topbar_notifications_notifications>div::-webkit-scrollbar,
#topbar_notifications_events>div::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#topbar_notifications_notifications>div::-webkit-scrollbar-track,
#topbar_notifications_events>div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#topbar_notifications_notifications>div::-webkit-scrollbar-thumb,
#topbar_notifications_events>div::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

div#topbar_notifications_logs {
  padding: 20px;
}

.dropdown-menu1 a,
.dropdown-menu1 a:hover {
  color: #fff;
  border: none;
}

.pt-7,
.py-7 {
  padding-top: 1.75rem !important;
}

.navi .navi-item .navi-link .navi-icon i {
  font-size: 17px;
}

.navi.navi-hover .navi-item .navi-link:hover {
  background-color: #F3F6F9;
}

#topbar_notifications_events .text-success {
  color: #1BC5BD !important;
}

#topbar_notifications_events .text-danger {
  color: #F64E60 !important;
}

#topbar_notifications_events .text-primary {
  color: #d8c898 !important;
}

/* user notification */



.bw-sidebar__item a,
.bw-sidebar__item a:hover {
  color: #2c3e50;
  text-decoration: none;
  ;
}

#bw-sidebar.bw-sidebar-content.hoveropen {
  border-radius: 0 30px 30px 0;
}

.bw-sidebar-content {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 50px);
  max-width: 260px;
  height: 100vh;
  color: rgb(44, 62, 80);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 21000;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: translate(-110%);
  transform: translate(-110%);
}

/* .bw-sidebar-content.absolute {
    position: absolute!important;
    z-index: 9001;
    height: 100%;
} */
.bw-sidebar-content.open {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.bw-sidebar-content .bw-sidebar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  width: 100%;
  padding: 25px 5px;
  min-height: 80px;
  transition: 0.3s ease-in;
}

.bw-sidebar-logo img {
  height: 48px;
}

.bw-sidebar-content .bw-sidebar {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bw-sidebar__item {
  width: 100%;
  padding: 15px 16px 14px;
  text-align: left;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  opacity: .7;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  color: rgba(44, 62, 80, 1);
  border: 0;
}

.router-link-active.router-link-exact-active>.bw-sidebar__item {
  opacity: 1;
  color: #d8c898 !important;
}

.router-link-active.router-link-exact-active>.bw-sidebar__item:after {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.bw-sidebar-content.reduce .bw-sidebar__item {
  padding-left: 16px;
  min-height: 47px;
}

.bw-sidebar__item.hasIcon:hover {
  padding-left: 8px !important;
  opacity: 1;
}

.bw-sidebar-content.reduce .bw-sidebar__item.hasIcon {
  padding: 0;
}

.bw-sidebar__item__icon {
  min-width: 50px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2rem;
  z-index: 50;
  background: rgba(255, 255, 255, 1);
}

.bw-sidebar__item:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  width: 10px;
  height: 100%;
  background: #d8c898;
  border-radius: 0 20px 20px 0;
  -webkit-transform: translate(-6px);
  transform: translate(-6px);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 60;
}

.bw-sidebar-content.reduce .bw-sidebar__item.hasIcon:after {
  left: -20px;
}

.bw-sidebar__group__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bw-sidebar__group__content {
  overflow: hidden;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  position: relative;
}

.bw-sidebar__group__content:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(216 200 152 / 50%);
  width: 4px;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
  border-radius: 0 10px 10px 0;
  z-index: 60;
}

.bw-sidebar__group.open .bw-sidebar__group__content:after {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
}

.bw-sidebar__item:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  width: 10px;
  height: 100%;
  background: rgb(216 200 152 / 50%);
  border-radius: 0 20px 20px 0;
  -webkit-transform: translate(-6px);
  transform: translate(-6px);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 60;
}

.bw-sidebar__item__arrow i {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: rotate(-180deg) !important;
  transform: rotate(-180deg) !important;
}

.bw-sidebar__item__arrow {
  position: relative;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 15px;
  z-index: 80;
}

.bw-sidebar__group.open>.bw-sidebar__group__header .bw-sidebar__item__arrow i {
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

.bw-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bw-sidebar__group {
  padding: 0;
  width: 100%;
  min-width: 260px;
  position: relative;
}

.bw-sidebar-content .bw-sidebar__footer,
.bw-sidebar-content .bw-sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.bw-sidebar-content .bw-sidebar__footer {
  justify-self: flex-start;
}

.bw-sidebar__footer .bw-row {
  width: 100%;
  position: relative;

  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.bw-avatar__badge {
  position: absolute;
  width: 13px;
  height: 13px;
  background: rgba(255, 71, 87, 1);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1) !important;
  right: -4px;
  bottom: -4px;
  font-size: .6rem;
  font-weight: 600;
  z-index: 200;
  color: rgba(44, 62, 80, 1);
}

.bw-avatar__badge.isSlot,
.bw-avatar__badge.writing {
  width: auto;
  height: auto;
  border-radius: 7px;
  min-width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  line-height: .9rem;
  padding: 0 3px;
  min-height: 18px;
}

.bw-avatar__badge.top-right {
  top: -4px;
  bottom: auto;
}

.hidden .bw-avatar-content {
  margin-top: 10px;
}

.bw-avatar-content {
  color: rgb(244, 247, 248);
  border-radius: 35%;
  z-index: 1;
  width: 44px;
  height: 44px;
  position: relative;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bw-avatar {
  cursor: pointer;
  background: rgba(244, 247, 248, 1);
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(44, 62, 80, 1);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-box-shadow: inset 0 0 0 0 rgb(0 0 0 / 5%);
  box-shadow: inset 0 0 0 0 rgb(0 0 0 / 5%);
}

.bw-avatar img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  border-radius: inherit;
}

.bw-sidebar-content .bw-sidebar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: #fff;
}

.bw-sidebar-content .bw-sidebar::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.hoveropen {
  width: 260px !important;
}

.bw-sidebar a {
  text-decoration: none;
}

/* Sidebar css */

.a-active .bw-sidebar__item__text, .a-active i {
  color: #a99c76;
}

.bw-sidebar a:hover img, .bw-sidebar__group__header:hover .bw-sidebar__item__icon img{
  display: block!important;
}
.bw-sidebar a:hover i, .bw-sidebar__group__header:hover .bw-sidebar__item__icon i{
  display: none!important;
}

.bw-sidebar-content.hoveropen a .bw-sidebar__item__text{
  display: block;
}

.bw-sidebar-content a .bw-sidebar__item__text{
  display: none;
}



