<div id="bw-sidebar" class="bw-sidebar-content reduce open absolute" *ngIf="fullsidebar" style="width:50px;"
  (mouseover)="hoveropen = true" (mouseleave)="hoveropen = false" [class]="{ 'hoveropen' : hoveropen }" >
  <div class="bw-sidebar-logo" [style]="hoveropen ? 'padding-left: 20px;': ''">
    <img src="/assets/images/logo/kblogo.svg" alt="">
    <div class="bw-logo__item__text" *ngIf="hoveropen">Keabuilder<div class="fadingEffect"></div>
    </div>
  </div>
  <div class="bw-sidebar">
    <a [routerLink]="['/dashboard']" id="myhome" [routerLinkActive]="['a-active']" >
      <button class="bw-sidebar__item hasIcon">
        <div class="bw-sidebar__item__icon">
          <i class="fa fa-home" aria-hidden="true"></i>
        </div>
        <div class="bw-sidebar__item__text">
          Dashboard
        </div>
      </button>
    </a>

    <a [routerLink]="['/funnel']" [routerLinkActive]="['a-active']">
      <button class="bw-sidebar__item hasIcon">
        <div class="bw-sidebar__item__icon">
          <i class="fa fa-filter" aria-hidden="true"></i>
        </div>
        <div class="bw-sidebar__item__text">
          Funnels
        </div>
      </button>
    </a>

    <a [routerLink]="['/pages']" [ngClass]="activeItem=='pages'?'a-active':''" (click)="setActive('pages')">
      <button class="bw-sidebar__item hasIcon">
        <div class="bw-sidebar__item__icon">
          <i class="fas fa-desktop"></i>
        </div>
        <div class="bw-sidebar__item__text">
          Website
        </div>
      </button>
    </a>

    <a [routerLink]="['/strategies']" [ngClass]="activeItem=='strategies'?'a-active':''" (click)="setActive('strategies')">
      <button class="bw-sidebar__item hasIcon">
        <div class="bw-sidebar__item__icon">
          <i class="fas fa-chess-knight"></i>
        </div>
        <div class="bw-sidebar__item__text">
          Strategies
        </div>
      </button>
    </a>

    <a [routerLink]="['/membership']" [ngClass]="activeItem=='membership'?'a-active':''" (click)="setActive('membership')">
      <button class="bw-sidebar__item hasIcon">
        <div class="bw-sidebar__item__icon">
          <i class="fas fa-shield-alt"></i>
        </div>
        <div class="bw-sidebar__item__text">
          Membership
        </div>
      </button>
    </a>

    <a [routerLink]="['/analytics']" [ngClass]="activeItem=='analytics'?'a-active':''" (click)="setActive('analytics')">
      <button class="bw-sidebar__item hasIcon">
        <div class="bw-sidebar__item__icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <div class="bw-sidebar__item__text">
          Analytics
        </div>
      </button>
    </a>
    <a [routerLink]="['/contacts']" [ngClass]="activeItem=='contacts'?'a-active':''" (click)="setActive('contacts')">
      <button class="bw-sidebar__item hasIcon">
        <div class="bw-sidebar__item__icon">
          <i class="far fa-id-badge"></i>

        </div>
        <div class="bw-sidebar__item__text">
          Contacts
        </div>
      </button>
    </a>
    <button class="bw-sidebar__item hasIcon" (click)="setActive('affiliates')" [ngClass]="activeItem=='affiliates'?'a-active':''" (click)="setActive('affiliates')">
      <div class="bw-sidebar__item__icon">
        <i class="fas fa-search-dollar"></i>

      </div>
      <div class="bw-sidebar__item__text">
        Affilates
      </div>
    </button>

    <!-- Dropdown1 -->
    <div class="bw-sidebar__group" [class]="{ 'open' : isOpen }" (click)="isOpen = !isOpen">
      <div class="bw-sidebar__group__header">
        <button class="bw-sidebar__item hasIcon" (click)="setActive('integrations')" [ngClass]="activeItem=='integrations'?'a-active':''">
          <div class="bw-sidebar__item__icon"> <i class="fas fa-cogs"></i></div>
          <div class="bw-sidebar__item__text">
            Integrations
          </div>
          <div class="bw-sidebar__item__arrow"><i class="fas fa-chevron-up"></i></div>
        </button>
      </div>
      <div class="bw-sidebar__group__content v-enter-to kb-padinglft" [style]="{height: isOpen ? '100%' : '0px'}">
        <button class="bw-sidebar__item active hasIcon" (click)="setActive('activecampaign')" [ngClass]="activeItem=='activecampaign'?'a-active':''">
          <div class="bw-sidebar__item__icon">
            <img src="/assets/images/sidebaricons/activecampaign.svg" class="img-fluid">
          </div>
          <div class="bw-sidebar__item__text">
            Active Campaign
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('mailchimp')" [ngClass]="activeItem=='mailchimp'?'a-active':''">
          <div class="bw-sidebar__item__icon">
            <img src="/assets/images/sidebaricons/mailchimp.svg" class="img-fluid">
          </div>
          <div class="bw-sidebar__item__text">
            Mailchimp
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('caltweet')" [ngClass]="activeItem=='caltweet'?'a-active':''">
          <div class="bw-sidebar__item__icon">
            <img src="/assets/images/sidebaricons/caltweet.svg" class="img-fluid">
          </div>
          <div class="bw-sidebar__item__text">
            Caltweet
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('calendly')" [ngClass]="activeItem=='calendly'?'a-active':''">
          <div class="bw-sidebar__item__icon">
            <img src="/assets/images/sidebaricons/calendly.svg" class="img-fluid">
          </div>
          <div class="bw-sidebar__item__text">
            Calendly
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('zoho')" [ngClass]="activeItem=='zoho'?'a-active':''">
          <div class="bw-sidebar__item__icon">
            <img src="/assets/images/sidebaricons/zoho.svg" class="img-fluid">
          </div>
          <div class="bw-sidebar__item__text">
            Zoho
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('hubspot')" [ngClass]="activeItem=='hubspot'?'a-active':''">
          <div class="bw-sidebar__item__icon">
            <img src="/assets/images/sidebaricons/hubspot.svg" class="img-fluid">
          </div>
          <div class="bw-sidebar__item__text">
            Hubspot
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('crmmore')" [ngClass]="activeItem=='crmmore'?'a-active':''">
          <div class="bw-sidebar__item__icon"><i class="fas fa-external-link-square-alt"></i></div>
          <div class="bw-sidebar__item__text">
            More
          </div>
        </button>
      </div>
    </div>

    <!-- Dropdown2 -->
    <div class="bw-sidebar__group" [class]="{ 'open' : isOpen2 }" (click)="isOpen2 = !isOpen2">
      <div class="bw-sidebar__group__header">
        <button class="bw-sidebar__item hasIcon" (click)="setActive('help')" [ngClass]="activeItem=='help'?'a-active':''">
          <div class="bw-sidebar__item__icon"> <i class="fas fa-life-ring"></i></div>
          <div class="bw-sidebar__item__text">
            Help
          </div>
          <div class="bw-sidebar__item__arrow"><i class="fas fa-chevron-up"></i></div>
        </button>
      </div>
      <div class="bw-sidebar__group__content v-enter-to kb-padinglft" [style]="{height: isOpen2 ? '100%' : '0px'}">
        <button class="bw-sidebar__item active hasIcon" (click)="setActive('gethelp')" [ngClass]="activeItem=='gethelp'?'a-active':''">
          <div class="bw-sidebar__item__icon"><i class="fas fa-comments"></i></div>
          <div class="bw-sidebar__item__text">
            Get Help
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('mysupportrequest')" [ngClass]="activeItem=='mysupportrequest'?'a-active':''">
          <div class="bw-sidebar__item__icon"> <i class="fas fa-comments"></i></div>
          <div class="bw-sidebar__item__text">
            My Support Request
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('whatsnew')" [ngClass]="activeItem=='whatsnew'?'a-active':''">
          <div class="bw-sidebar__item__icon"><i class="fas fa-gifts"></i></div>
          <div class="bw-sidebar__item__text">
            What's New
          </div>
        </button>
      </div>
    </div>

    <!-- Dropdown3 -->
    <div class="bw-sidebar__group" [class]="{ 'open' : isOpen3 }" (click)="isOpen3 = !isOpen3">
      <div class="bw-sidebar__group__header">
        <button class="bw-sidebar__item hasIcon" (click)="setActive('documentation')" [ngClass]="activeItem=='documentation'?'a-active':''">
          <div class="bw-sidebar__item__icon"><i class="fas fa-book"></i></div>
          <div class="bw-sidebar__item__text">
            Documentation
          </div>
          <div class="bw-sidebar__item__arrow"><i class="fas fa-chevron-up"></i></div>
        </button>
      </div>
      <div class="bw-sidebar__group__content v-enter-to kb-padinglft" [style]="{height: isOpen3 ? '100%' : '0px'}">
        <button class="bw-sidebar__item active hasIcon" (click)="setActive('gettingstarted')" [ngClass]="activeItem=='gettingstarted'?'a-active':''">
          <div class="bw-sidebar__item__icon"><i class="fas fa-rocket"></i></div>
          <div class="bw-sidebar__item__text">
            Getting Started
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('myaccountsettings')" [ngClass]="activeItem=='myaccountsettings'?'a-active':''">
          <div class="bw-sidebar__item__icon"> <i class="fas fa-user-cog"></i></div>
          <div class="bw-sidebar__item__text">
            My Account Settings
          </div>
        </button>
        <button class="bw-sidebar__item hasIcon" (click)="setActive('followupfunnel')" [ngClass]="activeItem=='followupfunnel'?'a-active':''">
          <div class="bw-sidebar__item__icon"><i class="fas fa-user-cog"></i></div>
          <div class="bw-sidebar__item__text">
            Follow Up Funnels
          </div>
        </button>
      </div>
    </div>

    <button class="bw-sidebar__item hasIcon" (click)="setActive('qaadvice')" [ngClass]="activeItem=='qaadvice'?'a-active':''">
      <div class="bw-sidebar__item__icon">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
      <div class="bw-sidebar__item__text">
        Q&As, Advice and Troubleshooting
      </div>
    </button>
    
    <button class="bw-sidebar__item hasIcon" (click)="setActive('trainingresources')" [ngClass]="activeItem=='trainingresources'?'a-active':''">
      <div class="bw-sidebar__item__icon">
        <i class="fas fa-clipboard-check"></i>
      </div>
      <div class="bw-sidebar__item__text">
        Training & Resources
      </div>
    </button>

  </div>
</div>