<ng-template>
    <div class="container-fluid kb-details-container kb-scroll" [class.dragBox]="dragBoxAnime.open" [class.dragBoxClose]="dragBoxAnime.close" cdkDrag cdkDragBoundary=".cdk-overlay-container">
        <div class="row py-4 px-4">
            <div cdkDragHandle class="kb-details-head col-12 pb-2 px-0 border-bottom">
                <h5>Please help us to improve</h5>
            </div> 
            <div class="col-12 pt-3 px-0 inp-contain">
                <mat-error *ngIf="mailStatus.error">Please write your message before sending</mat-error>
                <mat-form-field class="kb-full-width" appearance="outline">
                    <mat-label>Feedback</mat-label>
                    <textarea name="message" [(ngModel)]="feedback.message" required matInput placeholder="Write your feedback here" [style.minHeight]="'150px'" [style.maxHeight]="'300px'"></textarea>
                </mat-form-field>
            </div>
            <div class="col-12 pt-3 px-0 text-right border-top">
                <button (click)="overlayRefDetach()" mat-raised-button color="accent" class="mr-3">Not now</button>
                <button [disabled]="mailStatus.sending" (click)="sendFeedback()" mat-raised-button color="primary">Send<i class="pl-2 far fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</ng-template>
