::ng-deep .kb-form h1,
::ng-deep .kb-form h2,
::ng-deep .kb-form h3,
::ng-deep .kb-form h4,
::ng-deep .kb-form h5,
::ng-deep .kb-form h6,
::ng-deep .kb-form p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0 !important;
}

#form-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#thanku{
    text-align: center;
}

textarea {
    min-width: 100%;
}

.kb-form {
    margin: 0px auto;
    padding: 20px 0px;
    border-width: 0px;
    border-radius: 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    height: auto;
}
