<ng-template #dialog>
  <h1 mat-dialog-title class="kb-danger">Delete Header</h1>
  <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{delheader.name}}</span> header?
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-info">No</button>
      <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="delete()">Yes</button>
  </div>
</ng-template>
<ng-template #createdialog>
  <h1 mat-dialog-title>Create Header</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Header Name</mat-label>
      <input matInput type="text" [placeholder]="'Header name'" [(ngModel)]="header.name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">Cancel</button>
      <button mat-button mat-dialog-close [color]="header.name ? 'primary' : ''" (click)="create()" [disabled]="!header.name">Create</button>
  </div>
</ng-template>
<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
  <div class="row align-items-center">
      <div class="col-md-8">
          <mat-form-field appearance="fill" class="col-8 pr-2">
              <mat-label>Search Headers</mat-label>
              <input #searchInp matInput type="text" placeholder="Search Headers">
              <i class="fa fa-search"></i>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Sort By</mat-label>
            <mat-select [(ngModel)]="_general.searchFilter">
                <mat-option *ngFor="let order of _general.filterOrder" [value]="order">{{order.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-md-4 text-right">
        <button mat-raised-button [color]="'accent'" (click)="toggleView()" *ngIf="headers.length != 0">
          <span *ngIf="toggleview else gridview">List View <i class="fas fa-th-list"></i></span>
          <ng-template #gridview><span>Grid View <i class="fas fa-th-large"></i></span></ng-template>
        </button>
        <button mat-raised-button class="mx-3" (click)="openDialog(createdialog)" color="primary"><span class="keamobhd">Create New </span> <i class="fas fa-plus"></i></button>
      </div>  
  </div>
  <div [class.px-3]="!toggleview" class="row" *ngIf="headers.length != 0 else nodata">
    <div [class]="toggleview ? 'col-md-6' : 'col-md-12'" class="cardpage mt-4" *ngFor="let header of headers | filter:searchInp.value:'name' | sorting:_general.searchFilter.value:_general.searchFilter.type">
        <div [class.row]="!toggleview">
          <div [class]="toggleview ? 'col-md-12' : 'col-md-6'" class="p-0">
            <div class="kb-fitimg col-12" [ngStyle]="{'background-image': 'url('+_image.uploadImgPath+_general.getSSPath('header-'+header.uniqueid)+'), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}">
              <div id="loader" *ngIf="shortwaiting">
                <div id="shadow"></div>
                <div id="box"></div>
                <div *ngIf="_general.loading.error" class="loadErrMsg">Something went wrong!</div>
              </div>
            </div>
          </div>
          <div [class]="toggleview ? 'col-md-12 pt-3' : 'col-md-6'">
            <div class="row align-items-center p-0 h-100">
              <div [class]="toggleview ? 'col-md-6 p-0' : 'col-md-12'">
                <div class="kb-title-board line-ellipsis">
                  <span>{{header.name ? header.name : 'Header' | titlecase}}</span>
                  <input type="text" #headname [value]="header.name" (blur)="rename(header, headname)" matTooltip="Edit Header Name" matTooltipPosition="above">
                </div>
                <p class="kb-pagedate mt-2 mb-0" matTooltip="Last Updated" matTooltipPosition="above">
                  <i class="far fa-calendar-alt" aria-hidden="true"></i> {{_general.dateformat(header.updated_at)}}
                </p>
              </div>
              <div [class]="toggleview ? 'col-md-6 p-0' : 'col-md-12'" class="text-right">
                <button mat-raised-button (click)="edit(header)" color="primary">Edit <i class="fas fa-pencil-alt"></i></button>
                <button mat-raised-button (click)="duplicate(header)" color="accent" class="mx-2">Dupliacte <i class="far fa-copy"></i></button>
                <button mat-raised-button (click)="delheader = header; openDialog(dialog)" color="danger"> Delete <i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <ng-template #nodata>
    <div class="row justify-content-center mt-5" >
      <div class="col-md-4">
          <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No Header found">
      </div>
    </div>
  </ng-template>
</div>