.container {
    background-image: url(src/assets/images/login/bklogin.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
}