 .card {
        margin-bottom: 2.2rem;
        box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%);
        -webkit-transition: all .3s ease-in-out, background 0s, color 0s, border-color 0s;
        transition: all .3s ease-in-out, background 0s, color 0s, border-color 0s;
    }
    #table-userslist .table-responsive {
    overflow-x: visible;
}
label {
    color: #475F7B;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}
.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
.table thead th {
    color: #475F7B;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#users-list-datatable tr td, select#users-list-verified {
    font-size: 14px;
}
#users-list-datatable_info {
    font-size: 14px;
    color: #727E8C;
}
.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}
#users-list-datatable_paginate ul li {
    font-size: 13px;
}
.pagination .page-item.previous.disabled .page-link {
    background-color: #F2F4F4;
}
.pagination .page-item.previous .page-link {
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
}
.pagination .page-item.active .page-link, .pagination .page-item.active .page-link:hover {
    border-radius: .267rem;
    background-color: #5A8DEE !important;
    color: #FFF;
}
#users-list-datatable_filter{
    text-align: right;
}
.kea-barfunnelsearch {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}
.kea-barfunnelsearch li a:hover {
    color: #000;
}
.kea-barfunnelsearch li{
    display: inline-block;
}
.kea-barfunnelsearch li a{
    border: 1px solid #DFE3E7;
    cursor: pointer;
    display: inline-block;
    color: #727E8C;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    padding: .467rem 1rem;
    font-size: 14px;
    line-height: 1.6rem;
    border-radius: .267rem;
    text-decoration: none;
}
.kea-barfunnelsearch li.active {
    box-shadow: 0 1px 6px 1px rgb(216 200 152 / 71%);
}
ul.kea-barfunnelsearch li.active a {
    color: #000;
}


.kea-barfieldset {
    display: inline-block;
    width:500px;
  }
  
  .form-control-position {
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
  }
  
  .has-icon-left .form-control-position {
    right: auto;
  }
  
  .has-icon-left .form-control {
    border-color: #DFE3E7;
    font-size: 13px;
    padding: 20px 10px 20px 30px;
  }
  
  .kb-full-width {
    width: 100%;
  }

table {
    width: 100%;
  }
  