<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete Website</h1>
  <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{website.title}}</span> website?<br>
      All data with Pages will be deleted and can't be restored!
      <mat-error *ngIf="error">{{errormessage}}</mat-error>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input type="text" name="confirmpass" matInput [(ngModel)]="confirmpass">
      </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close [color]="'primary'" (click)="resetobj()">No</button>
      <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="restoredeleteme(website)">Yes</button>
  </div>
</ng-template>

<ng-template #adddialog>
  <h1 mat-dialog-title >Build a website</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="error">{{errormessage}}</mat-error>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Website Title</mat-label>
        <input required matInput [(ngModel)]="websitetitle" name="websitetitle" [formControl]="webtitleFormControl"  placeholder="Ex. My Dream Website">
        <mat-error *ngIf="webtitleFormControl.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <!-- <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label> Subdomain</mat-label>
        <input type="text" (keyup)="subdomain = removespecialcharwithsmall(subdomain)" required matInput [formControl]="subdomainFormControl" placeholder="Ex. Keabuilder" [(ngModel)]="subdomain">
        <span matSuffix>.keapages.com</span>
        <mat-error *ngIf="subdomainFormControl.hasError('required')">
          Subdomain Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="subdomainFormControl.hasError('minlength')">
          Subdomain must be at least <strong>3</strong> characters
        </mat-error>
        <mat-error *ngIf="subdomainFormControl.hasError('maxlength')">
          Subdomain must be at most <strong>20</strong> characters
        </mat-error>
      </mat-form-field> -->
    </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger" (click)="resetobj()">No</button>
      <button mat-button mat-dialog-close color="primary" cdkFocusInitial (click)="createnewweb()" [disabled]="webtitleFormControl.invalid">Create</button>
  </div>
</ng-template>

<ng-template #updatedialog>
  <h1 mat-dialog-title >Update a website</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="error">{{errormessage}}</mat-error>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Website Title</mat-label>
      <input required matInput [(ngModel)]="websitetitle" name="websitetitle" [formControl]="webtitleFormControl"  placeholder="Ex. My Dream Website">
      <mat-error *ngIf="webtitleFormControl.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger" (click)="resetobj()">No</button>
      <button mat-button mat-dialog-close color="primary" cdkFocusInitial [disabled]="webtitleFormControl.invalid" (click)="updatenewweb()"> Update</button>
  </div>
</ng-template>

<ng-template #duplicatedialog>
  <h1 mat-dialog-title >Duplicate '{{selectedwebsite}}' website</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="error">{{errormessage}}</mat-error>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Website Title</mat-label>
        <input required matInput [(ngModel)]="websitetitle" name="websitetitle" [formControl]="webtitleFormControl"  placeholder="Ex. My Dream Website">
        <mat-error *ngIf="webtitleFormControl.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <!-- <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label> Subdomain</mat-label>
        <input type="text" (keyup)="subdomain = removespecialcharwithsmall(subdomain)" required matInput [formControl]="subdomainFormControl" placeholder="Ex. Keabuilder" [(ngModel)]="subdomain">
        <span matSuffix>.keapages.com</span>
        <mat-error *ngIf="subdomainFormControl.hasError('required')">
          Subdomain Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="subdomainFormControl.hasError('minlength')">
          Subdomain must be at least <strong>3</strong> characters
        </mat-error>
        <mat-error *ngIf="subdomainFormControl.hasError('maxlength')">
          Subdomain must be at most <strong>20</strong> characters
        </mat-error>
      </mat-form-field> -->
    </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger" (click)="resetobj()">No</button>
      <button mat-button mat-dialog-close color="primary" cdkFocusInitial [disabled]="webtitleFormControl.invalid" (click)="duplicatewebsite()">Duplicate</button>
  </div>
</ng-template>

<ng-template #copyurldialog>
  <h1 mat-dialog-title>Copy Website URL</h1>
  <div mat-dialog-content>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Website Url</mat-label>
      <textarea matInput readonly rows="3" name="websiteurlonly" #userinput>{{
        pageurl
      }}</textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="copyInputMessage(userinput)"
    >
      <i class="far fa-copy"></i> Copy Url
    </button>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger" (click)="resetobj()">Close</button>
  </div>
</ng-template>

<div id="allwebsite">
  <div class="container-fluid">
    <mat-progress-bar *ngIf="searching" mode='indeterminate'></mat-progress-bar>

        <div class="row">

              <mat-form-field  appearance="fill" class="col-md-6 pr-2">
                <mat-label>Search Website</mat-label>
                <input matInput type="text" name="searchweb" (keyup)="searchpage($event)" placeholder="Search Website">
                <i class="fa-solid fa-magnifying-glass"></i>
              </mat-form-field>

              <mat-form-field appearance="fill" class="col-md-3">
                <mat-label>Sort By</mat-label>
                <mat-select name="kbfilter" [(ngModel)]="selstatusshow" (ngModelChange)="applykbfilter()">
                  <mat-option value="nameasc" >ASC By Name</mat-option>
                  <mat-option value="namedesc">DESC By Name</mat-option>
                  <mat-option value="dateasc" >ASC By Date</mat-option>
                  <mat-option value="datedesc">DESC By Date</mat-option>
                </mat-select>
              </mat-form-field>
            
            <div class="col-md-3 text-right">
                <button mat-raised-button color="primary" class="mr-3" (click)="openDialog(adddialog,'add')">Create Website <i
                    class="fas fa-plus"></i></button>
            </div>
        </div>
      <div class="row" *ngIf="nodata else showpages">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No webpages found">
        </div>
      </div>

      <ng-template #showpages>
        <div class="row">

            <div class="col-md-6 cardpage mt-4" *ngFor="let websites of allwebsites;">
                <div>
                    <div class="row">
                        <div class="row tphdrcard">
                            <div class="col-md-6">
                                Created: {{websites.created}}
                            </div>
                            <div class="col-md-6 text-right">
                               Publish Pages: {{websites.publishpages}}
                            </div>
                        </div>
                        <div class="col-md-12 kbimgcard">
                          
                          <div class="kb-fitimg"
                            [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+websites.thumbnail + '), url(' + _image.uploadImgPath+'webpage_thumbnail1.jpg' + ')'}">
                            <!-- [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+websites.thumbnail + '), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}"> -->
                          </div>

                        </div>
                        <div class="col-md-12 mb-4 mt-4 text-center adjdiv">
                            <h5>{{websites.title}}</h5>
                        </div>
                        <div class="col-md-4">
                            Total Pages: {{websites.totalpage}}
                        </div>
                        <div class="col-md-8 text-right">
                            <button mat-raised-button color="primary" class="mr-2" [routerLink]="['/websites/'+websites.uniqueid+'/pages']" (click)="websiteService.websitename=websites.title;websiteService.website_id=websites.uniqueid"> Pages <i class="far fa-eye"></i></button>
                            <button mat-raised-button color="accent" class="ml-2" [matMenuTriggerFor]="menu"> More <i class="fas fa-cog"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openDialog(updatedialog,websites)">
                                    <i class="fas fa-pen mr-2"></i> Quick Edit
                                </button>
                                <button mat-menu-item (click)="openDialog(duplicatedialog,websites)">
                                  <i class="far fa-copy mr-2"></i> Duplicate
                                </button>
                                <button mat-menu-item (click)="copyurl(websites)">
                                  <i class="fas fa-link mr-2"></i> Copy URL
                                </button>
                                <button mat-menu-item [routerLink]="['/websites/'+websites.uniqueid+'/details']">
                                  <i class="fas fa-palette mr-2" ></i> Site Details
                                </button>
                                <button class="text-danger" mat-menu-item (click)="openDialog(deldialog, websites)">
                                  <i class="far fa-trash-alt mr-2"></i> Delete
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </ng-template>

    </div>

</div>