<div class="bw-login container-fluid">
  <div class="row">
    <div class="pt-3 bw-colside ml-4 mt-4">
      <div class="login-form bu-forlogin py-4 px-5">
        <img src="./assets/images/logo/kblogo.png">
        <h5>Forget Password</h5>
        <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit()" method="post" name="form1" *ngIf="forgetFirst">
          <div class="form-group">
            <p>Enter your email for updating the password:</p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" ngModel matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" required [(ngModel)]="emailInp">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('pattern')">
                Please enter <strong>Valid Email</strong>
              </mat-error>
            </mat-form-field>

          </div>
          <button type="submit" mat-raised-button class="senlinkbtn" >Send Verification Link</button>

        </form>
        
        <div class="alert alert-info" *ngIf="submitShow"><i class="fas fa-exclamation-triangle"></i> {{submitError}}</div>

        <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onupdatePassword()" method="post" name="form2" *ngIf="forgetSecond">
          <input type="hidden" name="token" class="form-control" value="" [ngModel]="chktoken">
          <div class="form-group">
            <p>Enter your New Password:</p>

            <!-- <input [(ngModel)]="passwInp" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" ngModel type="password" name="password" class="form-control" id="password" placeholder="Please Enter New Password" value="" minlength="6">

            <div *ngIf="password.errors && (password.invalid || password.touched) && userForm.submitted" class="alert alert-danger" role="alert">
              <span *ngIf="password.errors['required']"><i class="fas fa-exclamation-triangle"></i> Password is required!</span>
              <span *ngIf="password.errors['minlength']"><i class="fas fa-exclamation-triangle"></i> Password must be at least 6 characters</span>
            </div> -->

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" required minlength="6" [type]="hide ? 'password' : 'text'" [(ngModel)]="passwInp">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="ar-eyeicon">
                <i class="far" [class]="hide ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
              </button>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                Password must be at least <strong>6</strong> characters
              </mat-error>
            </mat-form-field>

          </div>
          <button type="submit" mat-raised-button class='senlinkbtn' >Update Password</button>

        </form>

        <div class="mt-4">
          <span class="txt-light">Have an account?</span>
          <button mat-button (click)="navigateToLoginWithRefresh()">Log In</button>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="bw-container__bg" [style.backgroundImage]="bgImg"></div>
    </div>
  </div>
</div>