<ng-container *ngIf="target == 'main' && page_json?.header?.id">
    <header [id]="'kb-header-'+page_json?.header.id">
        <app-page-view [target_sections]="page_json?.header.sections" [target_style]="page_json?.header.style" [target_menus]="page_json?.menus" [target]="'header'"></app-page-view>
    </header>
</ng-container>
<div [id]="'kb-'+target">
    <div class="kb-drag-container">
        <!-- sections start -->
        <div #kbmain *ngFor="let section of page_json?.sections, index as si"
            [attr.data-name]="section.name ? section.name : ''"
            (click)="redirectLink(section.redirection)"
            [ngClass]="_style.getHideCls(section.hide)"
            [id]="section.id" class="kb-section kb-block-container">
            <div class="kb-drag-container">
                <!-- rows start -->
                <div *ngFor="let row of section.rowArr, index as ri"
                    [attr.data-name]="row.name ? row.name : ''"
                    (click)="redirectLink(row.redirection)"
                    [ngClass]="_style.getHideCls(row.hide)"
                    [id]="row.id" class="kb-row kb-block-container">
                    <div class="kb-column-wrap" [class.flexColumnRev]="_style.getColumnReverse(row.columnRev)"
                    [ngClass]="{'kb-desk-flex-rev': row.columnRev.desktop, 'kb-tab-h-flex-rev': row.columnRev.tablet_h, 'kb-tab-v-flex-rev': row.columnRev.tablet_v, 'kb-mob-flex-rev': row.columnRev.mobile}"
                    [style.flexDirection]="_style.getColumnReverse(row.columnRev)">
                        <!-- columns start -->
                        <div *ngFor="let column of row.columnArr, index as ci"
                            [attr.data-name]="column.name ? column.name : ''"
                            (click)="redirectLink(column.redirection)"
                            [ngClass]="_style.getHideCls(column.hide)"
                            [class]="row.rowSize" [id]="column.id" class="kb-column kb-block-container">
                            <div class="kb-drag-container">
                                <!-- elements start -->
                                <div *ngFor="let element of column.elementArr, index as ei"
                                    [ngSwitch]="element.content.name"
                                    [attr.data-name]="element.name ? element.name : ''"
                                    (click)="redirectLink(element.redirection)"
                                    [id]="element.id" class="kb-element kb-block-container"
                                    [ngClass]="_style.getHideCls(element.hide)">
                                    <div *ngSwitchCase="'image'" [attr.data-name]="element.content.name" class="kb-element-content">
                                        <img
                                            [src]="element.content.src ? element.content.src : _image.imgPath+'builder/no-image.png'"
                                            alt="image" width="auto"
                                            [class.dummyImg]="!element.content.src">
                                    </div>
                                    <div *ngSwitchCase="'video'" [attr.data-name]="element.content.name" class="kb-element-content">
                                        <div [ngSwitch]="_style.video_type">
                                            <div *ngSwitchCase="'link'">
                                                <video
                                                [autoplay]="element.content.autoplay"
                                                [muted]="element.content.muted"
                                                [loop]="element.content.loop"
                                                [controls]="element.content.controls">
                                                    <source [src]="element.content.src" type="video/mp4">
                                                </video>
                                            </div>
                                            <div *ngSwitchCase="'iframe'">
                                                <div [innerHTML]="element.content.iframe | safeHtml"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'button'" [attr.data-name]="element.content.name" class="kb-element-content">
                                        <a *ngIf="element.content.btntype != 'regular' else regular"
                                            class="kb-default-btn kb-offer-btn"
                                            [attr.kb-btn-type]="element.content.btntype"
                                            [attr.kb-redirect-link]="element.content.link"
                                            [attr.kb-offer-id]="element.content.offerid"
                                            href="javascript.void(0)" [target]="element.content.target">
                                            <div>{{element.content.text}}</div>
                                            <div class="subtext"
                                                [style.fontSize]="element.content.subfont_size">
                                                {{element.content.subtext}}</div>
                                        </a>
                                        <ng-template #regular>
                                            <a class="kb-default-btn" [href]="element.content.link"
                                                [target]="element.content.target">
                                                <div>{{element.content.text}}</div>
                                                <div class="subtext"
                                                    [style.fontSize]="element.content.subfont_size">
                                                    {{element.content.subtext}}</div>
                                            </a>
                                        </ng-template>
                                    </div>
                                    <div *ngSwitchCase="'menu'" [attr.data-name]="element.content.name" [attr.data-id]="element.content.data_id"
                                        class="kb-element-content">
                                        <ul class="kb-menu" [id]="'kb-menu-'+element.content.data_id">
                                            <li *ngFor="let item of element.content.items, index as mi">
                                                <a class="kb-content-item" [id]="'kb-menu-item-'+item.id" [href]="item.link">
                                                    {{item.name}}</a>
                                            </li>
                                        </ul>
                                        <div class="kb-menu-resp">
                                            <div class="kb-menu-bar" [class.kb-menu-bar-open]="element.content.menuOpen" (click)="toggleRespMenu(element.content)">
                                                <span class="kb-menu-bar1"></span>
                                                <span class="kb-menu-bar2"></span>
                                                <span class="kb-menu-bar3"></span>
                                            </div>
                                            <div class="kb-menu-content" [class.kb-d-none]="!element.content.menuOpen" >
                                                <ul class="kb-menu" [id]="'kb-menu-'+element.content.data_id">
                                                    <li *ngFor="let item of element.content.items, index as mi">
                                                        <a class="kb-content-item" [id]="'kb-menu-item-'+item.id" [href]="item.link">{{item.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'form-component'" [attr.data-name]="element.content.type" [attr.data-id]="element.content.data_id"
                                    class="kb-element-content">
                                        <app-crm-form-fetch [append_form_id]="element.content.data_id" class="kb-form-append"></app-crm-form-fetch>
                                    </div>
                                    <div *ngSwitchCase="'order-form-component'" [attr.data-name]="element.content.type" [attr.data-id]="element.content.data_id"
                                    class="kb-element-content">
                                        <app-order-form [append_order_form_id]="element.content.data_id" class="kb-form-append"></app-order-form>
                                    </div>
                                    <div *ngSwitchCase="'code'" [attr.data-name]="element.content.name" class="kb-element-content">
                                        <div class="kb-code-block kb-content-item"
                                            [attr.html-data]="element.content.html" [innerHTML]="element.content.html | safeHtml">
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'divider'" [attr.data-name]="element.content.name" class="kb-element-content">
                                        <hr>
                                    </div>
                                    <div *ngSwitchCase="'icon'" [attr.data-name]="element.content.name" class="kb-element-content">
                                        <div class="kb-icon-block"
                                            [innerHTML]="element.content.icon_html | safeHtml"></div>
                                    </div>
                                    <div *ngSwitchDefault [attr.data-name]="element.content.name" class="kb-element-content">
                                        <div class="kb-text-block"
                                            [innerHTML]="element.content.html | safeHtml"></div>
                                    </div>
                                </div>
                                <!-- elements end -->
                            </div>
                        </div>
                        <!-- columns end -->
                    </div>
                </div>
                <!-- rows end -->
            </div>
        </div>
        <!-- sections end -->
    </div>
</div>
<span id="kb-user-id" [attr.kb-user-id]="req.uid"></span>
<ng-container *ngIf="target == 'main' && page_json?.footer?.id">
    <footer [id]="'kb-footer-'+page_json?.footer.id">
        <app-page-view [target_sections]="page_json?.footer.sections" [target_style]="page_json?.footer.style" [target_menus]="page_json?.menus" [target]="'footer'"></app-page-view>
    </footer>
</ng-container>
<app-default-page-view *ngIf="defaultPage"></app-default-page-view>
<app-page-not-found *ngIf="pageNotFound"></app-page-not-found>