<div style="visibility: hidden; position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu" class="kb-builder-options">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="_general.preview()" *ngIf="!ishf"><i [innerHTML]="'preview' | svg | safeHtml"></i> Preview</button>
        <button mat-menu-item (click)="savePage(main, false)"><i [innerHTML]="'save' | svg | safeHtml"></i> Save</button>
        <button mat-menu-item (click)="openPageSetting(null)"><i [innerHTML]="'setting' | svg | safeHtml"></i> Setting</button>
        <button mat-menu-item (click)="wireframeToggle()"><i [innerHTML]="'wireframe' | svg | safeHtml"></i> Wireframe</button>
        <button mat-menu-item (click)="_section.undo()" *ngIf="_section.pageSessionArr[_section.pageSession.undo-1]"><i [innerHTML]="'undo' | svg | safeHtml"></i> Undo</button>
        <button mat-menu-item (click)="_section.redo()" *ngIf="_section.pageSessionArr[_section.pageSession.redo]"><i [innerHTML]="'redo' | svg | safeHtml"></i> Redo</button>
    </ng-template>
</mat-menu>
<ng-template #askforsave>
    <h1 mat-dialog-title>Do you want to save changes?</h1>
    <mat-checkbox [ngModel]="dntaskforsave"><small>Don't ask me again!</small></mat-checkbox>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="kb-danger">Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial color="primary" (click)="savePage(main, false)">Save</button>
    </div>
</ng-template>
<ng-template #templatedialog>
    <h1 mat-dialog-title>Save {{saveTempAs | titlecase}} As Template</h1>
    <div mat-dialog-content>
        <mat-error *ngIf="isNotValid(validate.tempname)">
            Template name should not be empty
        </mat-error>
        <mat-error *ngIf="validate.tempname.hasError('minlength')">
            Template name must be at least <strong>3</strong> characters
          </mat-error>
        <mat-form-field appearance="fill">
            <mat-label>Template name</mat-label>
            <input matInput type="text" [formControl]="validate.tempname" placeholder="Template name" [(ngModel)]="saveTemplateSection.name" minlength="3">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="saveTemplateSection = {name: ''}" class="kb-danger">Cancel</button>
        <button mat-button [color]="!validate.tempname.invalid ? 'primary' : ''" [disabled]="validate.tempname.invalid" (click)="saveTemplate(main)">Save</button>
    </div>
</ng-template>
<app-image [DialogImageToggle]="DialogImageToggle"></app-image>
<app-builder-setting (openImageDialog)="openImageDialog($event)" [DialogToggle]="DialogParentToggle"></app-builder-setting>
<app-builder-topbar id="kb-builder-topbar" (openImageDialog)="openImageDialog($event)" (saveastemp)="saveAsTemplateDialog(templatedialog, _section.sections, 'page')" (zoomPage)="zoom = $event" [ishf]="ishf" [wftgl]="wireframe.opened" (wireframeToggle)="wireframeToggle()" (transferData)="transferData = $event;" (parentTrigger)="getTrigger($event)" [class.loaderShadow]="_general.saveDisabled || _general.savingPage" *ngIf="_section.sections.length != 0"></app-builder-topbar>
<mat-drawer-container [class.kb-d-none]="wfhide" [hasBackdrop]="true" autosize>
    <mat-drawer #wireframe mode="over" [position]="wfpos" (closedStart)="closewf()">
        <app-bulder-wireframe (dialogToggle)="openDialog()" (wfpos)="wfpos=$event" (saveastemp)="saveAsTemplateDialog(templatedialog, $event, 'section')"></app-bulder-wireframe>
    </mat-drawer>
</mat-drawer-container>
<mat-progress-bar *ngIf="_general.saveDisabled || _general.savingPage" mode='indeterminate'></mat-progress-bar>
<div cdkDropListGroup id="kb-page-container" [style.transform]="zoom.active ? 'scale('+zoom.value+'%)' : ''" (contextmenu)="onContextMenu($event)" [class.pagedisabled]="_general.saveDisabled"
    (click)="_general.showInlineEditor && !_general.insideEditor ? _general.resetInlineEditor() : ''">
    <div id="kb-block-container" [class.loading]="!_general.loading.success">
        <div #main id="kb-main-container"
            [class.kb-resp-border]="_general.respToggleDevice.name != 'desktop' && _general.respToggleDevice.name != 'hover'"
            [class.kb-resp-view]="_general.respToggleDevice.name == 'tablet-v' || _general.respToggleDevice.name == 'mobile'"
            [style.width]="_general.respToggleDevice.width">
            <div id="kb-globall-header" class="kb-gloabally-block" *ngIf="_general.includeLayout.header && _general.selectedHeader.html">
                <header [id]="'kb-header-'+_general.selectedHeader.id" [innerHTML]="_general.selectedHeader.html | safeHtml"></header>
                <button color="secondary" mat-stroked-button class="kb-globally-edit-btn" (click)="_general.redirectLink('/builder/header/'+_general.selectedHeader.id)">Edit Header Globally</button>
            </div>
            <div id="kb-main"
                [ngStyle]="_general.selectedBlock.type == 'main' ? _style.currentStyling() : _style.getBlockStyle(_general.main.style)">
                <div class="kb-drag-container" cdkDropList id="sectiongroup-0" [cdkDropListEnterPredicate]="dropAllow()" [cdkDropListConnectedTo]="_section.sectionConnect"
                    [cdkDropListData]="_section.sections" (cdkDropListDropped)="drop($event)">
                    <!-- sections start -->
                    <div cdkDrag *ngFor="let section of _section.sections, index as si"
                        [attr.data-name]="section.name ? section.name : ''"
                        [attr.data-link]="section.redirection ? section.redirection.link : ''"
                        [attr.data-target]="section.redirection ? section.redirection.target : ''"
                        [class.kb-block-redirection]="section.redirection?.link"
                        (mouseenter)="section.setting = true; _row.selectedSectionRows = section.rowArr"
                        (mouseleave)="section.setting = false" [ngClass]="_style.getHideCls(section.hide)"
                        [class.kb-block-none]="isBlockActive(section) ? _style.getDisplay(_style.hide) : _style.getDisplay(section.hide)"
                        [ngStyle]="isBlockActive(section) ? _style.currentStyling() : _style.getBlockStyle(section.style)"
                        [id]="section.id" class="kb-section kb-block-container"
                        [class.kb-block-disabled]="_general.showInlineEditor">
                        <!-- sections setting navigation start -->
                        <div *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--section-color)'">
                            {{section.name ? section.name : 'Section'}}</div>
                        <div *cdkDragPlaceholder class="custom-placeholder"
                            [style.backgroundColor]="'var(--section-color)'"></div>
                        <div class="kb-module-setting" *ngIf="section.setting && !_general.showInlineEditor">
                            <span cdkDragHandle *ngIf="_section.sections.length > 1"
                                class="kb-handle-block kb-handle-section"><i class="fa fa-arrows-alt"></i></span>
                            <span (click)="saveAsTemplateDialog(templatedialog, section, 'section')" matTooltip="Save As Template"
                                matTooltipPosition="above"><i class="far fa-save"></i></span>    
                            <span (click)="openSetting(section)"
                                matTooltip="Section Setting" matTooltipPosition="above"><i
                                    class="far fa-edit"></i></span>
                            <span (click)="_section.duplicateSection(section,si)" matTooltip="Duplicate Section"
                                matTooltipPosition="above"><i class="far fa-copy"></i></span>
                            <span (click)="_section.deleteSection(si)" *ngIf="_section.sections.length != 1"
                                matTooltip="Delete Section" matTooltipPosition="above"><i
                                    class="far fa-trash-alt"></i></span>
                        </div>
                        <!-- sections setting navigation end -->
                        <!-- add row option start -->
                        <span (click)="_general.blockSelection = 'row';  _row.selectedRow=''; openDialog()"
                            *ngIf="section.rowArr.length == 0" class="kb-ispan-add add-row" matTooltip="Add New Row"
                            matTooltipPosition="right"><i class="fa fa-plus"></i></span>
                        <!-- add row option end -->
                        <!-- add section option start -->
                        <span (click)="_section.addSection(si)" *ngIf="section.setting && !_general.showInlineEditor"
                            class="kb-ispan-add add-section bottom-add-btn" matTooltip="Add New Section"
                            matTooltipPosition="below"><i class="fa fa-plus"></i></span>
                        <!-- add section option end -->
                        <div class="kb-drag-container" cdkDropList [id]="'rowgroup-'+si"
                            [cdkDropListData]="section.rowArr" [cdkDropListConnectedTo]="_row.rowConnect"
                            (cdkDropListDropped)="drop($event)">
                            <!-- rows start -->
                            <div cdkDrag *ngFor="let row of section.rowArr, index as ri"
                                [attr.data-name]="row.name ? row.name : ''"
                                [attr.data-link]="row.redirection ? row.redirection.link : ''"
                                [attr.data-target]="row.redirection ? row.redirection.target : ''"
                                [class.kb-block-redirection]="row.redirection?.link"
                                (mouseenter)="row.setting = true; _row.selectedRow = row;"
                                (mouseleave)="row.setting = false" [ngClass]="_style.getHideCls(row.hide)"
                                [class.kb-block-none]="isBlockActive(row) ? _style.getDisplay(_style.hide) : _style.getDisplay(row.hide)"
                                [ngStyle]="isBlockActive(row) ? _style.currentStyling() : _style.getBlockStyle(row.style)"
                                [id]="row.id" [class.kb-block-disabled]="_general.showInlineEditor"
                                class="kb-row kb-block-container">
                                <!-- rows setting navigation start -->
                                <div *cdkDragPreview class="custom-preview"
                                    [style.backgroundColor]="'var(--row-color)'">{{row.name ? row.name : 'Row'}}</div>
                                <div *cdkDragPlaceholder class="custom-placeholder"
                                    [style.backgroundColor]="'var(--row-color)'"></div>
                                <div class="kb-module-setting" *ngIf="row.setting && !_general.showInlineEditor">
                                    <span cdkDragHandle
                                        *ngIf="_section.sections.length > 1 || section.rowArr.length > 1"
                                        class="kb-handle-block kb-handle-row"><i class="fa fa-arrows-alt"></i></span>
                                    <span *ngIf="row.columnArr[0].elementArr.length == 0"
                                        (click)="_general.blockSelection = 'row'; openDialog()"
                                        matTooltip="Column Structure" matTooltipPosition="above"><i
                                            class="fa fa-columns"></i></span>
                                    <span
                                        (click)="openSetting(row)"
                                        matTooltip="Row Setting" matTooltipPosition="above"><i
                                            class="far fa-edit"></i></span>
                                    <span (click)="_row.duplicateRow(section.rowArr, row, ri)"
                                        matTooltip="Duplicate Row" matTooltipPosition="above"><i
                                            class="far fa-copy"></i></span>
                                    <span (click)="_row.deleteRow(section.rowArr, ri)" matTooltip="Delete Row"
                                        matTooltipPosition="above"><i class="far fa-trash-alt"></i></span>
                                </div>
                                <!-- rows setting navigation end -->
                                <div class="kb-column-wrap" [class.flexColumnRev]="_style.getColumnReverse(row.columnRev)"
                                [ngClass]="{'kb-desk-flex-rev': row.columnRev.desktop, 'kb-tab-h-flex-rev': row.columnRev.tablet_h, 'kb-tab-v-flex-rev': row.columnRev.tablet_v, 'kb-mob-flex-rev': row.columnRev.mobile}"
                                [style.gap]="(isBlockActive(row) ? _style.getBlockParamValue(_style.columnGap) : _style.getBlockParamValue(row.columnGap)) + 'rem'"
                                [style.flexDirection]="isBlockActive(row) ? _style.getColumnReverse(_style.columnRev) : _style.getColumnReverse(row.columnRev)">
                                    <!-- columns start -->
                                    <div *ngFor="let column of row.columnArr, index as ci"
                                        [attr.data-name]="column.name ? column.name : ''"
                                        [attr.data-link]="column.redirection ? column.redirection.link : ''"
                                        [attr.data-target]="column.redirection ? column.redirection.target : ''"
                                        [class.kb-block-redirection]="column.redirection?.link"
                                        (mouseenter)="_element.selectedElements = column.elementArr"
                                        [ngStyle]="isBlockActive(column) ? _style.currentStyling() : _style.getBlockStyle(column.style)"
                                        [ngClass]="_style.getHideCls(column.hide)"
                                        [class.kb-block-none]="isBlockActive(column) ? _style.getDisplay(_style.hide) : _style.getDisplay(column.hide)"
                                        [class]="row.rowSize" [id]="column.id" class="kb-column kb-block-container">
                                        <div class="kb-drag-container" cdkDropList [id]="'elementgroup-'+ci"
                                            [cdkDropListData]="column.elementArr" [cdkDropListConnectedTo]="_element.elementConnect"
                                            (cdkDropListDropped)="drop($event)"
                                            (change)="_element.selectedElements = column.elementArr">
                                            <!-- elements start -->
                                            <div cdkDrag *ngFor="let element of column.elementArr, index as ei"
                                                [ngSwitch]="element.content.name"
                                                [attr.data-name]="element.name ? element.name : ''"
                                                [attr.data-link]="element.redirection ? element.redirection.link : ''"
                                                [attr.data-target]="element.redirection ? element.redirection.target : ''"
                                                [class.kb-block-redirection]="element.redirection?.link"
                                                (dblclick)="elementDblClk(element)"
                                                (mouseenter)="element.setting = true"
                                                (mouseleave)="element.setting = element?.moresetting" 
                                                [id]="element.id" class="kb-element kb-block-container"
                                                [ngClass]="_style.getHideCls(element.hide)"
                                                [style.margin]="isBlockActive(element) && !_style.setItemStyle  && !_style.setDropDownStyle.main && !_style.setDropDownStyle.item ? _style.getMargin() : _style.getBlockStyle(element.content.style)['margin']"
                                                [style.justifyContent]="isBlockActive(element) && !_style.setItemStyle && !_style.setDropDownStyle.main && !_style.setDropDownStyle.item ? _style.getBlockParamValue(_style.item_alignment) : _style.getBlockParamValue(element.item_alignment)"
                                                [class.kb-block-none]="isBlockActive(element) && !_style.setItemStyle  && !_style.setDropDownStyle.main && !_style.setDropDownStyle.item ? _style.getDisplay(_style.hide) : _style.getDisplay(element.hide)"
                                                [class.kb-block-disabled]="_general.showInlineEditor">
                                                <div *cdkDragPreview class="custom-preview"
                                                    [style.backgroundColor]="'var(--primary-color)'">{{(element.content.type == 'order_form' || element.content.type == 'form') ? 
                                                    element.content.type.replace('_',' ') : (element.name ? element.name : element.content.name)}}</div>
                                                <div *cdkDragPlaceholder class="custom-placeholder"
                                                    [style.backgroundColor]="'var(--primary-color)'"></div>
                                                <div class="kb-module-setting"
                                                    *ngIf="element.setting && !_general.showInlineEditor">
                                                    <span class="kb-handle-block kb-handle-element"><i
                                                            class="fa fa-arrows-alt"></i></span>
                                                    <span *ngIf="element.content.name != 'iframe' && element.content.name != 'menu'"
                                                        (click)="openSetting(element)"
                                                        matTooltip="Element Setting" matTooltipPosition="above"><i
                                                            class="far fa-edit"></i></span>
                                                    <span *ngIf="element.content.name == 'menu'" [matMenuTriggerFor]="moresetting" (onMenuOpen)="element.moresetting = true" (onMenuClose)="element.moresetting = false; element.setting = false"
                                                        matTooltip="Element Setting" matTooltipPosition="above"><i
                                                            class="far fa-edit"></i></span>
                                                    <span (click)="_column.selectedColumn = column; _element.duplicateElement(element, ei)"
                                                        matTooltip="Duplicate Element" matTooltipPosition="above"><i
                                                            class="far fa-copy"></i></span>
                                                    <span (click)="_element.deleteElement(column.elementArr, ei)"
                                                        matTooltip="Delete Element" matTooltipPosition="above"><i
                                                            class="far fa-trash-alt"></i></span>
                                                    <mat-menu #moresetting="matMenu" xPosition="after" yPosition="below">
                                                        <button mat-menu-item (click)="openSetting(element)">
                                                            <i class="fas fa-bars"></i> Menu
                                                        </button>
                                                        <button mat-menu-item (click)="_style.setItemStyle = true; openSetting(element)">
                                                            <i class="fas fa-list-ul"></i> Items
                                                        </button>
                                                        <button mat-menu-item (click)="_style.setDropDownStyle.main = true; openSetting(element)">
                                                            <i class="fas fa-stream"></i> Dropdown Menu
                                                        </button>
                                                        <button mat-menu-item (click)="_style.setDropDownStyle.item = true; openSetting(element)">
                                                            <i class="far fa-list-alt"></i> Dropdown Items
                                                        </button>
                                                    </mat-menu>
                                                </div>
                                                <div *ngSwitchCase="'image'" [attr.data-name]="element.content.name" class="kb-element-content">
                                                    <img *ngIf="isBlockActive(element) else showImg"
                                                        [ngStyle]="_style.imageStyling()"    
                                                        [src]="_style.image_src ? _style.image_src : _image.imgPath+'builder/no-image.png'"
                                                        alt="image" width="auto"
                                                        [class.dummyImg]="!_style.image_src">
                                                    <ng-template #showImg>
                                                        <img [ngStyle]="_style.getBlockStyle(element.content.style)"
                                                            [src]="element.content.src ? element.content.src : _image.imgPath+'builder/no-image.png'"
                                                            alt="image" width="auto"
                                                            [class.dummyImg]="!element.content.src">
                                                    </ng-template>
                                                </div>
                                                <div *ngSwitchCase="'video'" [attr.data-name]="element.content.name" class="kb-element-content">
                                                    <div [ngSwitch]="_style.video_type">
                                                        <div *ngSwitchCase="'link'">
                                                            <video *ngIf="isBlockActive(element) else showVideo" 
                                                            [autoplay]="_style.video_autoplay"
                                                            [muted]="_style.video_muted"
                                                            [loop]="_style.video_loop"
                                                            [controls]="_style.video_controls"
                                                            [ngStyle]="_style.currentStyling()">
                                                                <source [src]="_style.video_src" type="video/mp4">
                                                                Video is not supported
                                                              </video>
                                                            <ng-template #showVideo>
                                                                <video [ngStyle]="_style.getBlockStyle(element.content.style)"
                                                                [autoplay]="element.content.autoplay"
                                                                [muted]="element.content.muted"
                                                                [loop]="element.content.loop"
                                                                [controls]="element.content.controls"
                                                                [class.kb-video-muted]="element.content.muted">
                                                                    <source [src]="element.content.src" type="video/mp4">
                                                                </video>
                                                            </ng-template>
                                                        </div>
                                                        <div *ngSwitchCase="'iframe'">
                                                            <div *ngIf="isBlockActive(element) else showVideo" [innerHTML]="_style.video_iframe | safeHtml" [ngStyle]="_style.currentStyling()">
                                                            </div>
                                                            <ng-template #showVideo>
                                                                <div [innerHTML]="element.content.iframe | safeHtml" [ngStyle]="_style.getBlockStyle(element.content.style)"></div>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngSwitchCase="'button'" [attr.data-name]="element.content.name" class="kb-element-content">
                                                    <a *ngIf="isBlockActive(element) else showBtn"
                                                        [ngStyle]="_style.buttonStyling()"
                                                        class="kb-default-btn"
                                                        [attr.kb-btn-type]="element.content.btntype"
                                                        [href]="_style.button_link" [target]="_style.button_target">
                                                        <div>{{_style.button_text}}</div>
                                                        <div class="subtext"
                                                            [style.fontSize]="_style.button_subfont_size.value">
                                                            {{_style.button_subtext}}</div>
                                                    </a>
                                                    <ng-template #showBtn>
                                                        <a *ngIf="element.content.btntype != 'regular' else regular"
                                                            [ngStyle]="_style.getBlockStyle(element.content.style)"
                                                            class="kb-default-btn kb-offer-btn"
                                                            [attr.kb-btn-type]="element.content.btntype"
                                                            [attr.kb-redirect-link]="element.content.link"
                                                            [attr.kb-offer-id]="element.content.offerid"
                                                            href="javascript.void(0)" [target]="element.content.target">
                                                            <div>{{element.content.text}}</div>
                                                            <div class="subtext"
                                                                [style.fontSize]="element.content.subfont_size">
                                                                {{element.content.subtext}}</div>
                                                        </a>
                                                        <ng-template #regular>
                                                            <a [ngStyle]="_style.getBlockStyle(element.content.style)" class="kb-default-btn" [href]="element.content.link"
                                                                [target]="element.content.target">
                                                                <div>{{element.content.text}}</div>
                                                                <div class="subtext"
                                                                    [style.fontSize]="element.content.subfont_size">
                                                                    {{element.content.subtext}}</div>
                                                            </a>
                                                        </ng-template>
                                                    </ng-template>
                                                    <span *ngIf="element.setting && element.content.link" class="kb-btn-link">{{element.content.link}}</span>
                                                </div>
                                                <div *ngSwitchCase="'menu'" [attr.data-name]="element.content.name" [attr.data-id]="element.content.data_id"
                                                    class="kb-element-content">
                                                    <ul class="kb-menu" [id]="element.content.data_id"
                                                        [ngStyle]="isBlockActive(element) && !_style.setItemStyle && !_style.setDropDownStyle.main && !_style.setDropDownStyle.item ? _style.currentStyling() : _style.getBlockStyle(element.content.style)">
                                                        <li *ngFor="let item of element.content.items, index as mi">
                                                            <a class="kb-content-item" [id]="item.id" [href]="item.link"
                                                                [ngStyle]="isBlockActive(element) && _style.setItemStyle ? _style.textStyling() : _style.getBlockStyle(element.content.item.style)">
                                                                {{item.name}}</a>
                                                        </li>
                                                    </ul>
                                                    <div class="kb-menu-resp" [style.justifyContent]="isBlockActive(element) ? _style.getBlockParamValue(_style.item_alignment) : _style.getBlockParamValue(element.item_alignment)">
                                                        <div class="kb-menu-bar" [ngStyle]="isBlockActive(element) && !_style.setItemStyle && !_style.setDropDownStyle.main && !_style.setDropDownStyle.item  ? _style.currentStyling() : _style.getBlockStyle(element.content.style)">
                                                            <span class="kb-menu-bar1"></span>
                                                            <span class="kb-menu-bar2"></span>
                                                            <span class="kb-menu-bar3"></span>
                                                        </div>
                                                        <div [class.kb-d-none]="!(isBlockActive(element) && (_style.setDropDownStyle.main || _style.setDropDownStyle.item))" class="kb-menu-content">
                                                            <ul class="kb-menu" [id]="element.content.data_id"
                                                            [ngStyle]="isBlockActive(element) && _style.setDropDownStyle.main ? _style.currentStyling() : element.content.style.dropdown">
                                                                <li *ngFor="let item of element.content.items, index as mi">
                                                                    <a class="kb-content-item" [id]="item.id" [href]="item.link"
                                                                        [ngStyle]="isBlockActive(element) && _style.setDropDownStyle.item ? _style.textStyling() : element.content.item.style.dropdown">{{item.name}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngSwitchCase="'iframe'" [attr.data-name]="element.content.type" [attr.data-id]="element.content.data_id"
                                                class="kb-element-content">
                                                    <iframe #iframe *ngIf="element.content.src" [src]="element.content.src | safeUrl" (load)="iframeLoad(iframe)"
                                                    frameborder="0" width="100%" [height]="iframe.contentWindow?.document?.documentElement?.scrollHeight + 'px'"></iframe>
                                                </div>
                                                <div *ngSwitchCase="'code'" [attr.data-name]="element.content.name" class="kb-element-content"
                                                    [style.justifyContent]="'center'">
                                                    <div class="kb-code-block kb-content-item"
                                                        [attr.html-data]="element.content.html">
                                                        {{'<'+'custom code/>'}}
                                                    </div>
                                                </div>
                                                <div *ngSwitchCase="'divider'" [attr.data-name]="element.content.name" class="kb-element-content">
                                                    <hr [ngStyle]="isBlockActive(element) ? _style.currentStyling() : _style.getBlockStyle(element.content.style)">
                                                </div>
                                                <div *ngSwitchCase="'icon'" [attr.data-name]="element.content.name" class="kb-element-content">
                                                    <div *ngIf="isBlockActive(element) else originalIcon"
                                                    [ngStyle]="_style.textStyling()" [innerHTML]="_style.selected_icon | safeHtml">
                                                    </div>
                                                    <ng-template #originalIcon>
                                                        <div [ngStyle]="_style.getBlockStyle(element.content.style)" class="kb-icon-block"
                                                            [innerHTML]="element.content.icon_html | safeHtml"></div>
                                                    </ng-template>
                                                </div>
                                                <div *ngSwitchDefault [attr.data-name]="element.content.name" class="kb-element-content">
                                                    <div *ngIf="isBlockActive(element) else originalText"
                                                    [ngStyle]="_style.textStyling()" [innerHTML]="_style.edit_html | safeHtml"></div>
                                                    <ng-template #originalText>
                                                        <div [ngStyle]="_style.getBlockStyle(element.content.style)" class="kb-text-block"
                                                            [innerHTML]="element.content.html | safeHtml"></div>
                                                    </ng-template>
                                                    <!-- <div *ngIf="!element.content.editor else editor"></div>
                                                    <ng-template #editor>
                                                        <tinymce
                                                            [inline]="true"
                                                            (mouseenter)="_general.insideEditor = true"
                                                            (mouseleave)="_general.insideEditor = false;"
                                                            [(ngModel)]="element.content.html"
                                                            [config]="_general.config"></tinymce>
                                                    </ng-template> -->
                                                </div>
                                                <span *ngIf="element.setting && !element?.moresetting && !_general.showInlineEditor"
                                                    (click)="_column.selectedColumn = column; _element.element_index = ei; _general.blockSelection = 'element'; openDialog()"
                                                    matTooltip="Add New Element" matTooltipPosition="above"
                                                    class="kb-ispan-add add-element bottom-add-btn"><i
                                                        class="fa fa-plus"></i></span>
                                                <span *ngIf="_style.getDisplay(element.hide)"
                                                    class="kb-block-hidden-icon"><i class="fa fa-eye-slash"
                                                        aria-hidden="true"></i></span>
                                            </div>
                                            <!-- elements end -->
                                        </div>
                                        <!-- add element option start -->
                                        <span
                                            (click)="_column.selectedColumn = column; _element.element_index = 0; _general.blockSelection = 'element'; openDialog()"
                                            *ngIf="column.elementArr.length == 0" matTooltip="Add New Element"
                                            matTooltipPosition="right" class="kb-ispan-add add-element"><i
                                                class="fa fa-plus"></i></span>
                                        <!-- add element option end -->
                                        <span *ngIf="_style.getDisplay(column.hide)" class="kb-block-hidden-icon"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                    </div>
                                    <!-- columns end -->
                                </div>
                                <!-- add row option start -->
                                <span *ngIf="row.setting && !_general.showInlineEditor"
                                    (click)="_row.selectedRow = ''; _row.row_index = ri; _general.blockSelection = 'row'; openDialog()"
                                    matTooltip="Add New Row" matTooltipPosition="below"
                                    class="kb-ispan-add add-row bottom-add-btn"><i class="fa fa-plus"></i></span>
                                <!-- add row option end -->
                                <span *ngIf="_style.getDisplay(row.hide)" class="kb-block-hidden-icon"><i
                                        class="fa fa-eye-slash" aria-hidden="true"></i></span>
                            </div>
                            <!-- rows end -->
                        </div>
                        <span *ngIf="_style.getDisplay(section.hide)" class="kb-block-hidden-icon"><i
                                class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                    <!-- sections end -->
                </div>
            </div>
            <div id="kb-globall-footer" class="kb-gloabally-block" *ngIf="_general.includeLayout.footer && _general.selectedFooter.html">
                <footer [id]="'kb-footer-'+_general.selectedFooter.id" [innerHTML]="_general.selectedFooter.html | safeHtml"></footer>
                <button color="secondary" mat-stroked-button class="kb-globally-edit-btn" (click)="_general.redirectLink('/builder/footer/'+_general.selectedFooter.id)">Edit Footer Globally</button>
            </div>
        </div>
    </div>
    <div *ngIf="!_general.loading.success" id="loader">
        <div id="shadow"></div>
        <div id="box"></div>
        <div *ngIf="_general.loading.error" class="loadErrMsg">Something went wrong!</div>
    </div>
    <div mat-ripple *ngIf="_general.minimize" id="kb-minimize-setting" (click)="_general.minimize = !_general.minimize" matTooltip="Maximize" matTooltipPosition="above">
        <i class ='far fa-window-maximize'></i>
        <span>{{(_general.selectedBlock.type != 'element' ? (_general.selectedBlock.type == 'main' ? 'Page' :
            _general.selectedBlock.type) : _general.selectedBlock.content.name) | titlecase}}</span>
    </div>
</div>
