<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete Form</h1>
  <div mat-dialog-content>
    Would you like to delete
    <span class="text-danger">{{ delform.name }}</span> form?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close [color]="'primary'">No</button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      class="text-danger"
      (click)="deleteform(delform)"
    >
      Yes
    </button>
  </div>
</ng-template>
<ng-template #adddialog>
  <h1 mat-dialog-title class="txt">Create New Form</h1>
  <div mat-dialog-content>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Form Name</mat-label>
      <input
        type="text"
        matInput
        name="campaignname"
        [(ngModel)]="form.name"
        [formControl]="validate.name"
        required
        minlength="3"
      />
      <mat-error *ngIf="validate.name.hasError('required')">
        Form Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="validate.name.hasError('minlength')">
        Name must be at least <strong>3</strong> characters
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill" class="kb-full-width" *ngIf="_general.funnels">
      <mat-label>Funnel Steps</mat-label>
      <mat-select [(ngModel)]="form.redirection">
        <mat-optgroup *ngFor="let funnel of _general.funnels" [label]="funnel.name | titlecase">
          <mat-option *ngFor="let step of funnel.steps" [value]="_general.subdomain+step.page_path"
            [disabled]="step.archived == 1">
            {{step.title | titlecase}}<small [attr.data]="step.funneltype" class="infoTxt"></small>
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Subscribe to Lists</mat-label>
      <mat-chip-list #listChipList aria-label="List selection">
        <mat-chip
          *ngFor="let data of selectedLists; index as i"
          (removed)="removeSelectedList(i)"
        >
          {{ data?.list_name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input
        type="text"
        #searchListInp
        placeholder="Select multiples..."
        (input)="filterListData($event)"
        [matAutocomplete]="listAuto"
        [matChipInputFor]="listChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        class="kb-act-searchinp"
        [class.pt-2]="selectedLists.length != 0"
        matInput
      />
      <mat-autocomplete
        autoActiveFirstOption
        #listAuto="matAutocomplete"
        (optionSelected)="addSelectedList($event, searchListInp)"
      >
        <mat-option
          *ngFor="let option of filteredOptions?.lists"
          [value]="option"
          [disabled]="filteredTempIds?.lists.includes(option.id)"
        >
          {{ option?.list_name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Add Tags</mat-label>
        <mat-chip-list #tagChipList aria-label="Tag selection">
          <mat-chip
            *ngFor="let data of selectedTags; index as i"
            (removed)="removeSelectedTag(i)"
          >
            {{ data?.tag_name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        <input
          type="text"
          #searchTagInp
          [formControl]="tagCtrl"
          placeholder="Select multiples..."
          (input)="filterTagData($event)"
          [matAutocomplete]="tagAuto"
          [matChipInputFor]="tagChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addtag($event)"
          class="kb-act-searchinp"
          [class.pt-2]="selectedTags.length != 0"
          matInput
        />
        <mat-autocomplete
          autoActiveFirstOption
          #tagAuto="matAutocomplete"
          (optionSelected)="addSelectedTag($event, searchTagInp)"
        >
          <mat-option
            *ngFor="let option of filteredOptions.tags"
            [value]="option"
            [disabled]="filteredTempIds.tags.includes(option.id)"
          >
            {{ option.tag_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger">Close</button>
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="hello"
      (click)="onformSubmit()"
      [disabled]="validate.name.invalid"
    >
      Create
    </button>
  </div>
</ng-template>
<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode="indeterminate"></mat-progress-bar>
  <div class="row">
    <mat-form-field appearance="fill" class="col-6 pr-2">
      <mat-label>Search Forms</mat-label>
      <input
        matInput
        #searchInp
        type="text"
        (input)="searchForms(searchInp, filterInp)"
        placeholder="Search Form Name"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-2">
      <mat-label>Sort By</mat-label>
      <mat-select
        #filterInp
        name="kbfilter"
        [value]="'updated_at DESC'"
        (valueChange)="searchForms(searchInp, filterInp)"
      >
        <mat-option [value]="'name ASC'">ASC By Name</mat-option>
        <mat-option [value]="'name DESC'">DESC By Name</mat-option>
        <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
        <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-md-4 mt-2 text-right">
      <button
        mat-raised-button
        [color]="'accent'"
        (click)="toggleView()"
        *ngIf="forms.length != 0"
      >
        <span *ngIf="toggleview; else listview"
          >Grid View <i class="fas fa-th"></i
        ></span>
        <ng-template #listview
          ><span>List View <i class="fas fa-th-list"></i></span
        ></ng-template>
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="openDialog(adddialog, form)"
        class="mx-3"
      >
        Create New <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div
    [class.px-3]="toggleview"
    class="row"
    *ngIf="forms.length != 0; else nodata"
  >
    <div
      [class]="toggleview ? 'col-md-12' : 'col-md-4'"
      class="cardpage mt-4"
      *ngFor="let form of forms"
    >
      <div [class.row]="toggleview">
        <div
          [style.height]="toggleview ? '150px' : '300px'"
          [class]="toggleview ? 'col-md-6' : 'col-md-12'"
          class="p-0"
        >
          <div
            [class.kb-disabled]="form.deleting"
            class="kb-fitimg"
            [ngStyle]="{
              'background-image':
                'url(' +
                _image.uploadImgPath +
                _general.getSSPath('form-' + form.uniqueid) +
                '), url(' +
                _image.uploadImgPath +
                'webpage_thumbnail.jpg' +
                ')'
            }"
          >
            <div class="kb-loader" *ngIf="shortwaiting || form.deleting">
              <div class="kb-loader-shadow"></div>
              <div class="kb-loader-box"></div>
            </div>
          </div>
        </div>
        <div [class]="toggleview ? 'col-md-6' : 'col-md-12 pt-3'">
          <div class="row align-items-center p-0 h-100">
            <div [class.p-0]="!toggleview" class="col-md-12">
              <div class="kb-title-board line-ellipsis ftsize">
                <span>{{ form.name ? form.name : ("form" | titlecase) }}</span>
                <input
                  type="text"
                  #formname
                  [value]="form.name"
                  (blur)="rename(form, formname)"
                  matTooltip="Edit Form Name"
                  matTooltipPosition="above"
                />
              </div>
              <p
                class="kb-pagedate mt-2 mb-3"
                matTooltip="Last Updated"
                matTooltipPosition="above"
              >
                <i class="far fa-calendar-alt" aria-hidden="true"></i>
                {{ _general.dateformat(form.updated_at) }}
              </p>
            </div>
            <div [class.p-0]="!toggleview" class="col-md-12 text-right">
              <button
                (click)="
                  _general.redirectLink(
                    '/fetch-form/' + form.user_id + '/' + form.uniqueid
                  )
                "
                mat-raised-button
                color="accent"
                [disabled]="form.deleting"
                class="mr-2"
              >
                View <i class="far fa-eye"></i>
              </button>
              <button
                (click)="_general.redirectToBuilder(form.uniqueid, 'form')"
                mat-raised-button
                color="primary"
                [disabled]="form.deleting"
              >
                Edit <i class="fas fa-pencil-alt"></i>
              </button>
              <button
                mat-raised-button
                color="accent"
                class="ml-2"
                [matMenuTriggerFor]="menu"
                [disabled]="form.deleting"
              >
                More <i class="fas fa-cog"></i>
              </button>
              <mat-menu #menu="matMenu">
                <!-- (click)="newform('update',form)" -->
                <!-- <button mat-menu-item  (click)="newform('update',form)" [disabled]="form.deleting">
                    <i class="far fa-edit pr-2"></i>Quick Edit
                  </button> -->
                <button
                  mat-menu-item
                  (click)="duplicateform(form)"
                  [disabled]="form.deleting"
                >
                  <i class="far fa-copy pr-2"></i>Duplicate
                </button>
                <button
                  mat-menu-item
                  class="text-danger"
                  (click)="openDialog(deldialog, form)"
                  [disabled]="form.deleting"
                >
                  <i class="far fa-trash-alt pr-2"></i>Delete
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #nodata>
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <img
          src="/assets/images/website/website-empty.png"
          class="img-fluid"
          alt="No Form Found"
        />
      </div>
    </div>
  </ng-template>
</div>
