<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete Form</h1>
  <div mat-dialog-content>
    Would you like to delete
    <span class="text-danger">{{ delform.name }}</span> form?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close [color]="'primary'">No</button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      class="text-danger"
      (click)="deleteform(delform)"
    >
      Yes
    </button>
  </div>
</ng-template>
<ng-template #delselecteddialog>
  <h1 mat-dialog-title class="kb-danger">Delete Selected Forms</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{selectedForms.length}}</span> forms?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">No</button>
    <button mat-button mat-dialog-close (click)="deleteSelectedForms(selectedForms)" class="text-danger">Yes</button>
  </div>
</ng-template>

<ng-template #adddialog>
  <h1 mat-dialog-title class="txt">Create Form</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="isNotValid(validate.name)">
      Form Name should not be empty
    </mat-error>
    <mat-error *ngIf="validate.name.hasError('minlength')">
      Name must be at least <strong>3</strong> characters
    </mat-error>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Form Name</mat-label>
      <input
        type="text"
        matInput
        name="formname"
        [(ngModel)]="form.name"
        [formControl]="validate.name"
        minlength="3"
        required
      />
    </mat-form-field>
    <mat-form-field class="kb-full-width" appearance="fill"  (click)="filterListData($event)">
      <mat-label>Subscribe to Lists</mat-label>
      <mat-chip-list #listChipList aria-label="List selection">
        <mat-chip
          *ngFor="let data of selectedLists; index as i"
          (removed)="removeSelectedList(i)">
          {{ data?.name }}
          <button matChipRemove>
          <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input
        matInput
        type="text"
        #searchListInp
        placeholder="Select multiples..."
        (input)="filterListData($event)"
        [matAutocomplete]="listAuto"
        [matChipInputFor]="listChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        class="kb-act-searchinp w-100 pt-1">
      <mat-autocomplete
        autoActiveFirstOption
        #listAuto="matAutocomplete"
        (optionSelected)="addSelectedList($event, searchListInp)">
        <mat-option
          *ngFor="let option of filteredOptions?.lists"
          [value]="option"
          [disabled]="filteredTempIds?.lists.includes(option.uniqueid)">
          {{ option?.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="kb-full-width" appearance="fill"  (click)="filterTagData($event)">
      <mat-label>Add Tags</mat-label>
      <mat-chip-list #tagChipList aria-label="Tag selection" >
        <mat-chip
          *ngFor="let data of selectedTags; index as i"
          (removed)="removeSelectedTag(i)">
          {{ data?.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input
        matInput
        type="text"
        #searchTagInp
        [formControl]="tagCtrl"
        placeholder="Select multiples..."
        (input)="filterTagData($event)"
        [matAutocomplete]="tagAuto"
        [matChipInputFor]="tagChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addtag($event)"
        class="kb-act-searchinp w-100 pt-1"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #tagAuto="matAutocomplete"
        (optionSelected)="addSelectedTag($event, searchTagInp)"
      >
        <mat-option
          *ngFor="let option of filteredOptions.tags"
          [value]="option"
          [disabled]="filteredTempIds.tags.includes(option.uniqueid)"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger">Close</button>
    <button
      mat-button
      mat-dialog-close
      (click)="createForm()"
      [color]="!validate.name.invalid ? 'primary' : ''" 
      [disabled]="validate.name.invalid"
    >
      Create
    </button>
  </div>
</ng-template>
<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode="indeterminate"></mat-progress-bar>
  <div class="row">
    <div class="col-md-8 pr-0">
      <mat-form-field appearance="fill" class="col-md-6 p-0">
        <mat-label>Search Forms</mat-label>
        <input
          matInput
          [(ngModel)]="searchInp"
          type="text"
          (input)="searchForms(searchInp, filterInp)"
          placeholder="Search Form Name"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </mat-form-field>
    </div>
    <div class="col-md-4 text-right">
      <button
        mat-raised-button
        color="primary"
        (click)="openDialog(adddialog, form)"
        class="mx-3"
      >
        Create Form <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="selectedForms.length > 0">
      <div class="float-right mb-3 kb-delbtn" (click)="openDialog(delselecteddialog, selectedForms)">
        <span class="">Delete Selected Forms <i class="fa fa-trash-alt"></i></span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="pageforms?.length != 0; else nodata">
    <div class="col-12">
      <table class="table kb-table" dataSource="forms">
        <thead>
          <tr>
            <th>
              <mat-checkbox [(ngModel)]="checked_selected" (ngModelChange)="selectAllForms($event)" matTooltip="Select All Page Forms" matTooltipPosition="above"></mat-checkbox>
            </th>
            <th class="kb-table-sort" (click)="toggleSort('name')">Name <i class="fa-solid fa-up-long" *ngIf="filterInp == 'name ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="filterInp == 'name DESC'"></i></th>
            <th class="kb-table-sort" (click)="toggleSort('created_at')">Created On <i class="fa-solid fa-up-long" *ngIf="filterInp == 'created_at ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="filterInp == 'created_at DESC'"></i></th>
            <th class="kb-table-sort" (click)="toggleSort('updated_at')">Modified On <i class="fa-solid fa-up-long" *ngIf="filterInp == 'updated_at ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="filterInp == 'updated_at DESC'"></i></th>
           
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let form of pageforms; index as i">
           <td><mat-checkbox class="align-items-center" matTooltip="Click to Select" matTooltipPosition="above" [(ngModel)]="form.selected" (ngModelChange)="selectForms($event, form)"></mat-checkbox></td>
            <td class="kb-td-link ftsize" (click)="_general.redirectToBuilder(form.uniqueid, 'form')">{{ form.name ? form.name : ("form" | titlecase) }}</td>
            <td class="kb-td-link" (click)="_general.redirectToBuilder(form.uniqueid, 'form')">{{form.created_at | date:'medium'}}</td>
            <td class="kb-td-link" (click)="_general.redirectToBuilder(form.uniqueid, 'form')">{{form.updated_at | date:'medium'}}</td>
            <td>
              <span class="d-flex">
                <!-- <i  mat-ripple matTooltip="Quik Edit" matTooltipPosition="above"  class="fa-regular fa-pen-to-square kb-table-action-icon"></i> -->
                <i  mat-ripple matTooltip="View" matTooltipPosition="above"  class="far fa-eye px-4 kb-table-action-icon" (click)="_general.redirectLink('/fetch-form/' + form.user_id + '/' + form.uniqueid)"></i>
                <i  mat-ripple matTooltip="Edit" matTooltipPosition="above"  class="fa fa-pencil px-4 kb-table-action-icon" (click)="_general.redirectToBuilder(form.uniqueid, 'form')"></i>
                <i mat-ripple matTooltip="More" matTooltipPosition="above" class="fas fa-cog px-4 kb-table-action-icon"  [matMenuTriggerFor]="menu"></i>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="duplicateform(form)"
                    [disabled]="form.deleting"
                  >
                    <i class="far fa-copy pr-2"></i>Duplicate
                  </button>
                  <button
                    mat-menu-item
                    class="text-danger"
                    (click)="openDialog(deldialog, form)"
                    [disabled]="form.deleting"
                  >
                    <i class="far fa-trash-alt pr-2"></i>Delete
                  </button>
                </mat-menu>
              </span>
            </td>                        
          </tr>
          
        </tbody>
      </table>
      <mat-paginator  #paginator [length]="formslength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]" aria-label="Select page" (page)="getpageforms($event)"></mat-paginator>
    </div>
    
  </div>
  <ng-template #nodata>
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <img
          src="/assets/images/website/website-empty.png"
          class="img-fluid"
          alt="No Form Found"
        />
      </div>
    </div>
  </ng-template>
</div>
