<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete Member</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{addmemberobj.email}}</span> member?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">No</button>
    <button mat-button mat-dialog-close class="text-danger" (click)="deletemember()">Yes</button>
  </div>
</ng-template>
<ng-template #adddialog>
  <h1 mat-dialog-title>Add Member</h1>
  <div mat-dialog-content>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="first name" [(ngModel)]="addmemberobj.firstname" [formControl]="firstFormControl">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="last name" [(ngModel)]="addmemberobj.lastname">
    </mat-form-field>

    <mat-error *ngIf="hasError">{{hasError}}</mat-error>
    <mat-form-field appearance="fill" [class.mat-form-field-invalid]="hasError" >
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="email" [(ngModel)]="addmemberobj.email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl" required minlength="6" [type]="hide ? 'password' : 'text'" [(ngModel)]="addmemberobj.password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="ar-eyeicon">
        <i class="far " [class]="hide ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        Password must be at least <strong>6</strong> characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput type="text" placeholder="phone no" [(ngModel)]="addmemberobj.phone">
    </mat-form-field>

    <mat-error *ngIf="error">{{'Please Assign a offer'}}</mat-error>
    <mat-form-field appearance="fill" (click)="filterofferData($event)" [class.mat-form-field-invalid]="hasError">
      <mat-label>Subscribe to Offers</mat-label>
      <mat-chip-list #offerChipList aria-label="Offer selection">
          <mat-chip
              *ngFor="let data of selectedoffers, index as i"
              (removed)="removeSelectedoffer(i)">
              {{data.name}}
              <button matChipRemove>
              <mat-icon>cancel</mat-icon>
              </button>
          </mat-chip>
      </mat-chip-list>
      <input matInput type="text"
          #searchofferInp
          placeholder="Select multiples..."
          (input)="filterofferData($event)"
          [matAutocomplete]="offerAuto"
          [matChipInputFor]="offerChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          class="kb-act-searchinp pt-1">
      <mat-autocomplete autoActiveFirstOption #offerAuto="matAutocomplete" (optionSelected)="addSelectedoffer($event, searchofferInp)">
          <mat-option *ngFor="let option of filteredOptions.offers" [value]="option" [disabled]="filteredTempIds.offers.includes(option.uniqueid)">
            {{option.name}}
          </mat-option>
      </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill" (click)="filterListData($event)">
    <mat-label>Subscribe to Lists</mat-label>
    <mat-chip-list #listChipList aria-label="List selection">
        <mat-chip
            *ngFor="let data of selectedLists, index as i"
            (removed)="removeSelectedList(i)">
            {{data.name}}
            <button matChipRemove>
            <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-list>
    <input matInput type="text"
        #searchListInp
        placeholder="Select multiples..."
        (input)="filterListData($event)"
        [matAutocomplete]="listAuto"
        [matChipInputFor]="listChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        class="kb-act-searchinp pt-1">
    <mat-autocomplete autoActiveFirstOption #listAuto="matAutocomplete" (optionSelected)="addSelectedList($event, searchListInp)">
        <mat-option *ngFor="let option of filteredOptions.lists" [value]="option" [disabled]="filteredTempIds.lists.includes(option.uniqueid)">
          {{option.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
   
  <mat-form-field appearance="fill"  (click)="filterTagData($event)">
    <mat-label>Add Tags</mat-label>
    <mat-chip-list #tagChipList aria-label="Tag selection">
        <mat-chip
            *ngFor="let data of selectedTags, index as i"
            (removed)="removeSelectedTag(i)">
            {{data.name}}
            <button matChipRemove>
            <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-list>
    <input matInput type="text"
        #searchTagInp
        [formControl]="tagCtrl"
        placeholder="Select multiples..."
        (input)="filterTagData($event)"
        [matAutocomplete]="tagAuto"
        [matChipInputFor]="tagChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addtag($event)"
        class="kb-act-searchinp pt-1">
    <mat-autocomplete autoActiveFirstOption #tagAuto="matAutocomplete" (optionSelected)="addSelectedTag($event, searchTagInp)">
        <mat-option *ngFor="let option of filteredOptions.tags" [value]="option" [disabled]="filteredTempIds.tags.includes(option.uniqueid)">
          {{option.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">Cancel</button>
      <button mat-button mat-dialog-close  cdkFocusInitial color="primary" (click)="createmember()" [disabled]="firstFormControl.invalid || passwordFormControl.invalid ">Add</button>
  </div>
</ng-template>



  <div class="container-fluid mb-4">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
<!-- 
  <div id="kb-offer-actions" *ngIf="popupsidebar && automationaddnewaction">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar">
        
        <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
        <h6><strong>NEW CONTACT</strong></h6>
        <hr>
        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" [formControl]="userFormControl" matInput required [(ngModel)]="addmemberobj.firstname" name="firstname" minlength="3" maxlength="140" >
          <mat-error *ngIf="userFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormControl.hasError('minlength')">
            Username must be at least <strong>3</strong> characters
          </mat-error>
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput [(ngModel)]="addmemberobj.lastname" name="lastname" >
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" [formControl]="emailFormControl" [(ngModel)]="addmemberobj.email" name="email" matInput required>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <hr>
        <p>Extra Actions</p>
        
        <mat-form-field class="kb-full-width" appearance="fill" >
            <mat-label>Grant Offers</mat-label>
            <mat-select [formControl]="productoptionals" multiple>
              <mat-select-trigger>
                {{productoptionals.value ? productoptionals.value[0] : ''}}
                <span *ngIf="productoptionals.value?.length > 1" class="example-additional-selection">
                  (+{{productoptionals.value.length - 1}} {{productoptionals.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let productoptional of productoptionalList" [value]="productoptional">{{productoptional}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill" >
          <mat-label>Add Tags</mat-label>
          <mat-select [formControl]="tagoptionals" multiple>
            <mat-select-trigger>
              {{tagoptionals.value ? tagoptionals.value[0] : ''}}
              <span *ngIf="tagoptionals.value?.length > 1" class="example-additional-selection">
                (+{{tagoptionals.value.length - 1}} {{tagoptionals.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let tagoptional of tagoptionalList" [value]="tagoptional">{{tagoptional}}</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-checkbox class="mb-2" [(ngModel)]="addmemberobj.marketing" >Subscribe to marketing emails</mat-checkbox>

      <button mat-raised-button color="primary" (click)="createacontact()" ><i class="fas fa-plus"></i> Create Contact</button>

    </div>
  </div>
  <div class="offcanvas-overlay " *ngIf="popupsidebar" (click)="hidepopupsidebar()"></div> -->

  
    <div class="row">
      <div class="col-md-8 pr-0">
      <mat-form-field appearance="fill" class="col-md-6 p-0">
        <mat-label>Search Members</mat-label>
        <input matInput #searchInp (input)="searchmembers(searchInp, sortInp,listInp, tagInp)" type="text" placeholder="Search Members">
        <i class="fa-solid fa-magnifying-glass"></i>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-2 px-1">
      <mat-label>Sort By</mat-label>
      <mat-select #sortInp name="kbfilter" value='created_at DESC' (valueChange)="searchmembers(searchInp, sortInp,listInp, tagInp)">
          <mat-option [value]="'created_at ASC'">Ascending By Create</mat-option>
          <mat-option [value]="'created_at DESC'">Descending By Create</mat-option>
          <mat-option [value]="'updated_at ASC'">Ascending By Update</mat-option>
          <mat-option [value]="'updated_at DESC'">Descending By Update</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="col-md-2 px-1">
    <mat-label>Filter By List</mat-label>
    <mat-select #listInp name="listfilter" value='' (valueChange)="searchmembers(searchInp, sortInp,listInp, tagInp)">
        <mat-option value="" selected>All</mat-option>
        <mat-option *ngFor="let list of lists" [value]="list.uniqueid">
            {{list.name | titlecase}}
          </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="col-md-2 p-0">
    <mat-label>Filter By Tag</mat-label>
    <mat-select #tagInp name="tagfilter" value='' (valueChange)="searchmembers(searchInp, sortInp,listInp, tagInp)">
        <mat-option value="" selected>All</mat-option>
        <mat-option *ngFor="let tag of tags" [value]="tag.uniqueid">
            {{tag.name | titlecase}}
          </mat-option>
    </mat-select>
  </mat-form-field>
</div>
      <div class="col-md-4 text-right">
        <button (click)="openDialog(adddialog, 'new')" mat-raised-button color="primary" matTooltip="Add New Contact" matTooltipPosition="above" class="mr-2" >Add Member <i class="fa fa-plus" aria-hidden="true"></i></button>

         
      </div>
   
  
  </div>
  
  
    <div class="row" *ngIf="users?.length != 0; else nodata">
        <div class="col-md-12">
            <table class="table kb-table" >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Subscribe Courses</th>
                  <th>Created</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of users; index as i">
                  <td (click)="editlink.click()" class="kb-td-link">
                      <span class="kb-table-icon mr-1">{{contactIcon(member) | uppercase}}</span>
                      {{(member.firstname ? member.firstname : '--') + ' ' + (member.lastname ? member.lastname : '') | titlecase}}
                  </td>
                  <td (click)="editlink.click()" class="kb-td-link"><span class="text-lowercase">{{ member.email | lowercase }}</span></td>
                 
                  <td>{{ member.temp_course?.length}}</td>
                  <td>{{ member.created_at | date:'medium' }}</td>
                  <td>
                    <span class="d-flex">
                      <i #editlink mat-ripple matTooltip="Edit" matTooltipPosition="above" [routerLink]="'/membership/member/'+member.uniqueid+'/'+member.contactid" class="fa fa-pencil px-4 kb-table-action-icon"></i>
                      <i mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(deldialog, member)" class="fa fa-trash-alt px-4 kb-table-action-icon kb-icon-del"></i>
                    </span>
                  </td>                        
                </tr>
                
              </tbody>
            </table>
    </div>
  </div>
  </div>
  <ng-template #nodata>
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <img
          src="/assets/images/website/website-empty.png"
          class="img-fluid"
          alt="No Member Found"
        />
      </div>
    </div>
  </ng-template>



