#keacheckout {
  background-color: #fff;
}

#keacheckout {
  background-color: #FFF;
  border: 2px solid #DDD;
  border-radius: 4px;
}
#keacheckout input:not([type='checkbox']),
#keacheckout select {
  background-color: #F9F9F9;
  height: 50px;
}

#card-element {
  padding: 5px 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: rgba(221, 221, 221, 0.18);
}

#keacheckout .finderror {
  border: 2px solid red;
}

#keacheckout label {
  font-weight: bold;
}

.btnkeacheckout {
  background-color: #4775b9;
  margin-top: 20px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%);
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
  display: block;
  padding: 13px 35px;
}

#card-errors {
  margin-bottom: 10px;
  background-color: rgb(255, 255, 153);
  font-size: 12px;
  color: mediumvioletred;
  display: none;
}

input.form-control:focus,
select.form-control:focus {
  box-shadow: none !important;
  border-color: #444;
}

.mkkeahr {
  position: absolute;
  top: -6px;
  max-width: 94%;
  width: -webkit-fill-available;
  left: 87px;
  height: 3px;
  background-color: rgb(221 221 221 / 50%);
  border: none;
}

.keafields {
  font-weight: bold;
  font-size: 12px;
  color: #4775b9;
}


/* radio input */
label {
  position: relative;
}

label>input[type="radio"],
label>input[type="checkbox"] {
  display: none;
}

label>input[type="radio"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--secondary-color);
}

label>input[type="checkbox"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--secondary-color);
}

label>input[type="radio"]:checked+*::before {
  background: radial-gradient(#4775b9 0%, #4775b9 40%, transparent 50%, transparent);
  border-color: #4775b9;
}

label>input[type="checkbox"]:checked+*::before {
  border-color: #4775b9;
}

label>input[type="checkbox"]:checked+*::after {
  content: '\2714';
  font-size: 20px;
  position: absolute;
  top: -6px;
  left: 2px;
  color: #4775b9;
}

label>input[type="radio"]:checked+*,
label>input[type="checkbox"]:checked+* {
  color: #4775b9;
}

label>input[type="radio"]+*,
label>input[type="checkbox"]+* {
  padding: 0px;
  display: inline-flex;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
}

/*header stepstwo styling */


.order2StepHeader {
  background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, white, #f3f3f3);
  background-image: -moz-linear-gradient(top, white, #f3f3f3);
  background-image: -o-linear-gradient(top, white, #f3f3f3);
  background-image: -ms-linear-gradient(top, white, #f3f3f3);
  background-image: linear-gradient(to bottom, white, #f3f3f3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.order2Step-step {
  padding: 15px;
  opacity: .7;
  transition: all 0.5s ease;
}

.order2Step-step-1 {
  float: left;
  width: 50%;
}

.order2Step-step.order2StepActive {
  opacity: 1;
}

.order2StepNumber {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  float: left;
  margin-right: 15px;
}

.order2StepHeaderText {
  float: left;
}

.order2Step-step.order2StepActive .order2StepTitle {
  color: #279CEB;
}

.order2StepTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.order2StepSubTitle {
  font-size: 12px;
}

.order2StepProgress {
  height: 5px;
  width: 100%;
  background-color: #4775b9;
  clear: left;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease;
}

.order2Step25:before,
.order2Step75:before {
  content: "\21EA";
  color: #4775b9;
  position: absolute;
  font-size: 32px;
  top: -29px;
  left: 25%;
  transition: all 0.5s ease;
  transform: rotate(360deg);
}

.o2step_step2 {
  display: none;
}

.order2Step75:before {
  left: 75%;
}

.goBacktoStepOne {
  display: block;
  color: #888 !important;
  text-decoration: underline;
  font-size: 11px;
  color: #333;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 15px;
  margin-top: 0;
}


.order2ButtonSubText {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: #9c9c9c;
}

.elButtonSubStep1 {
  font-size: 14px;
  display: inherit;
}