<ng-template #settingdialog>
    <h1 mat-dialog-title>Setting</h1>
    <div mat-dialog-content>
        <mat-error *ngIf="isNotValid(validate.name)">
            Email name should not be empty
        </mat-error>
        <mat-error *ngIf="validate.name.hasError('minlength')">
            Email name must be at least <strong>3</strong> characters
        </mat-error>
        <mat-form-field appearance="fill">
            <mat-label>Email name</mat-label>
            <input matInput type="text" [formControl]="validate.name" placeholder="email name" [(ngModel)]="email.name" required minlength="3">
        </mat-form-field>
        <mat-error *ngIf="isNotValid(validate.subject)">
            Email Subject should not be empty
        </mat-error>
        <mat-error *ngIf="validate.subject.hasError('minlength')">
            Email Subject must be at least <strong>3</strong> characters
        </mat-error>
        <mat-form-field appearance="fill">
            <mat-label>Email Subject</mat-label>
            <input matInput type="text" [formControl]="validate.subject" placeholder="email subject" [(ngModel)]="email.subject" required minlength="3">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial [color]="!validate.name.invalid|| !validate.subject.invalid ? 'primary' : ''" [disabled]="validate.name.invalid || validate.subject.invalid">Done</button>
    </div>
</ng-template>
<div style="visibility: hidden; position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu" class="kb-builder-options">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="save()"><i [innerHTML]="'save' | svg | safeHtml"></i> Save</button>
        <button mat-menu-item (click)="openSettingDialog(settingdialog)"><i [innerHTML]="'setting' | svg | safeHtml"></i> Setting</button>
        <button mat-menu-item (click)="undo()" *ngIf="sessionArr[session.undo-1]"><i [innerHTML]="'undo' | svg | safeHtml"></i> Undo</button>
        <button mat-menu-item (click)="redo()" *ngIf="sessionArr[session.redo]"><i [innerHTML]="'redo' | svg | safeHtml"></i> Redo</button>
    </ng-template>
</mat-menu>
<app-image [DialogImageToggle]="DialogImageToggle"></app-image>
<app-builder-setting (saveEmailSession)="saveSession()" (openImageDialog)="openImageDialog()" [DialogToggle]="DialogParentToggle"></app-builder-setting>
<div id="kb-main" (contextmenu)="onContextMenu($event)" cdkDropListGroup>
    <div id="kb-topbar" [class.pagedisabled]="_general.saveDisabled">
        <div class="kb-triggers">
            <button mat-button (click)="_general.redirectLink('/')"><img [src]="_image.imgPath+'logo/kblogo-white.png'"></button>
            <button mat-button (click)="_general.prevRoute()" class="kb-backBtn">
                <i [innerHTML]="'left_circle_arrow' | svg | safeHtml"></i><p class="kb-bb-text">Back</p>
            </button>
            <button mat-button (click)="selectTab('elements')" [class.kb-btn-active]="selectedTab == 'elements'">
                <i [innerHTML]="'elements' | svg | safeHtml"></i> Elements
            </button>
            <button mat-button (click)="openSettingDialog(settingdialog)" [class.kb-btn-active]="settingdialogOpen">
                <i [innerHTML]="'setting' | svg | safeHtml"></i> Setting
            </button>
            <button mat-button (click)="!_general.saveDisabled ? save() : ''" [disabled]="_general.saveDisabled">
                <i [innerHTML]="'save' | svg | safeHtml"></i> Save
            </button>
            <button mat-button [matMenuTriggerFor]="asm" #ast="matMenuTrigger" [class.kb-btn-active]="ast.menuOpen">
                <i class="far fa-clock"></i> Auto Save > {{autosave ? 'ON' : 'OFF'}}
            </button>
            <mat-menu #asm>
                <button mat-menu-item (click)="autoSaveTrigger(true)" [class.kb-btn-active]="autosave">ON</button>
                <button mat-menu-item (click)="autoSaveTrigger(false)" [class.kb-btn-active]="!autosave">OFF</button>
            </mat-menu>
            <span class="kb-more-opt">
                <button mat-button matTooltip="Undo" [disabled]="!sessionArr[session.undo-1]" (click)="undo()">
                    <i [innerHTML]="'undo' | svg | safeHtml"></i>
                </button>
                <button mat-button matTooltip="Redo" [disabled]="!sessionArr[session.redo]" (click)="redo()">
                    <i [innerHTML]="'redo' | svg | safeHtml"></i>
                </button>
            </span>
            <button *ngIf="selectedTab" mat-button (click)="hideBar()">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>    
        </div>
        <div class="kb-triggers">
            <button mat-button #imgt="matMenuTrigger" *ngIf="selectedTab == 'elements' && selectedElement == 'image'" [class.kb-btn-active]="imgt.menuOpen" [matMenuTriggerFor]="imgmenu">
                <i [innerHTML]="'filter' | svg | safeHtml"></i> Sort By > <i class="kb-filter-icon" [innerHTML]="_image.searchImgFilter.icon | svg | safeHtml"></i> {{_image.searchImgFilter.name.split(' ')[2]}}
            </button>
            <mat-menu #imgmenu="matMenu" xPosition="before" yPosition="below">
                <button mat-menu-item *ngFor="let order of _image.imgOrder" (click)="_image.searchImgFilter = order" [class.kb-btn-active]="_image.searchImgFilter.name == order.name" [value]="order.value"><i class="kb-filter-icon" [innerHTML]="order.icon | svg | safeHtml"></i> {{order.name}}</button>
            </mat-menu>
            <span *ngIf="selectedTab == 'elements'" [class.open]="toggle.open" [class.close]="toggle.close" class="kb-search-field">
                <i [innerHTML]="'search' | svg | safeHtml"></i>
                <input placeholder="Search here..." [(ngModel)]="searchText" (keydown)="setShift(); setElementShift()">
            </span>
            <button mat-button (click)="_general.redirectLink('/profile')">
                {{_general.user.name | titlecase}} 
                <img *ngIf="_general.user.useravatar" [src]="_image.getImgPath(_image.uploadImgPath+_general.user.useravatar)">
            </button>
        </div>
    </div>
    <div *ngIf="selectedTab" class="kb-selection-container" [class.open]="toggle.open" [class.close]="toggle.close">
        <mat-icon mat-ripple (click)="prevSlide()" [class.kb-disabled]="slideShift <= 0" class="kb-side-arrow">keyboard_arrow_left</mat-icon>
        <div #selection class="kb-selection-option" [style.transform]="'translateX(-'+(_general.screenWidth - 100)*slideShift+'px)'" [ngSwitch]="selectedTab">
            <div *ngSwitchCase="'elements'">
                <button mat-button (click)="selectElement(element.key)" class="kb-icon-btn" [class.kb-btn-active]="selectedElement == element.key" *ngFor="let element of emailElementList | keyvalue | filter:searchText:'key'">
                    <i [class]="element.value.iconCls"></i>
                    <span>{{element.key | titlecase}}</span>
                </button>
            </div>
        </div>
        <mat-icon mat-ripple (click)="nextSlide()" [class.kb-disabled]="slideShift > shiftLen-1" class="kb-side-arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div *ngIf="selectedTab == 'elements' && selectedElement" class="kb-selection-container" [class.open]="toggleElement.open" [class.close]="toggleElement.close">
        <mat-icon mat-ripple (click)="prevElementSlide()" [class.kb-disabled]="slideElementShift <= 0" class="kb-side-arrow">keyboard_arrow_left</mat-icon>
        <div #element class="kb-selection-option" [style.transform]="'translateX(-'+(_general.screenWidth - 100)*slideElementShift+'px)'" [ngSwitch]="selectedElement">
            <div *ngSwitchCase="'heading'" id="elementgroup" class="kb-block-selection kb-element-list kb-font-list" cdkDropList [cdkDropListData]="_element.default.headings" cdkDropListSortingDisabled>
                <span cdkDrag *ngFor="let heading of _element.default.headings, index as i" [cdkDragData]="heading">
                    <span>{{heading.content.type | titlecase}}</span>
                    <span *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">
                        {{heading.content.type | titlecase}} heading
                    </span>
                    <span *cdkDragPlaceholder class="custom-placeholder"
                    [style.backgroundColor]="'var(--primary-color)'"></span>
                </span>
            </div>
            <div *ngSwitchCase="'text'" id="elementgroup" class="kb-block-selection kb-element-list kb-font-list" cdkDropList [cdkDropListData]="_element.default.texts" cdkDropListSortingDisabled>
                <span cdkDrag *ngFor="let text of _element.default.texts, index as i" [cdkDragData]="text">
                    <span>{{text.content.type | uppercase}}</span>
                    <span *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">
                        {{text.content.type | uppercase}} text
                    </span>
                    <span *cdkDragPlaceholder class="custom-placeholder"
                    [style.backgroundColor]="'var(--primary-color)'"></span>
                </span>
            </div>
            <div *ngSwitchCase="'image'" id="elementgroup" class="kb-block-selection kb-element-list kb-img-list" cdkDropList [cdkDropListData]="_image.galleryImg" cdkDropListSortingDisabled>
                <button mat-button (click)="openImageDialog()" class="kb-icon-btn">
                    <i [innerHTML]="'upload' | svg | safeHtml"></i>
                    <span>Upload</span>
                </button>
                <span cdkDrag *ngFor="let img of _image.galleryImg | filter:searchText:'title' | sorting:_image.searchImgFilter.value:_image.searchImgFilter.type, index as i" [cdkDragData]="img" [matTooltip]="img.title | titlecase">
                    <img class="kb-images" [src]="img.ext_link ? img.path : _image.uploadImgPath+img.path">
                    <div *cdkDragPreview class="custom-preview-img">
                        <img class="kb-images" [src]="img.ext_link ? img.path : _image.uploadImgPath+img.path">
                    </div>
                    <span *cdkDragPlaceholder class="custom-placeholder"
                    [style.backgroundColor]="'var(--primary-color)'"></span>
                </span>
            </div>
            <div *ngSwitchCase="'icon'" id="elementgroup" class="kb-block-selection kb-element-list kb-icon-list" cdkDropList [cdkDropListData]="_element.defaultIcons" cdkDropListSortingDisabled>
                <span cdkDrag *ngFor="let icon of _element.defaultIcons | filter:searchText:'title' | sorting:'asc':'title', index as i" [cdkDragData]="icon" [matTooltip]="icon.title | titlecase">
                    <i [class]="icon.name"></i>
                    <div *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">
                        <i [class]="icon.name"></i>
                    </div>
                    <span *cdkDragPlaceholder class="custom-placeholder"
                    [style.backgroundColor]="'var(--primary-color)'"></span>
                </span>
            </div>
            <div *ngSwitchCase="'button'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_element.default.buttons" cdkDropListSortingDisabled>
                <span cdkDrag *ngFor="let btn of _element.default.buttons, index as i" [cdkDragData]="btn">
                    <span class="kb-d-btn">
                        {{btn.content.btntype | titlecase}}
                        <span *ngIf="btn.content.subtext" class="kb-d-btn-st">[Extra Text]</span>
                    </span>
                    <span *cdkDragPreview class="custom-preview kb-d-btn" [style.backgroundColor]="'var(--primary-color)'">
                        {{btn.content.btntype | titlecase}}
                        <span *ngIf="btn.content.subtext" class="kb-d-btn-st">[Extra Text]</span>
                    </span>
                    <span *cdkDragPlaceholder class="custom-placeholder"
                    [style.backgroundColor]="'var(--primary-color)'"></span>
                </span>
            </div>
            <div *ngSwitchCase="'divider'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_element.default.dividers" cdkDropListSortingDisabled>
                <span cdkDrag *ngFor="let div of _element.default.dividers, index as i" [cdkDragData]="div">
                    <span class="kb-d-btn">
                        <i [class]="div.iconCls"></i>
                    </span>
                    <span *cdkDragPreview class="custom-preview kb-d-btn" [style.backgroundColor]="'var(--primary-color)'">
                        <i [class]="div.iconCls"></i>
                    </span>
                    <span *cdkDragPlaceholder class="custom-placeholder"
                    [style.backgroundColor]="'var(--primary-color)'"></span>
                </span>
            </div>
        </div>
        <mat-icon mat-ripple (click)="nextElementSlide()" [class.kb-disabled]="slideElementShift > shiftElementLen-1" class="kb-side-arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div *ngIf="prevImg" class="kb-block-preview">
        <div class="kb-block-prev-img" [style.backgroundImage]="'url('+_image.uploadImgPath+prevImg+'), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'"></div>
    </div>
    <div #emailbody id="kb-email-container" style="display: flex;">
        <div [id]="emailElements.section.id" [ngStyle]="isBlockActive(emailElements.section) ? _style.currentStyling() : _style.getBlockStyle(emailElements.section.style)" 
        (mouseenter)="emailElements.section.setting = true;" (mouseleave)="emailElements.section.setting = false" class="kb-section kb-block-container">
            <div class="kb-module-setting" *ngIf="emailElements.section.setting">
                <span (click)="openSetting(emailElements.section)"
                    matTooltip="Section Setting" matTooltipPosition="above"><i
                        class="far fa-edit"></i></span>
            </div>
            <div class="kb-drag-container" cdkDropList [cdkDropListData]="emailElements.elements" (cdkDropListDropped)="itemDropped($event)">
                <div class="kb-element kb-block-container" cdkDrag *ngFor="let element of emailElements.elements, index as ei" [id]=" element.id"
                [style.margin]="isBlockActive(element) ? _style.getMargin() : _style.getBlockStyle( element.content.style)['margin']"
                [style.justifyContent]="isBlockActive(element) ? _style.getBlockParamValue(_style.item_alignment) : _style.getBlockParamValue( element.item_alignment)"
                (dblclick)="openSetting(element)" (mouseenter)="element.setting = true" (mouseleave)="element.setting = false" [ngSwitch]="element.content.name">
                    <div class="kb-module-setting"
                    *ngIf="element.setting">
                        <span class="kb-handle-block kb-handle-element"><i
                                class="fa fa-arrows-alt"></i></span>
                        <span (click)="openSetting(element)"
                            matTooltip="Element Setting" matTooltipPosition="above"><i
                                class="far fa-edit"></i></span>
                        <span (click)="duplicateElement(element, ei)"
                            matTooltip="Duplicate Element" matTooltipPosition="above"><i
                                class="far fa-copy"></i></span>
                        <span (click)="deleteElement(ei)"
                            matTooltip="Delete Element" matTooltipPosition="above"><i
                                class="far fa-trash-alt"></i></span>
                    </div>
                    <div *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">{{ element.name ?  element.name :  element.content.name}}</div>
                    <div *cdkDragPlaceholder class="custom-placeholder" [style.backgroundColor]="'var(--primary-color)'"></div>
                    <div *ngSwitchCase="'image'" [attr.data-name]="element.content.name" class="kb-element-content">
                        <img *ngIf="isBlockActive(element) else showImg"
                            [ngStyle]="_style.imageStyling()"    
                            [src]="_style.image_src ? _style.image_src : _image.imgPath+'builder/no-image.png'"
                            alt="image" width="auto"
                            [class.dummyImg]="!_style.image_src">
                        <ng-template #showImg>
                            <img [ngStyle]="_style.getBlockStyle(element.content.style)"
                                [src]="element.content.src ? element.content.src : _image.imgPath+'builder/no-image.png'"
                                alt="image" width="auto"
                                [class.dummyImg]="!element.content.src">
                        </ng-template>
                    </div>
                    <div *ngSwitchCase="'icon'" [attr.data-name]="element.content.name" class="kb-element-content">
                        <div *ngIf="isBlockActive(element) else originalIcon"
                        [ngStyle]="_style.textStyling()" [innerHTML]="_style.selected_icon | safeHtml">
                        </div>
                        <ng-template #originalIcon>
                            <div [ngStyle]="_style.getBlockStyle(element.content.style)" class="kb-icon-block"
                                [innerHTML]="element.content.icon_html | safeHtml"></div>
                        </ng-template>
                    </div>
                    <div *ngSwitchCase="'button'" [attr.data-name]="element.content.name" class="kb-element-content">
                        <a *ngIf="isBlockActive(element) else showBtn"
                            [ngStyle]="_style.buttonStyling()"
                            class="kb-default-btn"
                            [attr.kb-btn-type]="element.content.btntype"
                            [href]="_style.button_link" [target]="_style.button_target">
                            <div>{{_style.button_text}}</div>
                            <div class="subtext"
                                [style.fontSize]="_style.button_subfont_size.value">
                                {{_style.button_subtext}}</div>
                        </a>
                        <ng-template #showBtn>
                            <a *ngIf="element.content.btntype != 'regular' else regular"
                                [ngStyle]="_style.getBlockStyle(element.content.style)"
                                class="kb-default-btn kb-offer-btn"
                                [attr.kb-btn-type]="element.content.btntype"
                                [attr.kb-redirect-link]="element.content.link"
                                [attr.kb-offer-id]="element.content.offerid"
                                href="#no-link" [target]="element.content.target">
                                <div>{{element.content.text}}</div>
                                <div class="subtext"
                                    [style.fontSize]="element.content.subfont_size">
                                    {{element.content.subtext}}</div>
                            </a>
                            <ng-template #regular>
                                <a [ngStyle]="_style.getBlockStyle(element.content.style)" class="kb-default-btn" [href]="element.content.link"
                                    [target]="element.content.target">
                                    <div>{{element.content.text}}</div>
                                    <div class="subtext"
                                        [style.fontSize]="element.content.subfont_size">
                                        {{element.content.subtext}}</div>
                                </a>
                            </ng-template>
                        </ng-template>
                        <span *ngIf="element.setting && element.content.link" class="kb-btn-link">{{element.content.link}}</span>
                    </div>
                    <div *ngSwitchCase="'divider'" [attr.data-name]="element.content.name" class="kb-element-content">
                        <hr [ngStyle]="isBlockActive(element) ? _style.currentStyling() : _style.getBlockStyle(element.content.style)">
                    </div>
                    <div *ngSwitchDefault [attr.data-name]=" element.content.name" class="kb-element-content">
                        <div *ngIf="isBlockActive(element) else originalText"
                        [ngStyle]="_style.textStyling()" [innerHTML]="_style.edit_html | safeHtml"></div>
                        <ng-template #originalText>
                            <div [ngStyle]="_style.getBlockStyle(element.content.style)" class="kb-text-block"
                                [innerHTML]="element.content.html | safeHtml"></div>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="emailElements.elements.length == 0" cdkDrag>
                    <div class="kb-drag-zone">Drag Elements Here</div>
                </div>
            </div>
        </div>
    </div>
    <div mat-ripple *ngIf="_general.minimize" id="kb-minimize-setting" (click)="_general.minimize = !_general.minimize" matTooltip="Maximize" matTooltipPosition="above">
        <i class ='far fa-window-maximize'></i>
        <span>{{(_general.selectedBlock.type != 'element' ? (_general.selectedBlock.type == 'main' ? 'Page' :
            _general.selectedBlock.type) : _general.selectedBlock.content.name) | titlecase}}</span>
    </div>
</div>