<div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button class="mr-2" [routerLink]="['/account/settings']" routerLinkActive="active" ><i class="fa-regular fa-user" aria-hidden="true"></i> Profile Details</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/account/sign-in-security']" routerLinkActive="active" ><i class="fa-solid fa-shield-halved" aria-hidden="true"></i> Sign In & Security</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/account/billing']" routerLinkActive="active"><i class="fa-regular fa-credit-card" aria-hidden="true"></i> Billing</button>
        <button mat-raised-button class="mr-2" [routerLink]="['/account/viewplans']" routerLinkActive="active"><i class="far fa-eye" aria-hidden="true"></i> View Plans</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
