<ng-template #dialog>
  <h1 mat-dialog-title class="text-primary">Create A Campaign</h1>
  <div mat-dialog-content>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Campaign Name</mat-label>
        <input type="text" matInput name="campaignname" [(ngModel)]="campaignname" [formControl]="campaignnameControl" required minlength="3" >
        <mat-error *ngIf="campaignnameControl.hasError('required')">
            Campaign Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="campaignnameControl.hasError('minlength')">
            Name must be at least <strong>3</strong> characters
        </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-info">Close</button>
      <button mat-button class="text-primary" (click)="createcamp()">Create</button>
  </div>
</ng-template>
<ng-template #deletedialog>
  <h1 mat-dialog-title class="kb-danger">Delete Campaign</h1>
  <div mat-dialog-content>
    Would you like to delete this Campaign?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-info">No</button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      class="text-danger"
      (click)="deletecampaign(delcampaign)"
    >
      Yes
    </button>
  </div>
</ng-template>

<div id="kb-crm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <button mat-raised-button class="mr-2" [routerLink]="['/crm/reports']"  ><i class="fa fa-chart-bar" aria-hidden="true"></i> Reports</button>
          <button mat-raised-button class="mr-2" [routerLink]="['/crm/contacts']" ><i class="fa fa-users" aria-hidden="true"></i> Contacts</button>
          <button mat-raised-button class="mr-2" [routerLink]="['/crm/lists']" ><i class="fa fa-list" aria-hidden="true"></i> Lists</button>
          <button mat-raised-button class="mr-2" [routerLink]="['/crm/forms']" ><i class="fa-solid fa-address-card" aria-hidden="true"></i> Forms</button>
          <button mat-raised-button class="mr-2" [routerLink]="['/crm/automations']" ><i class="fa fa-random" aria-hidden="true"></i> Automations</button>
          <button mat-raised-button class="mr-2" [routerLink]="['/crm/campaigns']" color="primary"><i class="fa fa-envelope" aria-hidden="true"></i> Campaigns</button>
          <button mat-raised-button class="mr-2" [routerLink]="['/crm/tags']" ><i class="fa fa-tags" aria-hidden="true"></i> Tags</button>
          <button mat-raised-button class="mr-2" [routerLink]="['/crm/settings']" ><i class="fa-solid fa-gear" aria-hidden="true"></i> Settings</button>
      </div>
      <div class="col-md-4 text-right">
        <button mat-raised-button [color]="'accent'" (click)="togglepageview()" class="mr-3">
          <span *ngIf="!toggleview else gridview">List View <i class="fas fa-th-list"></i></span>
          <ng-template #gridview><span>Grid View <i class="fas fa-th"></i></span></ng-template>
        </button>
        <button mat-raised-button color="primary" class="mr-2 d-inline-block" (click)="openDialog(dialog)">
          <i class="fa fa fa-envelope" aria-hidden="true"></i> Create Campaign
        </button>
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 mt-4 ">
             <span ><span style="font-size:35px">Campaigns</span> ({{this.kbcampaigns.length}})</span>
        </div>
      </div>
    </div> -->
    <!-- <div class=" m-2 ml-3 pl-0 mb-0 pb-0" style="font-size:12px ">Campaigns search by name or email</div> -->
    <div class="  text-left ml-0 mb-0 pl-0 d-flex mt-4">
    <div  class=" d-inline mt-2 mb-2 mr-2 searchbox" style="font-size:14px">
        <mat-form-field  class= "fntilform "  style="width:500px" appearance="fill" >
          <mat-label> <i class="fab fa-searchengin mt-1"></i>Search Campaigns...</mat-label>
    <input type="email" 
    matInput 
    type="text"
    (keyup)="applyFilter($event)"
    class="form-control-search "
    id="offer-search"
    #input
    placeholder="Search Campaigns..."
         >
        </mat-form-field>
    </div>
    <div  class="d-inline m-2" style="font-size:14px">
        <mat-form-field  class= "fntilform" appearance="fill">
          <mat-label>Filter by:</mat-label>
          <mat-select [(ngModel)]="selectedForm" (ngModelChange)="filter()">
            <mat-option (click)="fetchAllcampaigns()" value=''>-- None --</mat-option>
            <mat-optgroup *ngFor="let group of optionGroup" [label]="group.viewValue">
              <mat-option *ngFor="let item of group.order" [value]="[group.value, item.viewValue]">
                {{item.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
    </div>
    <div  class="d-inline m-2 " style="font-size:14px">
        <mat-form-field  class= "fntilform" appearance="fill">
          <mat-label>Filter by Type:</mat-label>
          <mat-select  [(ngModel)]="selectedForm" (ngModelChange)="sort()">
            <mat-option (click)="fetchAllcampaigns()" value=''>-- None --</mat-option>
            <mat-option value="One-Time">One Time</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div  class="d-inline m-2 " style="font-size:14px">
      <mat-form-field  class= "fntilform" appearance="fill">
        <mat-label>Filter by Status:</mat-label>
        <mat-select  [(ngModel)]="selectedForm" (ngModelChange)="sortcampaigns()">
          <mat-option (click)="fetchAllcampaigns()" value=''>-- None --</mat-option>
          <mat-option [value]="'0'" >Drafts</mat-option>
          <!-- <mat-option [value]="'schedule'">Schedule</mat-option> -->
          <mat-option [value]="'1'">Sent</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div  class="d-inline m-2 " style="font-size:14px">
      <mat-form-field  class= "fntilform" appearance="fill">
        <mat-label>Filter by Lists:</mat-label>
        <mat-select [(ngModel)]="selectedForm" (ngModelChange)="sortlist()" >
          <mat-option (click)="fetchAllcampaigns()" value=''>-- None --</mat-option>
          <mat-option *ngFor="let list of lists" [value]="list.uniqueid">
            {{list.list_name | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
    <div [class.px-3]="toggleview" class="row">
      <div [class]="toggleview ? 'col-md-12' : 'col-md-4'"  class="cardpage mt-4 " *ngFor="let kbcampaign of kbcampaigns; index as i;">
        <div [class.row]="toggleview">
          <div *ngIf="!toggleview" class="keabuilder-title-board line-ellipsis mt-2 mb-2">
            <span class="fntwt">{{kbcampaign.campaign_name | titlecase}}</span>
            <input type="text" [(ngModel)]="kbcampaign.campaign_name"
              (blur)="changepagename(kbcampaign,kbcampaign.campaign_name)" matTooltip="Edit Campaign Name"
              matTooltipPosition="above">
          </div>
          <div [style.height]="toggleview ? '150px' : '300px'" [class]="toggleview ? 'col-md-6' : 'col-md-12'" class="p-0">
            <div class="kb-fitimg"
              [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+kbcampaign.thumbnail + '), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}"
              >
              <div class="kb-loader" *ngIf="shortwaiting">
                <div class="kb-loader-shadow"></div>
                <div class="kb-loader-box"></div>
              </div>
            </div>
          </div>
          <div [class]="toggleview ? 'col-md-6' : 'col-md-12 pt-3'">
            <div class="row align-items-center p-0 h-100">

              <div [class.p-0]="!toggleview" class="col-md-12">

                <div *ngIf="toggleview" class="keabuilder-title-board line-ellipsis ">
                  <span class="fntwt">{{kbcampaign.campaign_name | titlecase}}</span>
                  <input type="text" [(ngModel)]="kbcampaign.campaign_name"
                    (blur)="changepagename(kbcampaign,kbcampaign.campaign_name)" matTooltip="Edit Campaign Name"
                    matTooltipPosition="above">
                </div>
                <div class="d-flex justify-content-between">
                  <button *ngIf="kbcampaign.campaign_sent=='1'" class="view-btn align" mat-raised-button><i class="fa-solid fa-chart-pie mr-1" aria-hidden="true"></i>View Report</button>
                  <button  *ngIf="kbcampaign.campaign_sent=='0'" mat-raised-button  [routerLink]="'/crm/newcampaign/'+kbcampaign.uniqueid" class="view-btn1 mr-2 "> Continue <i class="fa fa-arrow-alt-circle-right"></i></button> 
                  <!-- <button  class="view-btn" mat-raised-button><i class="fa-solid fa-clock mr-1" aria-hidden="true"></i>View Report</button> -->
                  <!-- <button class="view-btn1" mat-raised-button><i class="fa-regular fa-pen-to-square mr-2" aria-hidden="true" ></i>Edit</button> -->
                  <button mat-raised-button  class=" view-btn1 ml-2" [matMenuTriggerFor]="menu2"> More <i class="fas fa-cog"></i></button>
                <mat-menu #menu2="matMenu">
                  <button mat-menu-item [routerLink]="'/crm/newcampaign/'+kbcampaign.uniqueid" >
                    <i class="fa-regular fa-pen-to-square mr-2"></i>Edit
                  </button>
                  <button mat-menu-item>
                    <i class="far fa-copy mr-2"></i>Duplicate
                  </button>
                 
                  <button class="text-danger" mat-menu-item (click)="openDialog1(deletedialog,kbcampaign.uniqueid)">
                    <i class="far fa-trash-alt mr-2"></i>Delete
                  </button>
                </mat-menu>
                </div>

                <div class="sentoption">
                  <hr>
                  <div class="d-flex justify-content-between">
                    <button class="view-btn2" >{{kbcampaign.campaign_type}}</button>
                  <span class="fnt">Sent On: 
                    <span *ngIf="kbcampaign.deliverdate"><i class="fa fa-calendar-alt" aria-hidden="true"></i> {{dateformat(kbcampaign.deliverdate)}}</span>
                    <span *ngIf="!kbcampaign.deliverdate">--</span>
                  </span>
                </div>
                <div class="d-flex justify-content-between mt-1 mb-1">
                  <span class="fnt"><i class="fa fa-user mr-2 colr" aria-hidden="true"></i>Sent To: <span *ngIf="kbcampaign.sento>0"> {{kbcampaign.sento}}</span>
                    <span *ngIf="kbcampaign.sento==0">--</span></span>
                    <span class="fnt">Last Modified On: <span><i class="far fa-calendar-alt" aria-hidden="true"></i> {{dateformat(kbcampaign.updated_at)}}</span></span>
                  </div>
              </div>
              </div>
              <!-- <div [class.p-0]="!toggleview" class="col-md-12 text-right">
                
                <button *ngIf="kbcampaign.campaign_sent=='0'" mat-raised-button color="accent" [routerLink]="'/crm-newcampaign/'+kbcampaign.uniqueid" class="mr-2"> Continue <i class="fa fa-arrow-alt-circle-right"></i></button>               

                <button mat-raised-button color="accent" class="ml-2" [matMenuTriggerFor]="menu2"> More <i class="fas fa-cog"></i></button>
                <mat-menu #menu2="matMenu">
                  <button mat-menu-item>
                    <i class="far fa-copy mr-2"></i> Duplicate
                  </button>
                 
                  <button class="text-danger" mat-menu-item>
                    <i class="far fa-trash-alt mr-2"></i> Delete
                  </button>
                </mat-menu>
              </div> -->
            </div>
          </div>

          <div class="statbadg">

            <span class="statusbadge" [class]="kbcampaign.publish_status==1 ? 'active1':'active2'" *ngIf="kbcampaign.campaign_sent=='0'">
              <i class="fas" [class]="kbcampaign.publish_status==1 ? 'fa-check':'fa-file'"></i>
              {{kbcampaign.publish_status==1?'Schedule':'Draft'}}
            </span>

            <span class="statusbadge1" [class]="kbcampaign.publish_status==1 ? 'active1':'active2'" *ngIf="kbcampaign.campaign_sent=='1'">
              <i class="fas fa-paper-plane"></i> Sent
            </span>

          </div>

          <div class="statbadg2">
            <span class="statusbadge2">{{kbcampaign.sendoption=='immediately'?'Immediately':'Specific Time'}}</span>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
