<ng-template #dialog>
  <h1 mat-dialog-title class="kb-danger">Delete Submission</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{delsubm.email}}</span> submission?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-info">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deletesubm(delsubm)">Yes</button>
  </div>
</ng-template>
<div id="kbformcomponent">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
            <mat-form-field appearance="fill" class="col-8 pr-2">
              <mat-label>Search Submissions</mat-label>
              <input matInput #searchInp type="text" (input)="searchSubmissions(searchInp, filterInp)" placeholder="Search Form">
              <i class="fa fa-search"></i>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-4">
              <mat-label>Sort By</mat-label>
              <mat-select #filterInp name="kbfilter" [value]="'updated_at DESC'" (valueChange)="searchSubmissions(searchInp, filterInp)">
                <mat-option [value]="'email ASC'">ASC By Email</mat-option>
                <mat-option [value]="'email DESC'">DESC By Email</mat-option>
                <mat-option [value]="'updated_at ASC'">ASC By Received At</mat-option>
                <mat-option [value]="'updated_at DESC'">DESC By Received At</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 text-right">
            <button mat-raised-button color="accent" [routerLink]="[_general.userService.navPath[0]]"><i class="fas fa-arrow-left"></i> Back</button>
          </div>
      </div>
      <div *ngIf="submissions.length != 0 else nodata" class="row m-2">
        <mat-accordion multi class="kb-mat-accordion col-12">
          <mat-expansion-panel *ngFor="let subm of submissions, index as i" [expanded]="step === i" (opened)="showDetails(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mr-1">account_circle</mat-icon>
                {{subm.email}}
              </mat-panel-title>
              <mat-panel-description>
                  <mat-icon class="mr-1">date_range</mat-icon>
                  {{_general.dateformat(subm.created_at)}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let data of subm.data | keyvalue | filter:'':'key'">
              <div *ngIf="data.value.split else nosplit" class="kb-subm-group">
                <span class="kb-subm-title"><i [class]="icons[data.value.name]" class="kb-subm-icon"></i>{{data.value.label}}</span>
                <div *ngFor="let split of data.value.split" class="kb-subm-group-data">
                  <div *ngIf="split.subsplit else nosubsplit">
                    <div *ngFor="let subsplit of split.subsplit">
                      <strong class="kb-subm-label">{{subsplit.placeholder}}:</strong>{{subsplit.value ? subsplit.value : '----'}}
                    </div>
                  </div>
                  <ng-template #nosubsplit>
                    <strong class="kb-subm-label">{{split.placeholder}}:</strong>{{split.value ? split.value : '----'}}
                  </ng-template>
                </div>
              </div>
              <ng-template #nosplit>
                <div class="kb-subm-group">
                  <strong class="kb-subm-label"><i [class]="icons[data.value.name]" class="kb-subm-icon"></i>{{data.value.label}}:</strong>{{data.value.value ? data.value.value : '----'}}
                </div>
              </ng-template>
            </div>
            <mat-action-row>
              <button mat-button (click)="openDialog(dialog, subm)" class="text-danger">Delete</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <ng-template #nodata>
          <div class="row justify-content-center mt-5">
          <div class="col-md-4">
              <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No Form Found">
          </div>
          </div>
      </ng-template>
  </div>
</div>