<div id="kbformcomponent">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
            <mat-form-field appearance="fill" class="col-8 pr-2">
              <mat-label>Search Submissions</mat-label>
              <input matInput #searchInp type="text" (input)="searchSubmissions(searchInp, filterInp)" placeholder="Search Form">
              <i class="fa fa-search"></i>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-4">
              <mat-label>Sort By</mat-label>
              <mat-select #filterInp name="kbfilter" (valueChange)="searchSubmissions(searchInp, filterInp)">
                <mat-option [value]="'email ASC'">ASC By Email</mat-option>
                <mat-option [value]="'email DESC'">DESC By Email</mat-option>
                <mat-option [value]="'created_at ASC'">ASC By Received At</mat-option>
                <mat-option [value]="'created_at DESC'">DESC By Received At</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 text-right">
            <button mat-raised-button color="accent" [routerLink]="[_general.userService.navPath[0]]"><i class="fas fa-arrow-left"></i> Back</button>
          </div>
      </div>
      <div *ngIf="submissions.length != 0 else nodata" class="row m-2">
        <mat-accordion multi class="kb-mat-accordion col-12">
          <mat-expansion-panel *ngFor="let subm of submissions, index as i" [expanded]="step === i" (opened)="showDetails(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mr-1">account_circle</mat-icon>
                {{subm.email}}
              </mat-panel-title>
              <mat-panel-description>
                  <mat-icon class="mr-1">date_range</mat-icon>
                  {{_general.dateformat(subm.created_at)}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-action-row>
              <button mat-button class="text-danger">Delete</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <ng-template #nodata>
          <div class="row justify-content-center mt-5">
          <div class="col-md-4">
              <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No Form Found">
          </div>
          </div>
      </ng-template>
  </div>
</div>