<div class="kbmodule-category">

    <div class="kbmodule-section" *ngFor="let course_module of course_modules;">
        <h5>
            <a [routerLink]="'/course/'+coursename+'/'+course_module.uniqueid" [routerLinkActive]="['activekbunique']">
                {{course_module.title}}

                <div class="kbl-active-media"></div>

            </a>
        </h5>
        <ul>
            <li *ngFor="let course_lesson of course_lessons">
                <a [routerLink]="'/course/'+coursename+'/'+course_module.uniqueid+'/posts/'+course_lesson.uniqueid" *ngIf="course_module.uniqueid==course_lesson.module_id" [routerLinkActive]="['activekbunique']" >
                    <i class="fas fa-file-alt"></i> {{ course_lesson.title }}
                    <div class="kbl-active-media"></div>
                </a>
            </li>
        </ul>
    </div>
    
</div>


