<div class="maincourseboard-kea p-4">

    <div class="kb-courseprogress">
        <h4>Course Progress:</h4>
        <mat-progress-bar
            class="kb-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
    </div>

    <div class="kb-categoryprogerss" *ngIf="showcategory" >
        <h6 class="mb-5">Category Progress: {{totalstart}}/{{totalprogress}} Lessons Complete</h6>

        <div class="kb-modulesection mt-4" *ngFor="let modulepart of moduleparts;">
            <hr>
            <div class="progress-icon-wrapper">
             <div class="progress-icon progress-icon-11"></div>
            </div>
            <a [routerLink]="'/course/'+coursename+'/'+moduleid+'/posts/'+modulepart.uniqueid">
                <div class="row">
                    <div class="col-md-4">
                        <img [src]="'/assets/uploads/images/'+modulepart.thumbnail" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8">
                        <h4>{{modulepart.title}}</h4>
                        <p>{{modulepart.description}}</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="kb-coursepost" *ngIf="!showcategory">
        <app-course-user-modules-post></app-course-user-modules-post>
    </div>

</div>