<div id="kb-keaanalytics">
    <div class="container-fluid">
       <div class="row kb-mt-tp-2">
          <div class="col-md-12">
              <img src="/assets/images/heatmap/analytics.jpg" class="img-fluid" alt="">
              <p class="kb-heatmapnew"><span>ALL NEW</span> ANALYTICS</p>
          </div>
      </div>
    </div>
    <div class="container-fluid mt-10">
        <div class="row">
            <div class="col-md-6">
                 <div  v-if="series[0].data.length" class="chartbox">
                   <p>WHICH COUNTRY GET THE MOST VIEWS?</p>
                   <apx-chart
                   [series]="chartOptions.series"
                   [chart]="chartOptions.chart"
                   [xaxis]="chartOptions.xaxis"
                   [dataLabels]="chartOptions.dataLabels"
                   [grid]="chartOptions.grid"
                   [stroke]="chartOptions.stroke"
                   [title]="chartOptions.title"
                 ></apx-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div v-if="series2[0].data.length" class="chartbox">
                  <p>WHICH PAGES AND SCREENS GET THE MOST VIEWS?</p>
                  <apx-chart
                    [series]="chartOptions2.series"
                    [chart]="chartOptions2.chart"
                    [dataLabels]="chartOptions2.dataLabels"
                    [plotOptions]="chartOptions2.plotOptions"
                    [xaxis]="chartOptions2.xaxis"
                ></apx-chart>
              </div>
            </div>
            <div class="col-md-4 mt-4">
              <div  v-if="series3[0].data.length" class="chartbox">
                <p>WHICH CITY THE MOST VIEWS?</p>
                <apx-chart
                    [series]="chartOptions3.series"
                    [chart]="chartOptions3.chart"
                    [xaxis]="chartOptions3.xaxis"
                    [title]="chartOptions3.title"
                ></apx-chart>
              </div>
            </div>
            <div class="col-md-8 mt-4 row m-0">
              <div class="col-12 chartbox">
                  <p>WHICH COUNTRY THE USERS COMES FROM?</p>
                  <google-map height="90%" [options]="options"
                  width="100%"
                  [center]="center"
                  [zoom]="zoom">
                  <map-marker *ngFor="let markerPosition of markerPositions"
                    [position]="markerPosition"></map-marker>

                </google-map>
              </div>
            </div>
             <div class="col-md-4 mt-4">
                <div class="chartbox"  v-if="series4[0].data.length">
                  <p>WHICH BROWSER GET THE MOST VIEWS?</p>
                  <apx-chart
                    [series]="chartOptions4.series"
                    [chart]="chartOptions4.chart"
                    [xaxis]="chartOptions4.xaxis"
                    [stroke]="chartOptions4.stroke"
                    [tooltip]="chartOptions4.tooltip"
                    [dataLabels]="chartOptions4.dataLabels"
                    [fill]="chartOptions4.fill"
                    [yaxis]="chartOptions4.yaxis"
                    [title]="chartOptions4.title"
                  ></apx-chart>
                </div>
             </div>
             <div class="col-md-4 mt-4">
               <div class="chartbox"  v-if="series5[0].data.length">
                 <p>WHICH OPERATING SYSTEM GET THE MOST VIEWS?</p>
                 <apx-chart
                  [series]="chartOptions5.series"
                  [chart]="chartOptions5.chart"
                  [dataLabels]="chartOptions5.dataLabels"
                  [plotOptions]="chartOptions5.plotOptions"
                  [yaxis]="chartOptions5.yaxis"
                  [xaxis]="chartOptions5.xaxis"
                  [stroke]="chartOptions5.stroke"
                  [grid]="chartOptions5.grid"
                  [fill]="chartOptions5.fill"
                  [annotations]="chartOptions5.annotations"
                ></apx-chart>
              </div>
             </div>
              <div class="col-md-4 mt-4">
                <div class="chartbox"  v-if="series6[0].data.length">
                    <p>WHICH DEVICE GET THE MOST VIEWS?</p>
                    <apx-chart
                    [series]="chartOptions6.series"
                    [chart]="chartOptions6.chart"
                    [dataLabels]="chartOptions6.dataLabels"
                    [plotOptions]="chartOptions6.plotOptions"
                    [title]="chartOptions6.title"
                    [legend]="chartOptions6.legend"
                  ></apx-chart>
                </div>
             </div>


        </div>
    </div>
</div>