<!-- templates -->
<ng-template #templatedialog>
  <app-template (createDialog)="addnewpage($event)" (closeDialog)="dialog.closeAll()"></app-template>
</ng-template>
<!-- templates -->

<ng-template #duplicatedialog>
  <h1 mat-dialog-title >{{actionname}} Page</h1>
  <div mat-dialog-content>
      Choose a website where you wanna to {{actionname}} the <span class="text-primary">{{delpage.page_name}}</span> page?
  </div>
  <div mat-dialog-actions class="justify-content-end">

      <mat-form-field appearance="fill" class="kb-full-width">
        <mat-label>Websites</mat-label>
        <mat-select name="newwebsiteid" [(ngModel)]="newwebsiteid" >
          <span *ngFor="let website of websites">
            <mat-option [value]="website.uniqueid" *ngIf="form.website_id != website.uniqueid">
              {{website.title}}
            </mat-option>
          </span>
        </mat-select>
      </mat-form-field>
      <button mat-button class="kb-danger" mat-dialog-close >Cancel</button>
      <button mat-button mat-dialog-close color="primary" (click)="dupanotherdes(delpage)">Move</button>
  </div>
</ng-template>

<ng-template #adddialog>
  
  <h1 mat-dialog-title >Create A Page</h1>
  <div mat-dialog-content>

    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Page Name</mat-label>
      <input type="text" matInput [(ngModel)]="form.pagename" (blur)="changemyname($event)" name="pagename"
        [formControl]="userFormControl" placeholder="Ex. Home" required minlength="3">
      <mat-error *ngIf="userFormControl.hasError('required')">
        Page Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userFormControl.hasError('minlength')">
        Page Name must be at least <strong>3</strong> characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Page Path</mat-label>
      <input type="text" matInput (input)="form.pagepath = _general.joinWthDash(form.pagepath)"
        [(ngModel)]="form.pagepath" name="pagepath" [formControl]="userFormControl2" placeholder="Ex. home"
        required minlength="3" (blur)="pathuniqueremove()">
      <mat-error *ngIf="userFormControl2.hasError('required')">
        Path Name is <strong>required</strong>
      </mat-error>
      <small class="text-danger" *ngIf="pathcheck">
        Path must be <strong>unique</strong>
      </small>
      <mat-error *ngIf="userFormControl2.hasError('minlength')">
        Page Name must be at least <strong>3</strong> characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="kb-full-width" appearance="fill" (click)="filterwebData()" [class.mat-form-field-invalid]="hasError">
      <mat-label>Website</mat-label>
      <input matInput type="text" [(ngModel)]="selectedweb" placeholder="Search by website name"
    (input)="filterwebData()" [matAutocomplete]="websiteAuto" required class="w-100">
  <button *ngIf="selectedweb" matSuffix mat-icon-button aria-label="Clear" (click)="resetweb()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #websiteAuto="matAutocomplete" (optionSelected)="selectweb($event)">
    <mat-option *ngFor="let option of filteredweb" [value]="option"
      [disabled]="option.uniqueid == website_id">
      {{ option.title | titlecase }}
    </mat-option>
  </mat-autocomplete>
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button class="kb-danger" mat-dialog-close >Cancel</button>
      <button mat-button  color="primary" (click)="onSubmit()">Create</button>
  </div>
</ng-template>

<ng-template #quickeditdialog>
  <h1 mat-dialog-title >Quick Edit</h1>
  <div mat-dialog-content>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Page Url</mat-label>
      <input matInput [(ngModel)]="pageurl" name="pageurl" (blur)="pathuniqueremove()"
        (input)="pageurl = _general.joinWthDash(pageurl)">
      <small class="text-danger" *ngIf="pathcheck2">
        Path must be <strong>unique</strong>
      </small>
    </mat-form-field>

    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Page Title</mat-label>
      <input matInput [(ngModel)]="seotitle" name="seotitle">
    </mat-form-field>

    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Page Description</mat-label>
      <textarea [(ngModel)]="seodescr" matInput name="seodescr">{{seodescr}}</textarea>
    </mat-form-field>

    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Add Keywords</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let keyword of keywords" (removed)="remove(keyword)">
          {{keyword}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="New Keywords..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Page Author</mat-label>
      <input matInput name="seoauthor" [(ngModel)]="seoauthor">
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button class="kb-danger" mat-dialog-close >Cancel</button>
      <button mat-button  color="primary" (click)="savequickdetails()">Update</button>
  </div>
  <div class="kb-spinner" *ngIf="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #deldialog>
  <h1 mat-dialog-title class="text-danger">Archive</h1>
  <div mat-dialog-content>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Archive Reason (Optional)</mat-label>
      <textarea
        matInput
        [(ngModel)]="reason"
        rows="8"
        name="reasons"
      ></textarea>
    </mat-form-field>

    <span class="kb-fnt">(It will help you remember why you archive it !)</span>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close color="primary">No</button>
    <button
      mat-button
      class="text-danger"
      (click)="restoredeleteme(delpage,'archived')"
    >Archive Web Page
    </button>
  </div>
</ng-template>

<!-- Copy webpage url -->
<ng-template #copyurldialog>
  <h1 mat-dialog-title>Copy Web Page URL</h1>
  <div mat-dialog-content>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Web Page Url</mat-label>
      <textarea matInput readonly rows="3" name="funnelurlonly" #userinput>{{
        pageurl
      }}</textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="copyInputMessage(userinput)"
    >
      <i class="far fa-copy"></i> Copy Page Url
    </button>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger">Close</button>
  </div>
</ng-template>

<div id="pagesinsidepage">
  <mat-progress-bar *ngIf="searching" mode='indeterminate'></mat-progress-bar>
  <div class="container-fluid">
    
    <div class="row align-items-center mobkeaadjust">
      <!-- <div class="col-md-8 adjustmatfrm"> -->
          <mat-form-field  appearance="fill" class="col-md-3">
            <mat-label>{{searchpagetxt}}</mat-label>
            <input matInput #searchInp type="text" (input)="searchpages(searchInp, filterInp, visibility)" placeholder="Search Pages">
            <i class="fa-solid fa-magnifying-glass"></i>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-md-2">
            <mat-label>Sort By</mat-label>
            <mat-select name="kbfilter" #filterInp (valueChange)="searchpages(searchInp, filterInp, visibility)">
              <mat-option [value]="'page_name ASC'">ASC By Name</mat-option>
              <mat-option [value]="'page_name DESC'">DESC By Name</mat-option>
              <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
              <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-md-2">
            <mat-label>Visibility</mat-label>
            <mat-select name="visibility" #visibility (valueChange)="searchpages(searchInp, filterInp, visibility)">
              <mat-option [value]="">Show All</mat-option>
              <mat-option [value]="'draft'">Draft Only</mat-option>
              <mat-option [value]="'publish'">Publish Only</mat-option>
            </mat-select>
          </mat-form-field>
      
        <!-- <ng-template #showarchived>
          <div class="adjustarchivesort">

            <mat-form-field  appearance="fill" class="w-100">
              <mat-label>Search Pages</mat-label>
              <input matInput type="text" (keyup)="applyFilter($event)" id="offer-search" placeholder="Search by page name, reason, created at...">
              <i class="fa-solid fa-magnifying-glass"></i>
            </mat-form-field>

            <mat-form-field appearance="fill" class="kb-full-width ">
              <mat-label>Showing Archive for</mat-label>
              <mat-select name="showingcontacts" [(ngModel)]="showingcontacts" (ngModelChange)="applykbfilter()">
                <mat-option value="7 DAY">Last 7 Days</mat-option>
                <mat-option value="30 DAY">Last 30 Days</mat-option>
                <mat-option value="2 MONTH">Last 2 Months</mat-option>
                <mat-option value="1 YEAR">This Year</mat-option>
                <mat-option value="all">All Time</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </ng-template> -->
      <!-- </div> -->

      <div class="col-md-5 text-right align-items-center" >
        <span>
          <button mat-raised-button [color]="'accent'" (click)="togglepageview()" *ngIf="!nodata" class="mr-3">
            <span *ngIf="!toggleview else gridview">List View <i class="fas fa-th-list"></i></span>
            <ng-template #gridview><span>Grid View <i class="fas fa-th"></i></span></ng-template>
          </button>
        </span>
       
        <button mat-raised-button (click)="templateDialog(templatedialog)" color="primary" class="mr-3"><span class="keamobhd">Create Page </span> <i
          class="fas fa-plus"></i></button>

        <button mat-raised-button (click)="archivepages()"> Archive Pages <i class="fas fa-archive"></i></button>
       
      </div>
    </div>
   
      <!-- no pages -->
      <div class="row" *ngIf="nodata else showpages">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No webpages found">
        </div>
      </div>
      <!-- no pages -->
      <!-- pages to show -->
      <ng-template #showpages>
        <!-- Pages -->
        <div [class.px-3]="toggleview" class="row">
          <div [class]="toggleview ? 'col-md-12' : 'col-md-4'"  class="cardpage mt-4 " *ngFor="let kbpage of kbpages; index as i;">
            <div [class.row]="toggleview">
              <div [style.height]="toggleview ? '150px' : '300px'" [class]="toggleview ? 'col-md-6' : 'col-md-12'" class="p-0">
                <div class="kb-fitimg"
                [ngStyle]="{
                  'background-image':
                    'url(' +
                    _image.uploadImgPath +
                    _general.getSSPath('page-' + kbpage.uniqueid) +
                    '), url(' +
                    _image.uploadImgPath +
                    'webpage_thumbnail1.jpg' +
                    ')'
                }">
                  <!-- [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+kbpage.thumbnail + '), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}"> -->
                  <div class="kb-loader" *ngIf="shortwaiting">
                    <div class="kb-loader-shadow"></div>
                    <div class="kb-loader-box"></div>
                  </div>
                </div>
              </div>

              <div [class]="toggleview ? 'col-md-6' : 'col-md-12 pt-3'">
                <div class="row align-items-center p-0 h-100">
                  <div [class.p-0]="!toggleview" class="col-md-12">
                    <div class="keabuilder-title-board line-ellipsis">
                      <span>{{kbpage.page_name}}</span>
                      <input type="text" [(ngModel)]="kbpage.page_name"
                        (blur)="changepagename(kbpage,kbpage.page_name,'namechange')" matTooltip="Edit Page Name"
                        matTooltipPosition="above">
                    </div>
                    <p class="kb-pagedate mt-2 mb-3" matTooltip="Last Updated" matTooltipPosition="above">
                      <i class="far fa-calendar-alt" aria-hidden="true"></i> {{kbpage.updated_at}}
                    </p>
                  </div>
                  <div [class.p-0]="!toggleview" class="col-md-12 text-right">
                    <button (click)="checkpagesettings('preview',kbpage.page_path)" mat-raised-button color="accent"
                      class="mr-2"> View <i class="far fa-eye"></i></button>
                    <button (click)="_general.redirectToBuilder(kbpage.uniqueid, 'website')" mat-raised-button
                      color="primary">Edit <i class="fas fa-pencil-alt"></i></button>
                    <button mat-raised-button color="accent" class="ml-2" [matMenuTriggerFor]="menu2"> More <i class="fas fa-cog"></i></button>
                    <mat-menu #menu2="matMenu">
                      <button mat-menu-item (click)="changepagename(kbpage,kbpage.page_name,'quickedit')">
                        <i class="fas fa-pen mr-2"></i> Quick Edit
                      </button>
                      <!-- <button mat-menu-item>
                        <i class="fas fa-chart-pie mr-2"></i> View Analytics
                      </button> -->
                      <button mat-menu-item (click)="shortsettings(kbpage,'duplicate')">
                        <i class="far fa-copy mr-2"></i> Duplicate
                      </button>
                      <button mat-menu-item (click)="openDialog(duplicatedialog, kbpage, 'move');" *ngIf="websites.length != 1">
                        <i class="fa fa-paste mr-2"></i> Move
                      </button>
                      <button mat-menu-item (click)="openDialog(duplicatedialog, kbpage, 'copymove')" *ngIf="websites.length != 1">
                        <i class="fa fa-paste mr-2"></i> Copy & Move
                      </button>
                      <button mat-menu-item (click)="shortsettings(kbpage,'copyurl')">
                        <i class="fas fa-link mr-2"></i> Copy URL
                      </button>
                      <button class="text-danger" mat-menu-item (click)="archive_popup(kbpage)">
                        <i class="far fa-trash-alt mr-2"></i> Archive
                      </button>
                    </mat-menu>
                    <!-- <div class="kb-page-settting" [matMenuTriggerFor]="menu2" matTooltip="Settings" matTooltipPosition="above">Settings <i class="fas fa-cog"></i></div> -->
                  </div>
                </div>
              </div>

              <div class="statbadg">
                <span mat-button [matMenuTriggerFor]="menu" class="statusbadge"
                  [class]="kbpage.publish_status==1 ? 'active1':'active2'">
                  <i class="fas" [class]="kbpages[i]['publish_status']==1 ? 'fa-check':'fa-file'"></i>
                  {{kbpages[i]['publish_status']==1?'Published':'Draft'}} <i class="fas fa-chevron-down drpdwnfa"></i>
                </span>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item
                    (click)="changepagename(kbpage,'1','statusupdate'); kbpages[i]['publish_status']=1;"><i
                      class="fa fa-check pr-2"></i> Publish</button>
                  <button mat-menu-item
                    (click)="changepagename(kbpage,'0','statusupdate'); kbpages[i]['publish_status']=0; kbpage.defaulthome=0;"><i
                      class="fa fa-file pr-2"></i> Draft</button>
                </mat-menu>
              </div>

              <div class="statehome" *ngIf="kbpage.defaulthome==1">
                <i class="fas fa-star"></i> Home
              </div>
            </div>
          </div>
        </div>
       
      </ng-template>
      <!-- pages to show -->
   
    <!-- pages -->
    <!-- pagination -->
    <div class="row" *ngIf="!nodata">
      <div class="col-md-12 mt-4">
        <!-- <mat-paginator 
                    [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="getServerData($event)"
                    >
        </mat-paginator> -->
      </div>
    </div>

    <div class="kb-spinner" *ngIf="spinner">
      <mat-spinner></mat-spinner>
    </div>

  </div>
</div>