
<!-- dialog for delete automation button -->
<ng-template #deldialog>
    <h1 mat-dialog-title class="kb-danger">Delete Automation</h1>
    <div mat-dialog-content>Would you like to delete <span class="text-danger mr-1 ml-1">{{this.delautomation.name}}</span> Automation?</div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close [color]="'primary'">No</button>
      <button
        mat-button
        mat-dialog-close
        cdkFocusInitial
        class="text-danger"
        (click)="deleteAutomation(this.delautomation.id)"
      >
        Yes
      </button>
    </div>
  </ng-template>
  <!-- dialog for add automation button -->
  <ng-template #dialog>
    <h1 mat-dialog-title class="txt">Create A Automation</h1>
    <div mat-dialog-content>
        <mat-form-field class="kb-full-width mb-2" appearance="fill">
          <mat-label>Automation Name</mat-label>
          <input type="text" matInput name="automationname" [(ngModel)]="automationname" [formControl]="automationnameControl" required minlength="3" >
          <mat-error *ngIf="automationnameControl.hasError('required')">
              Automation Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="automationnameControl.hasError('minlength')">
              Name must be at least <strong>3</strong> characters
          </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="justify-content-end">
        <button mat-button mat-dialog-close class="text-danger">Close</button>
        <button mat-button  (click)="addautomation()" 
        [color]="!automationnameControl.invalid ? 'primary' : ''"  
        [disabled]="automationnameControl.invalid">Create</button>
    </div>
  </ng-template>
    <div class="container-fluid ">
    <div class="row">
        <mat-form-field class= "col-md-4" appearance="fill">
          <mat-label>Search Automations...</mat-label>
          <input
          matInput 
            type="text"
            class=""
            id="offer-search"
            #searchInp 
            (input)="searchAutomations(searchInp, sortInp, filterInp)"
            placeholder="Search Automations..."
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </mat-form-field>
        <mat-form-field class="col-md-2 " appearance="fill">
          <mat-label>Status :</mat-label>
          <mat-select #sortInp name="kbfilter" value='' (valueChange)="searchAutomations(searchInp, sortInp, filterInp)">
            <mat-option value="" selected>All</mat-option>
              <mat-option [value]="'Active'">Active</mat-option>
              <mat-option [value]="'Inactive'">Inactive</mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field class="col-md-2 " appearance="fill">
          <mat-label>Filter by:</mat-label>
          <mat-select #filterInp name="kbfilter" value='created_at DESC' (valueChange)="searchAutomations(searchInp, sortInp, filterInp)">
            <mat-option [value]="'name ASC'">ASC By Name</mat-option>
            <mat-option [value]="'name DESC'">DESC By Name</mat-option>
            <mat-option [value]="'created_at ASC'">ASC By Create</mat-option>
            <mat-option [value]="'created_at DESC'">DESC By Create</mat-option>
            <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
            <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
        </mat-select>
        </mat-form-field>
        <div class="col-md-4 text-right mt-2">
          <button mat-raised-button [color]="'accent'"
            (click)="toggleView()" class="mr-2">
            <span *ngIf="togglebutton==false">List View <i class="fas fa-th-list ml-1"></i></span>
             <span *ngIf="togglebutton==true">Grid View <i class="fas fa-th ml-1"></i></span>
          </button>
          <button mat-raised-button color="primary" class="mr-2 d-inline-block" (click)="openDialog(dialog,false)">
            <i class="fa fa-random" aria-hidden="true"></i> Create Automation
          </button>
        </div>
      </div>
        <div class="row" *ngIf="togglebutton; else gridview">
          <div class="table m-2">
            <table class="col-md-12 border border-1 m-center">
              <thead>
                <tr>
                  <td class="border-bottom border-warning text-center">Name</td>
                  <!-- <td class="border-bottom border-warning text-center">
                    Automations
                  </td> -->
                  <td class="border-bottom border-warning text-center">Mail</td>
                  <!-- <td class="border-bottom border-warning text-center">Type</td> -->
                  <td class="border-bottom border-warning text-center">
                    Created On
                  </td>
                  <td class="border-bottom border-warning text-center">
                    Last Modified
                  </td>
                  <td class="border-bottom border-warning text-center">More</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let automation of automations; index as i">
                  <td class="d-flex">
                    <div
                      class="kb-fitimg namebox1"
                      [ngStyle]="{
                        'background-image': 'url(' + automation.thumbnail + ')'
                      }"
                    ></div>
                    <div>
                      <div class="text-left funlist p-1">
                        {{ automation.name | titlecase }}
                        <span
                          class="statusbadge"
                          [class]="
                            automation.publish_status == 1 ? 'active1' : 'active2'
                          "
                        >
                          <i
                            class="fa "
                            [class]="
                              automation.publish_status == 1
                                ? 'fa-check'
                                : 'fa-clock'
                            "
                          ></i>
                          {{ automation.publish_status == 1 ? "Active" : "Inactive" }}
                        </span>
                      </div>
                      <div class="text-left funlist1">
                        <button mat-raised-button color="primary" [routerLink]="'/builder/automation/'+automation.uniqueid">
                          Edit <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button
                          class="m-1"
                          mat-raised-button
                          color="danger"
                          (click)="openDialog(deldialog, automation)"
                        >
                          Delete
                          <i class="far fa-trash-alt pr-2"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                  <!-- <td class="text-center">
                    <span class="automationitem">{{
                      automation.automation_campaigns
                    }}</span>
                  </td> -->
                  <td class="text-center">
                    <span class="tdtype">{{ automation.mail }}</span>
                  </td>
                  <!-- <td class="text-center">
                    <span class="tdtype">{{ automation.quick_status }}</span>
                  </td> -->
                  <td class="text-center">
                    <span>{{ automation.created_at | date : "mediumDate" }}</span
                    ><br />
                    <span class="automationitem" style="font-size: 12px">{{
                      automation.created_at | date : "shortTime"
                    }}</span>
                  </td>
                  <td class="text-center">
                    <span>{{ automation.updated_at | date : "mediumDate" }}</span
                    ><br />
                    <span class="automationitem" style="font-size: 12px">{{
                      automation.updated_at | date : "shortTime"
                    }}</span>
                  </td>
                  <td class="text-center">
                    <button
                      matTooltip="Settings"
                      matTooltipPosition="above"
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon><i class="fas fa-ellipsis-h"></i></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" style="background-color: wheat;">
                      <button mat-menu-item (click)="copyAutomation(automation)">
                        <mat-icon> <i class="far fa-copy pr-2"></i></mat-icon>
                        <span>Duplicate</span>
                      </button>
                      <!-- <button mat-menu-item>
                            <mat-icon><i class="fas fa-save pr-2"></i></mat-icon>
                            <span>Save as a template</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon> <i class="fas fa-link pr-2"></i></mat-icon>
                            <span>Copy URL</span>
                          </button> -->
                      <button
                        mat-menu-item
                        class="text-danger"
                        (click)="openDialog(deldialog, automation.id)"
                      >
                        <mat-icon><i class="far fa-trash-alt pr-2"></i></mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    <ng-template #gridview >
      <div class="row w-100">
        <div
          class="col-md-4 cardpage mt-5 mb-5 loadEffect"
          *ngFor="let automation of automations; index as i"
        >
          <div>
            <div
              class="kb-fitimg"
              [ngStyle]="{
                'background-image': 'url(' + automation.thumbnail + ')'
              }"
            >
              <!-- <img [src]="automations[i]['thumbnail']" alt="" class="img-fluid"> -->
            </div>
            <div class="d-flex justify-content-between">
              <div
                class="keabuilder-title-board line-ellipsis"
                matTooltip="Edit Automation Name"
                matTooltipPosition="above"
              >
                <span>Automation : {{ automation.name }}</span>
                <input type="text" [(ngModel)]="automation.name" />
              </div>
              <div class="text-center mt-2">
              <button   mat-raised-button color="primary" [routerLink]="'/builder/automation/'+automation.uniqueid">
                Edit <i class="fas fa-pencil-alt"></i>
              </button>
          </div >
            </div>
            <div class="statbadg" matTooltip="Status" matTooltipPosition="above">
              <span
                mat-button
                [matMenuTriggerFor]="menu"
                class="statusbadge"
                [class]="automation.publish_status == 1 ? 'active1' : 'active2'"
              >
                <i
                  class="fas"
                  [class]="
                    automations[i]['publish_status'] == 1 ? 'fa-check' : 'fa-file'
                  "
                ></i>
                {{ automation.publish_status == 1 ? "Active" : "Inactive" }}
                <i class="fas fa-chevron-down drpdwnfa"></i>
              </span>
              <mat-menu #menu="matMenu">
                  <!-- <button mat-menu-item>
                    <i class="fas fa-users pr-2"></i>View Contacts
                  </button>
                  <button mat-menu-item>
                    <i class="fas fa-share pr-2"></i>Share
                  </button> -->
                  <button mat-menu-item (click)="copyAutomation(automation)">
                    <i
                      class="far fa-copy pr-2"
                      
                    ></i
                    >Duplicate
                  </button>
                  <!-- <button mat-menu-item>
                    <i class="fas fa-link pr-2"></i>Copy URL
                  </button> -->
                  <button mat-menu-item class="text-danger"
                  (click)="openDialog(deldialog, automation.id)">
                    <i
                      class="far fa-trash-alt pr-2"
                     
                    ></i
                    >Delete
                  </button>
                </mat-menu>
              <!-- <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <i class="fa fa-check pr-2"></i> Active
                </button>
                <button mat-menu-item>
                  <i class="fa fa-file pr-2"></i> Inactive
                </button>
              </mat-menu> -->
            </div>
            <div
              class="kb-pagedate d-flex justify-content-around border border-1"
            >
              <div class="text-center mt-1">
                <div
                  [matTooltip]="
                    automation.entries + ' Contact currently in the automation'
                  "
                  matTooltipPosition="above"
                >
                  <i class="fa fa-retweet ftsize" aria-hidden="true"></i>
                </div>
                <div class="automationitem">
                  {{ automation.entries }}
                </div>
              </div>
              <div>
                <div
                  class="text-center mt-1"
                  [matTooltip]="
                    automation.automation_campaigns +
                    ' Campaign in the automation'
                  "
                  matTooltipPosition="above"
                >
                  <i class="fa fa-envelope ftsize" aria-hidden="true"></i>
                </div>
                <div class="automationitem">
                  {{ automation.automation_campaigns }}
                </div>
              </div>
              <div>
                <div
                  class="text-center mt-1"
                  [matTooltip]="'Last Update: ' + automation.updated_at"
                  matTooltipPosition="above"
                >
                  <i class="fa fa-calendar ftsize" aria-hidden="true"></i>
                </div>
                <div class="automationitem">
                  {{ automation.updated_at | date : "mediumDate" }}<br>
                  <span class="automationitem"style="font-size:12px">
                      {{ automation.updated_at | date : 'shortTime'  }}
                  </span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  
    </ng-template>
  </div>
  