#main-container, #page-container {
    position: relative;
}

input:focus, button:focus{outline: none!important;}

::ng-deep .mat-tooltip {
    position: relative;
    font-size: 13px;
    border-radius: 10px;
    background: rgba(37, 36, 36, 0.8);
    overflow: visible;
}

.kb-d-none {
    display: none;
}
/* column structure */
.kb-column-wrap {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    width: 100%;
    height: 100;
}
.kb-column {
    display: inline-block;
    padding: 0px 20px;
}
.kb-cs-contain, .kb-cs-prev{
    width: 90%;
}
.kb-cs-contain {
    margin: 20px auto;
}
.kb-cs-prev {
    display: flex;
    margin: 10px auto;
}

.kb-cs-prev>div {
    background: var(--row-color);
    height: 30px;
    margin: 0px 3px;
    border-radius: 5px;
}

.kb-cs-contain .kb-cs {
    width: 100%;
    height: 36px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    color: var(--kb-mid-black);
    position: relative;
}

span.kb-setting-icon {
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 5px;
}

span.kb-setting-icon.kb-handle-column {
    cursor: n-resize;
    left: 0;
    right: auto;
}

.kb-cs-contain .kb-cs i{
    padding: 8px 6px;
}

span.kb-column-name {
    display: block;
    width: 70%;
    text-align: center;
    position: absolute;
    left: 25px;
}

span.kb-chngName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input.kb-chngname-inp {
    background: transparent;
    border: none;
    width: 70%;
}

/* column structure */

/* images group */

/* div#kb-img-group, div.kb-outer-selection-container {
    position: fixed;
    width: 100%;
    height: 100%;
    animation: bounce 0.3s ease;
} */

div#kb-img-group {
    z-index: 999;
    background-color: rgb(226 226 226 / 50%);
}

/* div.kb-outer-selection-container {
    z-index: 99;
} */

div#kb-img-group .kb-img-inner-group {
    position: absolute;
    background: #fff;
    width: 1200px;
    min-height: 500px;
    left: calc(50% - 600px);
    top: 50px;
}

.kb-img-thumbnail-group ul.kb-img-list {
    border-top: 1px solid #e2e2e2;
}

div#kb-img-group .kb-img-inner-group .kb-img-thumbnail-group {
    padding: 20px;
    overflow-y: scroll;
    width: 100%;
    height: 450px;
    padding-top: 0px;
    margin-top: 20px;
}

div#kb-img-group .kb-head {
    font-size: 20px;
    padding: 30px 20px 10px;
    font-weight: 600;
    color: #666666;
}
/* images group */

/* selection */

.kb-align-btn-group {
    display: flex;
    justify-content: center;
}

.kb-align-btn-group span.kb-align-btn {
    display: inline-block;
    width: 20%!important;
    cursor: pointer;
    /* border: 2px dashed transparent!important; */
    transition: 0.2s ease-in-out;
    padding: 8px!important;
}

span.kb-align-btn i {
    color: var(--kb-dim-black);
    transition: 0.2s ease-in-out;
    padding: 3px;
}

span.kb-align-btn:first-child i {
    border-left: 2px dotted;
}
span.kb-align-btn:not(:first-child) i:first-child {
    border-right: 2px dotted;
}

.kb-align-btn-group span.kb-align-btn:hover i, .kb-active-brd i {
    color: var(--section-color)!important;
    padding: 3px 5px!important;
}

div.kb-align-btn-group span.kb-align-btn:hover, div.kb-align-btn-group .kb-active-brd {
    /* border-color: var(--section-color)!important; */
    background: rgb(24 103 192 / 10%)!important;
}

.kb-align-btn-group span.kb-align-btn:not(:last-child) {
    margin-right: 20px;
}

.kb-drag-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

div#kb-selection-ask span.kb-selection-top-actions {
    position: absolute;
    right: 10px;
    color: var(--light);
    top: 10px;
    cursor: pointer;
    padding: 0px 8px;
}

div#kb-selection-ask {
    position: relative;
    z-index: 99;
    margin: auto;
    box-shadow: 0 5px 30px rgb(43 135 218 / 30%);
    width: 550px;
    height: auto!important;
    background: var(--light);
    overflow: hidden;
    border-radius: 5px;
    color: initial;
    /* position: fixed; */
    /* top: 10%; */
    /* left: 500px; */
}

@keyframes bounce {
0% {
    transform: scale(0.9);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1.0);
}
}

#kb-row-selection {
    height: 100%;
    z-index: 10;
}

div#kb-selection-ask .kb-ask-head {
    width: 100%;
    background: var(--section-color);
    font-size: 22px;
    color: #fff;
    padding: 16px 24px;
    cursor: move;
    text-transform: capitalize;
}

/* row selection */

div#kb-element-group ul.kb-element-list {
    height: 400px!important;
    overflow-y: scroll;
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span {
    display: block;
    width: 100%;
    padding: 6px 0;
    height: auto;
    background: var(--kb-gray);
    text-align: center;
    color: #4c5866;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span i {
    color: var(--section-color);
    transform: translateY(2px);
    transition: transform .3s ease;
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span:hover {
    background: rgb(24 103 192 / 10%);
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span:hover i {
    transform: translateY(0px);
}


div#kb-element-group ul.kb-element-list, div#kb-row-selection ul.kb-row-list, .kb-img-thumbnail-group ul.kb-img-list {
    width: 100%;
    margin: 0;
    padding: 20px 6px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.kb-img-thumbnail-group ul.kb-img-list li {
    padding: 6px;
    display: inline-block;
}

.kb-img-thumbnail-group ul.kb-img-list li span {
    display: block;
    border: 1px solid #e2e2e2;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.kb-img-thumbnail-group ul.kb-img-list li img {
    display: flex;
    margin: auto;
    align-items: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type, div#kb-element-group ul.kb-element-list li.kb-element-box {
    width: 25%;
    padding: 6px;
    display: flex;
    cursor: pointer;
    transition: 0.2s ease;
}

div#kb-element-group ul.kb-element-list li.kb-element-box {
    flex-direction: column;
    padding: 10px;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type:hover, div#kb-element-group ul.kb-element-list li.kb-element-box:hover span {
    transform: scale(1.1);
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.kb-row-type-active span.block span {
    background-color: var(--row-color);
}  

div#kb-row-selection ul.kb-row-list span.block {
    width: 100%;
    padding: 2.5px;
}

div#kb-row-selection ul.kb-row-list span.block span{
    background-color: #e2e2e2;
    display: block;
    border-radius: 5px;
    height: 36px;
}


div#kb-row-selection ul.kb-row-list li.kb-row-type.row-1 span.block, div.kb-row div.kb-full-block{
    max-width: 100%;
    width: 100%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-1-2 span.block, div.kb-row div.kb-half-block{
    max-width: 50%;
    width: 50%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-1-3 span.block, div.kb-row div.kb-three-block{
    max-width: 33.3%;
    width: 33.3%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-1-4 span.block, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-25-75 span.block:first-child, div.kb-row div.kb-tf-sf-block:first-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-75-25 span.block:last-child, div.kb-row div.kb-sf-tf-block:last-child, div.kb-row div.kb-four-block{
    max-width: 25%;
    width: 25%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-1-5 span.block, div.kb-row div.kb-five-block, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-80 span.block:first-child, div.kb-row div.kb-t-e-block:first-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-80-20 span.block:last-child, div.kb-row div.kb-e-t-block:last-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-20-60 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-20-60 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-60-20 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-60-20 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-60-20-20 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-60-20-20 span.block:nth-child(3), div.kb-row div.kb-t-t-s-block:nth-child(1), div.kb-row div.kb-t-t-s-block:nth-child(2), div.kb-row div.kb-t-s-t-block:nth-child(1), div.kb-row div.kb-t-s-t-block:nth-child(3), div.kb-row div.kb-s-t-t-block:nth-child(2), div.kb-row div.kb-s-t-t-block:nth-child(3){
    max-width: 20%;
    width: 20%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-40-60 span.block:last-child, div.kb-row div.kb-f-s-block:last-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-60-40 span.block:first-child, div.kb-row div.kb-s-f-block:first-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-20-60 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-60-20 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-60-20-20 span.block:nth-child(1), div.kb-row div.kb-t-t-s-block:nth-child(3), div.kb-row div.kb-t-s-t-block:nth-child(2), div.kb-row div.kb-s-t-t-block:nth-child(1) {
    max-width: 60%;
    width: 60%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-1-6 span.block, div.kb-row div.kb-six-block{
    max-width: 16.6%;
    width: 16.6%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-25-75 span.block:last-child, div.kb-row div.kb-tf-sf-block:last-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-75-25 span.block:first-child, div.kb-row div.kb-sf-tf-block:first-child{
    max-width: 75%;
    width: 75%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-20-80 span.block:last-child, div.kb-row div.kb-t-e-block:last-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-80-20 span.block:first-child, div.kb-row div.kb-e-t-block:first-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-10-80 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-80-10 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-80-10-10 span.block:nth-child(1), div.kb-row div.kb-t-t-e-block:nth-child(3), div.kb-row div.kb-t-e-t-block:nth-child(2), div.kb-row div.kb-e-t-t-block:nth-child(1) {
    max-width: 80%;
    width: 80%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-90 span.block:first-child, div.kb-row div.kb-t-n-block:first-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-90-10 span.block:last-child, div.kb-row div.kb-n-t-block:last-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-10-80 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-10-80 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-80-10 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-80-10 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-80-10-10 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-80-10-10 span.block:nth-child(3), div.kb-row div.kb-t-t-e-block:nth-child(1), div.kb-row div.kb-t-t-e-block:nth-child(2), div.kb-row div.kb-t-e-t-block:nth-child(1), div.kb-row div.kb-t-e-t-block:nth-child(3), div.kb-row div.kb-e-t-t-block:nth-child(2), div.kb-row div.kb-e-t-t-block:nth-child(3) {
    max-width: 10%;
    width: 10%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-10-90 span.block:last-child, div.kb-row div.kb-t-n-block:last-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-90-10 span.block:first-child, div.kb-row div.kb-n-t-block:first-child {
    max-width: 90%;
    width: 90%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-15-15-70 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-15-70-15 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-70-15-15 span.block:nth-child(1), div.kb-row div.kb-ft-ft-s-block:nth-child(3), div.kb-row div.kb-ft-s-ft-block:nth-child(2), div.kb-row div.kb-s-ft-ft-block:nth-child(1) {
    max-width: 70%;
    width: 70%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-15-15-70 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-15-15-70 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-15-70-15 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-15-70-15 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-70-15-15 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-70-15-15 span.block:nth-child(3), div.kb-row div.kb-ft-ft-s-block:nth-child(1), div.kb-row div.kb-ft-ft-s-block:nth-child(2), div.kb-row div.kb-ft-s-ft-block:nth-child(1), div.kb-row div.kb-ft-s-ft-block:nth-child(3), div.kb-row div.kb-s-ft-ft-block:nth-child(2), div.kb-row div.kb-s-ft-ft-block:nth-child(3) {
    max-width: 15%;
    width: 15%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-60-40 span.block:last-child, div.kb-row div.kb-s-f-block:last-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-40-60 span.block:first-child, div.kb-row div.kb-f-s-block:first-child, div#kb-row-selection ul.kb-row-list li.kb-row-type.row-30-30-40 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-30-40-30 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-40-30-30 span.block:nth-child(1), div.kb-row div.kb-t-t-f-block:nth-child(3), div.kb-row div.kb-t-f-t-block:nth-child(2), div.kb-row div.kb-f-t-t-block:nth-child(1) {
    max-width: 40%;
    width: 40%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.row-30-30-40 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-30-30-40 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-30-40-30 span.block:nth-child(1), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-30-40-30 span.block:nth-child(3), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-40-30-30 span.block:nth-child(2), div#kb-row-selection ul.kb-row-list li.kb-row-type.row-40-30-30 span.block:nth-child(3), div.kb-row div.kb-t-t-f-block:nth-child(1), div.kb-row div.kb-t-t-f-block:nth-child(2), div.kb-row div.kb-t-f-t-block:nth-child(1), div.kb-row div.kb-t-f-t-block:nth-child(3), div.kb-row div.kb-f-t-t-block:nth-child(2), div.kb-row div.kb-f-t-t-block:nth-child(3) {
    max-width: 30%;
    width: 30%;
}
/* row selection */


/* selection */

/* section and row */

div.kb-block-container {
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
}

div.kb-block-container:before {
    content: '';
    border: 3px solid transparent;
    position: absolute;
    transition: 0.2s ease-in-out;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.kb-section.kb-block-container {
    padding: 60px 0px;
}

div.kb-demo-styling {
    padding: var(--padding)!important;
    margin: var(--margin)!important;
    border-width: var(--border-width)!important;
    border-style: var(--border-style)!important;
    border-color: var(--border-color)!important;
    border-radius: var(--border-radius)!important;  
    background-color: var(--background-color)!important;  
    background-image: var(--background-image)!important;  
    background-size: var(--background-size)!important;  
    background-position: var(--background-position)!important;  
    background-repeat: var(--background-repeat)!important;  
    width: var(--width)!important;
    height: var(--height)!important;
}

div.kb-section:hover:before {
    border-color: var(--section-color);
    background-color: rgb(24 103 192 / 10%);
}


div.kb-section div.kb-row:hover:before {
    border-color: var(--row-color);
    background-color: rgb(27 197 189 / 10%);
}

div.kb-element.kb-border:before, div.kb-element.kb-border-select:before {
    border-color: var(--primary-color);
    background-color: rgb(216 200 152 / 10%);
}

div.kb-row div.kb-element {
    width: 100%;
}

div.kb-row div.kb-element:hover:before {
    border-color: var(--primary-color);
}

div.kb-row.kb-block-container {
    width: 80%;
    /* max-width: 1080px; */
    padding: 30px 0px;
    height: 100%;
    margin: auto;
}

/* div.kb-row.kb-block-container:not(:last-child) {
    margin-bottom: 30px;
} */

/* div.kb-row div.kb-element:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 120px;
    top: -60px;
    top: 0;
} */

div.kb-element:not(:last-child):after {
    border-right: 1px solid #e2e2e2;
}

div.kb-row div.kb-inner-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

/* section and row */

/* selection module */

.kb-tab-head .kb-toggleBtn{
    margin-left: 10px;
    margin-bottom: 0px;
}

div.kb-module-setting span {
    padding: 6px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    display: inline-block;
}

div.kb-module-setting span:hover {
    color: #e2e2e2;
}

div.kb-module-setting i {
    font-size: 14px;
}

div.kb-module-setting span:first-child {
    cursor: move;
}

div.kb-module-setting {
    color: var(--light);
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 8px;
    border-radius: 3px 0px 3px 0px;
    animation: show 0.2s linear;
    z-index: 9;
}

@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.kb-inner-tab-component.kb-color-picker .vc-material {
    width: 30%;
    height: auto;
    padding: 10px 16px 5px;
    margin-right: 10px;
    box-shadow: 0 5px 30px rgb(43 135 218 / 30%);
}

.kb-inner-tab-component.kb-color-picker .vc-slider {
    width: 100%;
    margin: 10px 0px;
}

.kb-gradient-color-selection .kb-color-picker .vc-slider {
    margin: 10px 0px;
}

.kb-inner-tab-component.kb-color-picker {
    padding: 20px 0px;
}

.kb-inner-tab-component.kb-color-picker .kb-tab-content{
    display: flex;
    position: relative;
}

.kb-gradient-color-selection {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.kb-gradient-color-selection .kb-gradient-selected-color{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.kb-gradient-color-selection .kb-gradient-selected-color .kb-color-demo {
margin-left: 0px;
margin-right: 20px;
}

.kb-gradient-color-selection .kb-gradient-selected-color .vc-material {
    width: 60%;
    height: auto;
    padding: 10px 16px;
}


.kb-gradient-color-selection .kb-color-picker {
    height: auto;
    background: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 12%), 0 2px 5px rgb(0 0 0 / 16%);
    padding: 20px;
    position: absolute;
    z-index: 9;
    top: 80px;
    left: 5%;
    animation: show 0.2s linear;
}

div.kb-tabs-component .kb-gradient-color-selection .kb-color-picker .kb-slider-color-selection {
    width: 100%;
}

div.kb-tabs-component .kb-gradient-color-selection .kb-color-picker .kb-color-preset {
    margin-top: 10px;
}

.sel-tip-icon {
    width: 0px!important;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    float: none!important;
    top: -8px;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.sel-tip-icon.start {
    left: calc(50% - 214px);
}

.sel-tip-icon.end {
    left: calc(50% + 35px);
}

span.kb-reverse-icon {
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

span.kb-reverse-icon i{
    color: #e2e2e2;
    transition: 0.2s ease-in-out;
}

span.kb-reverse-icon.active i {
    color: #1867c0;
}

.kb-selectedDummyImg {
    height: 220px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    margin-top: 15px;
    position: relative;
    cursor: pointer;
    background-image: var(--background-image);
}

.kb-selectedDummyImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.kb-selectedDummyImg .kb-ispan-add {
    background: #bebebe;
}

.kb-noImgSel:after {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(http://127.0.0.1:8000/images/builder/upload_images/no-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;   
}
/* selection module */

/* add new button */

span.kb-ispan-add.bottom-add-btn {
    top: 100%!important;
}

div.kb-section>.kb-module-setting, div.kb-section span.kb-ispan-add.add-section {
    background-color: var(--section-color);
}

div.kb-section span.kb-ispan-add.add-row, div.kb-section div.kb-row>.kb-module-setting {
    background-color: var(--row-color);
}

div.kb-row span.kb-ispan-add.add-element, div.kb-section div.kb-row div.kb-element div.kb-module-setting {
    background-color: var(--primary-color);
}

div.kb-section div.kb-row>.kb-module-setting { 
    left: auto!important;
    right: 0px;
    border-radius: 0px 3px 0px 3px;
}

span.kb-ispan-add {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    margin: auto;
    z-index: 9;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

span.kb-ispan-add:hover {
    width: 34px;
    height: 34px;
}

span.kb-ispan-add i{
    color: var(--light);
    font-size: 12px;
}

/* add new button */

/* tabs */

.side-arrow {
    left: -10px;
    top: 2px;
    position: relative;
    cursor: pointer;
}

div.kb-tabs-component ul.tabs-component-tabs {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: var(--section-color);
    border: 0;
    align-items: stretch;
    display: flex;
    border-top: 1px solid rgb(0 0 0 / 10%);
}

div.kb-tabs-component ul.tabs-component-tabs li.tabs-component-tab.is-active a, div.kb-tabs-component ul.tabs-component-tabs li.tabs-component-tab:hover a{
    z-index: 2;
    transform: translateY(0);
    background-color: rgb(0 0 0 / 10%);
}

div.kb-tabs-component ul.tabs-component-tabs li.tabs-component-tab a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100px;
    justify-content: center;
    min-height: 48px;
    transition: background .2s ease, transform .2s ease, opacity .2s ease;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translateY(2px);
    text-decoration: none;
}

div.kb-tabs-component {
    height: auto;
}

div.kb-tabs-component .tabs-component-panels {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    overflow-y: auto;
    height: 400px;
}


div.kb-tabs-component .kb-tab-head {
    font-weight: 500;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

div.kb-tabs-component .kb-tab-content {
    min-height: 70px;
    padding-bottom: 20px;
}

div.kb-tabs-component .kb-tab-content>span {
    display: block;
    float: left;
    width: 20%;
}

div.kb-tabs-component .kb-tab-content span.kb-linkBtw {
    width: 28px!important;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--kb-gray);
    height: 32px;
}

div.kb-tabs-component .kb-tab-content span.kb-linkBtw svg.deactive {
    fill: #e2e2e2;
}

div.kb-tabs-component .kb-tab-content span.kb-linkBtw svg {
    width: 100%;
    fill: #1867c0;
    transition: 0.2s ease-in-out;
}

div.kb-tabs-component .kb-tab-content span input, div.kb-dropdown-selected-item, div.kb-align-btn-group span.kb-align-btn {
    color: #4c5866;
    background: var(--kb-gray);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 8px 10px;
    text-align: center;
}

div.kb-tabs-component .kb-tab-content span label {
    position: relative;
    display: flex;
    justify-content: center;
}

div.kb-tabs-component .kb-inner-tab-component {
    display: block;
    height: 100%;
    min-height: 100px;
}

div.kb-tabs-component .kb-inner-tab-component:not(:last-child) {
    margin-bottom: 10px;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(226 226 226 / 50%);
}

div.kb-tabs-component .kb-inner-tab-component .kb-border-radius-demo {
    border: 4px var(--border-style) var(--color);
    width: 60%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: var(--border-radius);
}

div.kb-tabs-component .kb-inner-tab-component .kb-color-demo, div.kb-tabs-component .kb-inner-tab-component .kb-no-color {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    overflow: hidden;
}

div.kb-tabs-component .kb-inner-tab-component .kb-no-color {
    background-image: url(/images/builder/transparent.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    /* transform: scale(1.2) rotate(45deg); */
}

div.kb-tabs-component .kb-inner-tab-component .kb-no-color .kb-color-demo {
    background-color: var(--color);
    margin: 0px!important;
}

div.kb-tabs-component .kb-color-picker .kb-color-preset>span {
    width: 20%;
    height: 16px;
    float: left;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
    box-shadow: 0 5px 30px rgb(43 135 218 / 30%);
    transition: 0.2s ease-in-out;
}

div.kb-tabs-component .kb-color-picker .kb-color-preset>span:not(:nth-child(5n+0)) {
    border-right: 1px solid #fff;
}
div.vc-slider-swatches {
    margin-top: 13px;
}

div.vc-slider-swatch-picker {
    transition: 0.2s ease-in-out;
    height: 16px;
}
div.kb-tabs-component .kb-color-picker .kb-color-preset>span.kb-active-color, .vc-slider-swatch:nth-child(n) .vc-slider-swatch-picker.vc-slider-swatch-picker--active {
    transform: scaleY(1.3)!important;
    border-radius: 3.6px/2px;
}

div.kb-tabs-component .kb-color-picker .kb-color-preset {
    position: relative;
    right: 0px;
    top: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

div.kb-tabs-component .kb-color-picker .kb-slider-color-selection {
    position: relative;
    width: 70%;
}

div.kb-tabs-component .kb-color-picker .kb-tab-content{
    margin-top: 20px;
}

div.kb-tabs-component .kb-inner-tab-component .kb-tab-border-radius {
    display: flex;
}

div.kb-tabs-component .kb-inner-tab-component .kb-tab-border-radius span:last-child {
    margin-left: auto;
}

div.kb-tabs-component .kb-inner-tab-component .kb-tab-border-radius span {
    max-width: 70px;
}

div.kb-dropdown {
    position: relative;
}

div.kb-dropdown-selected-item .kb-side-dropdown-arrow {
    float: right;
    margin: auto;
    margin-top: auto;
    position: absolute;
    right: 15px;
    top: 30%;
}

div.kb-dropdown-selected-item, ul.kb-dropdown-items {
    padding: 8px 18px!important;
    cursor: pointer;
    text-transform: capitalize;
    text-align: left;
}

ul.kb-dropdown-items {
    list-style: none;
    position: absolute;
    box-shadow: 0 5px 30px rgb(43 135 218 / 30%);
    border-radius: 5px;
    padding: 0px;
    width: 100%;
    color: #5c5c5c;
    animation: dropMenuEffect 0.1s ease-out;
    z-index: 9;
    background-color: #fff;
    top: 0px;
}

@keyframes dropMenuEffect {
    0% {
        top: 40px;
        opacity: 0.5;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

ul.kb-dropdown-items li {
    padding: 5px 10px;
    line-height: 20px;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    animation: dropMenuItemsEffect 0.2s ease-out;
    margin-bottom: 3px;
}

@keyframes dropMenuItemsEffect {
    0% {
        opacity: 0.5;
        line-height: 30px;
    }
    100% {
        opacity: 1;
        line-height: 20px;
    }
}

ul.kb-dropdown-items li:hover {
    background-color: var(--section-color);
    color: #fff;
}

li.kb-active-dropdown-item {
    background-color: var(--kb-gray);
}

div.kb-rangeInp {
    display: flex;
    align-items: center;
}

div.kb-rangeInp .range-slider.slider {
    width: 100%;
}

div.kb-opacity-slider .range-slider.slider {
    padding: 0px;
}

div.kb-rangeInp.kb-opacity-slider .range-slider-inner {
    height: 12px;
    background-image: url(/images/builder/transparent-len.jpg);
    background-position: center;
}

div.kb-rangeInp.kb-opacity-slider span.range-slider-fill {
    background: none;
}

div.kb-rangeInp.kb-opacity-slider span.range-slider-rail {
    height: 12px;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent 0%, var(--color) 100%);
}

div.kb-rangeInp.kb-opacity-slider span.range-slider-knob {
    width: 14px;
    height: 14px;
    transform: translate(-5px, -8px);
    border-radius: 6px;
    background-color: rgb(248, 248, 248);
    box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px;
}

span.range-slider-fill {
    background-color: #1867c0;
}

/* tabs */

/* scrolling */

.forScroll *::-webkit-scrollbar {
    width: 0px;
    transition: 2s ease-in-out;
  }

  .forScroll:hover *::-webkit-scrollbar {
      width: 10px;
  }
  
  /* Track */
  .forScroll *::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}
   
  /* Handle */
  .forScroll *::-webkit-scrollbar-thumb {
    background-color: var(--section-color); 
  }
  
  /* Handle on hover */
  /* .forScroll *::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  } */

  /* scrolling */

  /* button styling */

  .kb-btn-success {
    background-color: var(--kb-success)!important;
    border-color: var(--kb-success)!important;
    }

    .kb-btn-danger {
        background-color: var(--kb-info)!important;
        border-color: var(--kb-info)!important;
    }

    .kb-btn-success:hover {
        background-color: #1bb5ad!important;
        border-color: #1bb5ad!important;
    }

    .kb-btn-danger:hover {
        background-color: #1f97aa!important;
        border-color: #1f97aa!important;
    }

  .kb-btn {
    padding: 12px 10px;
    font-weight: 600;
    outline: none;
    font-size: 15px;
    color: #fff;
    border: none;
    transition: 0.2s ease-in-out;
  }

  #kb-img-group button.kb-btn.kb-btn-success {
    border-radius: 5px;
    margin-left: auto;
    float: right;
    padding: 10px 14px;
    position: relative;
    right: 50px;
}

.kb-cut {
    top: 10px;
    font-size: 16px;
    position: absolute;
    right: 15px;
    color: var(--kb-danger);
    cursor: pointer;
}

  .kb-btn i {
      margin-right: 5px;
      font-size: 90%;
  }

  .kb-btn span {
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translateY(2px);
    transition: background .2s ease,transform .2s ease,opacity .15s ease;
  }

  .kb-btn:hover {
    background-color: rgb(0 0 0 / 10%);
  }

  
  .kb-btn:hover span {
    transform: translateY(0px);
  }

  div.kb-selection-btn-group .kb-btn.kb-selection-btn {
    width: 50%;
}

.kb-pick-a-color {
    margin: auto;
}

/* button styling */

/* text editor */

span#mceu_46 {
    display: none!important;
}

/* elements */

.kb-text-element {
    overflow-wrap: break-word;
    font-size: 18px;
}

kb-img-element {
    max-width: 100%;
    width: 100%;
}

.kb-img-element img.dummyImg {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    opacity: 0.5;
}
