::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6,
::ng-deep p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0!important;
}

#kb-builder-topbar.kb-fixed {
    position: fixed;
}

#kb-builder-topbar {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px; 
    transition: 0.2s ease-in-out;
}

#kb-builder-topbar.loaderShadow {
    box-shadow: rgb(0 0 0 / 25%) 0px 16px 25px 10px;
}

div#kb-minimize-setting {
    position: fixed;
    background-color: var(--section-color);
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 3px;
    font-weight: 500;
    z-index: 999999;
    bottom: 0;
    right: 0;
}

div#kb-minimize-setting .kb-minimize-title {
    padding: 0 16px;
    cursor: move;
    border-right: 1px solid;
}

.cdk-drop-list-dragging, .cdk-drop-list-receiving {
    z-index: 999!important;
}

div#kb-layout-saveopt {
    padding: 12px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--kb-gray);
    position: sticky;
    top: 25px;
    left: 0;
    z-index: 99;
}

div#kb-layout-saveopt>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.kb-layout-title input, .kb-layout-title:hover span {
    display: none;
}

.kb-layout-title:hover input {
    display: block;
    border-bottom: 1px solid rgb(34 38 42 / 10%);
}

.kb-layout-title, .kb-layout-title input {
    background: transparent;
    border: 0;
    height: 100%;
    width: 80%;
    font-size: 26px;
}

#kb-page-container.hovernone{
    pointer-events: none;
}

#kb-page-container.hovernone .kb-d-desk-none, #kb-page-container.hovernone .kb-ispan-add {
    display: none;
}

#kb-main-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    transition: width 0.3s ease-out;
}

#kb-block-container {
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
}

app-bulder-wireframe {
    z-index: 999;
}

#kb-main-container.kb-border {
    border: 5px solid var(--kb-gray);
    border-width: 0px 5px;
    box-shadow: 0 0 30px var(--kb-gray);
}

.rotate-90 {
    transform: rotate(-90deg);
}

div#kb-page-container {
    height: 100%;
}

textarea {
    min-height: 80px;
    min-width: 100%;
}

.kb-block-disabled:before {
    visibility: hidden;
}

.kb-d-none {
    display: none !important;
}

.kb-block-none {
    opacity: 0.6 !important;
    z-index: 9 !important;
}

span.kb-block-hidden-icon {
    position: absolute;
    z-index: 9;
    opacity: 1;
    color: #000;
    right: 20px;
    top: 10px;
    font-size: 16px;
}

/* column structure */
.kb-column-wrap {
    display: flex;
    justify-content: center;
    flex-direction: unset;
    flex-wrap: unset;
    width: 100%;
    height: 100%;
    min-height: 30px;
}

.kb-column {
    display: inline-block;
    padding: 0px 20px;
}

div.kb-section div.kb-row:hover div.kb-column.kb-block-container:not(:last-child)::after {
    border-right: 1px solid rgb(216 200 152 / 50%);
}

div.kb-column.kb-block-container:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    border-width: 0px;
}

.kb-cs-contain,
.kb-cs-prev {
    width: 90%;
}

.kb-cs-contain {
    margin: auto;
    margin-top: 14px;
}

.kb-cs-prev {
    display: flex;
    margin: 10px auto;
}

.kb-cs-prev>div {
    background: var(--row-color);
    height: 30px;
    margin: 0px 3px;
    border-radius: 5px;
    animation: bounce 0.2s ease;
}

.kb-cs-contain .kb-cs {
    width: 100%;
    height: 36px;
    background-color: var(--kb-gray);
    border-radius: 5px;
    margin: 5px 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    color: var(--kb-text-color);
    position: relative;
}

span.kb-setting-icon {
    position: absolute;
    right: 0;
    padding: 0 5px;
}

span.kb-setting-icon.kb-handle-column {
    cursor: n-resize;
}

span.kb-setting-icon:first-child {
    left: 0;
    right: auto;
}

.kb-cs-contain .kb-cs i {
    padding: 8px 6px;
}

span.kb-block-name {
    display: block;
    width: 57%;
    text-align: center;
    position: absolute;
    left: 50px;
}

span.kb-chngName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

input.kb-chngname-inp {
    background: transparent;
    border: none;
    width: 80%;
}

/* column structure */


/* selection */

.kb-demo-text-shadow {
    margin-right: 20px;
    font-size: 26px;
    font-weight: 900;
    text-shadow: 5px 5px 5px rgb(0 50 82 / 40%);
}

.kb-align-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.kb-align-btn-group span.kb-align-btn {
    display: inline-block;
    width: 20% !important;
    cursor: pointer;
    /* border: 2px dashed transparent!important; */
    transition: 0.2s ease-in-out;
    padding: 8px !important;
    text-align: center;
}

.kb-align-btn.demo-box-shadow:first-child {
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 40%);
}

.kb-align-btn.demo-box-shadow:last-child {
    box-shadow: inset 0 0 10px 1px rgb(0 0 0 / 40%);
}

.kb-align-btn.demo-box-shadow:first-child:hover, .demo-box-shadow.kb-active-brd:first-child {
    box-shadow: 0 0 10px 1px var(--section-color);
}

.kb-align-btn.demo-box-shadow:last-child:hover, .demo-box-shadow.kb-active-brd:last-child {
    box-shadow: inset 0 0 10px 1px var(--section-color);
}

span.kb-wh-btn-group {
    justify-content: flex-start !important;
    margin-right: 5px;
}

span.kb-wh-btn-group .kb-align-btn {
    margin: 0px !important;
    padding: 0px!important;
    width: 15%!important;
}

span.kb-align-btn.icon-border:first-child i:nth-child(2) {
    border-left: 0px;
    border-right: 2px dashed;
}

span.kb-wh-btn-group span.kb-align-btn {
    margin: 0px;
}

span.kb-align-btn i {
    color: var(--kb-dim-black);
    transition: 0.2s ease-in-out;
    padding: 3px;
}

span.kb-align-btn.icon-border:first-child i {
    border-left: 2px dashed;
}

span.kb-align-btn.icon-border:not(:first-child) i:first-child {
    border-right: 2px dashed;
}

.kb-align-btn-group span.kb-align-btn:hover i,
.kb-align-btn-group span.kb-align-btn:hover,
.kb-active-brd i, .kb-active-brd {
    color: var(--section-color) !important;
}

.kb-align-btn-group span.kb-align-btn.icon-border:hover i,
.kb-active-brd i {
    padding: 3px 5px !important;
}

div.kb-align-btn-group span.kb-align-btn:hover,
div.kb-align-btn-group .kb-active-brd {
    background: rgb(24 103 192 / 10%) !important;
}

.kb-align-btn-group span.kb-align-btn:not(:last-child) {
    margin-right: 20px;
}

.kb-drag-container {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 40px;
}

div#kb-selection-ask span.kb-selection-top-actions {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--kb-light);
    cursor: pointer;
    z-index: 9;
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
}

div#kb-selection-ask span.kb-selection-top-actions button.mat-button {
    padding: 0px 12px;
    min-width: auto;
}

div#kb-selection-ask {
    position: relative;
    z-index: 99;
    margin: auto;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    width: 500px;
    height: auto;
    background: var(--kb-light);
    border-radius: 5px;
    color: initial;
}

#kb-row-selection {
    height: 100%;
    z-index: 10;
}

div#kb-selection-ask .kb-ask-head {
    width: 100%;
    background: var(--section-color);
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    color: #fff;
    padding: 16px 32px;
    cursor: move;
    text-transform: capitalize;
    position: relative;
}

/* row selection */

div#kb-element-group .kb-element-inner-group {
    height: 100%;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span {
    display: block;
    width: 100%;
    padding: 6px 0;
    height: auto;
    background: var(--kb-gray);
    text-align: center;
    color: var(--kb-text-color);
    border-radius: 5px;
    transition: 0.2s ease;
    font-weight: 500;
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span i {
    color: var(--section-color);
    transform: translateY(2px);
    transition: transform .3s ease;
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span:hover {
    background: rgb(24 103 192 / 10%);
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span:hover i {
    transform: translateY(0px);
}

div#kb-element-group ul.kb-element-list,
div#kb-row-selection ul.kb-row-list,
.kb-img-thumbnail-group ul.kb-img-list {
    width: 100%;
    margin: 0;
    padding: 10px 6px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.imgSettingIcons {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 2px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    color: var(--kb-light);
    background-color: var(--section-color);
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    opacity: 0;
    transition: 0.2s ease;
    cursor: pointer;
}

.imgSettingIcons i {
    padding: 6px;
}

.imgSettingIcons:hover {
    transform: scale(1.1);
}

.kb-img-thumbnail-group ul.kb-img-list li:hover .imgSettingIcons {
    opacity: 1;
}

.kb-img-thumbnail-group ul.kb-img-list li {
    padding: 6px;
    display: inline-block;
    position: relative;
}

.kb-img-thumbnail-group ul.kb-img-list li span {
    display: block;
    border: 1px solid var(--kb-gray);
    border-radius: 3px;
    width: 132.5px;
    height: 132.5px;
    cursor: pointer;
    transition: 0.2s ease;
    opacity: 1;
}

.kb-img-thumbnail-group ul.kb-img-list li img {
    display: flex;
    margin: auto;
    align-items: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type,
div#kb-element-group ul.kb-element-list li.kb-element-box {
    width: 25%;
    padding: 6px;
    display: flex;
    cursor: pointer;
    transition: 0.2s ease;
}

div#kb-element-group ul.kb-element-list li.kb-element-box {
    flex-direction: column;
    padding: 10px;
}

div#kb-element-group ul.kb-element-list li.kb-element-box>span div {
    font-size: 90%;
}

div#kb-row-selection ul.kb-row-list li.kb-row-type:hover,
div#kb-element-group ul.kb-element-list li.kb-element-box span:hover {
    transform: scale(1.1);
}

div#kb-row-selection ul.kb-row-list li.kb-row-type.kb-row-type-active span.block span {
    background-color: var(--row-color);
}

div#kb-row-selection ul.kb-row-list span.block {
    width: 100%;
    padding: 2.5px;
}

div#kb-row-selection ul.kb-row-list span.block span {
    background-color: #e2e2e2;
    display: block;
    border-radius: 5px;
    height: 36px;
}

/* row selection */


/* selection */

/* section and row */

div.kb-block-container {
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
}

div.kb-block-container:before {
    content: '';
    border: 3px solid transparent;
    position: absolute;
    transition: 0.2s ease;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.kb-section.kb-block-container {
    padding: 60px 0px;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background: transparent;
}

div.kb-section:hover:before {
    border-color: var(--section-color);
    background-color: rgb(24 103 192 / 10%);
}


div.kb-section div.kb-row:hover:before {
    border-color: var(--row-color);
    background-color: rgb(27 197 189 / 10%);
}

div.kb-element.kb-border:before,
div.kb-element.kb-border-select:before {
    border-color: var(--primary-color);
    background-color: rgb(216 200 152 / 10%);
}

div.kb-element-content *:not(.kb-content-item) {
    margin: 0!important;
}

div.kb-element-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

div.kb-element-content>div {
    width: 100%;
}

div.kb-element-content>img {
    max-width: 100%;
}

div.kb-row div.kb-element {
    width: 100%;
}

div.kb-row div.kb-element>div {
    max-width: 100%;
    /* width: 100%; */
}

div.kb-row div.kb-element:hover:before {
    border-color: var(--primary-color);
}

div.kb-row.kb-block-container {
    width: 80%;
    /* max-width: 1080px; */
    padding: 30px 0px;
    height: 100%;
    margin: auto;
}

/* div.kb-row.kb-block-container:not(:last-child) {
    margin-bottom: 30px;
} */

/* div.kb-row div.kb-element:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 120px;
    top: -60px;
    top: 0;
} */

div.kb-row div.kb-inner-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

/* section and row */

/* selection module */

.kb-tab-head .kb-toggleBtn {
    margin-left: 10px;
    margin-bottom: 0px;
}

.kb-tab-head strong {
    color: var(--section-color);
}

div.kb-module-setting span {
    padding: 6px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    display: inline-block;
}

div.kb-module-setting span:hover {
    color: var(--kb-gray);
}

div.kb-module-setting i {
    font-size: 14px;
}

div.kb-module-setting span.kb-handle-block {
    cursor: move;
}

div.kb-module-setting {
    color: var(--kb-light);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 8px;
    border-radius: 3px 0px 3px 0px;
    animation: show 0.2s ease;
    z-index: 999;
    width: auto!important;
}

.kb-gradient-color-selection {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.kb-gradient-color-selection .kb-gradient-selected-color,
.kb-selected-color {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
    height: 100%;
}

.kb-gradient-color-selection .kb-gradient-selected-color .kb-color-demo {
    margin-left: 0px;
    margin-right: 20px;
}

.kb-gradient-color-selection .kb-gradient-selected-color .vc-material {
    width: 60%;
    height: auto;
    padding: 10px 16px;
}

span.kb-reverse-icon {
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

span.kb-reverse-icon i {
    color: var(--kb-gray);
    transition: 0.2s ease-in-out;
}

span.kb-reverse-icon.active i {
    color: #1867c0;
}

.kb-dummy-bg {
    height: 220px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--kb-gray);
    margin: 15px 0px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kb-dummy-bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.kb-dummy-bg .kb-ispan-add {
    background: rgb(0 0 0 / 30%);
    width: 32px;
    height: 32px;
}

.kb-transparent-bg .kb-dummy-bg .kb-ispan-add {
    background: transparent;
}

.kb-noImgSel:after {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(../../assets/images/builder/no-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

/* selection module */

/* add new button */

span.kb-ispan-add.bottom-add-btn {
    top: 100% !important;
}

div.kb-section>.kb-module-setting,
div.kb-section span.kb-ispan-add.add-section {
    background-color: var(--section-color);
}

div.kb-section span.kb-ispan-add.add-row,
div.kb-section div.kb-row>.kb-module-setting {
    background-color: var(--row-color);
}

div.kb-row span.kb-ispan-add.add-element,
div.kb-section div.kb-row div.kb-element div.kb-module-setting {
    background-color: var(--primary-color);
}

div.kb-section div.kb-row>.kb-module-setting {
    left: 0px;
    right: auto!important;
    border-radius: 0px 3px 0px 3px;
}

span.kb-ispan-add {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: 0.2s ease;
    margin: auto;
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

span.kb-ispan-add:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

span.kb-ispan-add i {
    color: var(--kb-light);
    font-size: 12px;
}

/* add new button */

/* tabs */

.side-arrow {
    background-color: var(--section-color);
    height: 100%;
    width: auto;
    z-index: 999;
    padding: 0;
    border-radius: 100px;
    font-size: 70%;
    left: -32px;
    top: 0%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    animation: bounce 0.2s ease;
}

.kb-tabs-component {
    height: auto;
}

.kb-tabs-component .kb-tab-head {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    font-size: 14px;
}

.kb-tab-content.kb-resp-ask>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 8px;
}

.kb-tabs-component .kb-tab-content {
    min-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.kb-tabs-component .kb-tab-content>span {
    display: block;
    float: left;
    width: 20%;
}

.kb-tabs-component .kb-tab-content span.kb-linkBtw {
    width: 28px !important;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: block;
    color: var(--kb-gray);
    height: auto;
    position: relative;
    top: -8px;
}

.kb-tabs-component .kb-tab-content span.kb-linkBtw svg.deactive {
    fill: var(--kb-gray);
    transform: rotate(45deg);
}

.kb-tabs-component .kb-tab-content span.kb-linkBtw svg {
    width: 100%;
    fill: #1867c0;
    transition: 0.2s ease-in-out;
}

.kb-inp-left input, .kb-inp-left textarea {
    text-align: left!important;
}

.kb-tabs-component .kb-tab-content input,
.kb-tabs-component .kb-tab-content textarea,
div.kb-dropdown-selected-item,
div.kb-align-btn-group span.kb-align-btn,
.kb-img-inp-group input {
    color: var(--kb-text-color);
    background: var(--kb-gray);
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 8px 10px;
    text-align: center;
    height: 100%;
}

.kb-tabs-component .kb-tab-content input,
.kb-tabs-component .kb-tab-content textarea {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid var(--kb-dim-black);
    transition: all 0.1s ease-out;
}

.kb-tabs-component .kb-tab-content input:hover,
.kb-tabs-component .kb-tab-content textarea:hover {
    border-bottom-color: var(--section-color);
}

.kb-tabs-component .kb-tab-content textarea {
    text-align: left!important;
}

.kb-tab-content.kb-tab-border-radius-group {
    flex-direction: column !important;
}

.kb-tabs-component .kb-tab-content span label {
    position: relative;
    display: flex;
    justify-content: center;
}

.kb-tabs-component .kb-inner-tab-component {
    display: block;
    height: auto;
    min-height: 50px;
    padding: 14px 2px;
    border-bottom: 1px solid rgb(226 226 226 / 50%);
}

.kb-tabs-component .kb-inner-tab-component .kb-tab-border-radius {
    width: 100%;
    display: flex;
}

.kb-tabs-component .kb-inner-tab-component .kb-border-radius-demo {
    border-width: 5px;
    width: 60%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kb-tabs-component .kb-inner-tab-component .kb-border-radius-demo span.kb-linkBtw {
    top: 0 !important;
}

.kb-tabs-component .kb-inner-tab-component .kb-transparent-bg {
    background-image: url(../../assets/images/builder/transparent.jpg);
    background-size: auto;
    background-repeat: repeat;
}

.kb-tabs-component .kb-inner-tab-component .kb-tab-border-radius {
    display: flex;
}

.kb-tabs-component .kb-inner-tab-component .kb-tab-border-radius span:last-child {
    margin-left: auto;
}

.kb-tabs-component .kb-inner-tab-component .kb-tab-border-radius span {
    max-width: 70px;
}

div.kb-rangeInp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* tabs */

/* button styling */

.kb-btn-primary {
    color: #fff !important;
    background-color: var(--kb-success) !important;
    border-color: var(--kb-success) !important;
}

.kb-btn-secondry {
    color: #fff !important;
    background-color: var(--kb-info) !important;
    border-color: var(--kb-info) !important;
}

.kb-btn-primary:hover {
    color: #fff !important;
    background-color: #1bb5ad !important;
    border-color: #1bb5ad !important;
}

.kb-btn-secondry:hover {
    color: #fff !important;
    background-color: #1f97aa !important;
    border-color: #1f97aa !important;
}

.kb-btn {
    padding: 6px 14px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    border: none;
}

.kb-btn, .kb-btn span {
    transition: all 0.1s ease-in-out;
}

.kb-default-btn {
    padding: 4px 16px;
    font-weight: 600;
    outline: none;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.2s ease-in-out;
}

.kb-default-btn div {
    font-family: inherit;
}

.kb-default-btn .subtext {
    font-size: 80%;
}

.kb-cut {
    top: 0px;
    font-size: 18px;
    position: absolute;
    right: 0px;
    color: var(--kb-danger);
    cursor: pointer;
    padding: 10px 20px;
}

.kb-btn i {
    margin-right: 5px;
    font-size: 90%;
}

.kb-btn span {
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: center;
}

.kb-btn:hover {
    background-color: rgb(0 0 0 / 10%);
}


.kb-btn:hover span {
    transform: translateY(-1px);
}

.kb-img-btn-group {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.kb-img-btn-group img {
    display: flex;
    justify-content: center;
    margin: auto;
}

.kb-img-thumbnail-group ul.kb-img-list li:hover span {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transform: scale(1.1);
}

div.kb-selection-btn-group {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

div.kb-selection-btn-group .kb-btn.kb-selection-btn {
    width: 50%;
    border-radius: 0;
}

.kb-pick-a-color {
    margin: auto;
}

/* button styling */

/* text editor */

span#mceu_46 {
    display: none !important;
}

/* elements */

ngx-colors ::ng-deep .app-color-picker .preview .circle {
    height: 28px !important;
    width: 28px !important;
    transition: transform .1s ease;
}

ngx-colors ::ng-deep .app-color-picker .preview .circle:hover {
    transform: scale(1.2);
}

.fa-spin {
    -webkit-animation-duration: 0.2s !important;
    animation-duration: 0.2s !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
/* input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
} */

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* responsivness */

.kb-resp-view div.kb-column-wrap {
    flex-direction: column;
}

.kb-resp-view div.kb-row .kb-column.kb-block-container {
    width: 100%;
    max-width: 100%;
}

.kb-resp-view div.kb-section.kb-block-container {
    padding: 30px 0px;
}

.kb-resp-view div.kb-row.kb-block-container {
    width: 100%;
    padding: 20px 0px;
}

.kb-resp-view div.kb-section div.kb-row:hover div.kb-column.kb-block-container:not(:last-child)::after {
    border-width: 0 !important;
}

div.kb-section div.kb-row:hover .kb-column-wrap.flexColumnRev div.kb-column.kb-block-container:not(:last-child)::after {
    border-right: 0px solid;
    border-left: 1px solid rgb(216 200 152 / 50%);
}

ul.kb-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

ul.kb-menu a, ul.kb-menu li {
    font-family: inherit;
    font-weight: inherit;
    color: inherit
}

/* loader */
#loader .loadErrMsg {
    position: absolute;
    width: 300px;
    bottom: -130px;
    left: -60px;
    color: #fff;
    font-size: 16px;
}

#loader {
    animation: loader 5s linear infinite;
    position: fixed;
    top: calc(35% - 20px);
    left: calc(50% - 20px);
    z-index: 9999;
  }
  @keyframes loader {
        0% {left: 45%;}
        50% { left: 55%;}
        100% { left: 45%;}
    }
  #box {
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
  }
  @keyframes animate {
    17% { border-bottom-right-radius: 6px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
      transform: translateY(18px) scale(1,.9) rotate(45deg) ;
      border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
  } 
  #shadow { 
    width: 69px;
    height: 10px;
    background-color: #fff;
    opacity: 0.1;
    position: absolute;
    top: 80px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
  @keyframes shadow {
    50% {
      transform: scale(1.2,1);
    }
  }

  #kb-block-container.loading:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--kb-dark);
    pointer-events: none;
  }

  /* loader */

  .kb-code-block {
    padding: 20px 10px;
    background-color: rgb(24 103 192 / 20%);
    color: var(--section-color);
    font-weight: bold;
    max-width: 200px;
    text-align: center;
    border-radius: 5px;
  }

  header .kb-block-container:before, footer .kb-block-container:before{
    content: none!important;
  }

  header a, footer a{
    pointer-events: none;
  }