<ng-template #deldialog>
    <h1 mat-dialog-title class="kb-danger">Delete Domain</h1>
    <div mat-dialog-content>
        Would you like to delete <span class="text-danger">{{deldomain.name}}</span> domain?
    </div>
    <div mat-dialog-actions class="justify-content-end">
        <button mat-button mat-dialog-close class="text-info">No</button>
        <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deletedomain(deldomain)">Yes</button>
    </div>
  </ng-template>
  <ng-template #adddialog>
    <h1 mat-dialog-title >Connect Your Domain</h1>
    <div mat-dialog-content *ngIf="!shownamehint">
        <h4>Add your own domain</h4>
        <p>Enter the domain name you already own below and we'll take care of the rest.</p>
        <mat-error *ngIf="error">{{errormessage}}</mat-error>
        <mat-form-field class="kb-full-width" appearance="fill">
            <mat-label>Domain Name</mat-label>
            <input type="text" placeholder="mydomain.com" matInput required [formControl]="domainname" (keyup)="gendomainname = removespecialchar(gendomainname)" [(ngModel)]="gendomainname">
            <mat-error *ngIf="domainname.hasError('required')" class="errdmrgn">
                Domain Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-content class="outerdivnm" *ngIf="shownamehint">
                <p><strong>How to connect your domain to Kea</strong></p>
                <p><small>In order for your custom domain to work you'll need to log in to where you bought your domain and add the nameservers details: <span *ngFor="let name of nameservers" >{{name}}&nbsp;&nbsp;</span></small></p>
                
                <ul class="mynsdetails">
                    <li>
                        <strong>Domain: </strong> <span>{{gendomainname}}</span>
                    </li>
                    <li>
                        <strong>Nameservers: </strong> <span *ngFor="let name of nameservers" >{{name}}</span> 
                    </li>
                    <li> 
                        <strong>Status: </strong> <span>{{cldstatus}}</span>
                    </li>
                    <li *ngIf="createdatdomain!=''"> 
                        <strong>Connected At: </strong> <span>{{datecusfilter(createdatdomain)}}</span>
                    </li>
                </ul>
                <!-- <br>
                <button mat-raised-button color="primary" (click)="donestep1()" >I've done this step <i class="fas fa-check"></i></button> -->
            </div>
    <div mat-dialog-actions class="justify-content-end">
        <button mat-button mat-dialog-close class="text-danger" (click)="resetobj()">No</button>
        <button mat-button mat-dialog-close cdkFocusInitial color="primary" (click)="!shownamehint ? connectdomain() : donestep1()" >Connect</button>
    </div>
  </ng-template>
<div id="kb-domain">
    <mat-progress-bar *ngIf="searching" mode='indeterminate'></mat-progress-bar>
    <!-- <div id="kb-offer-actions" *ngIf="sidebar.open">
        <div class="offcanvas offcanvas-right p-4 offcanvas-on" [class.loadEffectFromLeftsidebar]="sidebar.anim.open" [class.loadEffectFromLeftsidebarClose]="sidebar.anim.close">
            
            <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
            <h6><strong>Connect Your Domain</strong></h6>
            
            <div *ngIf="!shownamehint">  
                
                <hr>
                <h4>Add your own domain</h4>
                <p>Enter the domain name you already own below and we'll take care of the rest.</p>

                <mat-form-field class="kb-full-width" appearance="fill">
                    <mat-label>Domain Name</mat-label>
                    <input type="text" placeholder="mydomain.com" matInput required [formControl]="domainname" (keyup)="gendomainname = removespecialchar(gendomainname)" [(ngModel)]="gendomainname">
                    <mat-error *ngIf="domainname.hasError('required')" class="errdmrgn">
                        Domain Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="connectdomain()" >
                    Connect <i class="fas fa-plus"></i>
                </button>

            </div>
            
            <div class="outerdivnm" *ngIf="shownamehint">
                <hr>
                <p><strong>How to connect your domain to Kea</strong></p>
                <p><small>In order for your custom domain to work you'll need to log in to where you bought your domain and add the nameservers details: <span *ngFor="let name of nameservers" >{{name}}&nbsp;&nbsp;</span></small></p>
                
                <ul class="mynsdetails">
                    <li>
                        <strong>Domain: </strong> <span>{{gendomainname}}</span>
                    </li>
                    <li>
                        <strong>Nameservers: </strong> <span *ngFor="let name of nameservers" >{{name}}</span> 
                    </li>
                    <li> 
                        <strong>Status: </strong> <span>{{cldstatus}}</span>
                    </li>
                    <li *ngIf="createdatdomain!=''"> 
                        <strong>Connected At: </strong> <span>{{datecusfilter(createdatdomain)}}</span>
                    </li>
                </ul>
                <br>
                <button mat-raised-button color="primary" (click)="donestep1()" >I've done this step <i class="fas fa-check"></i></button>
            </div>
                
        </div>
    </div>
    <div class="offcanvas-overlay " *ngIf="sidebar.open" (click)="hidepopupsidebar()"
    [class.slowVisible]="sidebar.anim.open" [class.slowHide]="sidebar.anim.close"></div> -->
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-8 mt-4">

                <div class="col-md-8">
                    <h2>Add your own domain to strengthen your brand</h2>
                    <p>Add a custom domain to help customers remember your website. It's like vanity license plates for your business!</p>
                    <button mat-raised-button color="primary" class="mr-2 outer-card-add" (click)="addnewdomain()" >Add New Domain <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
                <div *ngIf="alldomainsdata.length!=0">
                    <div *ngFor="let alldomains of alldomainsdata">
                        <mat-card class="mt-4">
                            <ul class="kb-domainul" [class.verified]="alldomains.verifyssl==1">
                                <li>
                                    <span *ngIf="alldomains.verifyssl==0">Pending <i class="fa fa-clock"></i> <i class="fa fa-unlock" aria-hidden="true"></i></span>
                                    <span *ngIf="alldomains.verifyssl==1">Connected <i class="fa fa-check-circle" aria-hidden="true"></i> <i class="fa fa-lock" aria-hidden="true"></i> <i class="fa fa-shield-alt"></i></span>
                                </li>
                                <li>www.{{alldomains.name}}</li>
                                <li>
                                    <button *ngIf="alldomains.verifyssl==0" mat-raised-button class="mr-2" (click)="verifyssl(alldomains.id,alldomains.name,$event)">
                                        Verify SSl <i class="fa fa-unlock" aria-hidden="true"></i>
                                    </button>
                                    <button mat-raised-button class="mr-2" (click)="viewdomain(alldomains)" >View <i class="fa fa-eye" aria-hidden="true"></i></button>
                                    <button mat-raised-button (click)="openDialog(deldialog,alldomains)">
                                        Delete <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </li>   
                            </ul>
                        </mat-card>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <img src="/assets/images/domain/domain-names.png" class="img-fluid" alt="" srcset="">
            </div>
        </div>
    </div>
</div>