<ng-template #renamehfdialog>
    <h1 mat-dialog-title>Rename {{_general.target.type | titlecase}}</h1>
    <div mat-dialog-content>
        <mat-error *ngIf="isNotValid(validate.targetname)">
            {{_general.target.type | titlecase}} name should not be empty
        </mat-error>
        <mat-error *ngIf="validate.targetname.hasError('minlength')">
            {{_general.target.type | titlecase}} name must be at least <strong>3</strong> characters
        </mat-error>
        <mat-form-field appearance="fill">
            <mat-label>{{_general.target.type | titlecase}} name</mat-label>
            <input matInput type="text" [formControl]="validate.targetname" [placeholder]="_general.target.type + ' name'" [(ngModel)]="_general.target.name" required minlength="3">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial [color]="!validate.targetname.invalid ? 'primary' : ''" [disabled]="validate.targetname.invalid">Done</button>
    </div>
</ng-template>
<ng-template #renametempdialog>
    <h1 mat-dialog-title>Rename Template</h1>
    <div mat-dialog-content>
        <mat-error *ngIf="isNotValid(validate.tempname)">
            Template name should not be empty
        </mat-error>
        <mat-error *ngIf="validate.tempname.hasError('minlength')">
            Template name must be at least <strong>3</strong> characters
        </mat-error>
        <mat-form-field appearance="fill">
            <mat-label>Template name</mat-label>
            <input matInput type="text" [formControl]="validate.tempname" placeholder="Template name" [(ngModel)]="seltemp.name" required minlength="3">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="kb-danger">Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial [color]="!validate.tempname.invalid ? 'primary' : ''" [disabled]="validate.tempname.invalid" (click)="updateTemplate()">Save</button>
    </div>
</ng-template>
<ng-template #deltempdialog>
    <h1 mat-dialog-title class="kb-danger">Delete Template</h1>
    <div mat-dialog-content>
        Would you like to delete <span class="kb-danger">{{seltemp.name}}</span> template?
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial color="primary">No</button>
        <button mat-button mat-dialog-close (click)="deleteTemplate()" class="kb-danger">Yes</button>
    </div>
</ng-template>
<div id="kb-topbar" [class.pagedisabled]="_general.saveDisabled">
    <div class="kb-triggers">
        <button mat-button (click)="_general.redirectLink('/')"><img [src]="_image.imgPath+'logo/kblogo-white.png'"></button>
        <button mat-button (click)="_general.prevRoute()" class="kb-backBtn">
            <i [innerHTML]="'left_circle_arrow' | svg | safeHtml"></i><p class="kb-bb-text">Back</p>
        </button>
        <button mat-button [disabled]="wftgl" #layt="matMenuTrigger" [matMenuTriggerFor]="layout" [class.kb-btn-active]="(layt.menuOpen || selectedTab.split('-')[0] == 'l') && !wftgl">
            <i [innerHTML]="'layout' | svg | safeHtml"></i> Layouts {{selectedTab.split('-')[0] == 'l' ? ('> '+selectedTab.split('-')[1] | titlecase): ''}}
        </button>
        <mat-menu #layout="matMenu" xPosition="after" yPosition="below">
            <button mat-menu-item (click)="selectTab('l-templates')" [class.kb-btn-active]="selectedTab == 'l-templates'">
                <i [innerHTML]="'template' | svg | safeHtml"></i> Templates
            </button>
            <button mat-menu-item (click)="selectTab('l-sections')" [class.kb-btn-active]="selectedTab == 'l-sections'">
                <i [innerHTML]="'section' | svg | safeHtml"></i> Sections
            </button>
            <button mat-menu-item (click)="selectTab('l-rows')" [class.kb-btn-active]="selectedTab == 'l-rows'">
                <i [innerHTML]="'row' | svg | safeHtml"></i> Rows
            </button>
            <button mat-menu-item *ngIf="!ishf" (click)="selectTab('l-headers')" [class.kb-btn-active]="selectedTab == 'l-headers'">
                <i [innerHTML]="'header' | svg | safeHtml"></i> Headers
            </button>
            <button mat-menu-item *ngIf="!ishf" (click)="selectTab('l-footers')" [class.kb-btn-active]="selectedTab == 'l-footers'">
                <i [innerHTML]="'footer' | svg | safeHtml"></i> Footers
            </button>
        </mat-menu>
        <button mat-button [disabled]="wftgl" (click)="selectTab('elements')" [class.kb-btn-active]="selectedTab == 'elements' && !wftgl">
            <i [innerHTML]="'elements' | svg | safeHtml"></i> Elements
        </button>
        <button mat-button [disabled]="wftgl" (click)="selectTab('responsive')" [class.kb-btn-active]="selectedTab == 'responsive' && !wftgl">
            <i [innerHTML]="'responsive' | svg | safeHtml"></i> Responsive
        </button>
        <button mat-button #moret="matMenuTrigger" [matMenuTriggerFor]="more" [class.kb-btn-active]="isMoreActive(moret)">
            <i [innerHTML]="'ellipsisv' | svg | safeHtml"></i>
            More {{getMoreState()}}
        </button>
        <mat-menu #more="matMenu" xPosition="after" yPosition="below">
            <button mat-menu-item *ngIf="!ishf else rename" (click)="setTrigger('setting')"
            [class.kb-btn-active]="_general.selectedBlock.type == 'main'">
            <i [innerHTML]="'setting' | svg | safeHtml"></i> Setting
            </button>
            <ng-template #rename>
                <button mat-menu-item (click)="openRenameHFDialog(renamehfdialog)"
                    [class.kb-btn-active]="_general.selectedBlock.type == 'main'">
                    <i [innerHTML]="'setting' | svg | safeHtml"></i> Rename
                </button>
            </ng-template>
            <button mat-menu-item (click)="wireframeToggle.emit(true)" [class.kb-btn-active]="wftgl">
                <i [innerHTML]="'wireframe' | svg | safeHtml"></i> Wireframe
            </button>
            <button mat-menu-item (click)="urdo = !urdo; zoom.active = false" [class.kb-btn-active]="urdo">
                <i [innerHTML]="'refresh' | svg | safeHtml"></i> Done
            </button>
            <button mat-menu-item *ngIf="!wftgl" (click)="zoomEmit(!zoom.active); urdo = false" [class.kb-btn-active]="zoom.active">
                <i [innerHTML]="'zoomin' | svg | safeHtml"></i> Zoom
            </button>
        </mat-menu>
        <span *ngIf="urdo" class="kb-more-opt">
            <button mat-button matTooltip="Undo" [disabled]="!_section.pageSessionArr[_section.pageSession.undo-1]" (click)="_section.undo()">
                <i [innerHTML]="'undo' | svg | safeHtml"></i>
            </button>
            <button mat-button matTooltip="Redo" [disabled]="!_section.pageSessionArr[_section.pageSession.redo]" (click)="_section.redo()">
                <i [innerHTML]="'redo' | svg | safeHtml"></i>
            </button>
        </span>
        <span *ngIf="zoom.active && !wftgl" class="kb-more-opt">
            <button mat-button matTooltip="Zoom Out" (click)="zoomPg('-')" [disabled]="zoom.value <= 10">
                <i [innerHTML]="'zoomout' | svg | safeHtml"></i>
            </button>
            <button mat-button matTooltip="Zoom In" (click)="zoomPg('+')" [disabled]="zoom.value >= 100">
                <i [innerHTML]="'zoomin' | svg | safeHtml"></i>
            </button>
        </span>
        <button mat-button *ngIf="!ishf" (click)="_general.preview()">
            <i [innerHTML]="'preview' | svg | safeHtml"></i> Preview
        </button>
        <button mat-button (click)="!_general.saveDisabled ? setTrigger('save') : ''" [disabled]="_general.saveDisabled">
            <i [innerHTML]="'save' | svg | safeHtml"></i> Save
        </button>
        <button mat-button [matMenuTriggerFor]="autosave" #autosavet="matMenuTrigger" [class.kb-btn-active]="autosavet.menuOpen">
            <i class="far fa-clock"></i> Auto Save > {{_general.autosave ? _general.autosave.value+' '+_general.autosave.unit : 'OFF'}}
        </button>
        <mat-menu #autosave>
            <button mat-menu-item *ngFor="let opt of _general.autosaveopt" (click)="_general.autosave = opt; setTrigger('autosave')" [class.kb-btn-active]="_general.autosave.value == opt.value">{{opt ? 'Every '+opt.value+' '+opt.unit : 'Off'}}</button>
            <button mat-menu-item (click)="_general.autosave=''" [class.kb-btn-active]="!_general.autosave.value">OFF</button>
        </mat-menu>
        <button mat-button *ngIf="_general.target.type == 'website'" [disabled]="_general.saveDisabled" [matMenuTriggerFor]="status" #statust="matMenuTrigger" [class.kb-btn-active]="statust.menuOpen">
            <i [innerHTML]="(_general.main.publish_status ? 'publish' : 'draft') | svg | safeHtml"></i> Status > {{_general.main.publish_status ? 'Published' : 'Draft'}}
        </button>
        <mat-menu #status="matMenu" xPosition="after" yPosition="below">
            <button mat-menu-item (click)="setTrigger('publish')" [class.kb-btn-active]="_general.main.publish_status">
                <i [innerHTML]="'publish' | svg | safeHtml"></i> Publish
            </button>
            <button mat-menu-item (click)="setTrigger('draft')" [class.kb-btn-active]="!_general.main.publish_status">
                <i [innerHTML]="'draft' | svg | safeHtml"></i> Draft
            </button>
        </mat-menu>
        <button *ngIf="selectedTab && !wftgl" mat-button (click)="hideBar()">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>    
    </div>
    <div class="kb-triggers">
        <button mat-button #rowt="matMenuTrigger" *ngIf="selectedTab == 'l-rows' && !wftgl" [class.kb-btn-active]="rowt.menuOpen" [matMenuTriggerFor]="rowmenu">
            <i [innerHTML]="'filter' | svg | safeHtml"></i> Row Type > <i class="kb-filter-icon" [innerHTML]="searchRowFilter.icon | svg | safeHtml"></i> {{searchRowFilter.name}} Column{{searchRowFilter.value != 1 ? 's' : ''}}
        </button>
        <mat-menu #rowmenu="matMenu" xPosition="before" yPosition="below">
            <button mat-menu-item *ngFor="let type of rowtypes" (click)="selectFilter(type)" [class.kb-btn-active]="searchRowFilter.value == type.value" [value]="type.value"><i [innerHTML]="type.icon | svg | safeHtml"></i> {{type.name}} Column{{type.value != 1 ? 's' : ''}}</button>
        </mat-menu>
        <button mat-button #imgt="matMenuTrigger" *ngIf="selectedTab == 'elements' && selectedElement == 'image' && !wftgl" [class.kb-btn-active]="imgt.menuOpen" [matMenuTriggerFor]="imgmenu">
            <i [innerHTML]="'filter' | svg | safeHtml"></i> Sort By > <i class="kb-filter-icon" [innerHTML]="_image.searchImgFilter.icon | svg | safeHtml"></i> {{_image.searchImgFilter.name.split(' ')[2]}}
        </button>
        <mat-menu #imgmenu="matMenu" xPosition="before" yPosition="below">
            <button mat-menu-item *ngFor="let order of _image.imgOrder" (click)="_image.searchImgFilter = order" [class.kb-btn-active]="_image.searchImgFilter.name == order.name" [value]="order.value"><i class="kb-filter-icon" [innerHTML]="order.icon | svg | safeHtml"></i> {{order.name}}</button>
        </mat-menu>
        <button mat-button #tempt="matMenuTrigger" *ngIf="selectedTab == 'l-templates' || selectedTab == 'l-headers' || selectedTab == 'l-footers' && !wftgl" [class.kb-btn-active]="tempt.menuOpen" [matMenuTriggerFor]="tempmenu">
            <i [innerHTML]="'filter' | svg | safeHtml"></i> Sort By > <i class="kb-filter-icon" [innerHTML]="_general.searchFilter.icon | svg | safeHtml"></i> {{_general.searchFilter.name.split(' ')[2]}}
        </button>
        <mat-menu #tempmenu="matMenu" xPosition="before" yPosition="below">
            <button mat-menu-item *ngFor="let order of _general.filterOrder" (click)="_general.searchFilter = order" [class.kb-btn-active]="_general.searchFilter.name == order.name" [value]="order.value"><i class="kb-filter-icon" [innerHTML]="order.icon | svg | safeHtml"></i> {{order.name}}</button>
        </mat-menu>
        <span *ngIf="(selectedTab == 'elements' || selectedTab == 'l-templates' || selectedTab == 'l-headers' || selectedTab == 'l-footers') && !wftgl" [class.open]="toggle.open" [class.close]="toggle.close" class="kb-search-field">
            <i [innerHTML]="'search' | svg | safeHtml"></i>
            <input placeholder="Search here..." [(ngModel)]="searchText" (keydown)="setShift(); setElementShift()">
        </span>
        <button mat-button (click)="_general.redirectLink('/profile')">
            {{_general.user.name | titlecase}} 
            <img *ngIf="_general.user.useravatar" [src]="_image.getImgPath(_image.uploadImgPath+_general.user.useravatar)">
        </button>
    </div>
</div>
<div *ngIf="selectedTab && !wftgl" class="kb-selection-container" [class.open]="toggle.open" [class.close]="toggle.close">
    <mat-icon mat-ripple (click)="prevSlide()" [class.kb-disabled]="slideShift <= 0" class="kb-side-arrow">keyboard_arrow_left</mat-icon>
    <div #selection class="kb-selection-option" [style.transform]="'translateX(-'+(_general.screenWidth - 100)*slideShift+'px)'" [ngSwitch]="selectedTab">
        <!-- layout -->
        <div *ngSwitchCase="'l-templates'" id="sectiongroup" class="kb-block-selection kb-template-list" cdkDropList [cdkDropListData]="_general.sectionTemplates" [cdkDropListConnectedTo]="_section.sectionConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let temp of _general.sectionTemplates | filter:searchText:'name' | sorting:_general.searchFilter.value:_general.searchFilter.type, index as i" (cdkDragMoved)="dragDataEmit(temp)" [cdkDragData]="temp">
                <span>{{temp.name}}</span>
                <span mat-ripple class="kb-temp-trigger" #tempt="matMenuTrigger" [matMenuTriggerFor]="tempm" [class.kb-menu-active]="tempt.menuOpen">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </span>
                <mat-menu #tempm="matMenu" xPosition="before" yPosition="below">
                    <button mat-menu-item (click)="openTempDialog(renametempdialog, temp)"><i class="far fa-edit"></i> Rename</button>
                    <button mat-menu-item (click)="openTempDialog(deltempdialog, temp)"><i class="far fa-trash-alt"></i> Delete</button>
                </mat-menu>
                <div *cdkDragPreview class="custom-preview-img">
                    <img class="kb-images" [src]="_image.uploadImgPath+'keaimage-section-'+temp.uniqueid+'-screenshot.png'">
                </div>
                <span *cdkDragPlaceholder class="custom-placeholder" [style.backgroundColor]="'var(--section-color)'"></span>
            </span>
            <div *ngIf="_general.sectionTemplates.length == 0">Templates not found.</div>
        </div>
        <div *ngSwitchCase="'l-sections'" id="sectiongroup" class="kb-block-selection kb-section-list" cdkDropList [cdkDropListData]="_section.sectionTypes" [cdkDropListConnectedTo]="_section.sectionConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let st of _section.sectionTypes, index as i" (cdkDragMoved)="dragDataEmit(st)" [cdkDragData]="st">
                <span class="block"><span [style.width]="st.width">{{st.width}}</span></span>
                <span *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--section-color)'">
                    {{st.width | titlecase}}
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder" [style.backgroundColor]="'var(--section-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'l-rows'" id="rowgroup" class="kb-block-selection kb-row-list" cdkDropList [cdkDropListData]="_row.rowTypes" [cdkDropListConnectedTo]="_row.rowConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let rt of _row.rowTypes | filter:searchRowFilter.value:'row', index as i" (cdkDragMoved)="dragDataEmit(rt)" [cdkDragData]="rt" class="kb-row-type"
                [class]="'row-'+rt.cls">
                    <span *ngFor="let c of rt.nofcolumn" class="block">
                        <span></span>
                    </span>
                    <span *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--row-color)'">
                        Row
                    </span>
                    <span *cdkDragPlaceholder class="custom-placeholder" [style.backgroundColor]="'var(--row-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'l-headers'" class="kb-block-selection kb-block-list">
            <button mat-button (click)="_general.redirectLink('/websites/headers')">
                <i [innerHTML]="'add' | svg | safeHtml"></i> Create
            </button>
            <button mat-button (click)="setHeader(false)" [class.kb-btn-active]="!_general.includeLayout.header">
                <i [innerHTML]="'none' | svg | safeHtml"></i> None
            </button>
            <button mat-button *ngFor="let head of _general.headers | filter:searchText:'name' | sorting:_general.searchFilter.value:_general.searchFilter.type; index as i" 
            (click)="setHeader(head.uniqueid)" [class.kb-btn-active]="head.uniqueid == _general.selectedHeader.id && _general.includeLayout.header"
            (mouseover)="prevImg=_general.getSSPath('header-'+head.uniqueid)" (mouseout)="prevImg=''">
                {{head.name}}
                <mat-icon *ngIf="!head.json" class="kb-mat-error-icon" matTooltip="Didn't created yet">error_outline</mat-icon>
            </button>
        </div>
        <div *ngSwitchCase="'l-footers'" class="kb-block-selection kb-block-list">
            <button mat-button (click)="_general.redirectLink('/websites/footers')">
                <i [innerHTML]="'add' | svg | safeHtml"></i> Create
            </button>
            <button mat-button (click)="setFooter(false)" [class.kb-btn-active]="!_general.includeLayout.footer">
                <i [innerHTML]="'none' | svg | safeHtml"></i> None
            </button>
            <button mat-button *ngFor="let foot of _general.footers | filter:searchText:'name' | sorting:_general.searchFilter.value:_general.searchFilter.type; index as i" 
            (click)="setFooter(foot.uniqueid)" [class.kb-btn-active]="foot.uniqueid == _general.selectedFooter.id && _general.includeLayout.footer"
            (mouseover)="prevImg=_general.getSSPath('footer-'+foot.uniqueid)" (mouseout)="prevImg=''">
                {{foot.name}}
                <mat-icon *ngIf="!foot.json" class="kb-mat-error-icon" matTooltip="Didn't created yet">error_outline</mat-icon>
            </button>
        </div>
        <!-- layout -->
        <div *ngSwitchCase="'elements'">
            <button mat-button (click)="selectElement(element.key)" class="kb-icon-btn" [class.kb-btn-active]="selectedElement == element.key" *ngFor="let element of _element.elementList | keyvalue | filter:searchText:'key'">
                <i [class]="element.value.iconCls"></i>
                <span>{{element.key | titlecase}}</span>
            </button>
        </div>
        <div *ngSwitchCase="'responsive'">
            <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'desktop'"
                (click)="_general.respToggle('desktop')">
                <i [innerHTML]="'desktop' | svg | safeHtml"></i><span>Desktop</span></button>
            <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'tablet-h'"
                (click)="_general.respToggle('tablet-h')">
                <i class="rotate-90" [innerHTML]="'tab' | svg | safeHtml"></i><span>Tablet H</span></button>
            <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'tablet-v'"
                (click)="_general.respToggle('tablet-v')">
                <i [innerHTML]="'tab' | svg | safeHtml"></i><span>Tablet V</span></button>
            <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'mobile'"
                (click)="_general.respToggle('mobile')">
                <i [innerHTML]="'mobile' | svg | safeHtml"></i><span>Mobile</span></button>
            <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'hover'"
                (click)="_general.respToggle('hover')">
                <i class="fas fa-mouse-pointer"></i><span>Hover</span></button>
        </div>
    </div>
    <mat-icon mat-ripple (click)="nextSlide()" [class.kb-disabled]="slideShift > shiftLen-1" class="kb-side-arrow">keyboard_arrow_right</mat-icon>
</div>
<div *ngIf="selectedTab == 'elements' && selectedElement && !wftgl" class="kb-selection-container" [class.open]="toggleElement.open" [class.close]="toggleElement.close">
    <mat-icon mat-ripple (click)="prevElementSlide()" [class.kb-disabled]="slideElementShift <= 0" class="kb-side-arrow">keyboard_arrow_left</mat-icon>
    <div #element class="kb-selection-option" [style.transform]="'translateX(-'+(_general.screenWidth - 100)*slideElementShift+'px)'" [ngSwitch]="selectedElement">
        <div *ngSwitchCase="'heading'" id="elementgroup" class="kb-block-selection kb-element-list kb-font-list" cdkDropList [cdkDropListData]="_element.default.headings" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let heading of _element.default.headings, index as i" (cdkDragMoved)="dragDataEmit(heading)" [cdkDragData]="heading">
                <span>{{heading.content.type | titlecase}}</span>
                <span *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">
                    {{heading.content.type | titlecase}} heading
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'text'" id="elementgroup" class="kb-block-selection kb-element-list kb-font-list" cdkDropList [cdkDropListData]="_element.default.texts" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let text of _element.default.texts, index as i" (cdkDragMoved)="dragDataEmit(text)" [cdkDragData]="text">
                <span>{{text.content.type | uppercase}}</span>
                <span *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">
                    {{text.content.type | uppercase}} text
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'image'" id="elementgroup" class="kb-block-selection kb-element-list kb-img-list" cdkDropList [cdkDropListData]="_image.galleryImg" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <button mat-button (click)="openImgDialog()" class="kb-icon-btn">
                <i [innerHTML]="'upload' | svg | safeHtml"></i>
                <span>Upload</span>
            </button>
            <span cdkDrag *ngFor="let img of _image.galleryImg | filter:searchText:'title' | sorting:_image.searchImgFilter.value:_image.searchImgFilter.type, index as i" (cdkDragMoved)="dragDataEmit(img)" [cdkDragData]="img" [matTooltip]="img.title | titlecase">
                <img class="kb-images" [src]="img.ext_link ? img.path : _image.uploadImgPath+img.path">
                <div *cdkDragPreview class="custom-preview-img">
                    <img class="kb-images" [src]="img.ext_link ? img.path : _image.uploadImgPath+img.path">
                </div>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'video'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_element.default.videos" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let video of _element.default.videos, index as i" (cdkDragMoved)="dragDataEmit(video)" [cdkDragData]="video">
                <span class="kb-d-btn">
                    <i [class]="video.iconCls"></i>
                </span>
                <span *cdkDragPreview class="custom-preview kb-d-btn" [style.backgroundColor]="'var(--primary-color)'">
                    <i [class]="video.iconCls"></i>
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'icon'" id="elementgroup" class="kb-block-selection kb-element-list kb-icon-list" cdkDropList [cdkDropListData]="_element.defaultIcons" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let icon of _element.defaultIcons | filter:searchText:'title' | sorting:'asc':'title', index as i" (cdkDragMoved)="emitIcon(icon)" [cdkDragData]="icon" [matTooltip]="icon.title | titlecase">
                <i [class]="icon.name"></i>
                <div *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">
                    <i [class]="icon.name"></i>
                </div>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'button'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_element.default.buttons" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let btn of _element.default.buttons, index as i" (cdkDragMoved)="dragDataEmit(btn)" [cdkDragData]="btn">
                <span class="kb-d-btn">
                    {{btn.content.btntype | titlecase}}
                    <span *ngIf="btn.content.subtext" class="kb-d-btn-st">[Extra Text]</span>
                </span>
                <span *cdkDragPreview class="custom-preview kb-d-btn" [style.backgroundColor]="'var(--primary-color)'">
                    {{btn.content.btntype | titlecase}}
                    <span *ngIf="btn.content.subtext" class="kb-d-btn-st">[Extra Text]</span>
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'divider'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_element.default.dividers" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let div of _element.default.dividers, index as i" (cdkDragMoved)="dragDataEmit(div)" [cdkDragData]="div">
                <span class="kb-d-btn">
                    <i [class]="div.iconCls"></i>
                </span>
                <span *cdkDragPreview class="custom-preview kb-d-btn" [style.backgroundColor]="'var(--primary-color)'">
                    <i [class]="div.iconCls"></i>
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'code'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_element.default.codes" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let code of _element.default.codes, index as i" (cdkDragMoved)="dragDataEmit(code)" [cdkDragData]="code">
                <span class="kb-d-btn">
                    <i [class]="code.iconCls"></i>
                </span>
                <span *cdkDragPreview class="custom-preview kb-d-btn" [style.backgroundColor]="'var(--primary-color)'">
                    <i [class]="code.iconCls"></i>
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'menu'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_general.menus" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <button mat-button (click)="_general.redirectLink('/websites/navigation')" class="kb-icon-btn">
                <i [innerHTML]="'add' | svg | safeHtml"></i>
                <span>Create</span>
            </button>
            <span cdkDrag *ngFor="let menu of _general.menus | filter:searchText:'name', index as i" (cdkDragMoved)="dragDataEmit(menu)" [cdkDragData]="menu">
                <span>{{menu.name | titlecase}}</span>
                <span *cdkDragPreview class="custom-preview" [style.backgroundColor]="'var(--primary-color)'">
                    {{menu.name | titlecase}}
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'form'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_general.forms" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <button mat-button (click)="_general.redirectLink('/forms')" class="kb-icon-btn">
                <i [innerHTML]="'add' | svg | safeHtml"></i>
                <span>Create</span>
            </button>
            <span cdkDrag *ngFor="let form of _general.forms | filter:searchText:'name', index as i" (cdkDragMoved)="dragDataEmit(form)" [cdkDragData]="form">
                <span>{{form.name | titlecase}}</span>
                <div *cdkDragPreview class="custom-preview-img">
                    <img class="kb-images" [src]="_image.uploadImgPath+_general.getSSPath('form-'+form.uniqueid)">
                </div>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
        <div *ngSwitchCase="'checkout'" id="elementgroup" class="kb-block-selection kb-element-list kb-btn-list" cdkDropList [cdkDropListData]="_element.default.checkouts" [cdkDropListConnectedTo]="_element.elementConnect" cdkDropListSortingDisabled>
            <span cdkDrag *ngFor="let check of _element.default.checkouts, index as i" (cdkDragMoved)="dragDataEmit(check)" [cdkDragData]="check">
                <span class="kb-d-btn">
                    <i [class]="check.iconCls"></i>
                </span>
                <span *cdkDragPreview class="custom-preview kb-d-btn" [style.backgroundColor]="'var(--primary-color)'">
                    <i [class]="check.iconCls"></i>
                </span>
                <span *cdkDragPlaceholder class="custom-placeholder"
                [style.backgroundColor]="'var(--primary-color)'"></span>
            </span>
        </div>
    </div>
    <mat-icon mat-ripple (click)="nextElementSlide()" [class.kb-disabled]="slideElementShift > shiftElementLen-1" class="kb-side-arrow">keyboard_arrow_right</mat-icon>
</div>
<div *ngIf="prevImg" class="kb-block-preview">
    <div class="kb-block-prev-img" [style.backgroundImage]="'url('+_image.uploadImgPath+prevImg+'), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'"></div>
</div>