<!-- dialog for delete Tag -->
<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete Tag</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{tag.name}}</span> Tag ?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close [color]="'primary'">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deletetag(tag.id)">
      Yes
    </button>
  </div>
</ng-template>
<ng-template #delselecteddialog>
  <h1 mat-dialog-title class="kb-danger">Delete Selected Tags</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{selectedTags.length}}</span> tags?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'" (click)="resetselecteddata()">No</button>
    <button mat-button mat-dialog-close (click)="deleteSelectedTags(selectedTags)" class="text-danger">Yes</button>
  </div>
</ng-template>
<!-- dialog for new  entry on add Or Update Tag -->
<ng-template #adddialog>
  <span mat-dialog-title *ngIf="!tag.uniqueid">Add Tag</span>
  <span mat-dialog-title *ngIf="tag.uniqueid">Update Tag</span>
  <div mat-dialog-content>
    <mat-error *ngIf="hasError">{{hasError}}</mat-error>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Tag Name</mat-label>
      <input type="text" matInput [(ngModel)]="tag.name" placeholder="Eg: Monthly Newsletter, Sales Leads, etc."
        required />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="text-danger">Cancel</button>
    <button mat-button mat-dialog-close (click)="tag.uniqueid ? updatetag() : addtag()" cdkFocusInitial color="primary">
      <span *ngIf="!tag.uniqueid">Add</span>
      <span *ngIf="tag.uniqueid">Update</span>
    </button>
  </div>
</ng-template>

<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode="indeterminate"></mat-progress-bar>
  <div class="row">
    <mat-form-field class="col-md-8" appearance="fill">
      <mat-label>Search Tags...</mat-label>
      <input matInput type="text" class="form-control-search" id="offer-search" [(ngModel)]="searchInp"
        (input)="searchTags(searchInp, filterInp)" placeholder="Search Tags..." />
      <i class="fa-solid fa-magnifying-glass"></i>
    </mat-form-field>
  
    <div class="col-md-4 text-right mt-2">
      <button mat-raised-button (click)="openDialog(adddialog, tagObj)" color="primary" class="mr-2">
        Add Tag <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="selectedTags.length > 0">
      <div class="float-right mb-3 kb-delbtn" (click)="openDialog(delselecteddialog, selectedTags)">
        <span class="">Delete Selected Tags <i class="fa fa-trash-alt"></i></span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="pagetags?.length != 0; else nodata">
    <div class="col-md-8">
      <table class="table kb-table">
        <thead>
          <tr>
            <th>
              <mat-checkbox [(ngModel)]="checked_selected" (ngModelChange)="selectAllTags($event)" matTooltip="Select All Page Tags" matTooltipPosition="above"></mat-checkbox>
            </th>
            <th class="kb-table-sort" (click)="toggleSort('name')">Name <i class="fa-solid fa-up-long" *ngIf="filterInp == 'name ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="filterInp == 'name DESC'"></i></th>
            <th>Contacts</th>
            <th class="kb-table-sort" (click)="toggleSort('created_at')">Created On <i class="fa-solid fa-up-long" *ngIf="filterInp == 'created_at ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="filterInp == 'created_at DESC'"></i></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of pagetags; index as i">
            <td><mat-checkbox class="align-items-center" matTooltip="Click to Select" matTooltipPosition="above" [(ngModel)]="tag.selected" (ngModelChange)="selectTag($event, tag)"></mat-checkbox></td>
            <td>
              <span class="kb-table mr-1">{{ tag.name | titlecase }} </span>
            </td>
            <td>{{ tag.activecontacts }}</td>
            <td>{{ tag.created_at | date : "medium" }}</td>
            <td>
              <span class="d-flex">
                <i mat-ripple matTooltip="Edit" matTooltipPosition="above" (click)="openDialog(adddialog, tag)"
                  class="fa fa-pencil kb-table-action-icon"></i>
                <i mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(deldialog, tag)"
                  class="fa fa-trash-alt kb-table-action-icon kb-icon-del"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator  #paginator [length]="tagslength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]" aria-label="Select page" (page)="getpagetags($event)"></mat-paginator>
    </div>
    <div class="col-md-4">
      <div class="kb-tag-prgrs">
        <h5>Recent Tags</h5>
        <div class="kb-tag-prgrs-list p-2">
            <span *ngFor="let rtag of recenttags">
              {{ rtag }}
            </span>
        </div>
      </div>
      <div class="kb-tag-prgrs mt-5">
        <h5>Popular Tags</h5>
        <div class="kb-tag-prgrs-list p-2">
            <span *ngFor="let ptag of populartags">
              {{ ptag }}
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #nodata>
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <img
        src="/assets/images/website/website-empty.png"
        class="img-fluid"
        alt="No Tags Found"
      />
    </div>
  </div>
</ng-template>