<header class="wizard-nav">
    <div class="wizard-steps">
      <!--begin::Wizard Step 1 Nav-->
      <div class="wizard-step" [routerLinkActive]="['tab-active']" [routerLink]="['/funnels/'+uniqueid+'/steps/'+funnelService.uniquestepId]">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-filter"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">{{funnelname}}</div>
            <div class="wizard-desc">Steps</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 1 Nav-->
      <!--begin::Wizard Step 2 Nav-->
      <div class="wizard-step" [routerLinkActive]="['tab-active']" [routerLink]="['/funnels/'+uniqueid+'/stats']">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="far fa-chart-bar"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">STATS</div>
            <div class="wizard-desc">View Your Stats</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 2 Nav-->
      <!--begin::Wizard Step 3 Nav-->
      <div class="wizard-step" [routerLinkActive]="['tab-active']" [routerLink]="['/funnels/'+uniqueid+'/contacts']">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-users"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">CONTACTS</div>
            <div class="wizard-desc">Check Your Contacts</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 3 Nav-->
      <!--begin::Wizard Step 4 Nav-->
      <div class="wizard-step" [routerLinkActive]="['tab-active']" [routerLink]="['/funnels/'+uniqueid+'/sales']">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-money-check-alt"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">SALES</div>
            <div class="wizard-desc">See Your Sales</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 4 Nav-->
      <!--begin::Wizard Step 5 Nav-->
      <div class="wizard-step" [routerLinkActive]="['tab-active']" [routerLink]="['/funnels/'+uniqueid+'/settings']">
        <div class="wizard-wrapper">
          <div class="wizard-number"><i class="fas fa-sliders-h"></i></div>
          <div class="wizard-label">
            <div class="wizard-title">SETTINGS</div>
            <div class="wizard-desc">Review Your Settings</div>
          </div>
        </div>
      </div>
      <!--end::Wizard Step 5 Nav-->

    </div>
</header>
<router-outlet></router-outlet>