<ng-template #delimgdialog>
    <div id="kb-delimg">
        <h1 mat-dialog-title class="kb-danger">Delete Image</h1>
        <div mat-dialog-content>
            <span>Would you like to delete this image?</span>
            <img [src]="delimage.ext_link ? delimage.path : _image.uploadImgPath+delimage.path">
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close color="primary">No</button>
            <button mat-button mat-dialog-close cdkFocusInitial (click)="_image.deleteImage(delimage)" class="kb-danger">Yes</button>
        </div>
    </div>
</ng-template>
<ng-template #imgdialog>
    <div id="kb-img-group" [class.dragBox]="dragBoxAnime.open"
    [class.dragBoxClose]="dragBoxAnime.close">
        <div class="kb-head">
            <div *ngIf="!_image.showEditImgContainer else editImgHead">
                    {{_image.imgMatTabIndex ? 'Customize' : 'Upload'}} Image
            </div>
            <ng-template #editImgHead><div><button mat-button class="side-arrow" (click)="_image.showEditImgContainer=false" matTooltip="Back To Gallery"
                matTooltipPosition="above"><i
                    class="fa fa-arrow-left"></i></button>Edit Image</div></ng-template>
            <span mat-ripple (click)="closeDialog()" class="kb-cut"><i class="fa fa-times"></i></span>
        </div>
        <mat-tab-group *ngIf="!_image.showEditImgContainer else editImgContainer" [(selectedIndex)]="_image.imgMatTabIndex" (selectedTabChange)="_image.extImgLinkInp.reset()">
            <mat-tab label="Upload">
                <div class="kb-img-btn-group">
                    <div *ngIf="!_image.loading else loading">
                        <div>
                        <input #imgInp class="kb-d-none" name="image" type="file" (change)="_image.fileChangeEvent($event, true)" accept=".jpg, .jpeg, .png">
                        <button mat-raised-button (click)="imgInp.click();" color="primary">
                            <span>Upload a new image</span></button><br><br>
                        <span>File suported png, jpg, jpeg only</span>    
                        </div>
                        <div class="kb-or-divider">OR</div>
                        <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Paste Image Link</mat-label>
                            <input matInput name="imgLink" [formControl]="_image.extImgLinkInp" placeholder="Paste your image link here" type="text"
                                [(ngModel)]="_image.extImgLink.filename" required/>
                        </mat-form-field>  
                        <div *ngIf="_image.extImgLinkInp.touched && _image.extImgLinkInp.invalid && _image.extImgLinkInp.dirty" class="kb-alert kb-alert-danger">
                            <mat-error *ngIf="_image.extImgLinkInp.errors?.['required']">
                                Please paste a image link
                            </mat-error>
                            <mat-error *ngIf="_image.extImgLinkInp.errors?.['pattern']">
                                Please paste a valid image link
                            </mat-error>
                        </div>
                        <button mat-raised-button [disabled]="_image.extImgLinkInp.invalid" (click)="_image.loading = true; _image.saveImageOnDb(_image.extImgLink)" color="secondary">
                            <span>Add as external path</span></button> 
                        </div>                         
                    </div>
                    <ng-template #loading><mat-spinner></mat-spinner></ng-template>  
                </div>  
            </mat-tab>
            <mat-tab label="Customize">
                <div class="kb-img-filter">
                    <mat-form-field appearance="fill" class="kb-img-search">
                        <mat-label>Search image by name</mat-label>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input matInput type="text" #searchText>
                        <button *ngIf="searchText.value" color="primary" matSuffix mat-icon-button aria-label="Clear" (click)="searchText.value=''">
                        <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="kb-img-search">
                        <mat-label>Sort by</mat-label>
                        <mat-select [(ngModel)]='_image.searchImgFilter'>
                          <mat-option  *ngFor="let order of _image.imgOrder" [value]="order">{{order.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="kb-img-thumbnail-group">
                    <ul *ngIf="_image.galleryImg.length != 0 else noImg" class="kb-img-list">
                        <li [class.kb-img-deleting]="img.deleting" *ngFor="let img of _image.galleryImg | filter:searchText.value:'title' | sorting:_image.searchImgFilter.value:_image.searchImgFilter.type">
                            <span [class.kb-active-img]="imgActive(img) && _image.imageSelectionAllow" (click)="imgSelection(img)">
                                <img [src]="img.ext_link ? img.path : _image.uploadImgPath+img.path">
                                <mat-spinner *ngIf="img.deleting" class="kb-img-deleting"></mat-spinner>
                            </span>
                            <div *ngIf="!img.deleting" class="imgSettingIcons">
                                <i (click)="_image.editImage(img)" class="fas fa-cog" matTooltip="Setting" matTooltipPosition="above"></i>
                                <i  (click)="openImgDelDialog(delimgdialog, img)" class="far fa-trash-alt" matTooltip="Delete" matTooltipPosition="above"></i>
                            </div>
                        </li>
                    </ul>
                    <ng-template #noImg>
                        <div class="kb-img-thumbnail-group" style="height: 500px;">Upload the first image</div>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
        <ng-template #editImgContainer>
            <div class="kb-imgUploadPreviewGroup" *ngIf="!_image.loading else loading">
                <div class="kb-imgUploadPreview">
                    <div *ngIf="!_image.selectedImg.ext_link else showImgOnly">
                        <div class="kb-img-inp-group">
                            <button mat-button (click)="_image.rotateLeft()" matTooltip="Rotate Left"
                                matTooltipPosition="above"><i class="fa fa-undo"></i></button>
                            <button mat-button (click)="_image.rotateRight()" matTooltip="Rotate Right"
                                matTooltipPosition="above"><i class="fa fa-redo"></i></button>
                            <button mat-button (click)="_image.flipHorizontal()" matTooltip="Flip horizontal"
                                matTooltipPosition="above"><i class="fa fa-undo"></i></button>
                            <button mat-button (click)="_image.flipVertical()" matTooltip="Flip vertical"
                                matTooltipPosition="above"><i class="fa fa-redo"></i></button>
                            <button mat-button (click)="_image.zoomOut()" matTooltip="Zoom Out"
                                matTooltipPosition="above"><i class="fa-solid fa-magnifying-glass-minus"></i></button>
                            <button mat-button (click)="_image.zoomIn()" matTooltip="Zoom In"
                                matTooltipPosition="above"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
                            <mat-slide-toggle [(ngModel)]="_image.aspRatio.toggle"
                                [disabled]="!_image.aspRatio.w || !_image.aspRatio.h">Aspect Ratio
                            </mat-slide-toggle>
                            <span>
                                <input [(ngModel)]="_image.aspRatio.w" matTooltip="Use Up & Down Key" matTooltipPosition="above" placeholder="auto" type="number" min="1"
                                    (input)="_image.checkAspVal(_image.aspRatio.w)">/
                                <input [(ngModel)]="_image.aspRatio.h" matTooltip="Use Up & Down Key" matTooltipPosition="above" placeholder="auto" type="number" min="1"
                                    (input)="_image.checkAspVal(_image.aspRatio.h)">
                            </span>
                            <button mat-button *ngIf="_image.aspRatio.toggle" [matTooltip]="!_image.containWithinAspectRatio ? 'Contain Within' : 'Fill'" matTooltipPosition="above"
                            (click)="_image.containWithinAspectRatio = !_image.containWithinAspectRatio;">
                                <i *ngIf="!_image.containWithinAspectRatio else fill" class="fa fa-expand"></i>
                                <ng-template #fill><i class="fa fa-compress"></i></ng-template>
                            </button>
                            <button mat-button (click)="_image.resetImage()" matTooltip="Reset"
                            matTooltipPosition="above"><i class="fa fa-sync"></i></button>
                        </div>
                        <image-cropper [imageChangedEvent]="_image.imageChangedEvent"
                            [imageBase64]="_image.imageBase64String"
                            [maintainAspectRatio]="_image.aspRatio.toggle"
                            [containWithinAspectRatio]="_image.containWithinAspectRatio"
                            [aspectRatio]="_image.aspRatio.w / _image.aspRatio.h"
                            [onlyScaleDown]="true" [roundCropper]="false"
                            [canvasRotation]="_image.canvasRotation" [transform]="_image.transform"
                            [alignImage]="'left'" [style.display]="_image.showCropper ? null : 'none'" format="png"
                            (imageCropped)="_image.imageCropped($event)" (imageLoaded)="_image.imageLoaded()"
                            (cropperReady)="_image.cropperReady($event)" (loadImageFailed)="_image.loadImageFailed()">
                        </image-cropper>
                    </div>
                    <ng-template #showImgOnly>
                        <img [src]="_image.croppedImage" height="300" width="auto" style="
                        margin: auto;
                        display: flex;
                        margin-top: 20px;
                    ">
                    </ng-template>
                </div>
                <div class="kb-mat-form">
                    <div class="kb-inp-group">
                        <img [src]="_image.croppedImage">
                        <mat-form-field appearance="fill">
                            <mat-label for="imgName">Title</mat-label>
                            <input matInput id="imgName" placeholder="Give your image a title" type="text"
                                [(ngModel)]="_image.selectedImg.title" />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label for="imgAlt">Alt</mat-label>
                            <input matInput id="imgAlt" placeholder="Give your image an alt" type="text"
                                [(ngModel)]="_image.selectedImg.alt" />
                        </mat-form-field>
                    </div>
                    <div class="kb-btn-group">
                        <button mat-raised-button (click)="_image.onUpload(true)" color="secondary"
                        matTooltipPosition="above" style="margin-right: 10px">Duplicate</button>
                        <button mat-raised-button (click)="_image.onUpload(false)" color="primary"
                        matTooltipPosition="above">Save</button>
                    </div>
                </div>
            </div>
            <ng-template #loading>
                <div class="kb-img-thumbnail-group" style="height: 500px;"><mat-spinner></mat-spinner></div>
            </ng-template>  
        </ng-template>
    </div>
<ng-template>
