
/* edit user */
.nav .nav-link .nav-text {
    font-size: 13px;
}
.forgetpassword{
    font-size: 12px;
}

.nav-tabs .nav-link.active {
    border-color: transparent!important;
}
.nav.nav-tabs.nav-tabs-line.nav-tabs-line-3x .nav-link.active{
    border-bottom: 3px solid var(--primary-color)!important;
}
.nav-tabs {
    border-bottom: transparent!important;
}
.card.card-custom > .card-header.card-header-tabs-line .nav .nav-link {
    padding-top: 13px;
    padding-bottom: 13px;
}
.card-header{
    padding-top: 0px;
    margin: -16px!important;;
}
.bw-maincontainer .nav-tabs .nav-item {
    margin-bottom: -14px!important;
}
.bw-maincontainer h6{
    font-size: 15px;
}
.bw-maincontainer label{
    font-size: 13px;
}
.bw-maincontainer input, .bw-maincontainer select{
    background-color: #F3F6F9;
    border-color: #F3F6F9;
    color: #3F4254;    
    height: calc(1.5em + 1.65rem + 2px)!important;
    padding: 0.825rem 1.42rem!important;
    line-height: 1.5!important;
    border-radius: 0.42rem!important;
    font-size: 13px!important;
}
.bw-maincontainer input:focus, .bw-maincontainer select:focus{    
    box-shadow: none;
}
.image-input {
    position: relative;
    display: inline-block;
    border-radius: 0.42rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.image-input .image-input-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 0.42rem;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(/assets/images/profile/avatar.png); */
}
.image-input.image-input-outline .image-input-wrapper {
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 8%);
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 8%);
}
.image-input [data-action=change] {
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: -10px;
    top: -10px;
    color: #3F4254;
    background-color: #ffffff;
    border-color: #ffffff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 9px 16px 0px rgb(24 28 50 / 25%) !important;
    box-shadow: 0px 9px 16px 0px rgb(24 28 50 / 25%) !important;
}
.image-input [data-action=change] input {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    opacity: 0;
}
.bw-maincontainer .text-muted{
    font-size: 11px;
    color: #B5B5C3 !important;
}
.input-group-text i {
    font-size: 12px;
    color: #B5B5C3;
}
.input-group-text {
    background: #f3f6f9!important;
    border: none!important;
    font-size: 13px!important;
}
.checkbox-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.checkbox-inline .checkbox {
    margin-right: 1rem;
    margin-bottom: 0.35rem;
}

.form-group label {
    font-size: 1rem;
    font-weight: 400;
    color: #3F4254;
}
.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0;
}
.checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox > span {
    height: 18px;
    width: 18px;
}
.checkbox > span {
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 0.42rem;
}
.checkbox-inline .checkbox span {
    margin-right: 0.75rem;
}
.checkbox > span {
    background-color: #EBEDF3;
    border: 1px solid transparent;
}

.checkbox > input:checked ~ span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--primary-color);

}
.checkbox > input:checked ~ span:after {
    border-color: #ffffff;
}

.checkbox > input:checked ~ span:after {
    display: block;
}
.checkbox > span:after {
    width: 5px;
    height: 10px;
}
.checkbox > span:after {
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0 /*rtl:ignore*/ !important;
    -webkit-transform: rotate(
45deg) /*rtl:ignore*/;
    transform: rotate(
45deg) /*rtl:ignore*/;
    margin-top: -2px;
}

.separator.separator-dashed {
    border-bottom: 1px dashed #EBEDF3;
}

.separator {
    height: 0;
}
.mb-10, .my-10 {
    margin-bottom: 2.5rem !important;
}

.mt-10, .my-10 {
    margin-top: 2.5rem !important;
}
.form-group label {
    font-size: 13px;
    color: #3F4254;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.55rem 0.75rem;
    font-size: 12px!important;
    line-height: 1.35;
    border-radius: 0.42rem;
}
.btn.btn-light-primary {
    color: var(--primary-color);
    background-color: #E1F0FF;
    border-color: transparent;
    font-size: 13px;
    font-weight: 500!important;
}
.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled){   
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-color: transparent;

}
.btn.btn-light-danger {
    color: #F64E60;
    background-color: #FFE2E5;
    border-color: transparent;
}
.btn.btn-light-danger:hover:not(.btn-text):not(:disabled):not(.disabled){    
    color: #ffffff;
    background-color: #F64E60;
    border-color: transparent;
}
.svg-icon svg {
    width: 20px;
}
.bw-maincontainer .card-footer {
    padding: 2rem 2.25rem;
    background-color: #ffffff;
    border-top: 1px solid #EBEDF3;
}
.switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
}
.switch label {
    margin: 0;
}

.switch input:empty {
    margin-left: -999px;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
.switch input:empty ~ span {
    display: inline-block;
    position: relative;
    /* float: left; */
    width: 1px;
    text-indent: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switch input:empty ~ span {
    margin: 2px 0;
    height: 30px;
    width: 57px;
    border-radius: 15px;
}
.switch input:empty ~ span:before, .switch input:empty ~ span:after {
    width: 54px;
    border-radius: 15px;
}

.switch input:empty ~ span:before, .switch input:empty ~ span:after {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    content: " ";
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
.switch input:empty ~ span:before {
    background-color: #EBEDF3;
}
.switch input:checked ~ span:before {
    background-color: #EBEDF3;
}

.switch input:empty ~ span:after {
    height: 24px;
    width: 24px;
    top: 3px;
    bottom: 3px;
    margin-left: 3px;
    font-size: 0.65em;
    text-align: center;
    vertical-align: middle;
}
.switch input:checked ~ span:after {
    margin-left: 26px;
}
.switch input:empty ~ span:after {
    background-color: #ffffff;
    opacity: 0.7;
}
.switch input:checked ~ span:after {
    opacity: 1;
    color: #ffffff;
    background-color: var(--primary-color);
}
.checkbox.checkbox-success > input:checked ~ span {
    background-color: #1BC5BD;
}
/* edit user */

.bw-maincontainer .card{
    border: none;
}
.bw-maincontainer .card-header{
    background-color:transparent;
}

.keadropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8fafb;
    padding: 1rem;
    width: 100%;
    font-size: 13px;
    border-radius: 0.375rem;
    flex-flow: column;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' fill='none' rx='0.375rem' ry='0.375rem' stroke='%23e0e7f1' stroke-width='2' stroke-dasharray='4.5,8.5' stroke-dashoffset='4.5' stroke-linecap='square'/%3E%3C/svg%3E");
}