<div id="recordingsheatmap">

  <div id="full_playback_controls">
    <nav id="playback_nav_controls">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">

            <div class="navbar-btn btn btn-dark btn-sm btn-default" id="close_spy_btn">
              <a [routerLink]="['/advice']" href="javascript:void(0)">
                  <span class="glyphicon glyphicon-chevron-left"></span> 
                  <span class="lbl">Back</span>
              </a>
            </div>
          </div>
          <div class="col-md-8">

            <div class="btn-group" id="play-controls">

              <div class="navbar-btn btn btn-dark btn-sm tip btn-blue btn-toggle paused" id="toggle_playback"
                (click)="toggle_playback()">
                <i class="fas fa-play" id="kb_playme"></i>
                <i class="fas fa-pause" id="kb_pauseme"></i>
              </div>

              <div id="repeat-recording-button" (click)="repeat_record()"
                class="navbar-btn btn btn-dark btn-sm tip btn-blue btn-toggle">
                <i class="fas fa-redo-alt"></i>
              </div>

              <div class="dropdown pull-left btn-group">
                <select class="btn btn-dark navbar-btn btn-sm tip rounded-xs-right bordered-xs-right dropdown-toggle"
                  id="play_speed_selector" (change)="kb_speedcontrol($event)">
                  <option value="1">½ x</option>
                  <option value="2" selected>1x</option>
                  <option value="3">2x</option>
                  <option value="4">3x</option>
                  <option value="5">4x</option>
                  <option value="6">5x</option>
                  <option value="7">10x</option>
                </select>
              </div>

              <div class="navbar-btn progress progress-striped tip" id="kb-progressbar">
                <div id="playback_activity" class="dark" (click)="toggle_playback()"></div>
                <div class="progress-bar" style="width: 107.692%; transition: none 0s ease 0s;">
                  <span class="sr-only">0%</span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <div class="btn-group pull-right">

              <div class="btn btn-primary" id="styleloadheat">
                <a href="#" target="_blank" id="kb_loadheatmap">Load Heatmap</a>
              </div>

              <div class="dropdown btn-group pull-right" [class]="{ open : isOpen }" id="recording_page_count">
                <button class="btn btn-sm navbar-btn btn-dark dropdown-toggle" id="page_count_val" type="button">
                  <span id="page_lbl" (click)="openClose()">Visitor Info</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu data-menu data-menu--padded" id="recording_visitor_data_menu">
                  <li class="data-menu__item">
                    <div class="media">
                      <div class="media-body">
                        <h3 class="media-heading">Visitor</h3>
                      </div>
                    </div>
                  </li>
                  <li class="data-menu__item--separator" role="presentation"></li>
                  <li class="data-menu__item">
                    <h4 class="data-menu__label">Page Start</h4>
                    <ul class="list-unstyled">
                      <li class="data-menu__field" id="kb_visitorinfo1"></li>
                    </ul>
                  </li>
                  <li class="data-menu__item--separator" role="presentation"></li>
                  <li class="data-menu__item">
                    <h4 class="data-menu__label">Browser &amp; OS</h4>
                    <ul class="list-unstyled">
                      <li class="data-menu__field" id="kb_visitorinfo2"></li>
                    </ul>
                  </li>
                  <li class="data-menu__item--separator" role="presentation"></li>
                  <li class="data-menu__item">
                    <h4 class="data-menu__label">Location</h4>
                    <span class="data-menu__field" id="kb_visitorinfo3"></span>
                  </li>
                  <li class="data-menu__item--separator" role="presentation"></li>
                  <li class="data-menu__item">
                    <h4 class="data-menu__label">IP Address</h4><span class="data-menu__field text-center"
                      id="kb_visitorinfo4"></span>
                  </li>
                  <li class="data-menu__item--separator" role="presentation"></li>
                  <li class="data-menu__item">
                    <h4 class="data-menu__label">Source</h4>
                    <ul class="list-unstyled list-spaced">
                      <li><span class="data-menu__field"><small class="text-muted">Landing URL:</small><br>
                          <a href="" class="tip" id="kb_visitorinfo5" target="_blank"></a>
                        </span>
                      </li>
                    </ul>
                  </li>
                  <li class="data-menu__item--separator" role="presentation"></li>
                  <li class="data-menu__item">
                    <h4 class="data-menu__label">Device</h4><span class="data-menu__field text-center"
                      id="kb_visitorinfo6"></span>
                  </li>

                </ul>
              </div>

            </div>
          </div>
        </div>


      </div>

    </nav>
  </div>

  <!-- next video container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="mainvideoheatmap">
          <video id="kb-heatmapvideo" muted (ended)="onVideoEnded()">
          </video>
        </div>
      </div>
    </div>
  </div>

  <div class="wood_back_dark" style="opacity: 1;"></div>
</div>