<div id="kb-membershippayments">

  <div id="kb-offer-actions" *ngIf="poupsidebar && automationaddnewaction">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar">
        
        <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
        <h6><b>NEW CONTACT</b></h6>
        <hr>
        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" matInput required minlength="3" maxlength="140" >
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput required minlength="3" maxlength="140" >
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput required>
        </mat-form-field>

        <hr>
        <p>Extra Actions</p>
        
        <mat-form-field class="kb-full-width" appearance="fill" >
            <mat-label>Grant Offers</mat-label>
            <mat-select [formControl]="productoptionals" multiple>
              <mat-select-trigger>
                {{productoptionals.value ? productoptionals.value[0] : ''}}
                <span *ngIf="productoptionals.value?.length > 1" class="example-additional-selection">
                  (+{{productoptionals.value.length - 1}} {{productoptionals.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let productoptional of productoptionalList" [value]="productoptional">{{productoptional}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="kb-full-width" appearance="fill" >
          <mat-label>Add Tags</mat-label>
          <mat-select [formControl]="tagoptionals" multiple>
            <mat-select-trigger>
              {{tagoptionals.value ? tagoptionals.value[0] : ''}}
              <span *ngIf="tagoptionals.value?.length > 1" class="example-additional-selection">
                (+{{tagoptionals.value.length - 1}} {{tagoptionals.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let tagoptional of tagoptionalList" [value]="tagoptional">{{tagoptional}}</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-checkbox class="mb-2">Subscribe to marketing emails</mat-checkbox>

      <button mat-raised-button color="primary" ><i class="fas fa-plus"></i> Create Contact</button>

    </div>
  </div>
  <div class="offcanvas-overlay " *ngIf="poupsidebar" (click)="hidepopupsidebar()"></div>

  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-6">
        <h3 class="d-inline-block mr-2">All Members</h3>
        <button (click)="addnewcontact()" mat-raised-button color="primary" matTooltip="Add New Contact" matTooltipPosition="above" class="mr-2">Add Contact <i class="fa fa-plus" aria-hidden="true"></i></button>

          <button [routerLink]="['/membership/tags']" mat-raised-button matTooltip="Manage Tags" matTooltipPosition="above" class="mr-2">Manage Tags <i class="fa fa-tags" aria-hidden="true"></i></button>
      </div>
      <div class="col-md-6 text-right">
        <fieldset class="form-group position-relative has-icon-left kea-barfieldset mr-2">
            <input type="text" class="form-control" id="offer-search" #input (keyup)="applyFilter($event)"  placeholder="Search members...">
            <div class="form-control-position">
                <i class="fab fa-searchengin"></i>                        
            </div>
        </fieldset>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                    </td>
              </ng-container>
              <!-- Checkbox Column -->
          
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>

              <ng-container matColumnDef="emailmarketing">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Marketing </th>
                <td mat-cell *matCellDef="let row"> {{row.emailmarketing}} </td>
              </ng-container>
          
              <ng-container matColumnDef="addeddate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Added Date </th>
                <td mat-cell *matCellDef="let row"> {{row.addeddate}} </td>
              </ng-container>
          
              <ng-container matColumnDef="lastactivity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last activity </th>
                <td mat-cell *matCellDef="let row"> {{row.lastactivity}} </td>
              </ng-container>

              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Option </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button class="mr-2">View <i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button mat-raised-button>Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>
    </div>
  </div>


</div>