<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete Footer</h1>
  <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{delfooter.name}}</span> footer?
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">No</button>
      <button mat-button mat-dialog-close class="text-danger" (click)="delete(delfooter)">Yes</button>
  </div>
</ng-template>
<ng-template #createdialog>
  <h1 mat-dialog-title>Create Footer</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="isNotValid(validate.name)">
      Footer name is required
    </mat-error>
    <mat-error *ngIf="validate.name.hasError('minlength')">
      Footer name must be at least <strong>3</strong> characters
    </mat-error>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Footer Name</mat-label>
      <input matInput type="text" [placeholder]="'Footer name'" [formControl]="validate.name" [(ngModel)]="footer.name" minlength="3">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">Cancel</button>
      <button mat-button mat-dialog-close [color]="!validate.name.invalid ? 'primary' : ''" [disabled]="validate.name.invalid" (click)="create()">Create</button>
  </div>
</ng-template>
<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
  <div class="row align-items-center">
      <div class="col-md-8">
        <mat-form-field appearance="fill" class="col-8 pr-2">
          <mat-label>Search Footers</mat-label>
          <input matInput #searchInp type="text" (input)="searchfooters(searchInp, filterInp)" placeholder="Search Footer Name">
          <i class="fa-solid fa-magnifying-glass"></i>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-4">
          <mat-label>Sort By</mat-label>
          <mat-select #filterInp name="kbfilter" (valueChange)="searchfooters(searchInp, filterInp)">
            <mat-option [value]="'name ASC'">ASC By Name</mat-option>
            <mat-option [value]="'name DESC'">DESC By Name</mat-option>
            <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
            <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 text-right">
        <button mat-raised-button [color]="'accent'" (click)="toggleView()" *ngIf="footers.length != 0">
          <span *ngIf="toggleview else gridview">List View <i class="fas fa-th-list"></i></span>
          <ng-template #gridview><span>Grid View <i class="fas fa-th-large"></i></span></ng-template>
        </button>
        <button mat-raised-button class="mx-3" (click)="openDialog(createdialog)" color="primary"><span class="keamobhd">Create Footer </span> <i class="fas fa-plus"></i></button>
      </div>  
  </div>
  <div [class.px-3]="!toggleview" class="row" *ngIf="footers.length != 0 else nodata">
    <div [class]="toggleview ? 'col-md-6' : 'col-md-12'" class="cardpage mt-4" *ngFor="let footer of footers | filter:searchInp.value:'name' | sorting:_general.searchFilter.value:_general.searchFilter.type">
        <div [class.row]="!toggleview">
          <div [class]="toggleview ? 'col-md-12' : 'col-md-6'" class="p-0">
            <div [class.kb-disabled]="footer.deleting" class="kb-fitimg" [ngStyle]="{'background-image': 'url('+_image.uploadImgPath+_general.getSSPath('footer-'+footer.uniqueid)+'), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}">
              <div class="kb-loader" *ngIf="shortwaiting || footer.deleting">
                <div class="kb-loader-shadow"></div>
                <div class="kb-loader-box"></div>
              </div>
            </div>
          </div>
          <div [class]="toggleview ? 'col-md-12 pt-3' : 'col-md-6'">
            <div class="row align-items-center p-0 h-100">
              <div [class]="toggleview ? 'col-md-6 p-0' : 'col-md-12'">
                <div class="kb-title-board line-ellipsis">
                  <span>{{footer.name ? footer.name : 'Footer Name' | titlecase}}</span>
                  <input type="text" #footname [value]="footer.name" (blur)="rename(footer, footname)" matTooltip="Edit footer Name" matTooltipPosition="above">
                </div>
                <p class="kb-pagedate mt-2 mb-0" matTooltip="Last Updated" matTooltipPosition="above">
                  <i class="far fa-calendar-alt" aria-hidden="true"></i> {{_general.dateformat(footer.updated_at)}}
                </p>
              </div>
              <div [class]="toggleview ? 'col-md-6 p-0' : 'col-md-12'" class="text-right">
                <button mat-raised-button [disabled]="footer.deleting" (click)="edit(footer)" color="primary">Edit <i class="fas fa-pencil-alt"></i></button>
                <button mat-raised-button [disabled]="footer.deleting" (click)="duplicate(footer)" color="accent" class="mx-2">Dupliacte <i class="far fa-copy"></i></button>
                <button mat-raised-button [disabled]="footer.deleting" (click)="delfooter = footer; openDialog(deldialog)" color="danger"> Delete <i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <ng-template #nodata>
    <div class="row justify-content-center mt-5" >
      <div class="col-md-4">
          <img src="/assets/images/website/website-empty.png" class="img-fluid" alt="No Footer found">
      </div>
    </div>
  </ng-template>
</div>