<ng-template #dialog>
    <h1 mat-dialog-title class="kb-danger">Delete menu</h1>
    <div mat-dialog-content>
        Would you like to delete <span class="text-danger">{{delmenu.name}}</span> menu?
    </div>
    <div mat-dialog-actions class="justify-content-end">
        <button mat-button mat-dialog-close class="text-info">No</button>
        <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deleteMenu()">Yes</button>
    </div>
</ng-template>
<div id="pagesinsidepage">
    <mat-progress-bar *ngIf="loading.menu || loading.web || loading.funnel" mode='indeterminate'></mat-progress-bar>
    <div class="container-fluid">
        <div class="row align-items-center px-4 py-2">
            <div class="col-md-6">
                <h2>Navigation</h2>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="createNew()" mat-raised-button color="primary">Create New <i
                        class="fa fa-plus"></i></button>
            </div>
        </div>
        <div cdkDropListGroup class="kb-menu-cards row p-2 m-auto">
            <div class="col-md-3 kb-menu-card-inner p-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Select pages from</mat-label>
                    <mat-select value="website" (valueChange)="refreshPages(selfrom.value)" #selfrom>
                        <mat-option value="website">Website</mat-option>
                        <mat-option value="funnel">Funnel</mat-option>
                    </mat-select>
                </mat-form-field>
                <input class="border-bottom p-2" matInput #searchText [placeholder]="'Search '+selfrom.value" required>
                <div *ngIf="selfrom.value == 'website' else funnel">
                    <div class="kb-inner-pages px-3 pt-3">
                        <div cdkDropList [cdkDropListData]="webpages" cdkDropListSortingDisabled>
                            <h6 *ngIf="webpages.length == 0" class="kb-fade-text">You don't have any website pages</h6>
                            <div cdkDrag [cdkDragData]="page" *ngFor="let page of webpages | filter:searchText.value:'page_name'" class="py-1">
                                <div *cdkDragPreview class="custom-preview">{{page.page_name | titlecase}}</div>
                                <div *cdkDragPlaceholder class="custom-placeholder px-3 py-2">Drop here</div>
                                <div class="kb-menu-pages kb-has-icon">
                                    <div cdkDragHandle matTooltip="Drag to add" matTooltipPosition="above"
                                        class="px-3 py-2 w-100 d-flex justify-content-between">
                                        <span>{{page.page_name | titlecase}}</span>
                                        <span class="kb-tag kb-info-tag" *ngIf="page.publish_status == 1 else draft">Published</span>
                                        <ng-template #draft><span class="kb-tag kb-danger-tag">Drafted</span></ng-template>
                                    </div>
                                    <span matTooltip="Preview" matTooltipPosition="above" class="border-left">
                                        <i class="fa fa-external-link-alt px-3 py-2"
                                            (click)="redirectLink(_general.subdomain+page.page_path)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #funnel>
                    <div class="kb-inner-pages px-3 pt-3">
                        <mat-accordion>
                            <h6 *ngIf="funnels.length == 0" class="kb-fade-text">You don't have any funnels</h6>
                            <mat-expansion-panel *ngFor="let funnel of funnels | filter:searchText.value:'name', index as fi"  [expanded]="_general.expPanelStep === fi"
                                (opened)="_general.setExpPanelStep(0)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{funnel.name | titlecase}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div cdkDropList [cdkDropListData]="funnel.steps" cdkDropListSortingDisabled>
                                    <div cdkDrag [cdkDragData]="step" *ngFor="let step of funnel.steps"
                                        class="py-1">
                                        <div *cdkDragPreview class="custom-preview">{{step.page_name | titlecase}}
                                        </div>
                                        <div *cdkDragPlaceholder class="custom-placeholder px-3 py-2">Drop here
                                        </div>
                                        <div class="kb-menu-pages kb-has-icon">
                                            <div cdkDragHandle matTooltip="Drag to add" matTooltipPosition="above"
                                                class="px-3 py-2 w-100 d-flex justify-content-between">
                                                <span>{{step.page_name | titlecase}}</span>
                                                <span class="kb-tag kb-info-tag">{{step.funneltype}}</span>
                                            </div>
                                            <span matTooltip="Preview" matTooltipPosition="above"
                                                class="border-left">
                                                <i class="fa fa-external-link-alt px-3 py-2"
                                                    (click)="redirectLink(_general.subdomain+step.page_path)"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-6 px-md-5">
                <div *ngIf="menuobj else nomenu" class="row">
                    <div class="col-8">
                        <mat-form-field class="w-100">
                            <mat-label>Menu Name</mat-label>
                            <input matInput placeholder="Menu name goes here.." [(ngModel)]="menuobj.name" required>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <button (click)="saveMenu(menuobj)" mat-raised-button color="primary"
                            [disabled]="loading.menu">Save <i class="fa fa-save"></i></button>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center">
                            <h5 class="col-md-8">Structure</h5>
                            <div class="col-md-4 py-1" cdkDropList cdkDropListSortingDisabled>
                                <div cdkDrag [cdkDragData]="custom">
                                    <div *cdkDragPreview class="custom-preview">{{custom.page_name | titlecase}}</div>
                                    <div *cdkDragPlaceholder class="custom-placeholder px-3 py-2">Drop here</div>
                                    <div cdkDragHandle matTooltip="Drag to add" matTooltipPosition="above"
                                        class="kb-menu-pages kb-custom-link kb-menu-items px-3 py-2 justify-content-center">
                                        {{custom.page_name | titlecase}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul cdkDropList [cdkDropListData]="menuobj.items" (cdkDropListDropped)="itemDropped($event)"
                            class="kb-dragzone p-3" [class]="menuobj.items.length == 0 ? 'kb-dragtext' : ''">
                            <li cdkDrag *ngFor="let item of menuobj.items, index as mi" class="py-1">
                                <div *cdkDragPreview class="custom-preview">{{item.name}}</div>
                                <div *cdkDragPlaceholder class="custom-placeholder px-3 py-2">Drop here</div>
                                <div class="kb-menu-items kb-has-icon">
                                    <span cdkDragHandle class="px-3 py-2 w-100">{{item.name | titlecase}}</span>
                                    <span class="border-left">
                                        <i matTooltip="Preview" matTooltipPosition="above"
                                            (click)="redirectLink(item.link)" class="fa fa-external-link-alt p-2"></i>
                                        <i matTooltip="Customize" matTooltipPosition="above"
                                            (click)="toggleItemSetting(item)"
                                            [style.color]="item.setting ? 'var(--primary-color)' : ''"
                                            class="fa fa-edit p-2"></i>
                                        <i matTooltip="Duplicate" matTooltipPosition="above"
                                            (click)="duplicateMenuItem(item, mi)" class="far fa-copy p-2"></i>
                                        <i matTooltip="Remove" matTooltipPosition="above" (click)="deleteMenuItem(mi)"
                                            class="fa fa-times kb-danger p-2"></i>
                                    </span>
                                </div>
                                <div *ngIf="item.setting" class="kb-menu-settings border-top">
                                    <mat-form-field class="w-100">
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Item Name" [(ngModel)]="item.name" required="">
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <mat-label>Link</mat-label>
                                        <input matInput placeholder="Item Link" [(ngModel)]="item.link" required>
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <mat-label>Open on</mat-label>
                                        <mat-select [(ngModel)]="item.target">
                                            <mat-option *ngFor="let target of _general.menu_target_types"
                                                [value]="target.value">{{target.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="w-100 text-right">
                                        <button mat-button (click)="toggleItemSetting(item)">Done</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-template #nomenu>
                    <div class="d-flex justify-content-center align-items-center">
                        <img [src]="_image.imgPath+'website/nav-empty.png'" class="img-fluid w-75">
                    </div>
                </ng-template>
            </div>
            <div class="col-md-3 kb-menu-card-inner p-0">
                <h5 class="p-3">Menus</h5>
                <hr class="m-0" [style.paddingBottom]="'1.34375em'">
                <input class="border-bottom p-2" matInput #searchMenu placeholder="Search menus" required>
                <div class="kb-inner-pages p-3">
                    <h6 *ngIf="menus.length == 0" class="kb-fade-text">You don't have any menus</h6>
                    <div *ngFor="let menu of menus | filter:searchMenu.value:'name'" class="py-2">
                        <div [class]="menuobj.id == menu.id ? 'kb-menu-active' : ''" class="kb-menu-pages kb-has-icon">
                            <span matTooltip="Click to customize" matTooltipPosition="above" (click)="selectMenu(menu)"
                                class="px-3 py-2 w-100">{{menu.name | titlecase}}</span>
                            <span class="border-left">
                                <i (click)="duplicateMenu(menu)" matTooltip="Duplicate" matTooltipPosition="above"
                                    class="far fa-copy p-2"></i>
                                <i (click)="openDialog(dialog, menu)" matTooltip="Delete" matTooltipPosition="above"
                                    class="far fa-trash-alt kb-danger p-2"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>