.kb-menu-cards {
    justify-content: space-evenly;
}

.kb-menu-cards>div.kb-menu-card-inner {
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.kb-menu-cards>div.kb-menu-card-inner h5 {
    margin: 0;
}

.kb-menu {
    cursor: move;
    background-color: var(--kb-light);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
    border: 2px solid transparent;
}

.kb-menu:hover, .kb-menu-active {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

/* ::ng-deep .mat-tab-body-content {
    overflow: unset!important;
} */

::ng-deep .mat-tab-label-active .mat-tab-label-content{
    color: var(--primary-color);
}

::ng-deep .mat-ink-bar {
    height: 3px!important;
}

::ng-deep .mat-ink-bar, ::ng-deep .mat-tab-body-wrapper {
    transition-duration: 200ms!important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--primary-color);
}

.mat-tab-group {
    margin-top: -40px;
    height: calc(100% + 40px);
}
