<!-- create campaign dialog -->
<ng-template #adddialog>
  <h1 mat-dialog-title class="txt">Create Campaign</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="error">{{errormessage}}</mat-error>
      <mat-form-field class="kb-full-width mb-2" appearance="fill">
        <mat-label>Campaign Name</mat-label>
        <input type="text" matInput name="campaignname" [(ngModel)]="campaignname" [formControl]="campaignnameControl" required minlength="3" >
        <mat-error *ngIf="campaignnameControl.hasError('minlength')">
            Name must be at least <strong>3</strong> characters
        </mat-error>
    </mat-form-field>
    <mat-form-field class="kb-full-width mb-2" appearance="fill">
      <mat-label>Add Note</mat-label>
      <textarea type="text" matInput name="campaignnote" [(ngModel)]="campaignnote"></textarea>
  </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">Close</button>
      <button mat-button
      [color]="!campaignnameControl.invalid ? 'primary' : ''"  
      [disabled]="campaignnameControl.invalid"
      (click)="createcamp()">Create</button>
  </div>
</ng-template>
<!-- close create campaign dialog -->
<!--update campaign -->
<ng-template #updatedialog>
  <h1 mat-dialog-title class="txt">Update Campaign</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="error">{{errormessage}}</mat-error>
      <mat-form-field class="kb-full-width mb-2" appearance="fill">
        <mat-label>Campaign Name</mat-label>
        <input type="text" matInput name="campaignname" [(ngModel)]="campaignobj.name" [formControl]="campaignnameControl" required minlength="3" >
        <mat-error *ngIf="campaignnameControl.hasError('minlength')">
            Name must be at least <strong>3</strong> characters
        </mat-error>
    </mat-form-field>
    <mat-form-field class="kb-full-width mb-2" appearance="fill">
      <mat-label>Add Note</mat-label>
      <textarea type="text" matInput name="campaignnote" [(ngModel)]="campaignobj.note"></textarea>
  </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close class="text-danger">Close</button>
      <button mat-button
      [color]="!campaignnameControl.invalid ? 'primary' : ''"  
      [disabled]="campaignnameControl.invalid"
      (click)="updatecamp()">Update</button>
  </div>
</ng-template>
<!--update campaign -->
<!-- delete campaign dialog -->
<ng-template #deletedialog>
  <h1 mat-dialog-title class="kb-danger">Delete Campaign</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{delcampaign.name}}</span> campaign?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close [color]="'primary'">No</button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      class="text-danger"
      (click)="deletecampaign(delcampaign)"
    >
      Yes
    </button>
  </div>
</ng-template>
<ng-template #delselecteddialog>
  <h1 mat-dialog-title class="kb-danger">Delete Selected Campaigns</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{selectedCampaigns.length}}</span> campaigns?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">No</button>
    <button mat-button mat-dialog-close (click)="deleteSelectedCampaigns(selectedCampaigns)" class="text-danger">Yes</button>
  </div>
</ng-template>
<!-- close delete campaign dialog -->
    <div class="container-fluid">
      <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div  class="row">
        <mat-form-field  class="col-md-5 px-3"  appearance="fill" >
          <mat-label>Search Campaigns...</mat-label>
            <input matInput [(ngModel)]="searchInp" (input)="searchCampaigns(searchInp, sortInp,sentInp,listInp,tagInp)" type="text" placeholder="Search Campaigns">
            <i class="fa-solid fa-magnifying-glass"></i>
        </mat-form-field>
      
      <mat-form-field  class="col-md-2 px-1" appearance="fill">
        <mat-label>Filter By List</mat-label>
            <mat-select  name="listfilter" [(ngModel)]="listInp" (ngModelChange)="searchCampaigns(searchInp, sortInp, sentInp, listInp, tagInp)">
                <mat-option value="" selected>All</mat-option>
                <mat-option *ngFor="let list of lists" [value]="list.uniqueid">
                    {{list?.name | titlecase}}
                  </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field  class="col-md-2 px-1" appearance="fill">
        <mat-label>Filter By Tag</mat-label>
            <mat-select  name="tagfilter" [(ngModel)]="tagInp" (ngModelChange)="searchCampaigns(searchInp, sortInp, sentInp, listInp, tagInp)">
                <mat-option value="" selected>All</mat-option>
                <mat-option *ngFor="let tag of tags" [value]="tag.uniqueid">
                    {{tag?.name | titlecase}}
                  </mat-option>
            </mat-select>
      </mat-form-field>
    <div class="col-md-3 text-right p-0">
      <button mat-raised-button color="primary" class="mr-3 d-inline-block" (click)="openDialog(adddialog,false)">
        <i class="fa fa fa-envelope" aria-hidden="true"></i> Create Campaign
      </button>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="selectedCampaigns.length > 0">
        <div class="float-right mb-3 kb-delbtn" (click)="openDialog(delselecteddialog, selectedCampaigns)">
          <span class="">Delete Selected Campaigns <i class="fa fa-trash-alt"></i></span>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="pagecampaigns?.length != 0; else nodata">
      <div class="col-12">
        <table class="table kb-table" dataSource="campaigns">
          <thead>
            <tr>
              <th>
                <mat-checkbox [(ngModel)]="checked_selected" (ngModelChange)="selectAllCampaigns($event)" matTooltip="Select All Page Campaigns" matTooltipPosition="above"></mat-checkbox>
              </th>
              <th class="kb-table-sort" (click)="toggleSort('name')">Name <i class="fa-solid fa-up-long" *ngIf="sortInp == 'name ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'name DESC'"></i></th>
              <!-- <th>Type</th> -->
              <!-- <th>Publish Status</th> -->
              <th class="kb-table-sort" (click)="toggleSort('publish_status')">Status <i class="fa-solid fa-up-long" *ngIf="sortInp == 'publish_status ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'publish_status DESC'"></i></th>
              <th>Sent To</th>
              <th class="kb-table-sort" (click)="toggleSort('senddate')">Sent On <i class="fa-solid fa-up-long" *ngIf="sortInp == 'senddate ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'senddate DESC'"></i></th>
              <!-- <th>Created On</th> -->
              <th class="kb-table-sort" (click)="toggleSort('timezone')">Time Zone <i class="fa-solid fa-up-long" *ngIf="sortInp == 'timezone ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'timezone DESC'"></i></th>
              <!-- <th class="kb-table-sort" (click)="toggleSort('updated_at')">Modified On <i class="fa-solid fa-up-long" *ngIf="sortInp == 'updated_at ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'updated_at DESC'"></i></th> -->
              <th class="kb-table-sort" (click)="toggleSort('note')">Note <i class="fa-solid fa-up-long" *ngIf="sortInp == 'note ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'note DESC'"></i></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let campaign of pagecampaigns; index as i">
             <td><mat-checkbox class="align-items-center" [(ngModel)]="campaign.selected" matTooltip="Click to Select" matTooltipPosition="above" (ngModelChange)="selectCampaigns($event, campaign)"></mat-checkbox></td>
              <td (click)="campaign.sendoption =='recurring' || campaign.campaign_sent =='0' ? GotoUrl('/crm/campaign/'+campaign.uniqueid) : GotoUrl('')" class="kb-td-link ftsize">{{campaign.name}}</td>
              <!-- <td>{{campaign.sendoption}}</td> -->
              <td [class]="campaign.publish_status == '1' ? 'text-success' : 'text-danger'">{{campaign.publish_status == '1' ? 'Publish' : 'Drafts'}}{{campaign.campaign_sent == '1' ? '( Sent )' : ' ( Pending )'}}</td>
              <!-- <td>{{campaign.campaign_sent == '1' ? 'Sent' : 'Pending'}}</td> -->
              <td>{{campaign.sentto}}</td>
              <td class="text-primary">{{campaign.senddate | date:'medium'}}</td>
              <!-- <td>{{campaign.created_at | date:'medium'}}</td> -->
              <td class="text-primary">{{campaign.timezone}}</td>
              <!-- <td>{{campaign.updated_at | date:'medium'}}</td> -->
              <td class="ftsize">{{campaign?.note || '--'}}</td>
              <td>
                <span class="d-flex">
                  <i  mat-ripple matTooltip="Quik Edit" matTooltipPosition="above"  class="fa-regular fa-pen-to-square kb-table-action-icon" (click)="openDialog(updatedialog,campaign)"></i>
                  <i #editlink *ngIf="(campaign.sendoption =='recurring' || campaign.campaign_sent =='0')" mat-ripple matTooltip="Edit" matTooltipPosition="above"  class="fa fa-pencil px-4 kb-table-action-icon" [routerLink]="'/crm/campaign/'+campaign.uniqueid"></i>
                  <i #reportlink *ngIf="campaign.campaign_sent=='1'" mat-ripple matTooltip="Report" matTooltipPosition="above" class="fa-solid fa-chart-pie px-4 kb-table-action-icon"></i>
                  <i mat-ripple matTooltip="Duplicate" matTooltipPosition="above" class="far fa-copy px-4 kb-table-action-icon" (click)="duplicatecampaign(campaign)"></i>
                  <i mat-ripple matTooltip="Delete" matTooltipPosition="above" class="fa fa-trash-alt px-4 kb-table-action-icon kb-icon-del" (click)="openDialog(deletedialog,campaign)"></i>
                </span>
              </td>                        
            </tr>
            
          </tbody>
        </table>
        <mat-paginator  #paginator [length]="campaignslength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]" aria-label="Select page" (page)="getpagecampaigns($event)"></mat-paginator>
      </div>
      
    </div>
    </div>
    <ng-template #nodata>
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <img
            src="/assets/images/website/website-empty.png"
            class="img-fluid"
            alt="No Campaign Found"
          />
        </div>
      </div>
    </ng-template>
  

