  .kb-user-detail-box{
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  }
  
 .kb-inp:hover{
  color: var(--primary-color);
    cursor: pointer;
 }
  .kb-edit-btn:hover{
    color: var(--primary-color);
    cursor: pointer;
  }
 
