/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;   
}
button:focus {
    outline: none!important;
    box-shadow: none!important;
}
.btn-primary{
    background-color: #d8c898;  
    border-color: #d8c898; 
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    font-size: 14px;
    color: #fff;
}
.btn-primary:hover{
    opacity: 0.8;
}
.btn-secondary {
    font-size: 14px;
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    color: #fff;
}
.insidecont{
    padding: 20px 0px;
    width: 96.5%;
    margin-left: auto;
    top: 72px;
    position: relative;
}
