@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');


:root {
    /* builder root */
        --opacity-primary: rgb(216 200 152 / 70%);        ;
        --opacity-success: rgb(27 197 189 / 70%);
        --opacity-section: rgb(24 103 192 / 80%);
        --opacity-danger: rgb(220 53 69 / 70%);
        --primary-color: #dea641;
        --secondary-color: #6c757d;
        --section-color: #1867c0;
        --row-color: #1BC5BD;
        --kb-light: #f4f4f4;
        --kb-success: #1BC5BD;
        --kb-danger: #dc3545;
        --kb-info: #17a2b8;
        --kb-gray: #ececec;
        --kb-dim-black: #22262a66;
        --kb-text-color: #4c5866;
        --kb-dark: #35363a; 
        --kb-white: #fff;
        --kb-black: #000;
    
    /* builder root */
      }
    
    *, ::after, ::before {
        box-sizing: border-box;
    }

    * {
        font-family: Poppins;
    }
    
    body,.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab,.mat-card, .mat-checkbox, .mat-option{
        font-family: Poppins;   
        font-weight: 400;
    }

    body {
        margin: 0;
        padding: 0;
    }
    
    /* scrolling */
    
    * ::-webkit-scrollbar, .kb-scroll ::-webkit-scrollbar {
        width: 8px!important;
        transition: 0.2s ease-in-out;
        z-index: 9999;
    }

    * #bw-sidebar ::-webkit-scrollbar, *:hover #bw-sidebar ::-webkit-scrollbar { 
      width: 0px!important;
    }

    #bw-sidebar:hover ::-webkit-scrollbar, .kb-scroll:hover ::-webkit-scrollbar, *:hover .kb-scroll ::-webkit-scrollbar {
      width: 6px!important;
  }

     *:hover ::-webkit-scrollbar {
        width: 8px!important;
    }

      
      /* Track */

      * ::-webkit-scrollbar-track {
            background-color: #ececec;
        }

        .kb-scroll ::-webkit-scrollbar-track {
            background-color: transparent;
        }
       
      /* Handle */

      * ::-webkit-scrollbar-thumb {
        background-color: var(--kb-dark);
      }

      .kb-scroll ::-webkit-scrollbar-thumb {
        background-color: var(--section-color)!important;
      }

      /* Handle on hover */
      /* .kb-scroll ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }
     */
      /* scrolling */
    

.mat-snack-bar-container {
    color: #ffffff;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
}

main {
    position: relative;
}

.kb-danger {
  color: var(--kb-danger);
}

.kb-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.kb-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn-primary{
    background-color: var(--primary-color);  
    border-color: var(--primary-color);
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    font-size: 14px;
    color: var(--kb-white);
}
.btn-primary:hover{
    opacity: 0.8;
}
.btn-secondary {
    font-size: 14px;
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    color: var(--kb-white);
}

/* You can add global styles to this file, and also import other style files */

.mat-checkbox-frame {
  border-color: var(--secondary-color)!important;
}

.mat-checkbox-label {
  margin-bottom: 0;
}

.mat-flat-button.mat-info, .mat-raised-button.mat-info, .mat-fab.mat-info, .mat-mini-fab.mat-info, .mat-checkbox-indeterminate.mat-info .mat-checkbox-background, .mat-checkbox-checked.mat-info .mat-checkbox-background{
  background-color: var(--kb-info); 
  color: var(--kb-white);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background-color: var(--primary-color); 
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: var(--secondary-color);
}
button.mat-raised-button.mat-button-base.mat-danger {
  background-color: var(--kb-danger);
  color: #fff;
}
button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-danger.mat-button-disabled {
  background-color: #aeaeae;
}
input:focus, textarea:focus, button:focus{
  outline: none!important;
}
a{
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.btn {
    margin-right: 5px;
}
.text-muted {
    color: #B5B5C3 !important;
    font-size: 13px;
    font-weight: 500;
}
.btn-primary{
    background-color: var(--primary-color);  
    border-color: var(--primary-color);
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    font-size: 14px;
    color: var(--kb-white);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    opacity: 0.8;
    background-color: var(--primary-color)!important;  
    border-color: var(--primary-color);
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    border-color: var(--primary-color)!important;
}
.btn-secondary {
    font-size: 14px;
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    color: var(--kb-white);
}

main.insidecont .box {
    margin-top: 30px;
}

.mat-progress-bar {
    position: absolute!important;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
 /* animation  */
.loadEffect {
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    transform-origin: center;
    position: relative;
    opacity: 1;
}

@keyframes slideUp{
    0% {
        opacity: 0;
        top: 180px;
    }
    70% {
        opacity: 0.5;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 70px;            
    }
}

.loadEffectFromLeft {
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform-origin: center;
    position: relative;    
}

@keyframes slideLeft{
    0% {
        opacity: 0;
        right: 40px;
    }
    100% {
        opacity: 1;
        right: 0px;            
    }
}

.loadEffectFromRight {
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform-origin: center;
    position: relative;
}

@keyframes slideRight{
        0% {
            opacity: 0;
            left: 40px;
        }
        100% {
            opacity: 1;
            left: 0px;            
        }
}
.loadEffectFromLeftsidebar{
    animation-name: slideRightsidebar;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    transform-origin: center;
    position: relative;
}
@keyframes slideRightsidebar{
    0% {
        opacity: 0;
        right: -384px;
    }
    100% {
        opacity: 1;
        right: 7px;            
    }
}

.loadEffectFromLeftsidebarClose{
  animation: slideRightsidebar 0.3s ease;
  animation-direction: reverse;
  animation-iteration-count: 1;
  transform-origin: center;
  position: relative;
}
/*  animation  */

#kb-offer-actions .mat-form-field-infix{
    width:100%!important;
}
.offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    -webkit-animation: animation-offcanvas-fade-in 0.6s ease 1;
    animation: animation-offcanvas-fade-in 0.6s ease 1;    
    background: rgba(0, 0, 0, 0.1);
}

/* resizable */

.rectangle {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: #fd4140;
    border: solid 1px #121621;
    color: #121621;
  }

  mwlResizable {
    box-sizing: border-box;
  }

  .resize-handle-top,
  .resize-handle-bottom {
    position: absolute;
    height: 5px;
    cursor: row-resize;
    width: 100%;
  }

  .resize-handle-top {
    top: 0;
  }

  .resize-handle-bottom {
    bottom: 0;
  }

  .resize-handle-left,
  .resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
  }

  .resize-handle-left {
    left: 0;
    top: 0;
  }

  .resize-handle-right {
    right: 0;
    top: 0;
  }

/* resizable */


@media only screen and (max-width: 500px){
    .symbol .symbol-label {
        width: 50px;
        height: 50px;
    }
    .offcanvas {
      width: 100%;
    }
}


.kb-full-width{
    width:100%;
}

/* sidepopup */

 #kb-offcanvas-actions>div {
    overflow-y: scroll;
  }
  #kb-offcanvas-actions>div::-webkit-scrollbar {
    width: 8px;
  }
  #kb-offcanvas-actions>div::-webkit-scrollbar-track {
    background: transparent;
  }
  #kb-offcanvas-actions .fa-times {
    position: absolute;
    right: 24px;
    z-index: 99999;
    cursor: pointer;
    top:20px;
  }
  .offcanvas, .offcanvas-mobile {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .offcanvas {
    z-index: 99999;
    position: fixed;
    top: 5px;
    bottom: 5px;
    -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    left: -395px;
    width: 375px;
  }
  .offcanvas {
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
    box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 25%);
  }
  .offcanvas.offcanvas-right.offcanvas-on {
    -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease, width 0.3s ease;
    right: 0px;
    left: auto;
  }
  .offcanvas h3{
   font-size: 19px;
  }
  .offcanvas .text-muted{
    font-size: 13px;
    color: #B5B5C3 !important;
  }
  .offcanvas .btn.btn-light-primary {
    color: #000000;
    background-color: var(--primary-color);
    border-color: transparent;
    display: inline-block;
    font-size: 11px;
    padding: 7px 17px!important;
  }
  .offcanvas-content::-webkit-scrollbar {
    width: 6px;
  }
  .offcanvas-content::-webkit-scrollbar-track {
    background: transparent; 
  }
  .offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    -webkit-animation: animation-offcanvas-fade-in 0.6s ease-out 1;
    animation: animation-offcanvas-fade-in 0.6s ease-out 1;    
    background: rgba(0, 0, 0, 0.1);
  }
  @keyframes animation-offcanvas-fade-in {
    0%{
        opacity:0;
    }100%{
        opacity: 1;
    }
  }

/* sidepopup */

.mat-tooltip {
  font-size: 12px;
}

.mat-simple-snackbar-action button, .mat-simple-snackbar .mat-button-wrapper {
    color: #ffffff!important;
}

/* cdk drag drop */

.cdk-overlay-container {
    z-index: 99999;
}

.cdk-overlay-container .cdk-drag-handle {
  cursor: all-scroll;
}

.custom-preview {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  min-width: 200px;
  max-width: 750px;
  min-height: 36px;
  padding: 0 8px;
  color: #fff;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: 500;
  -webkit-box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

.custom-placeholder {
  background: #ececec;
  border: dotted 2px #999;
  min-height: 28px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.custom-placeholder:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.kb-drag-container.cdk-drop-list-dragging .kb-block-container:not(.cdk-drag-placeholder), .kb-drag-container.cdk-drop-list-dragging>li:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.slowVisible {
    transition: 0.3s ease;
}

.slowHide {
  animation: slowHide 0.3s ease;
}

@keyframes slowHide {
  from { opacity: 1;}
  to { opacity: 0;}
}

/* cdk drag drop */

.drop-zone__input {
  display: none!important;
}

#img-preview {
  text-align: center;
}

#imginp {
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #cccccc;
  border: 3px dashed var(--primary-color);
  border-radius: 10px;
  font-size: 14px;
}

.imgFormField.inpfill {
  background-color: rgba(0,0,0,.04);
}

.imgFormField{
  border-radius: 5px;
  margin-bottom: 1.34375em;
}

.imgFormField label {
  color: var(--kb-text-color);
}

.mat-progress-spinner.mat-primary circle, .mat-spinner.mat-primary circle {
  stroke: var(--primary-color);
}

.mat-progress-spinner.mat-secondary circle, .mat-spinner.mat-secondary circle {
  stroke: var(--secondary-color);
}

.mat-spinner, .mat-progress-spinner, .mat-progress-spinner svg, .mat-spinner svg {
  height: 80px!important;
  width: 80px!important;
}

.mat-spinner.kbl-media-spinner, .mat-progress-spinner.kbl-media-spinner, .mat-progress-spinner.kbl-media-spinner svg, .mat-spinner.kbl-media-spinner svg {
  height: 60px!important;
  width: 60px!important;
}


.kb-hidden {
  overflow: hidden;
}

.kb-details-container .inp-contain {
  max-height: 450px;
  overflow-y: scroll;
}

.kb-details-container {
  position: relative;
  z-index: 99;
  margin: auto;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  width: 750px;
  height: auto;
  background: var(--kb-light);
  border-radius: 5px;
  color: initial;
  overflow: hidden;
}

.kb-details-container .cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.2);
}

.kb-tag {
  color: #fff;
  padding: 0 6px;
  font-size: 9px;
  border-radius: 10px;
  font-weight: 600;
  text-transform: capitalize;
}


.kb-info-tag {
  background-color: rgb(24 103 192 / 20%);
  color: var(--section-color);
}

.kb-danger-tag {
  background-color: rgb(220 53 69 / 20%);
  color: var(--kb-danger);
}

div#kb-mat-loader {
  width: 100%;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0px;
  display: flex;
  justify-content: center;
  z-index: 999;
  height: 100%;
}

.kb-bg-info-line {
  background: var(--kb-gray);
  padding: 4px 8px;
  border-radius: 5px;
}

.kb-or-divider {
  padding: 20px;
  position: relative;
  text-align: center;
}

.kb-or-divider:before,
.kb-or-divider:after {
  content: '';
  position: absolute;
  border-top: 2px solid var(--kb-gray);
  height: 100%;
  width: 40%;
  bottom: -50%;
  margin: 0 40px;
}

.kb-or-divider:before {
  left: 0;
}

.kb-or-divider:after {
  right: 0;
}

.dragBox {
  animation: bounce 0.2s ease-out;
}

.dragBoxClose {
  opacity: 0;
  transform: scale(0);
  animation: bounce 0.2s ease-in;
  animation-direction: reverse;
}

@keyframes bounce {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}