@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    
    /* builder root */
        --opacity-blue: rgb(24 103 192 / 80%);
        --primary-color: #d8c898;
        --section-color: #1867c0;
        --row-color: #1BC5BD;
        --light: #f8f9fa;
        --kb-success: #1BC5BD;
        --kb-danger: #dc3545;
        --kb-info: #17a2b8;
        --kb-gray: #e6eaef;
        --kb-dim-black: #22262a66;
        --kb-mid-black: #22262acc;
        --text-color: #4c5866;
    
    /* builder root */
    
        --clr-primay: #d8c898;
        --clr-light: #fff;
    }
    
    /* scrolling */
    
    * ::-webkit-scrollbar, .kb-scroll ::-webkit-scrollbar {
        width: 0px;
        transition: 2s ease-in-out;
        z-index: 9999;
    }

     *:hover ::-webkit-scrollbar {
        width: 8px;
    }

        
    .kb-scroll:hover ::-webkit-scrollbar, *:hover .kb-scroll ::-webkit-scrollbar {
        width: 6px;
    }
      
      /* Track */

      * ::-webkit-scrollbar-track {
            background-color: #e2e2e2;
        }

        .kb-scroll ::-webkit-scrollbar-track {
            background-color: transparent;
        }
       
      /* Handle */
      
      * ::-webkit-scrollbar-thumb, .kb-scroll ::-webkit-scrollbar-thumb {
        background-color: var(--opacity-blue);
      }

      * ::-webkit-scrollbar-thumb, .kb-scroll ::-webkit-scrollbar-thumb {
        border-radius: 5px;
      }
      /* Handle on hover */
      /* .kb-scroll ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }
     */
      /* scrolling */
    

.mat-snack-bar-container {
    color: #000;
    background-color: var(--light);
}

* {
    font-family: Poppins;   
}
main {
    position: relative;
}
.btn-primary{
    background-color: var(--clr-primay);  
    border-color: var(--clr-primay);
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    font-size: 14px;
    color: var(--clr-light);
}
.btn-primary:hover{
    opacity: 0.8;
}
.btn-secondary {
    font-size: 14px;
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    color: var(--clr-light);
/* builder root */

    --primary-color: #d8c898;
    --secondary-color: #6c757d;
    --section-color: #1867c0;
    --row-color: #1BC5BD;
    --light: #f8f9fa;
    --padding: 60px 0px;
    --border-width: 0px;
    --kb-success: #1BC5BD;
    --kb-danger: #dc3545;
    --kb-info: #17a2b8;
    --kb-gray: #e6eaef;
    --kb-dim-black: #22262a66;
    --kb-mid-black: #22262acc;
    --box-shadow: box-shadow: 4px 8px 16px rgb(0 0 0 / 16%);

/* builder root */

    --clr-primay: #d8c898;
    --clr-light: #fff;
}

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins');
body,.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab,.mat-card, .mat-checkbox{
    font-family: Poppins!important;   
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background-color: var(--clr-primay); 
}
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: var(--secondary-color);
}
a{
text-decoration: none!important;
}
.btn {
    margin-right: 5px;
}
.text-muted {
    color: #B5B5C3 !important;
    font-size: 13px;
    font-weight: 500;
}
.btn-primary{
    background-color: var(--clr-primay);  
    border-color: var(--clr-primay);
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    font-size: 14px;
    color: var(--clr-light);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    opacity: 0.8;
    background-color: var(--clr-primay)!important;  
    border-color: var(--clr-primay);
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    border-color: var(--clr-primay)!important;
}
.btn-secondary {
    font-size: 14px;
    box-shadow: -4px 4px 6px 0 rgb(55 70 95 / 12%);
    color: var(--clr-light);
}

main.insidecont .box {
    margin-top: 30px;
}

.mat-progress-bar {
    position: absolute!important;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
 /* animation  */
.loadEffect {
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    transform-origin: center;
    position: relative;
    opacity: 1;
}

@keyframes slideUp{
    0% {
        opacity: 0;
        top: 180px;
    }
    70% {
        opacity: 0.5;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 70px;            
    }
}

.loadEffectFromLeft {
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform-origin: center;
    position: relative;    
}

@keyframes slideLeft{
    0% {
        opacity: 0;
        right: 40px;
    }
    100% {
        opacity: 1;
        right: 0px;            
    }
}

.loadEffectFromRight {
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform-origin: center;
    position: relative;
}

@keyframes slideRight{
        0% {
            opacity: 0;
            left: 40px;
        }
        100% {
            opacity: 1;
            left: 0px;            
        }
}
/*  animation  */
