<div id="kb-affiliates-announcements">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates']" ><i class="fa fa-tachometer-alt" aria-hidden="true"></i> Dashboard</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-users']"  ><i class="fa fa-users" aria-hidden="true"></i> Users</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-commission']" ><i class="fas fa-hand-holding-usd"></i> Commission Setup</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-transactions']" ><i class="fas fa-credit-card"></i> Transactions</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-share']" ><i class="fas fa-share"></i> Share Links</button>
                <button color="primary" mat-raised-button class="mr-2" [routerLink]="['/affiliates-announcements']" ><i class="fas fa-bullhorn"></i> Announcements</button>
                <button mat-raised-button class="mr-2" [routerLink]="['/affiliates-exports']"><i class="fas fa-file-download"></i> Exports</button>
                <button mat-raised-button [routerLink]="['/affiliates-settings']"><i class="fas fa-cogs"></i> Settings</button>
            </div>
        </div>
    </div>
</div>