<!--Address dialog start-->
<ng-template #address>
  <h1 mat-dialog-title>Update Stripe Details</h1>
  <mat-error *ngIf="error">{{ errormessage }}</mat-error>
  <div mat-dialog-content>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        [formControl]="nameFormControl"
        [(ngModel)]="stripeaddress.name"
      />
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="row">
      <mat-form-field class="kb-full-width col-md-6" appearance="fill">
        <mat-label>Email </mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          [(ngModel)]="stripeaddress.email"
        />
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="kb-full-width col-md-6" appearance="fill">
        <mat-label>Phone </mat-label>
        <input
          type="text"
          matInput
          [formControl]="phoneFormControl"
          [(ngModel)]="stripeaddress.phone"
        />
        <mat-error *ngIf="phoneFormControl.hasError('required')">
          Phone No is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Address </mat-label>
      <input
        type="text"
        matInput
        [formControl]="addressline1FormControl"
        [(ngModel)]="stripeaddress.line1"
      />
      <mat-error *ngIf="addressline1FormControl.hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="kb-full-width" appearance="fill">
      <mat-label>Address 2</mat-label>
      <input
        type="text"
        matInput
        [formControl]="addressline2FormControl"
        [(ngModel)]="stripeaddress.line2"
      />
    </mat-form-field>
    <div class="row">
      <mat-form-field class="kb-full-width col-md-6" appearance="fill">
        <mat-label>City</mat-label>
        <input
          type="text"
          matInput
          [formControl]="cityFormControl"
          [(ngModel)]="stripeaddress.city"
        />
        <mat-error *ngIf="cityFormControl.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="kb-full-width col-md-6" appearance="fill">
        <mat-label>State</mat-label>
        <input
          type="text"
          matInput
          [formControl]="stateFormControl"
          [(ngModel)]="stripeaddress.state"
        />
        <mat-error *ngIf="stateFormControl.hasError('required')">
          State is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field
        class="kb-full-width col-md-6"
        appearance="fill"
        (click)="filtercountryData($event)"
      >
        <mat-label>Country</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="stripeaddress.country"
          [formControl]="countryFormControl"
          placeholder="Please enter country name"
          [matAutocomplete]="countryAuto"
          class="kb-act-searchinp w-100"
          (input)="filtercountryData($event)"
        />
        <mat-autocomplete #countryAuto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredcountry"
            [value]="option.value"
            >{{ option.name }}</mat-option
          >
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="kb-full-width col-md-6" appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input
          type="text"
          matInput
          [formControl]="postal_codeFormControl"
          [(ngModel)]="stripeaddress.postal_code"
        />
        <mat-error *ngIf="postal_codeFormControl.hasError('required')">
          Postal Code is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger">Close</button>
    <button
      mat-button
      [color]="'primary'"
      [disabled]="
        nameFormControl.invalid ||
        emailFormControl.invalid ||
        phoneFormControl.invalid ||
        addressline1FormControl.invalid ||
        cityFormControl.invalid ||
        stateFormControl.invalid ||
        postal_codeFormControl.invalid ||
        !this.stripeaddress.country
      "
      (click)="updateaddress()"
    >
      Update
    </button>
  </div>
</ng-template>
<!--Address dialog close-->
<!--Edit card dtails-->
<ng-template #changecard>
  <h1 mat-dialog-title>Update Card Details</h1>
  <mat-error *ngIf="error">{{ errormessage }}</mat-error>
  <div mat-dialog-content>
    <div class="d-flex justify-content-between">
      <div class="text-success">{{ stripedata?.card?.brand }}</div>
      <div>
        <div>Ending in {{ stripedata?.card?.last4 }}</div>
        <div>
          Expires {{ stripedata?.card?.exp_month }}/{{
            stripedata.card.exp_year
          }}
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="changecardstatus()">
          Change
        </button>
      </div>
    </div>
    <div *ngIf="cngcard">
      <div class="row">
        <mat-form-field class="kb-full-width mt-2" appearance="fill">
          <mat-label>Card Holder Name</mat-label>
          <input
            type="text"
            matInput
            [formControl]="nameoncardFormControl"
            required
            [(ngModel)]="nameoncard"
          />
          <mat-error *ngIf="nameoncardFormControl.hasError('required')">
            card Holder Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="chgerror">{{ chgerrormessage }}</mat-error>
        <mat-error *ngIf="token">{{ tokenmessage }}</mat-error>
        <div class="w-100 kb-strip mt-2">
          <mat-label>Enter Card Details</mat-label>
          <div class="kb-strip-cardbox mt-3 p-2 border-bottom border-top">
            <ngx-stripe-card
              [options]="cardOptions"
              [elementsOptions]="elementsOptions"
            ></ngx-stripe-card>
          </div>
          <div class="kb-strip-mesg">
            Why? We ask for a payment method so that your subscription and
            business can continue without interruption after your trial ends
          </div>
          <img src="./assets/images/registration/cards.png" width="130" />
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger">Close</button>
    <button
      mat-button
      [color]="'primary'"
      [disabled]="nameoncardFormControl.invalid"
      (click)="changecarddetails()"
    >
      Update
    </button>
  </div>
</ng-template>
<!--Edit card details-->
<!--cancel subscription-->
<ng-template #canceldialog>
  <h1 mat-dialog-title class="kb-danger">Cancel Subscription</h1>
  <div mat-dialog-content>Would you like to cancel your subscription?</div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">
      No
    </button>
    <button
      mat-button
      mat-dialog-close
      (click)="cancelsubscription()"
      class="text-danger"
    >
      Yes
    </button>
  </div>
</ng-template>
<!--cancel subscription-->

<!--update subscription-->
<ng-template #updatedialog>
  <h1 mat-dialog-title>Update Subscription</h1>
  <div mat-dialog-content>
    <mat-error *ngIf="error">{{ errormessage }}</mat-error>
    <mat-form-field class="kb-full-width " appearance="fill">
      <mat-label>Current Subsciption Plan</mat-label>
      <mat-select [(ngModel)]="product" (selectionChange)="productdetails($event)">
     <mat-option *ngFor="let item of products" [value]="item">{{item.name}}</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field class="kb-full-width " appearance="fill">
      <mat-label>Current Payment Plan</mat-label>
      <mat-select [(ngModel)]="subscription_productid" (selectionChange)="subscriptiontype($event)" [formControl]="subscription_productidFormControl">
        <mat-option *ngFor="let type of product?.type" [value]="type.value">{{type.name}}</mat-option>
    </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">
      No
    </button>
    <button
      mat-button
      mat-dialog-close
      (click)="updatesubscription()"
      class="text-danger"
      [disabled]="subscription_productidFormControl.invalid"
    >
      Yes
    </button>
  </div>
</ng-template>
<!--update subscription-->
<div class="container-fluid">
  <div class="row">
    <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div class="col-md-3"></div>
    <div class="col-md-6" *ngIf="usertype!='free'">
      <div
        matTooltip="Billing Details :"
        matTooltipPosition="left"
        class="row kb-strip-details"
      >
        <div
          class="col-md-12 d-flex justify-content-between text-align-center p-3"
        >
          <div class="d-flex justify-content-between kb-fnt-details p-3">
            <div class="kb-fnt-details-img">
              <i class="fa-regular fa-address-card mr-3"></i>
            </div>
            <div>
              <div class="kb-fnt">
                {{ stripedata?.customer?.name | titlecase }}
              </div>
              <div class="kb-fnt-details-o">
                # {{ stripedata?.customer?.address?.line1 }}
              </div>
              <div class="kb-fnt-details-o">
                {{ stripedata?.customer?.address?.city }},
                {{ stripedata?.customer?.address?.state }}
              </div>
              <div class="kb-fnt-details-o">
                {{ stripedata?.customer?.address?.country }},
                {{ stripedata?.customer?.address?.postal_code }}
              </div>
              <div class="kb-fnt-details-o">
                <i class="fa-regular fa-envelope mr-1"></i
                >{{ stripedata?.customer?.email }}
              </div>
              <div class="kb-fnt-details-o">
                <i class="fa-solid fa-phone mr-1"></i
                >{{ stripedata?.customer?.phone }}
              </div>
            </div>
          </div>
          <div>
            <button
              mat-raised-button
              class="kb-fnt-details-btn mt-3"
              color="primary"
              (click)="openDialog(address)"
            >
              Update
            </button>
          </div>
        </div>
      </div>
      <div
        matTooltip="Subscription Details :"
        matTooltipPosition="left"
        class="row kb-strip-details"
      >
        <div
          class="col-md-12 d-flex justify-content-between text-align-center p-3 border-bottom"
        >
          <div>
            <div
              class="kb-fnt kb-fnt-hover"
            >
             {{product.name}}
             <span *ngIf="stripedata?.subscription?.plan?.id == product?.type[0]?.value">{{'('+product?.type[0]?.name+')'}}</span>
             <span *ngIf="stripedata?.subscription?.plan?.id == product?.type[1]?.value">{{'('+product?.type[1]?.name+')'}}</span>
            </div>
            <div class="kb-fnt-plan-price kb-fnt-hover">
              <i class="fa-solid fa-circle-dollar-to-slot"></i>
              {{ stripedata?.subscription?.plan?.amount }} + applicable taxes
            </div>
          </div>
          <div class="kb-fnt-hover">
            View Plan <i class="fa-solid fa-angles-right"></i>
          </div>
        </div>

        <div
          class="col-md-12 d-flex justify-content-between text-align-center p-3 border-bottom"
        >
          <div>
            <div class="kb-fnt kb-fnt-hover">Next billing date</div>
            <div class="kb-fnt-plan-price kb-fnt-hover">
              {{
                stripedata?.subscription?.current_period_end
                  | date : "dd-MMM-yyyy h:mm:ss a z"
              }}
            </div>
          </div>
          <div class="kb-fnt-hover">
            Past invoices <i class="fa-solid fa-angles-right"></i>
          </div>
        </div>

        <div
          class="col-md-12 d-flex justify-content-between text-align-center p-3 border-bottom"
        >
          <div>
            <div class="kb-fnt kb-fnt-hover">Payment Method</div>
            <div class="kb-fnt-plan-price kb-fnt-hover">
              {{ stripedata?.card?.brand }} ending in
              {{ stripedata?.card?.last4 }}
            </div>
          </div>
          <div class="kb-fnt-hover" (click)="openDialog(changecard)">
            Edit <i class="fa-solid fa-angles-right"></i>
          </div>
        </div>
        <div
          class="col-md-12 d-flex justify-content-center text-align-center p-3 border-bottom"
        >
          <!-- <button mat-raised-button class="text-danger" (click)="openDialog(canceldialog)"><i class="fa-regular fa-trash-can"></i> Cancel Subscription</button> -->
          <!-- <button
            mat-raised-button
            color="primary"
            (click)="openDialog(updatedialog)" 
          >
            Upgrade Plan
          </button> -->
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
