<div id="maincourse-kea">

  <div class="container-fluid section1"
    style="background-image: url('https://img.freepik.com/free-vector/blue-technology-digital-banner-design_1017-32257.jpg?w=2000');">
  </div>

  <div class="container section2 mb-5">
    <div class="row">
      <div class="col-md-12 mt-5 mb-5 text-center">
        <h2>Welcome to the Innovation Technology Design Course. You'll find the courses below. Select a course to get Started!.</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6 mb-5" *ngFor="let allcourse of allcourses;" >
        <div class="kbcourse-img text-center pb-2">
          <a [routerLink]="'/course/'+allcourse.url">
            <img [src]="'/assets/uploads/images/'+allcourse.thumbnail" class="img-fluid" alt="">
            <h4 class="m-0 p-3" *ngIf="allcourse.title" >
              {{allcourse.title}}
            </h4>
            <h6 class="mb-3 p-3" *ngIf="allcourse.description" >
              {{allcourse.description}}
            </h6>
          </a>
        </div>
      </div>
      
    </div>
  </div>

</div>