   <!-- test email -->
    <ng-template #dialog>
        <h1 mat-dialog-title >Send A Test Email</h1>
        <div mat-dialog-content>
            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput name="preheadertext" [(ngModel)]="testemail"  [formControl]="testemailControl" placeholder="Ex: info@keabuilder.com" minlength="3" >
                <mat-error *ngIf="testemailControl.hasError('email') && !testemailControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="justify-content-end mt-1">
            <button mat-button mat-dialog-close class="text-danger">Close</button>
            <button mat-button mat-dialog-close [color]="'primary'" (click)="sendatestemail()">Send</button>
        </div>
    </ng-template>

    <!-- address -->
    <ng-template #dialog2>
        <h1 mat-dialog-title >Add Address</h1>
        <div mat-dialog-content>
            <mat-error *ngIf="error">{{errormessage}}</mat-error>
            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Address Name</mat-label>
                <input type="text" matInput name="addressname" [(ngModel)]="genaddress.name" [formControl]="addressnameControl" required minlength="3" >
                <mat-error *ngIf="addressnameControl.hasError('required')">
                    Address Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="addressnameControl.hasError('minlength')">
                    Address Name must be at least <strong>3</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill" (click)="filtercountryData($event)">
                <mat-label>Country</mat-label>               
                    <input matInput type="text" [(ngModel)]="genaddress.country" name="country" placeholder="Please enter country name" [matAutocomplete]="countryAuto"  class="kb-act-searchinp w-100" (input)="filtercountryData($event)" >
                  <mat-autocomplete #countryAuto="matAutocomplete" >
                    <mat-option (onSelectionChange)="getcountrynm($event)" *ngFor="let option of filteredcountry" [value]="option.name">{{option.name}}</mat-option>
                  </mat-autocomplete>
            </mat-form-field> 

            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Company Name</mat-label>
                <input type="text" matInput name="companyname" [(ngModel)]="genaddress.company_name" [formControl]="companynameControl" required minlength="3" >
                <mat-error *ngIf="companynameControl.hasError('required')">
                    Company Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="companynameControl.hasError('minlength')">
                    Name must be at least <strong>3</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Address Line 1</mat-label>
                <input type="text" matInput name="addressline1" [(ngModel)]="genaddress.address_1"  [formControl]="addressline1Control" required minlength="3" >
                <small>Street address, P.O. box</small>
                <mat-error *ngIf="addressline1Control.hasError('required')">
                    Address Line 1 is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="addressline1Control.hasError('minlength')">
                    Address Line 1 must be at least <strong>3</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Address Line 2</mat-label>
                <input type="text" matInput name="addressline2" [(ngModel)]="genaddress.address_2" >
                <small>Apartment, suite, unit, building, floor, etc.</small>
            </mat-form-field>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <input type="text" matInput name="city" [(ngModel)]="genaddress.city"  [formControl]="cityControl" required  >
                        <mat-error *ngIf="cityControl.hasError('required')">
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>State / Province / Region</mat-label>
                        <input type="text" matInput name="state" [(ngModel)]="genaddress.state"  [formControl]="stateControl" required  >
                        <mat-error *ngIf="stateControl.hasError('required')">
                            State is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>ZIP/Postal Code</mat-label>
                        <input type="number" matInput name="city" [(ngModel)]="genaddress.zip"  [formControl]="zipControl" required  >
                        <mat-error *ngIf="zipControl.hasError('required')">
                            Zip is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="justify-content-end">
            <button mat-button mat-dialog-close class="text-danger"  (click)="resetobj()">Close</button>
            <button mat-button mat-dialog-close [color]="'primary'" (click)="sendaddress()">Add </button>
        </div>
    </ng-template>

    <!-- publish campaign -->
    <ng-template #dialog3 >
        <div class="text-center">
            <img src="/assets/images/campaign/send-campaign.png" class="img-fluid mt-lg-n4" width="350" alt="">
            <h1 mat-dialog-title class="text-primary">Publish Your Campaign</h1>
            <div mat-dialog-content>
                Would you like to Publish this Campaign?
            </div>
            <div mat-dialog-actions class="justify-content-end">
                <button mat-button mat-dialog-close class="text-danger">No</button>
                <button mat-button mat-dialog-close [color]="'primary'" (click)="publishcampaign()">Yes</button>
            </div>
        </div>
    </ng-template>

    <div class="container-fluid">
        <div #campaignbody class="row">
            <div class="col-md-7">
                <div class="makecard h-100 p-3">
                    <h5>
                        <span class="kp-colr">Design Your Campaign</span>
                        <hr>
                    </h5>
                    <mat-form-field class="kb-full-width" appearance="fill" (click)="filteremailData($event)">
                        <mat-label>Email Templates</mat-label>               
                            <input matInput type="text" [(ngModel)]="this.singleemail.name" name="emailtempalte" placeholder="Please enter template name" [matAutocomplete]="emailAuto"  class="kb-act-searchinp w-100" (input)="filteremailData($event)">
                          <mat-autocomplete #emailAuto="matAutocomplete">
                            <mat-option [routerLink]="'/crm/emails'">
                                <span mat-raised-button  class="kp-colr">Add Email <i class="fa-solid fa-envelope-open-text"></i></span>
                                <!-- <button class="ml-2" mat-raised-button [routerLink]="'/crm/emails/'+singleemail?.uniqueid" [color]="'primary'">Edit <i class="fas fa-pencil-alt"></i></button> -->
                            </mat-option>
                            <mat-option (click)="getemaildata(option)" *ngFor="let option of filteredemails" [value]="option.name">{{option.name}}</mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
                    <div class="kb-fitimg"
              [ngStyle]="{'background-image':'url(' + _image.uploadImgPath + _general.getSSPath('email-' + singleemail?.uniqueid) +'), url(' + _image.uploadImgPath +'webpage_thumbnail.jpg' +')'}" *ngIf="singleemail?.uniqueid">
            </div>
                    <!-- <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>Subject</mat-label>
                        <input type="text" matInput name="subject" [(ngModel)]="fullcampobj.subject"  [formControl]="subjectControl" placeholder="Enter the subject(We suggest no more than 65 characters)" required minlength="3" >
                        <mat-error *ngIf="subjectControl.hasError('required')">
                        Name is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="subjectControl.hasError('minlength')">
                        Name must be at least <strong>3</strong> characters
                        </mat-error>
                    </mat-form-field>
                    <div class="kb-editor-container">
                        <editor [(ngModel)]="fullcampobj.emailbody" [init]="_general.config" class="h-100"></editor>
                    </div>     -->
                </div>
            </div>
            <div class="col-md-5">

                <div class="makecard h-100 p-3">
                    <form>
                    <h5>
                        <span class="kp-colr">Campaign Settings <span class="kb-info-tag kb-tag ml-2">{{campstatus}}</span></span>
                        <hr>
                    </h5>
                    <mat-form-field class="kb-full-width" appearance="fill"  (click)="filterListData($event)">
                        <mat-label>Subscribe to Lists</mat-label>
                        <mat-chip-list #listChipList aria-label="List selection">
                          <mat-chip
                            *ngFor="let data of selectedLists; index as i"
                            (removed)="removeSelectedList(i)">
                            {{ data?.name }}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </mat-chip-list>
                        <input matInput
                          type="text"
                          #searchListInp
                          placeholder="Select multiples..."
                          (input)="filterListData($event)"
                          [matAutocomplete]="listAuto"
                          [matChipInputFor]="listChipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          class="kb-act-searchinp w-100 pt-1">
                        <mat-autocomplete
                          autoActiveFirstOption
                          #listAuto="matAutocomplete"
                          (optionSelected)="addSelectedList($event, searchListInp)">
                          <mat-option
                            *ngFor="let option of filteredOptions?.lists"
                            [value]="option"
                            [disabled]="filteredTempIds?.lists.includes(option.uniqueid)">
                            {{ option?.name }} {{'('+option?.activecontacts+')'}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      <mat-form-field class="kb-full-width" appearance="fill"  (click)="filterTagData($event)">
                        <mat-label>Subscribe to Tags</mat-label>
                        <mat-chip-list #tagChipList aria-label="Tag selection">
                          <mat-chip
                            *ngFor="let data of selectedTags; index as i"
                            (removed)="removeSelectedTag(i)">
                            {{ data?.name }}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </mat-chip-list>
                        <input matInput
                          type="text"
                          #searchTagInp
                          placeholder="Select multiples..."
                          (input)="filterTagData($event)"
                          [matAutocomplete]="tagAuto"
                          [matChipInputFor]="tagChipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          class="kb-act-searchinp w-100 pt-1">
                        <mat-autocomplete
                          autoActiveFirstOption
                          #tagAuto="matAutocomplete"
                          (optionSelected)="addSelectedTag($event, searchTagInp)">
                          <mat-option
                            *ngFor="let option of filteredOptions?.tags"
                            [value]="option"
                            [disabled]="filteredTempIds?.tags.includes(option.uniqueid)">
                            {{ option?.name }} {{'('+option?.activecontacts+')'}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      
                      <mat-form-field class="kb-full-width" appearance="fill"  (click)="filterex_TagData($event)">
                        <mat-label>Excluding Tags</mat-label>
                        <mat-chip-list #ex_tagChipList aria-label="Tag selection">
                          <mat-chip
                            *ngFor="let data of selectedex_Tags; index as i"
                            (removed)="removeSelectedex_Tag(i)">
                            {{ data?.name }}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </mat-chip-list>
                        <input matInput
                          type="text"
                          #searchex_TagInp
                          placeholder="Select multiples..."
                          (input)="filterex_TagData($event)"
                          [matAutocomplete]="ex_tagAuto"
                          [matChipInputFor]="ex_tagChipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          class="kb-act-searchinp w-100 pt-1">
                        <mat-autocomplete
                          autoActiveFirstOption
                          #ex_tagAuto="matAutocomplete"
                          (optionSelected)="addSelectedex_Tag($event, searchex_TagInp)">
                          <mat-option
                            *ngFor="let option of filteredOptions?.ex_tags"
                            [value]="option"
                            [disabled]="filteredTempIds?.ex_tags?.includes(option.uniqueid)">
                            {{ option?.name }} {{'('+option?.activecontacts+')'}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                      <!-- <mat-form-field class="kb-full-width" appearance="fill"  (click)="filterTagData($event)">
                        <mat-label>Not Subscribe</mat-label>
                        <mat-chip-list #tagChipList aria-label="Tag selection">
                          <mat-chip
                            *ngFor="let data of selectedTags; index as i"
                            (removed)="removeSelectedTag(i)">
                            {{ data?.name }}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </mat-chip-list>
                        <input matInput
                          type="text"
                          #searchTagInp
                          placeholder="Select multiples..."
                          (input)="filterTagData($event)"
                          [matAutocomplete]="tagAuto"
                          [matChipInputFor]="tagChipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          class="kb-act-searchinp w-100 pt-1">
                        <mat-autocomplete
                          autoActiveFirstOption
                          #tagAuto="matAutocomplete"
                          (optionSelected)="addSelectedTag($event, searchTagInp)">
                          <mat-option
                            *ngFor="let option of filteredOptions?.tags"
                            [value]="option"
                            [disabled]="filteredTempIds?.tags.includes(option.uniqueid)">
                            {{ option?.name }} {{'('+option?.activecontacts+')'}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field> -->

                    <mat-form-field class="kb-full-width " appearance="fill">
                        <mat-label>Preheader text</mat-label>
                        <input type="text" matInput name="preheadertext" [(ngModel)]="fullcampobj.preheader_text" [formControl]="preheadertextControl" placeholder="Text that appears after your subject line." minlength="3" >
                        <!-- <small>Text that appears after your subject line. If this field is left blank the first line of your email will display</small> -->
                        <mat-error *ngIf="preheadertextControl.hasError('minlength')">
                        Name must be at least <strong>3</strong> characters
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="kb-full-width " appearance="fill">
                        <mat-label>From</mat-label>
                        <input type="email" matInput name="from" [(ngModel)]="fullcampobj.emailfrom"  [formControl]="emailfromControl" placeholder="Ex: info@keabuilder.com" minlength="3" >
                        <mat-error *ngIf="emailfromControl.hasError('minlength')">
                        Name must be at least <strong>3</strong> characters
                        </mat-error>
                        <mat-error *ngIf="emailfromControl.hasError('email') && !emailfromControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="kb-full-width" >
                        <mat-label>Address</mat-label>
                        <mat-select name="address" required [(ngModel)]="fullcampobj.addressid" >
                            <mat-option  (click)="openDialog(dialog2)"><span style="color: var(--primary-color)">Add New Address<i class="fas fa-plus ml-1"></i></span></mat-option>
                            <mat-option [value]="alladd.uniqueid" *ngFor="let alladd of alladdress; index as i;" >
                                {{alladd.company_name}}, {{alladd.address_1}} {{alladd.address_2}}, {{alladd.city}}, {{alladd.state}}, {{alladd.zip}}, {{alladd.country}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <a mat-raised-button href="javascript:void(0)" class="mb-4 text-decoration-none txtanchor" (click)="openDialog(dialog2)" >Add New Address <i class="fas fa-plus"></i></a> -->

                    <mat-form-field appearance="fill" class="kb-full-width" >
                        <mat-label>Send</mat-label>
                        <mat-select name="sendoption" required [(ngModel)]="fullcampobj.sendoption">
                            <mat-option value="immediately">Immediately</mat-option>
                            <mat-option value="specifictime">After a specific timeframe</mat-option>
                            <mat-option value="recurring">Recurring</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <small *ngIf="sendoptn">Current Time from timezone: <b style="color:var(--primary-color);">{{showmytime}}</b></small><br> -->
                    <mat-form-field class="kb-full-width" appearance="fill" *ngIf="fullcampobj.sendoption =='recurring'">
                        <mat-label>Recurring Type</mat-label>
                        <mat-select name="recurring"  required [(ngModel)]="fullcampobj.recurring">
                            <mat-option value="daily">Daily</mat-option>
                            <mat-option value="weekly">Weekly</mat-option>
                            <mat-option value="monthly">Monthly</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="kb-full-width" appearance="fill" (click)="filtertimezoneData($event)" *ngIf="(fullcampobj.sendoption =='specifictime' || fullcampobj.sendoption =='recurring')">
                        <mat-label>Timezones</mat-label>
                        <input matInput type="text"  [(ngModel)]="fullcampobj.timezone" name="timezone" placeholder="Please enter timezone" [matAutocomplete]="timezoneAuto"  class="kb-act-searchinp w-100" (input)="filtertimezoneData($event)">
                        <mat-autocomplete #timezoneAuto="matAutocomplete" >
                          <mat-option (onSelectionChange)="gettimezone($event)" *ngFor="let option of filteredtimezone" [value]="option.value">{{option.name}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field> 

                    <mat-form-field class="kb-full-width" appearance="fill" *ngIf="(fullcampobj.sendoption =='specifictime' || fullcampobj.sendoption =='recurring')">
                        <mat-label>Chooose a date</mat-label>
                        <input required type="datetime-local" [(ngModel)]="fullcampobj.senddate" min="{{dateToday() | date:'yyyy-MM-ddTHH:mm:ss.sss'}}"  matInput name="chooseadate">
                    </mat-form-field>

                   
                       <div class="d-flex justify-content-between">
                    <button mat-raised-button color="accent" (click)="_general.prevRoute()" class=""><i class="fa fa-arrow-left mr-1"></i>Back</button>
                    <button mat-raised-button color="accent" (click)="openDialog(dialog)" class="">Test <i class="fa fa-telegram"></i></button>
                    <button mat-raised-button color="primary" (click)="openDialog(dialog3)" class="">Publish <i class="fas fa-paper-plane"></i></button>
                    <button mat-raised-button color="accent" (click)="campaigndraft()" class="">Save Draft <i class="fa fa-file"></i></button>
                    
                </div> 
                </form>
                    
                </div>



            </div>
        </div>
    </div>
