<div id="crmnewcampaign">
    
    <!-- test email -->
    <ng-template #dialog>
        <h1 mat-dialog-title >Send A Test Email</h1>
        <div mat-dialog-content>
            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput name="preheadertext" [(ngModel)]="testemail"  [formControl]="testemailControl" placeholder="Ex: info@keabuilder.com" minlength="3" >
                <mat-error *ngIf="testemailControl.hasError('email') && !testemailControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="justify-content-end">
            <button mat-button mat-dialog-close class="text-danger">Close</button>
            <button mat-button [color]="'primary'" (click)="sendatestemail()">Send</button>
        </div>
    </ng-template>

    <!-- address -->
    <ng-template #dialog2>
        <h1 mat-dialog-title >Add Address</h1>
        <div mat-dialog-content>

            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Country</mat-label>               
                    <input matInput type="text" [(ngModel)]="genaddress.country" name="country" placeholder="Please enter country name" [matAutocomplete]="countryAuto"  class="kb-act-searchinp w-100" (input)="filtercountryData($event)" (click)="filtercountryData($event)">
                  <mat-autocomplete #countryAuto="matAutocomplete" >
                    <mat-option (selectionChange)="getcountrynm($event)" *ngFor="let option of filteredcountry" [value]="option.name">{{option.name}}</mat-option>
                  </mat-autocomplete>
            </mat-form-field> 

            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Company Name</mat-label>
                <input type="text" matInput name="companyname" [(ngModel)]="genaddress.company_name" [formControl]="companynameControl" required minlength="3" >
                <mat-error *ngIf="companynameControl.hasError('required')">
                    Company Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="companynameControl.hasError('minlength')">
                    Name must be at least <strong>3</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Address Line 1</mat-label>
                <input type="text" matInput name="addressline1" [(ngModel)]="genaddress.address_1"  [formControl]="addressline1Control" required minlength="3" >
                <small>Street address, P.O. box</small>
                <mat-error *ngIf="addressline1Control.hasError('required')">
                    Address Line 1 is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="addressline1Control.hasError('minlength')">
                    Address Line 1 must be at least <strong>3</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="kb-full-width" appearance="fill">
                <mat-label>Address Line 2</mat-label>
                <input type="text" matInput name="addressline2" [(ngModel)]="genaddress.address_2" >
                <small>Apartment, suite, unit, building, floor, etc.</small>
            </mat-form-field>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <input type="text" matInput name="city" [(ngModel)]="genaddress.city"  [formControl]="cityControl" required  >
                        <mat-error *ngIf="cityControl.hasError('required')">
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>State / Province / Region</mat-label>
                        <input type="text" matInput name="state" [(ngModel)]="genaddress.state"  [formControl]="stateControl" required  >
                        <mat-error *ngIf="stateControl.hasError('required')">
                            State is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>ZIP/Postal Code</mat-label>
                        <input type="number" matInput name="city" [(ngModel)]="genaddress.zip"  [formControl]="zipControl" required  >
                        <mat-error *ngIf="zipControl.hasError('required')">
                            Zip is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="justify-content-end">
            <button mat-button mat-dialog-close class="text-danger">Close</button>
            <button mat-button [color]="'primary'" (click)="sendaddress()">Add </button>
        </div>
    </ng-template>

    <!-- publish campaign -->
    <ng-template #dialog3 >
        <div class="text-center">
            <img src="/assets/images/campaign/send-campaign.png" class="img-fluid mt-lg-n4" width="350" alt="">
            <h1 mat-dialog-title class="text-primary">Publish Your Campaign</h1>
            <div mat-dialog-content>
                Would you like to Publish this Campaign?
            </div>
            <div mat-dialog-actions class="justify-content-end">
                <button mat-button mat-dialog-close class="text-danger">No</button>
                <button mat-button mat-dialog-close [color]="'primary'" (click)="publishcampaign()">Yes</button>
            </div>
        </div>
    </ng-template>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="makecard h-100 p-3">
                    <h5>
                        <b>Design Your Campaign</b>
                        <hr>
                    </h5>
                    <mat-form-field class="kb-full-width" appearance="fill">
                        <mat-label>Subject</mat-label>
                        <input type="text" matInput name="subject" [(ngModel)]="fullcampobj.subject"  [formControl]="subjectControl" placeholder="Enter the subject(We suggest no more than 65 characters)" required minlength="3" >
                        <!-- <small>We suggest no more than 65 characters</small> -->
                        <mat-error *ngIf="subjectControl.hasError('required')">
                        Name is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="subjectControl.hasError('minlength')">
                        Name must be at least <strong>3</strong> characters
                        </mat-error>
                    </mat-form-field>
                    <div class="kb-editor-container">
                        <editor [(ngModel)]="fullcampobj.campaigneditor" [init]="_general.config" class="h-100"></editor>
                    </div>    
                </div>
            </div>
            <div class="col-md-4">

                <div class="makecard h-100 p-3">
                    <form>
                    <h5>
                        <b>Campaign Settings <span class="campstatus" [class.activeme]="campstatus=='Publish'">{{campstatus}}</span></b>
                        <hr>
                    </h5>
                    <!-- <mat-form-field appearance="fill" class="kb-full-width" >
                        <mat-label>List</mat-label>
                        <input required matInput type="text" [(ngModel)]="listname" [ngModelOptions]="{standalone: true}" placeholder="Please enter list name" [matAutocomplete]="listAuto"  class="kb-act-searchinp w-100" (input)="filterlistData($event)" (click)="filterlistData($event)">
                        <mat-autocomplete #listAuto="matAutocomplete" >
                          <mat-option  *ngFor="let list of filteredlist; index as i;" [disabled]="list.activecontacts=='0'"  [value]="list.name" (onSelectionChange)="patchlistid(list)">{{list.name}} ({{list.activecontacts}})</mat-option>
                        </mat-autocomplete>
                    </mat-form-field> -->
                    <mat-form-field class="kb-full-width" appearance="fill"  (click)="filterListData($event)">
                        <mat-label>Subscribe to Lists</mat-label>
                        <mat-chip-list #listChipList aria-label="List selection">
                          <mat-chip
                            *ngFor="let data of selectedLists; index as i"
                            (removed)="removeSelectedList(i)">
                            {{ data?.name }}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </mat-chip-list>
                        <input
                          type="text"
                          #searchListInp
                          placeholder="Select multiples..."
                          (input)="filterListData($event)"
                          [matAutocomplete]="listAuto"
                          [matChipInputFor]="listChipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          class="kb-act-searchinp w-100"
                          [class.pt-2]="selectedLists.length != 0"
                          matInput>
                        <mat-autocomplete
                          autoActiveFirstOption
                          #listAuto="matAutocomplete"
                          (optionSelected)="addSelectedList($event, searchListInp)">
                          <mat-option
                            *ngFor="let option of filteredOptions?.lists"
                            [value]="option"
                            [disabled]="(filteredTempIds?.lists.includes(option.uniqueid) || option?.activecontacts<1)">
                            {{ option?.name }} {{'('+option?.activecontacts+')'}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    <mat-form-field class="kb-full-width " appearance="fill">
                        <mat-label>Preheader text</mat-label>
                        <input type="text" matInput name="preheadertext" [(ngModel)]="fullcampobj.preheader_text" [formControl]="preheadertextControl" placeholder="Text that appears after your subject line." minlength="3" >
                        <!-- <small>Text that appears after your subject line. If this field is left blank the first line of your email will display</small> -->
                        <mat-error *ngIf="preheadertextControl.hasError('minlength')">
                        Name must be at least <strong>3</strong> characters
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="kb-full-width " appearance="fill">
                        <mat-label>From</mat-label>
                        <input type="email" matInput name="from" [(ngModel)]="fullcampobj.emailfrom"  [formControl]="emailfromControl" placeholder="Ex: info@keabuilder.com" minlength="3" >
                        <mat-error *ngIf="emailfromControl.hasError('minlength')">
                        Name must be at least <strong>3</strong> characters
                        </mat-error>
                        <mat-error *ngIf="emailfromControl.hasError('email') && !emailfromControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="kb-full-width" >
                        <mat-label>Address</mat-label>
                        <mat-select name="address" required [(ngModel)]="fullcampobj.addressid" >
                            <mat-option [value]="alladd.uniqueid" *ngFor="let alladd of alladdress; index as i;" >
                                {{alladd.company_name}}, {{alladd.address_1}} {{alladd.address_2}}, {{alladd.city}}, {{alladd.state}}, {{alladd.zip}}, {{alladd.country}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <a mat-raised-button href="javascript:void(0)" class="mb-4 text-decoration-none txtanchor" (click)="openDialog(dialog2)" >Add New Address <i class="fas fa-plus"></i></a>

                    <mat-form-field appearance="fill" class="kb-full-width" >
                        <mat-label>Send</mat-label>
                        <mat-select name="sendoption" required [(ngModel)]="fullcampobj.sendoption" (ngModelChange)="sendchange(fullcampobj.sendoption)" >
                            <mat-option value="immediately">Immediately</mat-option>
                            <mat-option value="specifictime">After a specific timeframe</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <small *ngIf="sendoptn">Current Time from timezone: <b style="color:var(--primary-color);">{{showmytime}}</b></small><br> -->
                    <mat-form-field class="kb-full-width" appearance="fill" *ngIf="sendoptn">
                        <mat-label>Timezones</mat-label>
                        <input matInput type="text"  [(ngModel)]="fullcampobj.timezone" name="timezone" placeholder="Please enter timezone" [matAutocomplete]="timezoneAuto"  class="kb-act-searchinp w-100" (input)="filtertimezoneData($event)" (click)="filtertimezoneData($event)">
                        <mat-autocomplete #timezoneAuto="matAutocomplete" >
                          <mat-option (selectionChange)="gettimezone($event)" *ngFor="let option of filteredtimezone" [value]="option.value">{{option.name}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field> 

                    <mat-form-field class="kb-full-width" appearance="fill" *ngIf="sendoptn">
                        <mat-label>Chooose a date</mat-label>
                        <input type="datetime-local" [(ngModel)]="fullcampobj.senddate" min="{{dateToday() | date:'yyyy-MM-ddTHH:mm:ss.sss'}}"  matInput name="chooseadate">
                    </mat-form-field>
                       <div class="mt-4">
                    <button mat-raised-button color="accent" (click)="openDialog(dialog)" class="mr-2">Test <i class="fa fa-telegram"></i></button>
                    <button mat-raised-button color="primary" (click)="openDialog(dialog3)" >Publish <i class="fas fa-paper-plane"></i></button>
                    <button mat-raised-button color="accent"  class="ml-2" (click)="campaigndraft()">Save Draft <i class="fa fa-file"></i></button>
                </div> 
                </form>
                    
                </div>



            </div>
        </div>
    </div>
