
.kb-fitimg {
    height: calc(100% - 130px);
    overflow: hidden;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
  }
  .kb-fitimg:hover {
    background-position: center bottom;
}

::ng-deep .tox.tox-tinymce {
    height: 100%!important;
}

.makecard {
    box-shadow: 0px 0px 2px 1px rgb(34 38 42 / 10%);
    border-radius: 8px;
    border: 2px solid #e2e2e2;
}
.txtanchor:hover{
    color: #000;
}
.campstatus {
    font-size: 12px;
    font-weight: 500;
    background: rgb(107 120 132);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}
.campstatus.activeme{
    background-color: var(--primary-color);
}
.kp-colr{
    color: var(--primary-color);
}