::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ececec!important;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar{
    background-color: rgb(255 255 255 / 50%)!important;
    color: #fff;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: var(--kb-light)!important;
}


::ng-deep span.mat-list-item-content {
    padding: 0px!important;
    width: 100%;
}

::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6,
::ng-deep p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0 !important;
}

.kb-tabs-component .kb-inner-tab-component {
    padding: 16px!important;
}

#kb-main {
    height: 100%;
    min-height: 100vh;
    display: flex;
}

form#kb-form {
    position: relative;
    width: 70%;
    min-height: 80px;
    min-width: 700px;
    min-height: 500px;
    height: auto;
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 40%);
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}

div#kb-form-cont {
    width: 70%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 75px 0 50px;
}

div#kb-form-sidebar {
    margin-top: 25px;
    position: fixed;
    background-color: var(--kb-gray);
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    min-width: 420px;
    padding: 0;
}
.custom-placeholder {
    z-index: 99;
}

div#kb-form-elements .custom-placeholder {
    display: none;
}

div#kb-form-elements .form-ele-list mat-list-item {
    background-color: var(--kb-light);
    color: var(--kb-dark);
    font-weight: 600;
    padding: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 42px;
    cursor: all-scroll;
    overflow: hidden;
    font-size: 16px;
    box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 5%);
    /* transition: 0.2s ease-in-out; */
}

div#kb-form-elements .form-ele-list mat-list-item:hover {
    box-shadow: 1px 2px 10px 4px rgb(0 0 0 / 15%);
}

div#kb-form-elements .form-ele-list mat-list-item:nth-child(odd) i, div.kb-form-element:nth-child(odd) div.kb-form-setting {
    background-color: var(--section-color);
}

div#kb-form-elements .form-ele-list mat-list-item:nth-child(even) i, div.kb-form-element:nth-child(even) div.kb-form-setting {
    background-color: var(--row-color);
}

div#kb-form-elements .form-ele-list mat-list-item i, .custom-preview-icon {
    color: var(--kb-white);
    padding: 14px;
    margin-right: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;   
    min-height: 48px;   
}

.custom-preview-icon {
    border-radius: 3px;
}

div#kb-form-elements .form-ele-list mat-list-item {
    margin: 10px 0;
}

.form-ele-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.kb-form-element {
    position: relative;
    min-height: 20px;
    padding: 4px 8px;
    margin: 10px 0;
    transition: 0.2s ease;
}

div.kb-form-element:first-child {
    margin-top: 0px!important;
}

div.kb-form-element:last-child {
    margin-bottom: 0px!important;
}

div.kb-form-element:before {
    content: '';
    cursor: all-scroll;
    border: 3px solid transparent;
    position: absolute;
    transition: 0.2s ease;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.2s ease;
}

div.kb-form-element:nth-child(odd):hover:before {
    border-color: var(--section-color);
}

div.kb-form-element:nth-child(even):hover:before {
    border-color: var(--row-color);
}

div.kb-form-element:hover .kb-form-setting {
    opacity: 1;
}

div.kb-form-setting span {
    padding: 6px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    display: inline-block;
}

div.kb-form-setting span:hover {
    color: var(--kb-gray);
}

div.kb-form-setting i {
    font-size: 14px;
}

div.kb-form-setting span.kb-handle-element {
    cursor: move;
}

div.kb-form-setting {
    color: var(--kb-light);
    position: absolute;
    top: -33px;
    right: 0px;
    padding: 0 8px;
    border-radius: 3px 3px 0px 0px;
    transition: 0.2s ease;
    z-index: 9;
    background-color: var(--section-color);
    opacity: 0;
}

.kb-form-para {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
}

.kb-form-heading {
    font-size: 24px;
    font-weight: 600;
    color: var(--kb-text-color);
}

div#kb-form-title {
    font-size: 24px;
}

div#kb-form-title input, div#kb-form-head:hover span {
    display: none;
}

div#kb-form-head:hover input {
    display: block;
}

div#kb-form-title input {
    width: 100%;
    padding: 0;
    background: transparent;
    font-size: inherit;
    border-color: #aeaeae;
    border-width: 0px 0px 2px;
}

div#kb-form-head {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--kb-gray);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}

.kb-layout-title {
    font-size: 26px;
}

.kb-btn-primary {
    color: #fff !important;
    background-color: var(--kb-success) !important;
    border-color: var(--kb-success) !important;
}

div#kb-element-drag:after {
    content: 'Drag Elements Here';
    border: 2px dashed #aeaeae;
    color: #aeaeae;
    font-size: 22px;
    height: 80%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 4px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  input styling  */

div.kb-form-inp .kb-form-inp-reqired{
    color: var(--kb-danger);
    margin-left: 5px;
}

div.kb-form-inp label, div.kb-form-rc label {
    text-transform: capitalize;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    color: var(--kb-text-color);
    position: relative;
}

div.kb-form-inp input, div.kb-form-inp textarea, div.kb-form-inp select {
    font-size: 14px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: block;
    width: 100%;
    min-width: 100%;
    color: var(--kb-text-color);
    border: 1px solid #b8bdc9;
    background-color: var(--kb-light);
    margin-bottom: 16px;
    padding: 0px 10px;
    line-height: 36px;
    text-transform: capitalize;
}

div.kb-form-inp input:focus, div.kb-form-inp textarea:focus, div.kb-form-inp select:focus, 
div.kb-form-inp input:focus-visible, div.kb-form-inp textarea:focus-visible, div.kb-form-inp select:focus-visible,
div.kb-form-inp input:focus-within, div.kb-form-inp textarea:focus-within, div.kb-form-inp select:focus-within {
    outline: none;
}

div.kb-form-inp select {
    min-height: 36px;
}

div.kb-form-divder {
    border: 1px solid var(--kb-light);
}

.kb-from-inp-split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kb-form-btn button{
    font-weight: 500;
    font-size: 15px;
    border: 0px solid;
    background-color: var(--kb-success);
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
}

.kb-form-btn {
    text-align: right;
}

/* radio input */

label > input[type="radio"], label > input[type="checkbox"] {
    display: none;
  }

  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--secondary-color);
  }

  label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--secondary-color);
  }

  label > input[type="radio"]:checked + *::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
    border-color: teal;
  }

  label > input[type="checkbox"]:checked + *::before {
    border-color: teal;
  }

  label > input[type="checkbox"]:checked + *::after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: -6px;
    left: 2px;
    color: teal;
  }

  label > input[type="radio"]:checked + *, label > input[type="checkbox"]:checked + * {
    color: teal;
  }

  label > input[type="radio"] + *, label > input[type="checkbox"] + * {
    padding: 0px;
    display: inline-flex;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
  }