::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ececec!important;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar{
    background-color: rgb(255 255 255 / 50%)!important;
    color: #fff;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: var(--kb-light)!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, ::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, ::ng-deep :not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: var(--primary-color)!important;
}

::ng-deep .mat-checkbox-frame {
    border-color: var(--kb-gray)!important;
}

::ng-deep span.mat-list-item-content {
    padding: 0px!important;
    width: 100%;
}

::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6,
::ng-deep p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0 !important;
}

.kb-tabs-component .kb-inner-tab-component {
    padding: 16px!important;
}

#kb-main {
    height: 100%;
}

form#kb-form {
    position: relative;
    width: 60%;
    min-height: 500px;
    height: auto;
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 40%);
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
}

#kb-topbar-container {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px; 
}

#kb-form-container {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
}

#kb-form-elements .custom-placeholder {
    visibility: hidden;
    width: auto;
}

#kb-form-elements .cdk-drag {
    cursor: grab;
}

#kb-form-elements .cdk-drag:active {
    cursor: grabbing;
}

.custom-preview-icon {
    color: var(--kb-white);
    background-color: var(--primary-color);
    padding: 14px;
    margin-right: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;   
    min-height: 48px;   
    border-radius: 3px;
}

.custom-placeholder {
    background-color: var(--primary-color);
}

div.kb-form-element {
    position: relative;
    min-height: 20px;
    padding: 4px 8px;
    margin: 10px 0;
    transition: 0.2s ease;
}

div.kb-form-element:before {
    content: '';
    cursor: all-scroll;
    border: 2px solid transparent;
    position: absolute;
    transition: 0.2s ease;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.2s ease;
}

div.kb-form-element:hover:before {
    border-color: var(--primary-color);
}

div.kb-form-setting span {
    padding: 6px;
    line-height: 1;
    cursor: pointer;
    transition: 0.1s ease-out;
    display: inline-block;
}

div.kb-form-setting span:hover {
    color: var(--kb-gray);
}

div.kb-form-setting i {
    font-size: 14px;
}

div.kb-form-setting span.kb-handle-element {
    cursor: move;
}

div.kb-form-setting {
    color: var(--kb-light);
    background-color: var(--primary-color);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 3px;
    border-radius: 0px 4px 0px 4px;
    animation: show 0.2s ease;
    z-index: 999;
    width: auto;
    font-size: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.kb-form-para {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
}

.kb-form-heading {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
}

div#kb-element-drag:after {
    content: 'Drag Elements Here';
    border: 2px dashed #aeaeae;
    color: #aeaeae;
    font-size: 22px;
    height: calc(100% - 120px);
    width: calc(100% - 120px);
    position: absolute;
    left: 60px;
    top: 60px;
    border-radius: 4px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  input styling  */

.kb-form-inp-reqired{
    color: var(--kb-danger);
    margin-left: 5px;
}

div.kb-form-inp label, div.kb-form-rc label {
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    color: var(--secondary-color);
    position: relative;
}

div.kb-form-inp input, div.kb-form-inp textarea, div.kb-form-inp select {
    font-size: 14px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: block;
    width: 100%;
    color: var(--secondary-color);
    border: 1px solid #b8bdc9;
    background-color: var(--kb-light);
    margin-bottom: 16px;
    padding: 0px 10px;
    line-height: 36px;
}

div.kb-form-inp input:focus, div.kb-form-inp textarea:focus, div.kb-form-inp select:focus, 
div.kb-form-inp input:focus-visible, div.kb-form-inp textarea:focus-visible, div.kb-form-inp select:focus-visible,
div.kb-form-inp input:focus-within, div.kb-form-inp textarea:focus-within, div.kb-form-inp select:focus-within {
    outline: none;
}

div.kb-form-inp select {
    min-height: 36px;
}

div.kb-form-divder {
    border: 1px solid var(--kb-light);
}

.kb-form-inp-split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: space-between;
}

.kb-form-inp-split>* {
    flex: 1;
    -webkit-flex: 1;
}

.kb-form-btn button{
    font-weight: 500;
    font-size: 15px;
    border: 0px solid;
    background-color: var(--kb-success);
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
}

.kb-form-btn {
    text-align: right;
}

/* radio input */

label > input[type="radio"], label > input[type="checkbox"] {
    display: none;
  }

  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--secondary-color);
  }

  label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--secondary-color);
  }

  label > input[type="radio"]:checked + *::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
    border-color: teal;
  }

  label > input[type="checkbox"]:checked + *::before {
    border-color: teal;
  }

  label > input[type="checkbox"]:checked + *::after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: -6px;
    left: 2px;
    color: teal;
  }

  label > input[type="radio"]:checked + *, label > input[type="checkbox"]:checked + * {
    color: teal;
  }

  label > input[type="radio"] + *, label > input[type="checkbox"] + * {
    padding: 0px;
    display: inline-flex;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
  }