<div *ngIf="!_form.preview else fetchpreview" id="kb-form-builder">
    <div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu" class="kb-builder-options">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="switchPreviewMode()"><i [innerHTML]="'preview' | svg | safeHtml"></i> Preview</button>
        <button mat-menu-item (click)="saveForm()"><i [innerHTML]="'save' | svg | safeHtml"></i> Save</button>
        <button mat-menu-item (click)="openSettingDialog(settingdialog)"><i [innerHTML]="'setting' | svg | safeHtml"></i> Setting</button>
        <button mat-menu-item (click)="_form.undo()" *ngIf="_form.formSessionArr[_form.formSession.undo-1]"><i [innerHTML]="'undo' | svg | safeHtml"></i> Undo</button>
        <button mat-menu-item (click)="_form.redo()" *ngIf="_form.formSessionArr[_form.formSession.redo]"><i [innerHTML]="'redo' | svg | safeHtml"></i> Redo</button>
    </ng-template>
    </mat-menu>
    <app-image [DialogImageToggle]="DialogImageToggle"></app-image>
    <app-builder-setting (openImageDialog)="openImageDialog()" [DialogToggle]="DialogParentToggle"></app-builder-setting>
    <ng-template #settingdialog>
        <h1 mat-dialog-title>Form Setting</h1>
        <div mat-dialog-content class="kb-text-editor">
            <mat-error *ngIf="isNotValid(validate.name)">
                Form name should not be empty
            </mat-error>
            <mat-error *ngIf="validate.name.hasError('minlength')">
                Form name must be at least <strong>3</strong> characters
            </mat-error>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="form name" [formControl]="validate.name" [(ngModel)]="_form.form.name" minlength="3">
            </mat-form-field>
            <mat-label class="kb-mat-label">Thank You Message
                <i class="fa-regular fa-circle-question small ml-2" matTooltip="It will show only if redirection is off"
                matTooltipPosition="above"></i>
            </mat-label>
            <editor [(ngModel)]="_form.form.thankyoumessage" [init]="_general.config"></editor>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close cdkFocusInitial [color]="!validate.name.invalid && !validate.relink.invalid ? 'primary' : ''" [disabled]="validate.name.invalid || validate.relink.invalid">Done</button>
        </div>
    </ng-template>
    <ng-template #actiondialog>
        <h1 mat-dialog-title>Form Actions</h1>
        <div mat-dialog-content class="kb-action-dialog-content py-2">
            <mat-accordion>
                <mat-expansion-panel [expanded]="_general.expPanelStep === 0" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Subscribe to Lists</mat-panel-title>
                        <mat-panel-description><i class="fa-solid fa-list-ul"></i></mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field appearance="fill">
                        <mat-label>Search Lists</mat-label>
                        <mat-chip-list #listChipList aria-label="List selection">
                            <mat-chip
                                *ngFor="let data of selectedLists, index as i"
                                (removed)="removeSelectedList(i)">
                                {{data.list_name}}
                                <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                        </mat-chip-list>
                        <input type="text"
                            #searchListInp
                            placeholder="Select multiples..."
                            (input)="filterListData($event)"
                            [matAutocomplete]="listAuto"
                            [matChipInputFor]="listChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            class="kb-act-searchinp"
                            [class.pt-2]="selectedLists.length != 0"
                            matInput>
                        <mat-autocomplete autoActiveFirstOption #listAuto="matAutocomplete" (optionSelected)="addSelectedList($event, searchListInp)">
                            <mat-option *ngFor="let option of filteredOptions.lists" [value]="option" [disabled]="filteredTempIds.lists.includes(option.id)">
                              {{option.list_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span class="kb-small">*Leave empty for not subscribing to any list</span>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="_general.expPanelStep === 1" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Add Tags</mat-panel-title>
                        <mat-panel-description><i class="fa-solid fa-tag"></i></mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field appearance="fill">
                        <mat-label>Search Tags</mat-label>
                        <mat-chip-list #tagChipList aria-label="Tag selection">
                            <mat-chip
                                *ngFor="let data of selectedTags, index as i"
                                (removed)="removeSelectedTag(i)">
                                {{data.tag_name}}
                                <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                        </mat-chip-list>
                        <input type="text"
                            #searchTagInp
                            [formControl]="tagCtrl"
                            placeholder="Select multiples..."
                            (input)="filterTagData($event)"
                            [matAutocomplete]="tagAuto"
                            [matChipInputFor]="tagChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addtag($event)"
                            class="kb-act-searchinp"
                            [class.pt-2]="selectedTags.length != 0"
                            matInput>
                        <mat-autocomplete autoActiveFirstOption #tagAuto="matAutocomplete" (optionSelected)="addSelectedTag($event, searchTagInp)">
                            <mat-option *ngFor="let option of filteredOptions.tags" [value]="option" [disabled]="filteredTempIds.tags.includes(option.id)">
                              {{option.tag_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span class="kb-small">*Leave empty for not adding any tag</span>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="_general.expPanelStep === 2" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Redirection</mat-panel-title>
                        <mat-panel-description><i class="fa-solid fa-arrow-up-right-from-square"></i></mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="kb-action-confirmation">
                        <mat-slide-toggle [(ngModel)]="_form.form.emailenabled" [matTooltip]="_form.form.emailenabled ? 'Enabled' : 'Disabled'" matTooltipPosition="above">
                            Want to redirect the form.
                        </mat-slide-toggle>
                    </div>
                    <mat-error *ngIf="validate.relink.touched && validate.relink.invalid && validate.relink.dirty">
                        Redirection link is invalid
                    </mat-error>
                    <mat-form-field appearance="fill">
                        <mat-label>Redirection Link</mat-label>
                        <input matInput type="text" placeholder="form redirection" [formControl]="validate.relink" [(ngModel)]="_form.form.redirection">
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="_general.existwebpages">
                        <mat-label>Website Pages</mat-label>
                        <mat-select [(ngModel)]="_form.form.redirection">
                            <mat-option *ngFor="let page of _general.existwebpages"
                                [value]="_general.subdomain+page.page_path"
                                [disabled]="page.publish_status == 0">
                                {{page.page_name | titlecase}}<small [attr.data]="'Draft'" class="infoTxt"
                                    *ngIf="page.publish_status == 0"></small>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="_general.funnels">
                        <mat-label>Funnel Steps</mat-label>
                        <mat-select [(ngModel)]="_form.form.redirection">
                            <mat-optgroup *ngFor="let funnel of _general.funnels"
                                [label]="funnel.name | titlecase">
                                <mat-option *ngFor="let step of funnel.steps"
                                    [value]="_general.subdomain+step.page_path"
                                    [disabled]="step.archived == 1">
                                    {{step.title | titlecase}}<small [attr.data]="step.funneltype"
                                        class="infoTxt"></small>
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="_general.expPanelStep === 3" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Send Email</mat-panel-title>
                        <mat-panel-description><i class="fa-solid fa-envelope"></i></mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="kb-action-confirmation">
                        <mat-slide-toggle [(ngModel)]="_form.form.emailenabled" [matTooltip]="_form.form.emailenabled ? 'Enabled' : 'Disabled'" matTooltipPosition="above">
                            Want to send email.
                        </mat-slide-toggle>
                    </div>
                    <mat-error *ngIf="isNotValid(validate.emailsubject)">
                        Email subject should not be empty
                    </mat-error>
                    <mat-form-field appearance="fill">
                        <mat-label>Email Subject</mat-label>
                        <input matInput type="text" placeholder="email subject" [formControl]="validate.emailsubject" [(ngModel)]="_form.form.emailsubject">
                    </mat-form-field>
                    <mat-label class="kb-mat-label">Message</mat-label>
                    <editor [(ngModel)]="_form.form.emailmessage" [init]="_general.config"></editor>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close cdkFocusInitial [color]="!validate.emailsubject.invalid ? 'primary' : ''" [disabled]="validate.emailsubject.invalid">Done</button>
        </div>
    </ng-template>
    <ng-template #btndialog>
        <h1 mat-dialog-title>Button</h1>
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Text</mat-label>
                <input matInput type="text" [placeholder]="'button text'" [(ngModel)]="_form.form.btntxt">
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="kb-dialog-additional">
            <button mat-button mat-dialog-close cdkFocusInitial color="primary">Done</button>
        </div>
    </ng-template>
    <ng-template #elementdialog>
        <h1 mat-dialog-title>{{_form.selEle.label ? _form.selEle.label : _form.selEle.name.replaceAll('-',' ')}}</h1>
        <div mat-dialog-content class="kb-text-editor">
            <editor *ngIf="_form.selEle.name == 'heading' || _form.selEle.name == 'text'" [(ngModel)]="_form.selEle.html" [init]="_general.config"></editor>
        </div>
        <div mat-dialog-actions class="kb-dialog-additional">
            <button mat-button mat-dialog-close cdkFocusInitial color="primary">Done</button>
        </div>
    </ng-template>
    <div id="kb-main" cdkDropListGroup (contextmenu)="onContextMenu($event)" [class.pagedisabled]="_general.saveDisabled" [class.loading]="!_general.loading.success">
        <mat-progress-bar *ngIf="_general.saveDisabled" mode='indeterminate'></mat-progress-bar>
        <div id="kb-topbar-container">
            <div id="kb-topbar">
                <div class="kb-triggers">
                    <button mat-button (click)="_general.redirectLink('/')"><img
                            [src]="_image.imgPath+'logo/kblogo-white.png'"></button>
                    <button mat-button (click)="_general.backBtn()" class="kb-backBtn">
                        <i [innerHTML]="'left_circle_arrow' | svg | safeHtml"></i>
                        <p class="kb-bb-text">Back</p>
                    </button>
                    <button mat-button (click)="selectTab('fields')" [class.kb-btn-active]="selectedTab == 'fields'">
                        <i class="far fa-check-square"></i> Fields
                    </button>
                    <button mat-button (click)="selectTab('elements')" [class.kb-btn-active]="selectedTab == 'elements'">
                        <i [innerHTML]="'elements' | svg | safeHtml"></i> Elements
                    </button>
                    <button mat-button (click)="selectTab('styling')" [class.kb-btn-active]="selectedTab == 'styling'">
                        <i class="fas fa-paint-brush"></i> Styling
                    </button>
                    <button mat-button (click)="selectTab('responsive')" [class.kb-btn-active]="selectedTab == 'responsive'">
                        <i [innerHTML]="'responsive' | svg | safeHtml"></i> Responsive
                    </button>
                    <button mat-button  [matMenuTriggerFor]="stngm" #stngt="matMenuTrigger" [class.kb-btn-active]="stngt.menuOpen || formdialog">
                        <i [innerHTML]="'ellipsisv' | svg | safeHtml"></i> More {{formdialog ? '> '+formdialog : ''}}
                    </button>
                    <mat-menu #stngm>
                        <button mat-menu-item (click)="openSettingDialog(settingdialog)">
                            <i [innerHTML]="'setting' | svg | safeHtml"></i> Setting</button>
                        <button mat-menu-item (click)="openActionDialog(actiondialog)">
                            <i class="fa-solid fa-location-crosshairs"></i> Actions</button>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="asm" #ast="matMenuTrigger" [class.kb-btn-active]="ast.menuOpen">
                        Auto Save > {{autosave ? 'ON' : 'OFF'}}
                    </button>
                    <mat-menu #asm>
                        <button mat-menu-item (click)="autoSaveTrigger(true)" [class.kb-btn-active]="autosave">ON</button>
                        <button mat-menu-item (click)="autoSaveTrigger(false)" [class.kb-btn-active]="!autosave">OFF</button>
                    </mat-menu>
                    <button mat-button [class.kb-btn-active]="_form.preview" (click)="switchPreviewMode()">
                        <i [innerHTML]="'preview' | svg | safeHtml"></i> Preview
                    </button>
                    <button mat-button (click)="saveForm()">
                        <i [innerHTML]="'save' | svg | safeHtml"></i> Save
                    </button>
                    <button mat-button matTooltip="Undo" [disabled]="!_form.formSessionArr[_form.formSession.undo-1] && !_form.formStyleSessionArr[_form.formSession.undo-1]" (click)="_form.undo()">
                        <i [innerHTML]="'undo' | svg | safeHtml"></i>
                    </button>
                    <button mat-button matTooltip="Redo" [disabled]="!_form.formSessionArr[_form.formSession.redo] && !_form.formStyleSessionArr[_form.formSession.redo]" (click)="_form.redo()">
                        <i [innerHTML]="'redo' | svg | safeHtml"></i>
                    </button>
                    <button *ngIf="selectedTab && selectedTab != 'fields'" mat-button (click)="hideBar()">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                </div>
                <div class="kb-triggers">
                    <span *ngIf="selectedTab == 'elements' || selectedTab == 'styling'" [class.open]="toggle.open" [class.close]="toggle.close"
                        class="kb-search-field">
                        <i [innerHTML]="'search' | svg | safeHtml"></i>
                        <input placeholder="Search here..." [(ngModel)]="searchText">
                    </span>
                    <button mat-button (click)="_general.redirectLink('/profile')">
                        {{_general.user.name | titlecase}}
                        <img *ngIf="_general.user.useravatar"
                            [src]="_image.getImgPath(_image.uploadImgPath+_general.user.useravatar)">
                    </button>
                </div>
            </div>
            <div *ngIf="selectedTab && selectedTab != 'fields'" class="kb-selection-container" [class.open]="toggle.open" [class.close]="toggle.close">
                <mat-icon mat-ripple (click)="prevSlide()" [class.kb-disabled]="slideShift <= 0"
                    class="kb-side-arrow">keyboard_arrow_left</mat-icon>
                <div #selection class="kb-selection-option"
                    [style.transform]="'translateX(-'+(_general.screenWidth - 100)*slideShift+'px)'"
                    [ngSwitch]="selectedTab">
                    <div *ngSwitchCase="'elements'" id="kb-form-elements" cdkDropList [cdkDropListData]="_form.formEle"
                        cdkDropListSortingDisabled>
                        <button mat-button cdkDrag [cdkDragData]="element"
                            *ngFor="let element of _form.formEle | filter:searchText:'name'" class="kb-icon-btn">
                            <i [class]="element.iconCls"></i>
                            <span>{{element.label ? element.label : element.name.replaceAll('-', ' ') |
                                titlecase}}</span>
                            <span *cdkDragPreview class="custom-preview-icon"
                                [style.backgroundColor]="'var(--primary-color)'">
                                <i [class]="element.iconCls"></i>
                            </span>
                            <span *cdkDragPlaceholder class="custom-placeholder"
                                [style.backgroundColor]="'var(--primary-color)'"></span>
                        </button>
                    </div>
                    <div *ngSwitchCase="'styling'">
                        <button mat-button (click)="openStylingDialog(element.value)"
                            *ngFor="let element of _form.formEleTypes | keyvalue | filter:searchText:'key'"
                            class="kb-icon-btn">
                            <i [class]="element.value.content.iconCls"></i>
                            <span>{{element.key | titlecase}}</span>
                        </button>
                    </div>
                    <div *ngSwitchCase="'responsive'">
                        <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'desktop'"
                            (click)="_general.respToggle('desktop')">
                            <i [innerHTML]="'desktop' | svg | safeHtml"></i><span>Desktop</span></button>
                        <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'tablet-h'"
                            (click)="_general.respToggle('tablet-h')">
                            <i class="rotate-90" [innerHTML]="'tab' | svg | safeHtml"></i><span>Tablet H</span></button>
                        <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'tablet-v'"
                            (click)="_general.respToggle('tablet-v')">
                            <i [innerHTML]="'tab' | svg | safeHtml"></i><span>Tablet V</span></button>
                        <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'mobile'"
                            (click)="_general.respToggle('mobile')">
                            <i [innerHTML]="'mobile' | svg | safeHtml"></i><span>Mobile</span></button>
                        <button mat-button class="kb-icon-btn" [class.kb-btn-active]="_general.respToggleDevice.name == 'hover'"
                            (click)="_general.respToggle('hover')">
                            <i class="fas fa-mouse-pointer"></i><span>Hover</span></button>
                    </div>
                </div>
                <mat-icon mat-ripple (click)="nextSlide()" [class.kb-disabled]="slideShift > shiftLen-1"
                    class="kb-side-arrow">keyboard_arrow_right</mat-icon>
            </div>
        </div>
        <mat-drawer-container [hasBackdrop]="false" autosize>
            <mat-drawer #fieldsdrawer mode="side" position="end">
                <div id="kb-field-group">
                    <h2 class="kb-field-list-head">
                        Form Fields
                        <i mat-ripple [matMenuTriggerFor]="ffoptm" #ffoptt="matMenuTrigger" class="kb-field-opt-trg fa-solid fa-bars"></i>
                        <mat-menu #ffoptm>
                            <button (click)="toggleFieldsFilter(showFilter)" [class.kb-btn-active]="showFilter" mat-menu-item>
                                <i [innerHTML]="'filter' | svg | safeHtml"></i> Filter</button>
                            <button (click)="_general.redirectLink('/crm/fields')" mat-menu-item>
                                <i [innerHTML]="'setting' | svg | safeHtml"></i> Customize</button>
                            <button (click)="selectTab('fields')" mat-menu-item>
                                <i class="fa fa-times"></i> Close</button>                                
                        </mat-menu>
                    </h2>
                    <div *ngIf="showFilter" class="kb-field-filter-opt">
                        <mat-form-field appearance="fill">
                            <mat-label>Search Fields</mat-label>
                            <input matInput #searchInp (input)="_form.searchFields(searchInp, sortInp, filterInp)" type="text" placeholder="Search Form Name">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Sort By</mat-label>
                            <mat-select #sortInp name="kbfilter" value='created_at DESC' (valueChange)="_form.searchFields(searchInp, sortInp, filterInp)">
                                <mat-option [value]="'label ASC'">ASC By Label</mat-option>
                                <mat-option [value]="'label DESC'">DESC By Label</mat-option>
                                <mat-option [value]="'created_at ASC'">ASC By Create</mat-option>
                                <mat-option [value]="'created_at DESC'">DESC By Create</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Filter By Name</mat-label>
                            <mat-select #filterInp name="kbfilter" value='' (valueChange)="_form.searchFields(searchInp, sortInp, filterInp)">
                                <mat-option value="" selected><i class="fas fa-bars mr-1"></i> All</mat-option>
                                <mat-option *ngFor="let ft of _form.fieldTypes" [value]="ft.type">
                                    <span class="mr-1" [innerHTML]="ft.icon | safeHtml"></span>
                                    {{ft.name.replaceAll('-', ' ') | titlecase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-nav-list cdkDropList [cdkDropListData]="_form.fields" cdkDropListSortingDisabled>
                        <div class="kb-field-list" cdkDrag [cdkDragDisabled]="isDisabled(ff)" [cdkDragData]="ff" *ngFor="let ff of _form.fields" role="listitem">
                            <span class="kb-field-list-name">{{ff.label | titlecase}}<span *ngIf="ff.required" class="kb-form-inp-reqired">*</span>
                            </span>
                            <span *cdkDragPreview class="custom-preview"
                            [style.backgroundColor]="'var(--primary-color)'">
                            {{ff.label | titlecase}}
                            </span>
                            <span *cdkDragPlaceholder class="custom-placeholder"
                                [style.backgroundColor]="'var(--primary-color)'"></span>
                        </div>
                    </mat-nav-list>
                </div>
            </mat-drawer>
            <div id="kb-form-container" [class.kb-resp-border]="_general.respToggleDevice.name != 'desktop' && _general.respToggleDevice.name != 'hover'" [style.width]="_general.respToggleDevice.width">
                <form #form [id]="'kb-form-'+_form.form.uniqueid" [name]="'kb-form-'+_form.form.uniqueid"
                [ngStyle]="getBlockStyle('form')" [style.min-height]="_form.formField.length == 0 ? '500px' : ''">
                    <div cdkDropList [cdkDropListData]="_form.formField" (cdkDropListDropped)="itemDropped($event)">
                        <div cdkDrag *ngFor="let fe of _form.formField, index as fei" [id]="'kb-'+fe.type+'-'+fe.id"
                            (dblclick)="openElementDialog(elementdialog, fe)"
                            [style.margin]="!fe.field_tag  ? getBlockStyle(fe.name)['margin'] : ''" 
                            [style.justifyContent]="!fe.field_tag ? justifyContent(fe.name) : ''" 
                            (mouseenter)="fe.setting = true" (mouseleave)="fe.setting = false" class="kb-form-element" [ngSwitch]="fe.name">
                            <div *ngIf="fe.setting" class="kb-form-setting">
                                <span class="kb-drag-element" *ngIf="_form.formField.length != 0" >
                                    <i class="fa fa-arrows-alt"></i>
                                </span>
                                <span *ngIf="fe.name != 'divider' && !fe.field_tag" (click)="openElementDialog(elementdialog, fe)" matTooltip="Edit" matTooltipPosition="above"><i
                                        class="far fa-edit"></i></span>
                                <span *ngIf="fe.field_tag != '%EMAIL%'" (click)="_form.removeField(_form.formField, fei)" matTooltip="Delete" matTooltipPosition="above"><i
                                        class="far fa-trash-alt"></i></span>
                            </div>
                            <div *ngSwitchCase="'heading'" [ngStyle]="getBlockStyle(fe.name)" class="kb-mar-zero"
                                [innerHTML]="fe.html | safeHtml"></div>
                            <div *ngSwitchCase="'text'" [ngStyle]="getBlockStyle(fe.name)" class="kb-mar-zero"
                                [innerHTML]="fe.html | safeHtml"></div>
                            <div *ngSwitchCase="'image'">
                                <img [src]="fe.src ? fe.src : _image.imgPath+'builder/no-image.png'" class="kb-form-image kb-mar-zero"
                                    [ngStyle]="getBlockStyle(fe.name)">
                            </div>
                            <div *ngSwitchCase="'divider'" class="kb-w-100">
                                <hr [ngStyle]="getBlockStyle(fe.name)">
                            </div>
                            <div *ngSwitchCase="'dropdown'" class="kb-form-inp kb-w-100">
                                <label [for]="'kb-'+fe.type+'-'+fe.id" [ngStyle]="getBlockStyle('label')" [style.justifyContent]="justifyContent('label')">{{fe.label}}<span *ngIf="fe.required"
                                        class="kb-form-inp-reqired">*</span></label>
                                <select [(ngModel)]="fe.value" [ngStyle]="getBlockStyle('input')" [name]="'kb-'+fe.type+'-'+fe.id" [required]="fe.required" >
                                    <option value="" selected disabled hidden>{{fe.placeholder}}</option>
                                    <option *ngFor="let opt of fe.options" [value]="opt.value" [selected]="opt.selected">
                                        {{opt.value}}
                                    </option>
                                </select>
                            </div>
                            <div *ngSwitchDefault class="kb-w-100" [class]="fe.options ? 'kb-form-rc' : 'kb-form-inp'">
                                <label [for]="'kb-'+fe.type+'-'+fe.id" [ngStyle]="getBlockStyle('label')" [style.justifyContent]="justifyContent('label')">{{fe.label}}
                                    <span *ngIf="fe.required" class="kb-form-inp-reqired">*</span>
                                </label>   
                                <textarea *ngIf="fe.type == 'textarea' else input" [(ngModel)]="fe.value" [name]="'kb-'+fe.type+'-'+fe.id" [required]="fe.required" [placeholder]="fe.placeholder"
                                        [ngStyle]="getBlockStyle('input')"></textarea>
                                <ng-template #input>
                                    <input *ngIf="!fe.options else options" [type]="fe.type" [(ngModel)]="fe.value" [name]="'kb-'+fe.type+'-'+fe.id"
                                        [required]="fe.required" [placeholder]="fe.placeholder" [ngStyle]="getBlockStyle('input')">
                                    <ng-template #options>
                                            <label *ngFor="let option of fe.options, index as i" [for]="'kb-'+option.type+'-'+fe.id+'-'+i" [ngStyle]="getBlockStyle('option')" [style.justifyContent]="justifyContent('option')">
                                                <input [type]="fe.type" [id]="'kb-'+option.type+'-'+fe.id+'-'+i" [name]="fe.type == 'radio' ? 'kb-'+fe.type+'-'+fe.id : 'kb-'+option.type+'-'+fe.id+'-'+i" [required]="fe.required" [checked]="option.selected">
                                                <span>{{option.value}}</span>
                                            </label>
                                    </ng-template>
                                </ng-template>
                                <span *ngIf="fe.setting && fe.primary" class="kb-element-info">Primary Email</span>
                            </div>
                            <div *cdkDragPreview class="kb-field-preview custom-preview">
                                {{fe.label ? fe.label : fe.name.replaceAll('-',' ')}}
                            </div>
                            <div *cdkDragPlaceholder class="custom-placeholder"></div>
                        </div>
                    </div>
                    <div class="kb-form-btn">
                        <button [id]="'kb-form-btn-'+_form.form.uniqueid" (click)="openBtnDialog(btndialog)" type="button"
                            [ngStyle]="getBlockStyle('button')">{{_form.form.btntxt}}</button>
                    </div>
                </form>
            </div>
        </mat-drawer-container>
        <div *ngIf="!_general.loading.success" id="loader">
            <div id="shadow"></div>
            <div id="box"></div>
            <div *ngIf="_general.loading.error" class="loadErrMsg">Something went wrong!</div>
        </div>
    </div>
    <div mat-ripple *ngIf="_general.minimize" id="kb-minimize-setting" (click)="_general.minimize = !_general.minimize" matTooltip="Maximize" matTooltipPosition="above">
    <i class ='far fa-window-maximize'></i>
    <span>{{(_general.selectedBlock.type != 'element' ? (_general.selectedBlock.type == 'main' ? 'Page' :
        _general.selectedBlock.type) : _general.selectedBlock.content.name) | titlecase}}</span>
    </div>
</div>
<ng-template #fetchpreview>
    <div id="kb-form-preview">
        <div id="kb-topbar-container" class="kb-preview-exit">
            <div id="kb-topbar">
                <div class="kb-triggers">
                    <button mat-button (click)="switchPreviewMode()">
                        Exit Preview
                    </button>
                </div>
            </div>
        </div>
        <app-form-fetch></app-form-fetch>
    </div>
</ng-template>