::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ececec!important;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar{
    background-color: rgb(255 255 255 / 50%)!important;
    color: #fff;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: var(--kb-light)!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, ::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, ::ng-deep :not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: var(--primary-color)!important;
}

::ng-deep .mat-checkbox-frame {
    border-color: var(--kb-gray)!important;
}

::ng-deep span.mat-list-item-content {
    padding: 0px!important;
    width: 100%;
}

::ng-deep .mat-dialog-container .kb-text-editor {
    width: 640px;
    height: 250px;
}

:ng-deep button.tox-button {
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 4px;
    min-width: 100px;
    font-weight: 600;
}

:ng-deep button.tox-button.tox-button--secondary {
    background-color: var(--secondary-color);
}

::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6,
::ng-deep p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0 !important;
}

.kb-tabs-component .kb-inner-tab-component {
    padding: 16px!important;
}

.mat-dialog-actions.kb-dialog-additional {
    flex-direction: row-reverse;
    justify-content: space-between!important;
}

span.kb-split-fields {
    display: flex;
    position: relative;
}

.kb-form-field-icon {
    position: absolute;
    right: 0px;
    top: 0px;
}

.kb-field-preview.custom-preview {
    z-index: 99999!important;
    background-color: var(--primary-color);
}

.kb-form-field-icon i.cdk-drag-handle {
    cursor: all-scroll;
}

.kb-form-field-icon i {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 14px;
    border-radius: 4px;
}

#kb-topbar-container {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px; 
}

#kb-form-container.kb-resp-view {
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
}

#kb-form-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 500px;
    height: auto;
    margin: 0px auto;
    border-radius: 4px;
    transition: width 0.3s ease-out;
}

#kb-form-elements .custom-placeholder {
    visibility: hidden;
    width: auto;
}

.cdk-drag {
    cursor: grab;
}

.cdk-drag:active {
    cursor: grabbing;
}

.custom-preview-icon {
    color: var(--kb-white);
    background-color: var(--primary-color);
    padding: 14px;
    margin-right: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;   
    min-height: 48px;   
    border-radius: 3px;
}

.custom-placeholder {
    background-color: var(--primary-color);
}

div.kb-form-element {
    position: relative;
    display: grid;
    min-height: 20px;
    transition: 0.2s ease;
}

div.kb-form-element.cdk-drag:before {
    content: '';
    border: 2px solid transparent;
    position: absolute;
    transition: 0.2s ease;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.2s ease;
}

div.kb-form-element.cdk-drag:hover:before {
    border-color: var(--primary-color);
}

div.kb-form-setting span {
    padding: 6px;
    line-height: 1;
    cursor: pointer;
    transition: 0.1s ease-out;
    display: inline-block;
}

div.kb-form-setting span:hover {
    color: var(--kb-gray);
}

div.kb-form-setting i {
    font-size: 14px;
}

div.kb-form-setting span.kb-handle-element {
    cursor: move;
}

div.kb-form-setting {
    color: var(--kb-light);
    background-color: var(--primary-color);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 3px;
    border-radius: 0px 4px 0px 4px;
    animation: show 0.2s ease;
    z-index: 999;
    width: auto;
    font-size: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.kb-form-element .kb-mar-zero{
    margin: 0px!important;
}

.kb-form-image img {
    max-width: 100%;
}

div#kb-element-drag {
    position: relative;
    height: 500px;
}

div#kb-element-drag:after {
    content: 'Drag Elements Here';
    border: 2px dashed #aeaeae;
    color: #aeaeae;
    font-size: 22px;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 4px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

/*  input styling  */

.kb-form-inp-reqired{
    color: var(--kb-danger);
    margin-left: 5px;
}

.kb-form-inp label, div.kb-form-rc label {
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    color: var(--secondary-color);
    position: relative;
    display: flex;
}

.kb-form-inp input, .kb-form-inp textarea, .kb-form-inp select {
    font-size: 14px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: block;
    width: 100%;
    color: var(--secondary-color);
    border: 1px solid #b8bdc9;
    background-color: var(--kb-light);
    margin-bottom: 16px;
    padding: 0px 10px;
    line-height: 36px;
}

.kb-form-inp input:focus, .kb-form-inp textarea:focus, .kb-form-inp select:focus, 
.kb-form-inp input:focus-visible, .kb-form-inp textarea:focus-visible, .kb-form-inp select:focus-visible,
.kb-form-inp input:focus-within, .kb-form-inp textarea:focus-within, .kb-form-inp select:focus-within {
    outline: none;
}

.kb-form-inp select {
    min-height: 36px;
}

div.kb-form-divder {
    border: 1px solid var(--kb-light);
}

.kb-form-inp-split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-between;
}

.kb-form-inp-split>* {
    flex: 1;
    -webkit-flex: 1;
    min-width: calc(25% - 10px);
}

.kb-form-btn button{
    font-weight: 500;
    font-size: 15px;
    border: 0px solid;
    background-color: var(--kb-success);
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
}

.kb-form-preview .kb-form-element:before {
    content: none!important;
}

.mat-select {
    color: inherit;
    background: transparent;
    border-radius: 0px;
    padding: 0px;
}

#kb-main.pagedisabled {
    pointer-events: none;
    position: relative;
}

button {
    cursor: pointer;
}

/* loader */

#kb-main #loader {
    z-index: 99999;
}

  #kb-main.loading:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--kb-dark);
    pointer-events: none;
  }

/* radio input */

label > input[type="radio"], label > input[type="checkbox"] {
    display: none;
  }

  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: inherit;
  }

  label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.3rem;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: inherit;
  }

   label > input[type="radio"]:checked + *::before {
    background: radial-gradient(var(--section-color) 0%, var(--section-color) 40%, transparent 50%, transparent);
  }

  label > input[type="radio"]:checked + *::before, label > input[type="checkbox"]:checked + *::before {
    border-color: var(--section-color);
  }

  label > input[type="checkbox"]:checked + *::after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: -7px;
    left: 2px;
    color: var(--section-color);
  }

  /* label > input[type="radio"]:checked + *, label > input[type="checkbox"]:checked + * {
    color: var(--section-color);
  } */

  label > input[type="radio"] + *, label > input[type="checkbox"] + * {
    padding: 0px;
    display: inline-flex;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
  }

  select {
    cursor: pointer;
  }