<div class="bw-login container-fluid">
  <div class="row">
    <div class="pt-3 bw-colside ml-4 mt-4">
      <div class="login-form">
        <img src="./assets/images/logo/kblogo.png">
        <h5>Sign Up To Admin</h5>
        <p>Enter your details to register to your account:</p>

         <!-- register -->
          <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="pl-2">
              <div class="bu-forregister">

                <div *ngIf="changestep">

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput placeholder="Ex. User" [formControl]="userFormControl" required minlength="3" maxlength="20" [(ngModel)]="form.username" (keyup)="form.username = removespecialchar(form.username); form.subdomain = removespecialcharwithsmall(form.username);" >
                    <mat-error *ngIf="userFormControl.hasError('required')">
                      Username is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="userFormControl.hasError('minlength')">
                      Username must be at least <strong>3</strong> characters
                    </mat-error>
                    <mat-error *ngIf="userFormControl.hasError('maxlength')">
                      Username must be at most <strong>20</strong> characters
                    </mat-error>
                  </mat-form-field>

                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label> First Name</mat-label>
                        <input type="text" matInput [formControl]="firstnameFormControl" placeholder="Ex. Rock" required [(ngModel)]="form.firstname">
                        <mat-error *ngIf="firstnameFormControl.hasError('required')">
                          First Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label> Last Name</mat-label>
                        <input type="text" matInput [formControl]="lastnameFormControl" placeholder="Ex. Rock" [(ngModel)]="form.lastname">
                      </mat-form-field>
                    </div>
                  </div>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" required [(ngModel)]="form.email">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> Phone Number</mat-label>
                    <input type="tel" matInput [formControl]="phoneFormControl" placeholder="Ex. +19999999999" [(ngModel)]="form.phone"> 
                  </mat-form-field>

                  <button mat-raised-button class="mt-3 registerbtn" (click)="fillnext()">Next</button>
                  
              </div>

              <div *ngIf="!changestep">

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> Company Name</mat-label>
                    <input type="text" matInput [formControl]="companynameFormControl" placeholder="Ex. Keabuilder" [(ngModel)]="form.company">
                    <!-- <mat-error *ngIf="companynameFormControl.hasError('required')">
                      Company Name is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> Subdomain</mat-label>
                    <input type="text" (keyup)="form.subdomain = removespecialcharwithsmall(form.subdomain)" required matInput [formControl]="subdomainFormControl" placeholder="Ex. Keabuilder" [(ngModel)]="form.subdomain">
                    <span matSuffix>.keapages.com</span>
                    <mat-error *ngIf="subdomainFormControl.hasError('required')">
                      Subdomain Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="subdomainFormControl.hasError('minlength')">
                      Subdomain must be at least <strong>3</strong> characters
                    </mat-error>
                    <mat-error *ngIf="subdomainFormControl.hasError('maxlength')">
                      Subdomain must be at most <strong>20</strong> characters
                    </mat-error>
                  </mat-form-field>

               

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" required minlength="6" [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="ar-eyeicon">
                      <i class="far fa-eye" [class]="hide ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                    </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                      Password must be at least <strong>6</strong> characters
                    </mat-error>
                  </mat-form-field>

                  <button mat-raised-button type="button" class="mr-3 w-25" (click)="fillnext()">Back</button>

                  <button mat-raised-button type="submit" class="mt-3 registerbtn">Register</button>

                  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    <i class="fas fa-exclamation-triangle"></i> Signup failed!<br />{{ errorMessage }}
                  </div>

              </div>

                  <div class="mt-4">
                      <span class="txt-light">Have an account?</span>
                      <button mat-button [routerLink]="['/login']">Log In</button>
                  </div>
              </div>
          </form>
          
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="bw-container__bg" [style.backgroundImage]="bgImg"></div>
    </div>
  </div>
</div>