<div class="container-fluid">

  <div id="kb-automation-actions" *ngIf="poupsidebar && automationaddnewaction">
    <div class="offcanvas offcanvas-right p-4 offcanvas-on loadEffectFromLeftsidebar">
      
      <i class="fas fa-times" (click)="hidepopupsidebar()"></i>
      <h6><b>NEW COURSE STEPS</b></h6>
      <hr>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input type="text" matInput placeholder="Ex. 10 Days to Productivity" required minlength="3" maxlength="140" >
      </mat-form-field>

      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <p>Product Thumbnail</p>
      <div id="img-preview" class="mb-2"></div>
      <input type="file" name="" (change)="changeme($event)" id="fileElem" accept=".png, .jpg, .jpeg" class="drop-zone__input">
      <div id="imgdiv" (click)="OnOpen()"><span class="drop-zone__prompt">Click to upload</span></div>
      <p class="mt-2"><small class="text-danger">{{typeerror}}</small></p>
      
      <mat-form-field class="kb-full-width" appearance="fill" >
        <mat-label>Offers</mat-label>
        <mat-select [formControl]="offers" multiple>
          <mat-select-trigger>
            {{offers.value ? offers.value[0] : ''}}
            <span *ngIf="offers.value?.length > 1" class="example-additional-selection">
              (+{{offers.value.length - 1}} {{offers.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let offer of offersList" [value]="offer">{{offer}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" ><i class="fas fa-plus"></i> Create Course</button>

    </div>
  </div>
  <div class="offcanvas-overlay " *ngIf="poupsidebar" (click)="hidepopupsidebar()"></div>

  <div class="row" *ngIf="addnewpages">
      <div class="col-md-12 mb-4 text-right pb-4">
        <button mat-raised-button class="mr-2 outer-card-add" (click)="addnewcourse()" >Add New Course <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <button mat-raised-button class="mr-2 btnul" >Pages 
          <i class="fa fa-file-alt" aria-hidden="true"></i>
          <ul class="kb-ul">
            <li> <button mat-raised-button class="mr-2" ><i class="fa fa-file"></i> Landing Page</button> </li>
            <li> <button mat-raised-button class="mr-2" ><i class="fa fa-file" aria-hidden="true"></i> Library Page</button> </li>
          </ul>
        </button>
        <button mat-raised-button class="mr-2 btnul" >Sales 
          <i class="fa fa-dollar-sign" aria-hidden="true"></i>
            <ul class="kb-ul">
              <li> <button mat-raised-button class="mr-2" [routerLink]="['/membership-offers']" > <i class="fa fa-percentage" aria-hidden="true"></i> Offers</button> </li>
              <li> <button mat-raised-button class="mr-2" [routerLink]="['/membership-coupons']" > <i class="fa fa-percent" aria-hidden="true"></i> Coupons</button> </li>
              <li> <button mat-raised-button class="mr-2" [routerLink]="['/membership-payments']" > <i class="fa fa-dollar-sign" aria-hidden="true"></i> Payments</button> </li>
            </ul>
        </button>
        <button mat-raised-button class="mr-2" [routerLink]="['/membership-members']" >Members <i class="fa fa-users" aria-hidden="true"></i></button>
        <button mat-raised-button class="mr-2" >Marketplace <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>

        <!-- <a href="javascript:void(0)" (click)="addnewcourse()">
          <mat-card class="outer-card-add">
            Add New Course
          </mat-card>
        </a> -->
      </div>
      <div class="col-md-4 cardpage mt-10 loadEffect" *ngFor="let kbpage of kbcourses; index as i;">
        <div>
            <img [src]="kbcourses[i]['thumbnail']" alt="" class="img-fluid img-fit">

            <div class="keabuilder-title-board line-ellipsis" matTooltip="Edit Course Name" matTooltipPosition="above">
              <span>{{kbcourses[i]['page_name']}}</span>
              <input type="text" [(ngModel)]="kbcourses[i]['page_name']">
            </div>
            <div class="statbadg" matTooltip="Status" matTooltipPosition="above">
              <span class="statusbadge" [class]="kbcourses[i]['publish_status']==1 ? 'active1':'active2'"
                  (click)="kbcourses[i].dropdownstatus = !kbcourses[i].dropdownstatus">
                  <i class="fas" [class]="kbcourses[i]['publish_status']==1 ? 'fa-check':'fa-file'"></i>
                  {{kbcourses[i]['publish_status']==1?'Publish':'Draft'}} <i class="fas fa-chevron-down drpdwnfa"></i>
              </span>
              <div class="kb-dropdown__panel kb-dropdown__status" *ngIf="kbcourses[i].dropdownstatus" >
                  <ul class="kb-dropdown__menu">
                  <li>
                      <a href=""><i class="fa fa-check pr-2"></i> Publish</a>
                  </li>
                  <li>
                      <a href=""><i class="fa fa-file pr-2"></i> Draft</a>
                  </li>
                  </ul>
              </div>
            </div>
            <p class="kb-pagedate"><span [matTooltip]="kbcourses[i]['members']+' Members'" matTooltipPosition="above"><i class="fa fa-user" aria-hidden="true"></i> {{kbcourses[i]['members']}}</span> &nbsp; <i class="fa fa-calendar" aria-hidden="true"></i> {{kbcourses[i]['updated_at']}}</p>

            <button mat-raised-button color="accent" class="mr-2">Preview <i class="far fa-eye"></i></button>
            <button mat-raised-button color="primary">Edit <i class="fas fa-pencil-alt"></i></button>

            <button class="kb-page-settting" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Settings" matTooltipPosition="above">
              <i class="fas fa-cog"></i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <i class="fas fa-pencil-alt mr-2" aria-hidden="true"></i> Edit
                </button>
                <button mat-menu-item>
                    <i class="fas fa-chart-pie pr-2"></i>View Analytics
                </button>
                <button mat-menu-item>
                    <i class="far fa-copy pr-2"></i>Duplicate
                </button>
                <button mat-menu-item>
                   <i class="fas fa-link pr-2"></i>Copy URL
                </button>
                <button mat-menu-item class="text-danger">
                  <i class="fas fa-trash pr-2"></i>Delete
               </button>
            </mat-menu>

        </div>
      </div>
  </div>

</div>