<ng-template #fieldlists>
    <h4 class="kb-field-list-head border-bottom py-2">
        <span>Select Field</span>
        <button (click)="closeBottomSheet()" class="float-right" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </h4>
    <mat-nav-list>
        <div class="kb-field-list" (click)="openDialog(fieldsetting, ft)" *ngFor="let ft of fieldTypes" role="listitem" mat-ripple>
            <span class="kb-field-list-icon" [innerHTML]="ft.icon | safeHtml"></span>
            <span class="kb-field-list-name">{{ft.name.replaceAll('-',' ') | titlecase}}</span>
        </div>
    </mat-nav-list>
</ng-template>
<ng-template #delfield>
    <h1 mat-dialog-title class="kb-danger">Delete Field</h1>
    <div mat-dialog-content>
      Would you like to delete <span class="kb-danger">{{selField.label | titlecase}}</span> field?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">No</button>
      <button mat-button mat-dialog-close (click)="deleteField(selField)" class="kb-danger">Yes</button>
    </div>
</ng-template>
<ng-template #delselecteddialog>
    <h1 mat-dialog-title class="kb-danger">Delete Selected Fields</h1>
    <div mat-dialog-content>
      Would you like to delete <span class="text-danger">{{selectedFields.length}}</span> fields?
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'">No</button>
      <button mat-button mat-dialog-close (click)="deleteSelectedFields(selectedFields)" class="text-danger">Yes</button>
    </div>
  </ng-template>
  
<ng-template #fieldsetting>
    <h1 mat-dialog-title>{{selField.name.replaceAll('-',' ')}}</h1>
    <div mat-dialog-content>
        <div class="rounded overflow-hidden d-flex mb-3 ">
            <input #fieldTagInp matTooltip="Field Tag" matTooltipPosition="above" class="kb-field-tag border-0 px-2" name="field_tag" (input)="fieldTagInp.value = getFieldTag(selField)" [value]="getFieldTag(selField)">
            <span class="kb-field-tag-copy" mat-ripple [matTooltip]="isCopied ? 'Copied' : 'Copy'" matTooltipPosition="above" color="primary" (cdkCopyToClipboardCopied)="textCopied($event)" [cdkCopyToClipboard]="fieldTagInp.value">
                <i class="fa-regular fa-copy"></i>
            </span>
        </div>
        <mat-error *ngIf="field_error">{{field_error}}</mat-error>
        <mat-form-field appearance="fill" *ngIf="!selField.default_field" [class.mat-form-field-invalid]="field_error">
            <mat-label>Label</mat-label>
            <input matInput type="text" placeholder="label" [(ngModel)]="selField.label">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isPlaceholder(selField) && !selField.default_field">
            <mat-label>Placeholder</mat-label>
            <input matInput type="text" placeholder="placeholder" [(ngModel)]="selField.placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isDefaultVal(selField)">
            <mat-label>Default Value <span class="kb-info-tag kb-tag">Optional</span></mat-label>
            <textarea *ngIf="selField.type == 'textarea' else input" matInput placeholder="default value"></textarea>
            <ng-template #input>
                <input matInput type="text" placeholder="default value" [(ngModel)]="selField.value">
            </ng-template>
        </mat-form-field>
        <mat-form-field class="kb-full-width mb-2" appearance="fill">
            <mat-label>Add Note</mat-label>
            <textarea type="text" matInput name="fieldnote" [(ngModel)]="selField.note"></textarea>
        </mat-form-field>
        <div cdkDropList
        [cdkDropListData]="selField.options" (cdkDropListDropped)="itemDropped($event)">
            <span *ngFor="let option of selField.options, index as i">
                <span cdkDrag class="kb-split-fields">
                    <mat-form-field appearance="fill">
                        <mat-label>Option {{i+1}}</mat-label>
                        <input matInput type="text" [placeholder]="'option '+(i+1)" [(ngModel)]="option.value">
                    </mat-form-field>
                    <div *cdkDragPreview class="custom-preview kb-field-preview">
                        {{option.value ? option.value : option.placeholder}}
                    </div>
                    <div *cdkDragPlaceholder class="custom-placeholder"></div>
                    <span class="kb-form-field-icon">
                        <mat-checkbox *ngIf="!option.placeholder" [(ngModel)]="option.selected" (ngModelChange)="onSelChng(option.selected, selField, i)" [name]="option.id+'-selected'" matTooltip="Default Selected" matTooltipPosition="above"></mat-checkbox>
                        <i *ngIf="selField.options.length > 1" class="fa fa-arrows-alt kb-drag-element"></i>
                        <i class="fa fa-plus" mat-ripple matTooltip="Add" matTooltipPosition="above" (click)="addInput(selField.options, i)"></i>
                        <i class="fa fa-times kb-danger" *ngIf="selField.options.length > 2" mat-ripple matTooltip="Remove" matTooltipPosition="above" (click)="removeInput(selField.options, i)"></i>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <div mat-dialog-actions>
        <mat-checkbox class="mr-auto" [(ngModel)]="selField.required">Required</mat-checkbox>
        <button mat-button mat-dialog-close class="kb-danger">Cancel</button>
        <button mat-button mat-dialog-close (click)="setField(selField)" cdkFocusInitial color="primary">{{selField.id ? 'Update' : 'Add'}}</button>
    </div>
</ng-template>
<ng-container *ngIf="field_list">
    <div class="container-fluid">
        <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
        <div class="row">
            <mat-form-field appearance="fill" class="col-md-7">
                <mat-label>Search Fields</mat-label>
                <input matInput  [(ngModel)]="searchInp" (input)="searchFields(searchInp, sortInp, filterInp)" type="text" placeholder="Search Field Name">
                <i class="fa-solid fa-magnifying-glass"></i>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill" class="col-md-2">
                <mat-label>Sort By</mat-label>
                <mat-select #sortInp name="kbfilter" value='created_at ASC' (valueChange)="searchFields(searchInp, sortInp, filterInp)">
                    <mat-option [value]="'created_at ASC'">ASC By Create</mat-option>
                    <mat-option [value]="'created_at DESC'">DESC By Create</mat-option>
                    <mat-option [value]="'updated_at ASC'">ASC By Update</mat-option>
                    <mat-option [value]="'updated_at DESC'">DESC By Update</mat-option>
                    <mat-option [value]="'label ASC'">ASC By Label</mat-option>
                    <mat-option [value]="'label DESC'">DESC By Label</mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field appearance="fill" class="col-md-2">
                <mat-label>Filter By Name</mat-label>
                <mat-select [(ngModel)]="filterInp" name="kbfilter"  (ngModelChange)="searchFields(searchInp, sortInp, filterInp)">
                    <mat-option value="" selected><i class="fas fa-bars mr-1"></i> All</mat-option>
                    <mat-option *ngFor="let ft of fieldTypes" [value]="ft.type">
                        <span class="mr-1" [innerHTML]="ft.icon | safeHtml"></span>
                        {{ft.name.replaceAll('-', ' ') | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col-md-3 text-right mt-2">
                <button mat-raised-button color="primary" class="mx-3" (click)="openBottomSheet()">Add Field <i
                    class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" *ngIf="selectedFields.length > 0">
              <div class="float-right mb-3 kb-delbtn" (click)="openDialog(delselecteddialog, selectedFields)">
                <span class="">Delete Selected Fields <i class="fa fa-trash-alt"></i></span>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="col-12">
                <table class="table kb-table">
                    <thead>
                        <tr>
                            <th><span class="align-items-center"><mat-checkbox class="align-items-center" [(ngModel)]="checked_selected" (ngModelChange)="selectAllFields($event)" matTooltip="Select All Page Fields" matTooltipPosition="above"></mat-checkbox></span></th>
                            <th class="kb-table-sort" (click)="toggleSort('name')">Name <i class="fa-solid fa-up-long" *ngIf="sortInp == 'name ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'name DESC'"></i></th>
                            <th class="kb-table-sort" (click)="toggleSort('type')">Type <i class="fa-solid fa-up-long" *ngIf="sortInp == 'type ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'type DESC'"></i></th>
                            <th class="kb-table-sort" (click)="toggleSort('field_tag')">Field Tag <i class="fa-solid fa-up-long" *ngIf="sortInp == 'field_tag ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'field_tag DESC'"></i></th>
                            <th class="kb-table-sort" (click)="toggleSort('note')">Note <i class="fa-solid fa-up-long" *ngIf="sortInp == 'note ASC'"></i> <i class="fa-solid fa-down-long" *ngIf="sortInp == 'note DESC'"></i></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ff of pagefields, index as i">
                            <td><span *ngIf="!ff.default_field" class="align-items-center fnt" matTooltip="Click to Select" matTooltipPosition="above"><mat-checkbox class="fnt align-items-center mr-2" [(ngModel)]="ff.selected" (ngModelChange)="selectFields($event, ff)"></mat-checkbox></span></td>
                            <td (click)="editdialog.click()" class="kb-text-overflow kb-td-link">{{ff.label}}<span *ngIf="ff?.default_field" class="kb-info-tag kb-tag ml-2">Default</span></td>
                            <td class="kb-text-overflow">{{ff?.name.replaceAll('-', ' ')}}</td>
                            <td class="kb-text-overflow">{{ff?.field_tag | uppercase}}</td>
                            <td class="kb-text-overflow ftsize">{{ ff.note ? ff.note : "--" }}</td>
                            <td>
                                <span class="d-flex"> 
                                    <mat-checkbox *ngIf="!ff.default_field" matTooltip="Required" matTooltipPosition="above" [(ngModel)]="ff.required" (ngModelChange)="toggleRequired(ff)" class="px-3"></mat-checkbox>
                                    <i #editdialog mat-ripple matTooltip="Edit" matTooltipPosition="above" (click)="openDialog(fieldsetting, ff)" class="fa fa-pencil kb-table-action-icon"></i>
                                    <i *ngIf="!ff.default_field" mat-ripple matTooltip="Delete" matTooltipPosition="above" (click)="openDialog(delfield, ff)" class="fa fa-trash-alt kb-table-action-icon kb-icon-del"></i>
                                </span>    
                            </td>                        
                        </tr>
                    </tbody>
                </table>
                <mat-paginator  #paginator [length]="fieldslength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]" aria-label="Select page" (page)="getpagefields($event)"></mat-paginator>
            </div>
        </div>
    </div>    
</ng-container>