.kb-course-thumbnail {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kb-course-thumbnail.ht-full {
    height: 180px;
}

.kb-course-block {
    box-shadow: 0px 0px 2px 1px rgb(34 38 42 / 10%);
    margin: 14px 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.kb-course-updatedat {
    cursor: pointer;
    font-size: 13px;
    color: #988e71;
}

.kb-course-title {
    color: var(--secondary-color);
    font-size: 16px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kb-course-subblock span {
    font-size: 14px;
    text-align: center;
    color: var(--secondary-color);
    width: auto;
    display: inline-block;
    color: var(--kb-light);
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 4px 6px;
    cursor: pointer;
}

.kb-course-subblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--kb-gray);
}
.kb-spinner{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--kb-dim-black);
    justify-content: center;
    align-items: center;
  }