<ng-template #deldialog>
  <h1 mat-dialog-title class="kb-danger">Delete Course</h1>
  <div mat-dialog-content>
    Would you like to delete <span class="text-danger">{{delcourse.title}}</span> course?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close [color]="'primary'" (click)="resetobj()">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial class="text-danger" (click)="deleteCourse(delcourse)" [disabled]="fetching">Yes</button>
  </div>
</ng-template>
<ng-template #duplicatedialog>
  <h1 mat-dialog-title class="">duplicate Course</h1>
  <div mat-dialog-content>
    Would you like to duplicate <span >{{delcourse.title}}</span> course?
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close class="text-danger" (click)="resetobj()">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'" (click)="duplicateCourse(delcourse)" [disabled]="fetching">Yes</button>
  </div>
</ng-template>
<ng-template #adddialog>
  <h1 mat-dialog-title>{{course?.id ? 'Update' : 'Add'}} Course</h1>
    <div mat-dialog-content>
      <mat-error *ngIf="error">{{errormessage}}</mat-error>
      <mat-error *ngIf="isNotValid(validate.title)">
        Course title should not be empty
      </mat-error>
      <mat-error *ngIf="validate.title.hasError('minlength')">
        Course title must be at least <strong>3</strong> characters
      </mat-error>
      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input name="title" [formControl]="validate.title" [(ngModel)]="course.title" type="text" matInput placeholder="Ex. 10 Days to Productivity" required
          minlength="3">
      </mat-form-field>

      <mat-form-field class="kb-full-width" appearance="fill">
        <mat-label>Path</mat-label>
        <input name="url" [(ngModel)]="course.path" (input)="course.path = _general.joinWthDash(course.path)" type="text" matInput>
      </mat-form-field>

      <mat-form-field #description class="kb-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea name="description" [(ngModel)]="course.description" matInput></textarea>
      </mat-form-field>

      <div class="imgFormField p-3 inpfill">
        <label>Thumbnail</label>
        <div *ngIf="thumbnail.path" id="img-preview" class="mb-2">
          <img class="img-fluid" [src]="thumbnail.path"/>
        </div>
        <input #fileElem type="file" name="thumbnail" (change)="changeImg($event)" accept=".png, .jpg, .jpeg"
          class="drop-zone__input">
        <div id="imginp" (click)="fileElem.click()"><span class="drop-zone__prompt">Click to upload</span></div>
        <span *ngIf="typeerror" class="mt-2"><small class="text-danger">{{typeerror}}</small></span>
      </div>
    </div>
    <div mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close (click)="resetobj()" class="text-danger">No</button>
      <button mat-button mat-dialog-close cdkFocusInitial [color]="'primary'" [disabled]="fetching" (click)="course?.id ? updateCourse()  : createCourse()" [disabled]="validate.title.invalid || !course.path">{{course?.id ? 'Update' : 'Add'}}</button>
    </div>
</ng-template>

<div class="container-fluid">
  <mat-progress-bar *ngIf="fetching" mode='indeterminate'></mat-progress-bar>
    <div class="row">
      <div class="col-md-8 pr-0">
        <mat-form-field appearance="fill" class="col-md-6 p-0">
          <mat-label>Search Courses</mat-label>
          <input matInput #searchInp type="text" (input)="searchCourses(searchInp, filterInp)" placeholder="Search Course Name">
          <i class="fa-solid fa-magnifying-glass"></i>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-4">
          <mat-label>Sort By</mat-label>
          <mat-select #filterInp name="kbfilter" value="updated_at DESC" (valueChange)="searchCourses(searchInp, filterInp)">
            <mat-option [value]="'title ASC'">Ascending By Name</mat-option>
            <mat-option [value]="'title DESC'">Descending By Name</mat-option>
            <mat-option [value]="'updated_at ASC'">Ascending By Update</mat-option>
            <mat-option [value]="'updated_at DESC'">Descending By Update</mat-option>
          </mat-select>
        </mat-form-field>
     </div>
      <div class="col-md-4 text-right">
        <button mat-raised-button [color]="'accent'" (click)="toggleView()" *ngIf="courses.length != 0">
          <span *ngIf="toggleview else gridview">List View <i class="fas fa-th-list"></i></span>
          <ng-template #gridview><span>Grid View <i class="fas fa-th-large"></i></span></ng-template>
        </button>
        <button mat-raised-button color="primary" (click)="openDialog(adddialog,'')" class="mx-3">Create New <i
            class="fas fa-plus"></i></button>
      </div>
    </div>
    <div class="row" *ngIf="courses?.length !=0; else nodata">
      <div *ngFor="let course of courses" [class]="toggleview ? 'col-md-4' : 'col-md-12'">
        <div class="row kb-course-block">
          <div [class.kb-disabled]="course.deleting" class="kb-course-thumbnail p-0" [class]="toggleview ? 'ht-full col-12' : 'col-md-3'"
          [ngStyle]="{'background-image': 'url(' + _image.uploadImgPath+course.thumbnail+'), url(' + _image.uploadImgPath+'webpage_thumbnail.jpg' + ')'}">
          </div>
          <div class="kb-course-content p-0" [class]="toggleview ? 'col-md-12' : 'col-md-9'">
            <div class="p-2 align-items-center text-center" [class.px-3]="!toggleview">
              <div class="kb-course-title">
                {{course.title | titlecase}} 
              </div>
              <div>
                <!-- <span [matTooltip]="course.total_modules+' Module'+(course.total_modules==1 ? '' : 's')" matTooltipPosition="above" class="mx-2">
                  <i class="fa-regular fa-folder pr-1"></i>
                  {{course.total_modules}}
                </span>
                <span [matTooltip]="course.total_members+' Member'+(course.total_members==1 ? '' : 's')" matTooltipPosition="above">
                  <i class="fa-regular fa-user pr-1"></i>
                  {{course.total_members}}
                </span> -->
              </div>
            </div>
            <div class="row align-items-center py-1 px-5">
              <div class="kb-course-card py-2"  [class]="toggleview ? 'col-md-12' : 'col-md-6'">
                <span class="col-md-5"><i class="fa-regular fa-user pr-1 kb-colr"></i>
                  {{course.total_members+' '+'Members'}}
                </span>
                <span class="col-md-2"> | </span> 
                <span class="col-md-5"> <i class="fa-regular fa-folder pr-1 kb-colr"></i>
                  {{course.total_modules +' '+'Modules'}}
                </span>
              </div>
            </div>
            <div class="row align-items-center py-1 px-5">
              <div class="kb-course-card py-2"  [class]="toggleview ? 'col-md-12' : 'col-md-6'">
              <span class="col-md-5"><i class="fa-regular fa-calendar pr-1 kb-colr"></i>
                {{_general.dateformat(course.updated_at) | date:'mediumDate'}}
              </span>
                <span class="col-md-2"> | </span> 
                <span class="col-md-5"><i class="fa-solid fa-comment-dollar pr-1 kb-colr"></i>
                  {{'$ 123'}}
                </span>
              </div>
            </div>
            <div>
            </div>
            <div class="kb-course-btn text-right" [class]="toggleview ? 'pt-2 px-2 pb-3' : 'p-3'">
              <!-- <span class="kb-course-updatedat text-left float-left px-0 pb-2">
                <span matTooltip="Updated At" matTooltipPosition="above">
                  <i class="fa-regular fa-calendar"></i>
                  {{_general.dateformat(course.updated_at)}}
                </span>
              </span> -->
              <button [disabled]="course.deleting" mat-raised-button color="accent" (click)="checkpagesettings('preview',course)">View <i class="fa-solid fa-eye"></i></button>
              <button [disabled]="course.deleting" mat-raised-button color="primary"
              [routerLink]="'/membership/new-membership/course/'+course.uniqueid" class="mx-2">Edit <i class="fa-solid fa-pencil"></i></button>
              <button [disabled]="course.deleting" mat-raised-button color="accent"
              [matMenuTriggerFor]="menu">More <i class="fa-solid fa-gear"></i></button>
              <mat-menu #menu="matMenu">
                <button (click)="quickEdit(course)" mat-menu-item>
                  <i class="fas fa-pencil-alt pr-2"></i>Quick Edit
                </button>
                <button mat-menu-item (click)="openDialog(duplicatedialog,course)">
                  <i class="far fa-copy pr-2"></i>Duplicate
                </button>
                <button (click)="openDialog(deldialog, course)" mat-menu-item class="text-danger">
                  <i class="far fa-trash-alt pr-2"></i>Delete
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="d-flex justify-content-end" >
            <div class="statbadg">
              <!-- <span class="statusbadge" [class]="course.publish_status == 1 ? 'active1' : 'active2'" > -->
                <!-- <i class="fas" [class]="course.publish_status==1 ? 'fa-check':'fa-file'"></i>
                {{course.publish_status == 1 ? 'Publish' : 'Draft'}} -->
                <button class="statusbadge" mat-raised-button [color]="course.publish_status == 1 ? 'primary' : 'accent'" class="toggle mr-2" mat-raised-button [matMenuTriggerFor]="menu1"
                            [class]="course.publish_status==1 ? 'active' : 'inactive'">
                             <i class="pr-1 fas" [class]="course.publish_status==1 ? 'fa-check' : 'fa-file'"></i>
                            {{course.publish_status==1 ? 'Published' : 'Draft'}}<i
                                class="fas fa-chevron-down drpdwnfa pl-2"></i>
                        </button>
                        <mat-menu #menu1="matMenu">
                          <button mat-menu-item class="active" (click)="toggleStatus(course,'publish')"><i
                                  class="fa fa-check pr-2"></i>Publish</button>
                          <button mat-menu-item class="inactive" (click)="toggleStatus(course,'draft')"><i
                                  class="fa fa-file pr-2"></i>Draft</button>
                      </mat-menu>
              <!-- </span> -->
        </div>
      </div>
    </div>
    <div class="kb-spinner" *ngIf="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  </div>
  </div>
  <ng-template #nodata>
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <img
          src="/assets/images/website/website-empty.png"
          class="img-fluid"
          alt="No Course Found"
        />
      </div>
    </div>
  </ng-template>