.kb-courseuserprofile {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    background: #fff;
    border-radius: 8px;
}
.section1{
    height: 19rem;
    background-size: cover;
    background-position: center;
}