.kb-field-list-head {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kb-field-action {
    cursor: pointer;
    line-height: inherit;
}

.kb-field-data th {
    font-weight: 600;
}

.kb-field-data tr {
    text-transform: capitalize;
    font-size: 15px;
    color: var(--secondary-color);
}

.kb-field-data td {
    padding: 0px 10px;
    line-height: 42px;
}

.kb-field-data tbody tr:hover, .kb-field-list:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.kb-field-data tbody tr:hover, .kb-field-list:hover .kb-field-list-name {
    color: var(--primary-color);
}

.kb-field-data tbody tr:hover .kb-field-action-del {
    color: var(--kb-danger);
}

.kb-field-data tbody tr {
    transition: 0.2s ease;
}

.kb-field-list {
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    border-radius: 4px;
    transition: 0.2s ease;
}

.kb-field-list-icon {
    color: var(--kb-light);
    background-color: var(--secondary-color);
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kb-field-list-name {
    padding: 0 10px;
    width: 100%;
    color: var(--secondary-color);
    transition: 0.2s ease;
    border: 1px solid var(--kb-dim-black);
    border-radius: 0px 4px 4px 0px;
}

span.kb-split-fields {
    display: flex;
    position: relative;
}

.kb-form-field-icon {
    position: absolute;
    right: 0px;
    top: 0px;
}

.kb-field-preview.custom-preview {
    z-index: 99999!important;
    background-color: var(--primary-color);
}

.custom-placeholder {
    background-color: var(--primary-color);
}

.kb-form-field-icon i {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    font-size: 14px;
    border-radius: 4px;
}

.kb-form-field-icon i:not(.kb-drag-element) {
    cursor: pointer;
}

.kb-drag-element {
    cursor: all-scroll!important;
}

::ng-deep .kb-split-fields .mat-checkbox-frame {
    border-color: var(--kb-dim-black)!important;
}

::ng-deep .mat-checkbox label {
    margin: 0;
}

::ng-deep .mat-form-field {
    display: block;
    width: 100%;
}

::ng-deep .mat-dialog-title {
    margin-bottom: 16px!important;
    color: var(--primary-color);
    text-transform: capitalize;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--primary-color);
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle, 
::ng-deep .mat-checkbox-frame {
    border-color: var(--primary-color);
}